@use './../../styles/base' as *;

.banking-goods {
    @include responsive-container;

    .cards-wrapper {
        padding: 80px 0;

        .cards {
            >ul {
                @include mobile {
                    display: flex;
                }

                list-style: none;
                margin: 0;
                padding: 0;
                display: grid;
                height: 1080px;
                gap: 24px;
                align-self: stretch;
                grid-template-rows: repeat(2, minmax(0, 1fr));
                grid-template-columns: repeat(3, minmax(0, 1fr));

                >li:nth-child(1) {
                    position: relative;
                    border-radius: 24px;
                    height: 500px;

                    .cards-card-body {
                        background: none;
                        backdrop-filter: none;
                    }

                    .cards-card-body:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 182px;

                        >h2 {
                            color: $surface-highlight;
                            text-transform: uppercase;
                            font-family: $secondary-font;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 900;
                        }

                        >p {
                            color: $surface-prim-active-cta;
                            font-family: $primary-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0;
                        }
                    }
                }

                >li:not(:first-child) {
                    border: 1px solid #dadada;
                    // background-color: var(--background-color);
                    position: relative;
                    border-radius: 24px;
                    height: 500px;

                    img {
                        width: 100%;
                        aspect-ratio: 4 / 3;
                        object-fit: cover;
                        height: 500px;
                        border-radius: 24px;
                    }

                    /* Hover animation only for other cards */
                    .cards-card-body {
                        width: 100%;
                        padding: 24px;
                        position: absolute;
                        bottom: 0;
                        border-radius: 0 0 24px 24px;
                        background: var(--color-card-delete-surface, rgba(0, 82, 91, 0.90));
                        backdrop-filter: blur(5px);
                        overflow: hidden;
                        transition: all 0.4s ease;
                        height: 80px; //// only h1 is visible
                        color: $text-light ;

                        h1 {
                            width: 368px;
                            font-size: 32px;
                            margin-bottom: 8px;
                            transition: transform 0.4s ease;
                            font-family: $secondary-font ;
                            font-style: normal;
                            font-weight: 900;
                            line-height: 32px;
                            letter-spacing: 2px;
                            text-transform: uppercase;

                        }

                        p {
                            width: 357px;
                            opacity: 0;
                            transform: translateY(10px);
                            transition: all 0.4s ease;
                            font-family: $primary-font ;
                            font-size: 16px;
                        }

                        .button-container {
                            opacity: 0;
                            transform: translateY(10px);
                            transition: all 0.4s ease 0.1s;

                            a {
                                position: relative;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    bottom: -2px;
                                    width: 0%;
                                    height: 2px;
                                    background: $text-light;
                                    transition: width 0.3s ease;
                                }

                                &:hover::after {
                                    width: 100%;
                                }
                            }
                        }

                        &:hover {
                            height: 150px; // expand height smoothly on hover

                            h1 {
                                transform: translateY(-10px);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            .button-container {
                                opacity: 1;
                                transform: translateY(0);

                            }
                        }
                    }
                }
            }

            .cards-card-image {
                line-height: 0;
            }
        }
    }
}