@use './../../styles/base' as *;

.banking-goods {
  @include responsive-container;

  .cards-wrapper {
    .banking-goods-mb {
      margin-bottom: 40px;

      h1, h2, h3, h4, h5, h6 {
        @include typo-heading1;

        // text-transform: uppercase;
        // letter-spacing: 2px;
        // font-size: 38px;
        // line-height: 38px;
        color: $heading-default;
        font-family: $secondary-font;
        margin-bottom: 16px;
      }

      p {
        @include typo-body;

        // font-size: 16px;
        // font-weight: 400;
        // line-height: 24px;
        // letter-spacing: 0;
        color: $body-default;
      }
    }

    .cards {
      @include tablet {
        overflow: auto;
        scrollbar-width: none;
      }

      > ul {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @include tablet {
          display: flex;
          justify-content: flex-start;

          li {
            width: fit-content;
            min-width: 335px;
          }
        }

        >li:first-child {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: $radius-card;
          height: 100%;

          @include tablet {
            display: none;
          }

          .cards-card-body {
            display: none;
            background: none;
            backdrop-filter: none;
          }

          .cards-card-body:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;

            > h1, h2, h3, h4, h5, h6 {
              @include typo-heading1;

              // text-transform: uppercase;
              // font-family: $secondary-font;
              // letter-spacing: 2px;
              // font-size: 40px;
              // line-height: 40px;
              color: $heading-default;
            }

            > p {
              @include typo-body;

              // font-size: 16px;
              // font-weight: 400;
              // line-height: 24px;
              // letter-spacing: 0;
              color: $body-default;
            }
          }
        }

        >li:not(:first-child) {
          position: relative;
          border-radius: $radius-card;
          height: 528px;

          @include tablet {
            height: 500px;
          }

          .cards-card-image {
            height: 100%;
          }

          picture, img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 100%;
            border-radius: $radius-card;
          }

          /* Hover animation only for other cards */
          .cards-card-body {
            width: 100%;
            padding: 24px;
            position: absolute;
            bottom: 0;
            border-radius: 0 0 $radius-card $radius-card;
            backdrop-filter: blur(5px);
            overflow: hidden;
            transition: all ease-in-out;
            transition-duration: 700ms;
            color: $body-reverse-2;
            display: flex;
            flex-direction: column; 
            gap: 16px;
            max-height: fit-content;

            @include tablet {
              backdrop-filter: unset;
              background: linear-gradient(180deg, rgba(11, 35, 31, 0.00) 0.01%, rgba(11, 35, 31, 0.14) 34.14%, rgba(11, 35, 31, 0.80) 99.98%);
              min-height: 335px;
              justify-content: flex-end;
            }

            &.active {
              height: 100% !important;

              p {
                opacity: 1;
              }
            }

            &::after {
              content: '';
              width: 100%;
              height: 100%;
              display: block;
              background: $bg-reverse;
              opacity: 0.9;
              position: absolute;
              left: 0;
              top: 0;

              @include tablet {
                content: unset;
              }
            }

            h1, h2, h3, h4, h5, h6 {
              @include typo-heading1;

              // font-size: 40px;
              // line-height: 40px;
              // letter-spacing: 2px;
              // text-transform: uppercase;
              font-family: $secondary-font ;
              color: $heading-reverse-2;
              font-style: normal;
              transition: transform 0.4s ease;
              z-index: 1;

              @include tablet {
                @include typo-heading1;

                // font-size: 32px;
                // line-height: 32px;
              }
            }

            p {
              @include typo-body;

              // font-size: 16px;
              // line-height: 24px;
              // font-weight: 400;
              transition: all 0.4s ease-in-out;
              color: $body-reverse-2;
              opacity: 0;
              z-index: 1;

              @include tablet {
                opacity: 1;

                &:not(.button-container) {
                  display: none;
                }
              }
            }

            .button-container {
              transition: all 0.4s ease-in-out;
              padding: 6px 0;
              opacity: 0;
              z-index: 1;
              display: flex;
              gap: 15px;

              @include tablet {
                opacity: 1;
                padding: 0;
              }

              a {
                @include typo-sm-body;

                // font-size: 14px;
                // line-height: 21px;
                position: relative;
                display: flex;
                align-items: center;
                gap: 8px;
                width: fit-content;
                color: $link-reverse-2;

                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: -2px;
                  width: 0%;
                  height: 2px;
                  background: $link-reverse-2;
                  transition: width 0.3s ease;
                }

                &:hover::before {
                  width: 100%;
                }

                svg {
                  display: none;
                  height: 12px;
                  width: 7.2px;
                  
                  @include tablet {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }

      .cards-card-image {
        line-height: 0;
      }
    }
  }
}