@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.section.faq-cant-find-looking-for{
    max-width: 1328px;
    padding: 32px;
    margin: 0 auto;

    @include mobile {
        padding: 24px;
    }

    .default-content-wrapper{
        @include mobile {
            margin: 0 8px;
        }

        h1, h2, h3, h4, h5, h6 {
            text-align: center;
            color: #00525B;
            font-family: $secondary-font;
            font-size: 40px;
            font-style: normal;
            line-height: 44px;
        }
    }

    .cards-wrapper{
        margin-top: 48px;
        padding: 32px 0;

        @include mobile {
            margin-top: 32px;
            padding: 0;
        }

        .cards {
            ul{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 32px;

                @include mobile {
                    grid-template-columns: 1fr;
                    gap: 48px;
                }

                li{      
                    text-align: center;
                    box-sizing: border-box;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .cards-card-image{
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        min-height: unset;
                        margin-bottom: 32px;

                        @include mobile {
                            margin-bottom: 20px;
                        }

                    }
                    
                    .cards-card-body{
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1; 

                        h3{
                            color: #00525B;
                            text-align: center;
                            font-family: $primary-font;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;    
                        }

                        p {
                            color:#0B231F;
                            text-align: center;
                            font-family: $primary-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            margin: 8px 0 38px;

                            @include mobile{
                                margin-bottom: 20px;
                            }
                        }

                        p.button-container{
                            text-align: center;
                            margin-top: auto;

                            @include mobile{
                                margin-bottom: unset;
                            }

                            a{
                                color: #00525B;
                                font-family: $primary-font;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                                border: 1px solid #00525B;
                                border-radius: 20px;
                                cursor: pointer;
                                display: block;
                                margin: 0 auto;
                                padding: 8px 16px;
                                text-decoration: none;
                                width: fit-content;
                            }
                        }
                    }
                }
            }
        }
    }

}

.section.rates-saver{
    .cards-wrapper{
        .cards {
            ul{
                grid-template-columns: 1fr 1fr 1fr;
                li{
                    .cards-card-body{
                        h3{
                            font-size: 24px;
                            line-height: 29px;
                        }
                    }
                }
            }
        }
    } 
}
