@use '../../styles/base' as *;

.section.faq-cant-find-looking-for {
  padding-block: 32px;

  @include responsive-container();

  @include mobile {
    padding-block: 24px;
  }

  .default-content-wrapper {
    @include mobile {
      margin: 0 8px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
      color: $heading-default;
      font-family: $secondary-font;
      font-size: 40px;
      font-style: normal;
      line-height: 44px;
    }
  }

  .cards-wrapper {
    margin-top: 48px;
    padding: 32px 0;

    @include mobile {
      margin-top: 32px;
      padding: 0;
    }

    .cards {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;

        @include mobile {
          grid-template-columns: 1fr;
          gap: 48px;
        }

        li {
          text-align: center;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          flex-direction: column;

          .cards-card-image {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: unset;
            margin-bottom: 32px;

            @include mobile {
              margin-bottom: 20px;
            }

          }

          .cards-card-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              color: $heading-default;
              text-align: center;
              font-family: $primary-font;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }

            p {
              color: $body-default;
              text-align: center;
              font-family: $primary-font;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin: 8px 0 38px;

              @include mobile {
                margin-bottom: 20px;
              }
            }

            p.button-container {
              text-align: center;
              margin-top: auto;

              @include mobile {
                margin-bottom: unset;
              }

              a {
                color: $link-default;
                font-family: $primary-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                border: 1px solid $color-button-text-stroke-default;
                border-radius: $radius-button;
                cursor: pointer;
                display: block;
                margin: 0 auto;
                padding: 8px 16px;
                text-decoration: none;
                width: fit-content;
              }
            }
          }
        }
      }
    }
  }

}