@use '../../styles/base' as *;
@import "../../libs/swiper/swiper-bundle.min.css";

.section.expandable-tiles-section {
  background: $gradient-1;

  @include tablet {
    padding-right: 16px;
  }

  .default-content-wrapper {
    box-sizing: border-box;
    margin-bottom: 40px;

    @include responsive-container;

    h1, h2, h3, h4, h5, h6 {
      @include typo-heading1;

      color: $heading-default;
      margin: 0 0 16px;

      @include tablet {
        text-align: center;
      }

      @include mobile {
        @include typo-heading1;

        text-align: left;
      }
    }

    p {
      @include typo-body;

      color: $body-default;
      text-align: left;
    }
  }

  .cards-wrapper {
    box-sizing: border-box;
    margin-bottom: 40px;
    overflow: auto;
    scrollbar-width: none;

    @include responsive-container;

    @include mobile {
      margin-bottom: 0;
      scrollbar-width: none;
    }

    @include tablet {
      scrollbar-width: none;
    }

    .cards.expandable-tiles.block {
      display: flex;
      justify-content: center;
      gap: 10px;

      @include mobile {
        --swiper-pagination-bottom: 0;
        --swiper-pagination-bullet-horizontal-gap: 2px;

        justify-content: unset;
        gap: 20px;

        .swiper-pagination-bullet {
          transition: all 0.3s linear;
          background-color: $bg-default;
          border-radius: 30px;
          height: 7px;
          opacity: 1;
          width: 20px;

          &.swiper-pagination-bullet-active {
            background-color: $bg-reverse;
          }
        }
      }

      .expandable-tile {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 20px;
        transition: all 1.7s;
        transition-timing-function: cubic-bezier(0.11, 0.45, 0.4, 1);

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: #000;
          opacity: 0.2;
          pointer-events: none;
          transition: all 0.7s ease-in-out;
          border-radius: $radius-card;

          @include mobile {
            content: unset;
          }
        }

        @include mobile {
          flex: none;
          max-width: 335px;
        }

        &.active {
          flex: 3.0951;

          &::after {
            opacity: 0;
          }

          .tile-content {
            visibility: visible;
            opacity: 1;
            pointer-events: all;
            transition-delay: 1s; 
          }

          .tile-image img {
            transform: scale(1.1);
          }
        }

        .tile-image {
          border-radius: $radius-card;
          cursor: pointer;
          font-size: 0;
          height: 500px;
          width: auto;
          overflow: hidden;

          img {
            border-radius: $radius-card;
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: center;
            transition: all 0.7s ease-in-out;
            transition-delay: 1s;
          }

          @include mobile {
            cursor: default;
            height: auto;

            img {
              height: 399px;
            }
          }
        }

        .tile-content {
          position: absolute;
          bottom: 0;
          display: block;
          width: calc(100% - 32px);
          padding: 24px;
          margin: 0 16px 16px;
          text-decoration: none;
          background-color: $bg-default;
          border-radius: $radius-card;
          pointer-events: none;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.4s ease-in-out, visibility 0s linear 0.4s; 
          
          @include mobile {
            visibility: visible;
            pointer-events: all;
            width: calc(100% - 32px);
            margin: 16px;
            opacity: 1;
          }

          .content-title {
            @include typo-heading1;

            color: $heading-default;
            margin-bottom: 16px;

            @include mobile {
              font-size: 38px;
              line-height: 38px;
            }
          }

          .content-description {
            @include typo-body;

            color: $body-default;
            margin-bottom: 16px;
          }

          .content-cta {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 12px;

            .cta-link {
              /* display: block;
              width: fit-content;
              height: fit-content;
              padding: 8px;
              border-radius: $radius-button;
              background-color: $bg-reverse; */

              @include button('primary');
              
              &.secondary {
                @include button('secondary');
              }

              &.icon-btn {
                min-width: unset;
                padding: 8px;
              }
            }

            .icon {
              display: block;
              width: fit-content;
              height: fit-content;
            }

            svg {
              color: $heading-reverse-2;
              display: block;
              width: 24px;
              height: 24px;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .autoplay-btn-wrapper {
    display: flex;
    justify-content: flex-end;

    @include responsive-container;

    @include mobile {
      display: none;
    }

    .autoplay-btn {
      display: grid;
      place-items: center;
      font-size: 0;
      width: 35px;
      height: 35px;
      border-radius: $radius-button;
      background-color: $bg-default;

      svg {
        display: block;
        width: 24px;
        height: 24px;
        color: $color-pagination-selected;
        filter: drop-shadow(0 1px 3px rgb(0 0 0 / 40%));
      }
    }
  }
}
