@use '../../styles/base' as *;

@import "../../libs/swiper/swiper-bundle.min.css";

.section.expandable-tiles-section {
  background: $gradient-1;

  .default-content-wrapper {
    box-sizing: border-box;
    margin-bottom: 40px;

    @include responsive-container();

    h1, h2, h3, h4, h5, h6 {
      font-family: $secondary-font;
      font-size: 40px;
      line-height: 40px;
      text-align: left;
      color: $heading-default;
      margin: 0 0 16px;

      @include tablet {
        text-align: center;
      }

      @include mobile {
        font-size: 38px;
        line-height: 38px;
        text-align: left;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $body-default;
      text-align: left;
    }
  }

  .cards-wrapper {
    box-sizing: border-box;
    margin-bottom: 40px;
    overflow: auto;

    @include responsive-container();

    @include mobile {
      margin-bottom: 0;
    }

    .cards.expandable-tiles.block {
      display: flex;
      justify-content: center;
      gap: 10px;

      @include mobile {
        --swiper-pagination-bottom: 0;
        --swiper-pagination-bullet-horizontal-gap: 2px;
        justify-content: unset;
        gap: 20px;

        .swiper-pagination-bullet {
          transition: all 0.3s linear;
          background-color: $bg-default;
          border-radius: 30px;
          height: 7px;
          opacity: 1;
          width: 20px;

          &.swiper-pagination-bullet-active {
            background-color: $bg-reverse;
          }
        }
      }

      .expandable-tile {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 20px;
        transition: all 1.7s;
        transition-timing-function: cubic-bezier(0.11, 0.45, 0.4, 1);

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: #000;
          opacity: 0.2;
          pointer-events: none;
          transition: all 0.7s ease-in-out;
          border-radius: $radius-card;

          @include mobile {
            content: unset;
          }
        }

        @include mobile {
          flex: none;
          max-width: 335px;
        }

        &.active {
          flex: 3.0951;

          &::after {
            opacity: 0;
          }

          .tile-content {
            opacity: 1;
            pointer-events: all;
          }

          .tile-image img {
            transform: scale(1.1);
          }
        }

        .tile-image {
          border-radius: $radius-card;
          cursor: pointer;
          font-size: 0;
          height: 500px;
          width: auto;
          overflow: hidden;

          img {
            border-radius: $radius-card;
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: center;
            transition: all 0.7s ease-in-out;
            transition-delay: 1s;
          }

          @include mobile {
            cursor: default;
            height: auto;

            img {
              height: 399px;
            }
          }
        }

        .tile-content {
          position: absolute;
          bottom: 0;
          display: block;
          width: calc(100% - 64px);
          opacity: 0;
          padding: 24px;
          margin: 0 32px 32px;
          text-decoration: none;
          background-color: $bg-default;
          border-radius: $radius-card;
          pointer-events: none;
          transition: all 1s ease-in-out;
          
          @include mobile {
            pointer-events: all;
            width: calc(100% - 32px);
            margin: 16px;
            opacity: 1;
          }

          .content-title {
            font-family: $secondary-font;
            color: $heading-default;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 16px;

            @include mobile {
              font-size: 38px;
              line-height: 38px;
            }
          }

          .content-description {
            color: $body-default;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
            font-weight: 400;
          }

          .content-cta {
            display: flex;
            align-items: center;
            gap: 12px;

            .cta-link {
              display: block;
              width: fit-content;
              height: fit-content;
              padding: 8px;
              border-radius: $radius-button;
              background-color: $bg-reverse;
            }

            .icon {
              display: block;
              width: fit-content;
              height: fit-content;
            }

            img {
              display: block;
              width: 24px;
              height: 24px;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .autoplay-btn-wrapper {
    display: flex;
    justify-content: flex-end;

    @include responsive-container();

    @include mobile {
      display: none;
    }

    .autoplay-btn {
      display: block;
      font-size: 0;
      width: 35px;
      height: 35px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
