@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

@import "../../libs/swiper/swiper-bundle.min.css";

.section.expandable-tiles-section {
  padding: 100px 0;
  background: linear-gradient(46.23deg, #59ffa0 1.03%, #1be7ff 98.97%);

  @include tablet {
    padding-bottom: 0;
  }

  @include mobile {
    padding: 40px 0;
  }

  .default-content-wrapper {
    box-sizing: border-box;
    max-width: 832px;
    padding: 0;
    margin: 0 auto 40px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 900;
      font-size: 32px;
      line-height: 30px;
      text-align: left;
      color: $text-brand;
      margin: 0 0 20px;

      @include tablet {
        text-align: center;
      }

      @include mobile {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin: 0 0 15px;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #00525bcc;
      text-align: left;
      margin: 0;

      @include tablet {
        text-align: center;
      }

      @include mobile {
        line-height: 18px;
        text-align: center;
      }
    }

    @include mobile {
      padding: 0 20px;
      margin-bottom: 30px;
    }
  }

  .cards-wrapper {
    box-sizing: border-box;
    max-width: 1452px;
    padding: 0 40px;
    margin: 0 auto;

    @include mobile {
      padding: 0 20px;
    }

    .cards.expandable-tiles.block {
      display: flex;
      gap: 24px;
      justify-content: center;

      @include mobile {
        --swiper-pagination-bottom: 0;
        --swiper-pagination-bullet-horizontal-gap: 2px;
        gap: unset;
        justify-content: unset;
        padding-bottom: 30px;

        .swiper-pagination-bullet {
          transition: all 0.3s linear;
          background-color: #fff;
          border-radius: 30px;
          height: 7px;
          opacity: 1;
          width: 20px;

          &.swiper-pagination-bullet-active {
            background-color: $surface-brand;
          }
        }
      }

      .expandable-tile {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 20px;
        transition: all 1.7s;
        transition-timing-function: cubic-bezier(0.11, 0.45, 0.4, 1);

        &.active {
          flex: 3.85;

          .tile-content {
            opacity: 1;
          }

          .tile-image img {
            transform: scale(1.1);
          }
        }

        .tile-image {
          border-radius: 20px;
          cursor: pointer;
          font-size: 0;
          height: 555px;
          width: auto;
          overflow: hidden;

          img {
            border-radius: 20px;
            width: 100%;
            height: 555px;
            object-fit: cover;
            object-position: center;
            transition: all 0.7s ease-in-out;
            transition-delay: 1s;
          }

          @include mobile {
            cursor: default;
            height: auto;

            img {
              height: 399px;
            }
          }
        }

        .tile-content {
          display: block;
          min-width: fit-content;
          opacity: 0;
          position: relative;
          transition: all 1s ease-in-out;
          text-decoration: none;

          &.active {
            opacity: 1;
          }

          @include mobile {
            opacity: 1;
          }

          .content-title {
            color: $text-brand;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            margin: 0 0 10px;
            max-width: 90%;

            @include mobile {
              font-size: 20px;
              font-weight: 800;
              line-height: 24px;
              margin: 0 0 8px;
              max-width: 100%;
            }
          }

          .content-description {
            color: $text-brand;
            font-size: 14px;
            line-height: 17px;
            margin: 0;
            max-width: 90%;

            @include mobile {
              font-size: 16px;
              line-height: 18px;
              max-width: 100%;
            }
          }

          .content-cta {
            align-items: center;
            display: flex;
            gap: 12px;
            position: absolute;
            right: 0;
            top: 0;

            .cta-link {
              color: $text-brand;
              font-size: 0;
              line-height: 19px;

              @include mobile {
                font-size: 16px;
              }
            }

            .icon {
              display: block;
              width: fit-content;
              height: fit-content;
            }

            img {
              display: block;
              width: 24px;
              height: auto;

              @include mobile {
                width: 18px;
              }
            }

            &:hover {
              text-decoration: none;
            }

            @include mobile {
              margin-top: 8px;
              padding: 8px 0;
              position: static;
              gap: 12px;
            }
          }
        }

        @include mobile {
          flex: none;
        }
      }
    }
  }
}
