@use './../../styles/base' as *;

.looking-for-another-way {
  @include responsive-container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;

  @include tablet {
    gap: 40px;
  }

  @include mobile {
    gap: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $heading-default;

    @include typo-heading1;
  }

  .cards-wrapper {
    width: 100%;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      justify-content: center;
      align-items: stretch;
      gap: 32px;

      @include tablet {
        grid-template-columns: 1fr;
      }
    }

    li {
      min-height: 100%;
      display: flex;
      padding: 40px 24px;
      flex-direction: column;
      gap: 16px;
      border-radius: $radius-card;
      border: 1px solid $line-default;
      background: $bg-default;

      .cards-card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        h1, h2, h3, h4, h5, h6 {
          color: $heading-default;
          margin-bottom: 16px;

          @include typo-heading3;
        }

        .card-text {
          color: $body-default;
          text-align: center;
          margin-bottom: 32px;

          @include typo-body;
        }

        .card-button {
          margin-top: auto;
          
          a {
            @include button('outlined');
          }
        }
      }
    }
  }
}