@use './../../styles/base' as *;

.looking-for-another-way {
    display: flex;
    max-width:1440px;
    padding: 0 64px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:  40px;
    flex: 1 0 0;

    h2 {
        color:#00525B;
        font-family: var(--font-family-h1, "American Grotesk Condensed");
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height:40px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .cards-wrapper {
        ul {
            display: flex;
            align-items: flex-start;
            gap: 32px;
            flex: 1 0 0;
        }

        li {
            display: flex;
            padding: 40px 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex: 1 0 0;
            align-self: stretch;
            border-radius:24px;
            border: 1px solid black;
            background: var(--bg, #FFF);

            .cards-card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                align-self: stretch;

                h3 {
                    color: var(--heading, #00525B);
                    text-align: center;
                    font-family: var(--font-family-h3, Inter);
                    font-size:24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 29px;
                    letter-spacing: 0;
                }

                .card-button {
                    padding: 8px 24px;
                    gap: 12px;
                    border-radius:24px;
                    border: 2px solid var(--color-button-text-stroke-default, #00525B);
                    background: var(--color-button-outlined-default, rgba(255, 255, 255, 0.01));

                    a {
                        color: var(--color-button-text-stroke-default, #00525B);
                        text-align: center;
                        font-family: var(--font-family-h5, Inter);
                        font-size:16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height:24px;
                        letter-spacing: 0;
                    }
                }

                .card-text {
                    color: var(--body, #0B231F);
                    text-align: center;
                    font-family: var(--font-family-body, Inter);
                    font-size:16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height:24px;
                    letter-spacing:0;
                }
            }
        }
    }
}