@use '../../styles/base' as *;


.news-helpful{
    @include responsive-container;

    position: relative;

    .default-content-wrapper{
        p{
            color: $heading-default;
            font-family: $secondary-font;
            font-size: 40px;
            font-weight: 900;
            line-height: 40px;
            letter-spacing: 2px;
            text-transform: uppercase;

            @include mobile{
                font-size: 38px;
                line-height: 38px;
            }
        }
    }

    .cards-wrapper{
        padding: 40px 0 0;

        .news-help-wrapper{
            .swiper-wrapper{
                gap: 32px;
                margin-bottom: 96px;

                @include tablet{
                    gap: 24px;
                }

                @include mobile{
                    gap: 8px;
                    margin-bottom: 80px;
                }

                .swiper-slide{
                    padding: 24px;
                    border: 1px solid $line-default;
                    border-radius: $radius-card;
                    background: $bg-default;
                    margin-right: 0 !important;

                    div{
                        picture{
                            img{
                                border-radius: $radius-article-thumb;
                            }
                        }

                        &:last-child{
                            p{
                                color: $heading-default;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                padding: 16px 0 20px;
                            }

                            p.button-container{
                                padding: unset;

                                a{
                                    color: var(--heading, #00525B);
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 21px;
                                    border-bottom: 2px solid $link-accent;
                                    text-underline-offset: 2px;
                                } 
                            }
                        }
                    }

                    &.swiper-slide-active{
                        margin-right: 0;
                    }
                }
            }

            .nav-wrapper{
                position: absolute;
                bottom: 5%;
                right: 0;
                margin-right: 64px;

                @include tablet{
                    margin-right: 24px;
                }

                @include mobile{
                    margin-right: 16px;
                }

                .swiper-button-next{
                    background: $color-variants-bg-light-1;
                    border-radius: 44px;
                    color: $color-variants-link-default;
                }

                .swiper-button-prev{
                    background: $color-variants-bg-light-1;
                    border-radius: 44px;
                    color: $color-variants-link-default;
                    left: var(--swiper-navigation-sides-offset, -100px);
                    transform: rotate(180deg);
                }
            }
        }
    }
}