@use '../../styles/base' as *;

html {
  overflow-x: hidden;

  @include tablet-lg {
    overflow-x: unset;
  }
}

.news-helpful{
    position: relative;

    .default-content-wrapper{
      margin-bottom: 40px;

      @include responsive-container;

      @include mobile {
        margin-bottom: 24px;
      }

        h1, h2, h3, h4, h5, h6, p {
            color: $heading-default;

            @include typo-heading1;

            @include mobile{
                font-size: 38px;
                line-height: 38px;
            }
        }
    }

    .cards-wrapper{
        padding-left: calc((100% - #{$container-width}) / 2 + #{$padding-desktop});

        @media (max-width: #{$container-width}) {
          padding-left: 0;
        }

        .news-help-wrapper{
          overflow: visible;

          @media (max-width: #{$container-width}) {
            overflow: hidden;
            padding-inline: $padding-desktop;
          }

          @include tablet-lg {
            padding-inline: $padding-tablet;
          }

          @include mobile {
            padding-inline: $padding-mobile;
          }

            .swiper-wrapper{
                margin-bottom: 40px;

                @include mobile{
                  margin-bottom: 24px;
                }

                .swiper-slide{
                    padding: 24px;
                    border: 1px solid $line-default;
                    border-radius: $radius-card;
                    background: $bg-default;
                    width: 304px;

                    @include tablet {
                      width: 264px;
                    }

                    @include mobile {
                      width: 300px;
                    }

                    div{
                        picture{
                            img{
                                border-radius: $radius-article-thumb;
                            }
                        }

                        &:last-child{
                            p{
                                color: $heading-default;
                                padding: 16px 0 20px;

                                @include typo-body;
                            }

                            p.button-container{
                                padding: unset;

                                a {
                                    color: var(--heading, #00525B);
                                    border-bottom: 2px solid $link-accent;
                                    text-underline-offset: 2px;

                                    @include typo-sm-body;
                                } 
                            }
                        }
                    }

                    &.swiper-slide-active{
                        margin-right: 0;
                    }
                }
            }

            .nav-wrapper{
                position: static;
                display: flex;
                justify-content: flex-end;
                gap: 16px;
                max-width: $container-width;
                margin-right: auto;
                padding-right: calc($padding-desktop * 2);
                
                @include tablet-lg{
                  margin-right: 24px;
                  padding-right: calc($padding-tablet * 2);
                }
                
                @include mobile{
                  margin-right: 16px;
                  padding-right: calc($padding-mobile * 2);
                }

                .swiper-button-next{
                    position: static;
                    margin-top: unset;
                    background: $color-variants-bg-light-1;
                    border-radius: 44px;
                    color: $color-variants-link-default;
                }

                .swiper-button-prev{
                    position: static;
                    margin-top: unset;
                    background: $color-variants-bg-light-1;
                    border-radius: 44px;
                    color: $color-variants-link-default;
                    left: var(--swiper-navigation-sides-offset, -100px);
                    transform: rotate(180deg);
                }
            }
        }
    }
}