@use "../../styles/base" as *;
@use "../../styles/variables";
@use "../../styles/mixins";

.section.online-banking {
  @include responsive-container;


  @include tablet{
    margin-left: auto;
    margin-right: auto;
  }

  @include mobile{
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .cards-wrapper {
    .cards {
      .banking-cards-ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(421px, 1fr));
        gap: 24px;
        list-style-type: none;
        min-height: 520px;
        padding-left: 0;

        @media (min-width: 766px) and (max-width: 1220px) {
          gap: 20px;
          min-height: 480px;
        }


        @include mobile{
          display: flex;
          gap: 18px;
          flex-direction: column;
        }

        .cards-card-body {
          ul {
            li {
              padding: 0;
            }
          }

          .icon-badge-app-store-1,
          .icon-badge-android-google-play-1 {
            display: block;
            height: 43px;
            width: 142px;

            img {
              width: 100%;
            }

          }
        }

        li:has(.cards-card-image) {
          display: flex;
          flex-direction: column;
          min-height: 100%;
          overflow: hidden;
          width: 100%;
          border-top-left-radius: $radius-card;
          border-top-right-radius: $radius-card;

          @media (min-width: 766px) and (max-width: 1220px) {
            max-width: unset;
            width: 100%;
          }

          @media (min-width: 766px) and (max-width: 980px) {
            width: unset;
          }

          @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: unset;
            width: unset;
          }

          .cards-card-body {
            line-height: 0;
            padding: 24px;
            border: 1px solid rgb(0 0 0 / 20%);
            border-radius: 0 0 $radius-card $radius-card;
            border-top: 0;
            display: flex;
            flex-direction: column;
            height: 100%;

            .card-bottom-1 {
              margin: 0;
              display: flex;
              flex-direction: column;
              gap: 16px;
              list-style-type: none;
              padding: 0;

              h1,
              h2,
              h3,
              h4,
              h5,
              h6 {
                @include typo-heading3;

                color: $heading-default;

              }

              p {
                @include typo-body;

                color: $body-accent;

              }
            }

            .card-bottom-2 {
              margin: auto 0 0;
              display: flex;
              flex-direction: column;
              list-style-type: none;
              padding: 0;

              @include mobile{
                margin-top: 24px;
              }

              &.is-button-link {
                p {
                  display: flex;
                  flex-direction: row;
                  gap: 12px;
                  margin: 0;

                  a.button {
                    @include typo-heading5;

                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: $link-accent;
                    text-decoration: none;
                    width: max-content;

                    svg {
                      width: 18px;
                      height: 18px;
                    }

                    @media (min-width: 766px) and (max-width: 1023px) {
                      padding: 6px 18px 6px 0;
                    }

                    @include mobile{
                      line-height: 13.5px;
                    }
                  }
                }
              }

              &.is-badge-link {
                p {
                  display: flex;
                  flex-flow: row wrap;
                  gap: 10px;
                  margin: 0;

                  a {
                    display: block;
                    width: 143px;
                    height: 42px;

                    svg {
                      width: 100%;
                      height: 100%;

                      @include tablet{
                        height: 42px;
                      }
                    }

                    @include tablet{
                      width: 115px;
                      height: 42px;
                    }

                    @include mobile{
                      width: 115px;
                      height: 42px;
                    }
                  }
                }
              }
            }
          }

          @include mobile{
            height: unset;
          }
        }

        li:not(:has(.cards-card-image)) {
          background-color: $bg-light-2;
          border-radius: $radius-card;
          min-height: 100%;
          padding: 24px;

          @include tablet{
            padding: 20px;
            border-radius: $radius-card;
          }

          @include mobile{
            padding: 24px;
            border-radius: $radius-card;
          }

          .cards-card-body {
            margin: 0;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              @include typo-heading1;

              color: $heading-default;

              @include tablet{
                font-size: 24px;
                font-weight: 700;
                line-height: 35px;
              }

              @include mobile{
                font-size: 38px;
                line-height: 38px;
              }
            }

            ul {
              display: flex;
              flex-direction: column;
              gap: 22px;
              margin-top: 32px;
              padding: 0;

              @include mobile{
                flex-direction: column;
                gap: unset;
                margin-top: 24px;
              }

              li {
                padding: 0;
                width: 100%;

                @include tablet{
                  align-items: center;
                }

                @media (min-width: 766px) and (max-width: 980px) {
                  max-width: unset;
                }

                @include mobile{
                  padding: 10px 0;
                }

                a {
                  @include typo-body;

                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  color: $body-accent;
                  text-decoration: none;
                  gap: 10px;

                  svg {
                    height: 24px;
                    width: 12px;
                    min-width: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.cards-card-image {
  height: fit-content;
  min-height: 250px;
  overflow: hidden;
  position: relative;

  @include tablet{
    min-height: fit-content;
    height: fit-content;
  }

  @include mobile{
    height: auto;
    min-height: unset;
  }

  picture {
    height: 100%;

    img{
      width: 100%;
    }
  }
}
