@use '../../styles/base' as *;
@use '../../styles/variables';
@use '../../styles/mixins';

.section.online-banking {
  @include responsive-container();

  @media (min-width: 766px) and (max-width: 980px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 767px) {
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .cards-wrapper {
    .cards {
      .banking-cards-ul {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        list-style-type: none;
        min-height: 520px;
        padding-left: 0;

        @media (min-width: 766px) and (max-width: 1220px) {
          gap: 20px;
        }

        @media screen and (max-width: 1023px) {
          min-height: unset;
        }

        @media screen and (max-width: 767px) {
          gap: 18px;
          flex-direction: column;
        }

        .cards-card-body {
          ul {
            li {
              padding: 0;
            }
          }

          .icon-badge-app-store-1,
          .icon-badge-android-google-play-1 {
            display: block;
            height: 43px;
            width: 142px;

            img {
              width: 100%;
            }

            @media (min-width: 766px) and (max-width: 1220px) {
              height: auto;
              width: 95px;
            }

            @media (min-width: 766px) and (max-width: 820px) {
              height: auto;
              width: 75px;
            }

            @media (min-width: 766px) and (max-width: 980px) {
              height: auto;
              width: 90px;
            }

            @media screen and (max-width: 767px) {
              height: auto;
              width: 131px;
            }
          }
        }

        .banking-li-1 {
          background-color: $bg-light-2;
          border-radius: 24px;
          min-height: 100%;
          padding: 24px;

          @media (min-width: 766px) and (max-width: 1220px) {
            padding: 20px;
          }

          @media screen and (max-width: 767px) {
            padding: 24px;
          }

          .cards-card-body {
            margin: 0;

            h2 {
              color: $heading-default;
              font-size: 40px;
              font-style: normal;
              font-weight: 900;
              line-height: 40px;
              margin: 0;
              text-transform: uppercase;

              @media (min-width: 766px) and (max-width: 1220px) {
                font-size: 24px;
                font-weight: 700;
                line-height: 35px;
              }

              @media screen and (max-width: 767px) {
                font-size: 38px;
                font-weight: 900;
                line-height: 38px;
              }
            }

            ul {
              display: flex;
              flex-direction: column;
              gap: 22px;
              margin-top: 32px;
              padding: 0;

              @media screen and (max-width: 767px) {
                flex-direction: column;
                gap: unset;
                margin-top: 24px;
              }

              li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                width: 400px;

                @media (min-width: 766px) and (max-width: 1220px) {
                  align-items: center;
                  width: 250px;
                }

                @media (min-width: 766px) and (max-width: 980px) {
                  max-width: 300px;
                  width: 100% !important;
                }

                @media screen and (max-width: 767px) {
                  width: auto;
                  padding: 10px 0;
                }

                a {
                  color: $body-accent;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  text-decoration: none;

                  @media (min-width: 766px) and (max-width: 1220px) {
                    font-size: 13px;
                    line-height: 5px;
                  }
                }
                & a span {
                  display: block;
                  width: 12px;
                }
              }
            }
          }
        }

        .banking-li-2,
        .banking-li-3 {
          display: flex;
          flex-direction: column;
          max-width: 420px;
          min-height: 100%;
          overflow: hidden;
          width: 100%;

          @media (min-width: 766px) and (max-width: 1220px) {
            max-width: 300px;
            width: 100%;
          }

          @media (min-width: 766px) and (max-width: 980px) {
            width: 246px !important;
          }

          @media screen and (max-width: 767px) {
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: unset;
            width: unset;
          }

          .cards-card-body {
            line-height: 0;
            padding: 24px;
            border: 1px solid rgb(0 0 0 / 20%);
            border-radius: 0 0 20px 20px;
            border-top: 0;
            display: flex;
            flex-direction: column;
            height: 100%;

            .card-bottom-1 {
              margin: 0;
              display: flex;
              flex-direction: column;
              gap: 16px;
              list-style-type: none;
              padding: 0;

              .banking-desc-1 {
                color: $heading-default;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
                text-transform: capitalize;

                @media (min-width: 766px) and (max-width: 1220px) {
                  font-size: 15px;
                  font-weight: 500;
                  line-height: 20px;
                }

                @media screen and (max-width: 767px) {
                  font-size: 20px;
                  font-weight: 800;
                  line-height: 24px;
                }
              }

              .banking-desc-2 {
                color: $body-accent;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;

                @media (min-width: 766px) and (max-width: 1220px) {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 18px;
                }
              }
            }

            @media screen and (max-width: 767px) {
              height: unset;
              padding: 20px;
            }
          }

          .cards-card-image {
            img {
              border-top-left-radius: 24px;
              border-top-right-radius: 24px;
              height: 100%;
              max-width: unset;
              object-fit: cover;
              object-position: center;
              width: 100%;

              @media screen and (max-width: 767px) {
                width: 100%;
              }
            }
          }
        }

        .banking-li-2 {
          .cards-card-body {
            .card-bottom-2 {
              margin: auto 0 0;
              display: flex;
              flex-direction: column;
              gap: 8px;
              list-style-type: none;
              padding: 0;

              @media (min-width: 766px) and (max-width: 980px) {
                margin-top: 10px;
              }

              @media screen and (max-width: 767px) {
                margin-top: 24px;
              }
            }

            .banking-desc-3 {
              margin: auto 0 0;
              text-align: left;

              @media (min-width: 766px) and (max-width: 1220px) {
                width: 115px;
              }

              a {
                align-items: center;
                background: transparent;
                border-radius: 20px;
                color: $link-accent;
                display: flex;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                gap: 4px;
                line-height: 24px;
                text-decoration: none;
                width: max-content;

                @media screen and (max-width: 1023px) {
                  padding: 6px 18px;
                }

                @media screen and (max-width: 767px) {
                  border-radius: 11.25px;
                  line-height: 13.5px;
                  padding: 0;
                }

                &::after {
                  background: url("../../icons/weui_arrow-filled.svg") no-repeat center;
                  background-size: contain;
                  content: "";
                  display: inline-block;
                  height: 24px;
                  margin-left: 6px;
                  transition: transform 0.2s ease;
                  width: 12px;

                  @media screen and (max-width: 767px) {
                    height: 13.5px;
                    width: 6.75px;
                  }
                }
              }
            }
          }
        }

        .banking-li-3 .cards-card-body {
          @media screen and (max-width: 767px) {
            padding: 30px 20px 15px;
          }

          .card-bottom-2 {
            align-items: center;
            display: flex;
            gap: 10px;
            list-style-type: none;
            margin: auto 0 0;
            padding: 0;

            @media (min-width: 766px) and (max-width: 980px) {
              margin-top: 10px;
            }

            @media screen and (max-width: 767px) {
              margin-top: 24px;
            }
          }

          .banking-desc-3 {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
          }
        }
      }
    }
  }
}

.cards-card-image {
  height: fit-content;
  min-height: 250px;
  overflow: hidden;
  position: relative;

  @media (min-width: 766px) and (max-width: 1220px) {
    min-height: fit-content;
    height: fit-content;
  }

  @media screen and (max-width: 767px) {
    height: auto;
    min-height: unset;
  }

  picture {
    height: 100%;
  }
}

#online-bankinghelp {
  white-space: nowrap;

  br {
    display: none;
  }

  @media (min-width: 766px) and (max-width: 820px) {
    white-space: nowrap;

    br {
      display: none;
    }
  }

  @media (min-width: 766px) and (max-width: 980px) {
    white-space: nowrap;

    br {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    white-space: nowrap;

    br {
      display: none;
    }
  }
}