@import "../../libs/swiper/swiper-bundle.min.css";

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body p.button-container a{
  align-items:center;
  background-color:var(--color-button-outlined-default);
  border:none;
  border:var(--stroke-button) solid var(--color-button-text-stroke-default);
  border-radius:var(--radius-button);
  color:var(--color-button-text-stroke-default);
  cursor:pointer;
  display:flex;
  font-size:16px;
  font-weight:500;
  gap:16px;
  justify-content:center;
  line-height:24px;
  min-width:150px;
  padding-block:6px;
  padding-inline:24px;
  text-align:center;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

.section.expandable-tiles-section{
  background:var(--gradient-1);
}

.section.expandable-tiles-section .default-content-wrapper{
  box-sizing:border-box;
  margin-bottom:40px;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.section.expandable-tiles-section .default-content-wrapper h1, .section.expandable-tiles-section .default-content-wrapper h2, .section.expandable-tiles-section .default-content-wrapper h3, .section.expandable-tiles-section .default-content-wrapper h4, .section.expandable-tiles-section .default-content-wrapper h5, .section.expandable-tiles-section .default-content-wrapper h6{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:40px;
  line-height:40px;
  margin:0 0 16px;
  text-align:left;
}

.section.expandable-tiles-section .default-content-wrapper p{
  color:var(--body-default);
  font-size:16px;
  font-weight:400;
  line-height:24px;
  text-align:left;
}

.section.expandable-tiles-section .cards-wrapper{
  box-sizing:border-box;
  margin-bottom:40px;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  overflow:auto;
  padding-inline:64px;
  scrollbar-width:none;
  width:100%;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block{
  display:flex;
  gap:10px;
  justify-content:center;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile{
  display:flex;
  flex:1;
  flex-direction:column;
  gap:20px;
  position:relative;
  transition:all 1.7s;
  transition-timing-function:cubic-bezier(0.11, 0.45, 0.4, 1);
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile::after{
  background:#000;
  border-radius:var(--radius-card);
  content:"";
  height:100%;
  opacity:0.2;
  pointer-events:none;
  position:absolute;
  transition:all 0.7s ease-in-out;
  width:100%;
  z-index:1;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile.active{
  flex:3.0951;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile.active::after{
  opacity:0;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile.active .tile-content{
  opacity:1;
  pointer-events:all;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile.active .tile-image img{
  transform:scale(1.1);
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-image{
  border-radius:var(--radius-card);
  cursor:pointer;
  font-size:0;
  height:500px;
  overflow:hidden;
  width:auto;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-image img{
  border-radius:var(--radius-card);
  height:500px;
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:center;
     object-position:center;
  transition:all 0.7s ease-in-out;
  transition-delay:1s;
  width:100%;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content{
  background-color:var(--bg-default);
  border-radius:var(--radius-card);
  bottom:0;
  display:block;
  margin:0 16px 16px;
  opacity:0;
  padding:24px;
  pointer-events:none;
  position:absolute;
  text-decoration:none;
  transition:all 1s ease-in-out;
  width:calc(100% - 32px);
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content .content-title{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:40px;
  line-height:40px;
  margin-bottom:16px;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content .content-description{
  color:var(--body-default);
  font-size:16px;
  font-weight:400;
  line-height:24px;
  margin-bottom:16px;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content .content-cta{
  align-items:center;
  display:flex;
  gap:12px;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content .content-cta .cta-link{
  background-color:var(--bg-reverse);
  border-radius:var(--radius-button);
  display:block;
  height:-moz-fit-content;
  height:fit-content;
  padding:8px;
  width:-moz-fit-content;
  width:fit-content;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content .content-cta .icon{
  display:block;
  height:-moz-fit-content;
  height:fit-content;
  width:-moz-fit-content;
  width:fit-content;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content .content-cta svg{
  color:var(--heading-reverse-2);
  display:block;
  height:24px;
  width:24px;
}

.section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content .content-cta:hover{
  text-decoration:none;
}

.section.expandable-tiles-section .autoplay-btn-wrapper{
  display:flex;
  justify-content:flex-end;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.section.expandable-tiles-section .autoplay-btn-wrapper .autoplay-btn{
  background-color:var(--bg-default);
  border-radius:var(--radius-button);
  display:grid;
  font-size:0;
  height:35px;
  place-items:center;
  width:35px;
}

.section.expandable-tiles-section .autoplay-btn-wrapper .autoplay-btn svg{
  color:var(--color-pagination-selected);
  display:block;
  filter:drop-shadow(0 1px 3px rgb(0 0 0 / 40%));
  height:24px;
  width:24px;
}

.section.online-banking{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul{
  display:flex;
  gap:24px;
  justify-content:space-between;
  list-style-type:none;
  min-height:520px;
  padding-left:0;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body ul li{
  padding:0;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-app-store-1,
.section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-android-google-play-1{
  display:block;
  height:43px;
  width:142px;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-app-store-1 img,
.section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-android-google-play-1 img{
  width:100%;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1{
  background-color:var(--bg-light-2);
  border-radius:var(--radius-card);
  min-height:100%;
  padding:24px;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body{
  margin:0;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h1, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h2, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h3, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h4, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h5, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h6{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  letter-spacing:2px;
  line-height:40px;
  margin:0;
  text-transform:uppercase;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body ul{
  display:flex;
  flex-direction:column;
  gap:22px;
  margin-top:32px;
  padding:0;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body ul li{
  padding:0;
  width:400px;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body ul li a{
  align-items:center;
  color:var(--body-accent);
  display:flex;
  font-size:16px;
  font-style:normal;
  font-weight:400;
  gap:10px;
  justify-content:space-between;
  line-height:24px;
  text-decoration:none;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body ul li a svg{
  height:24px;
  min-width:12px;
  width:12px;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2,
.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3{
  border-top-left-radius:var(--radius-card);
  border-top-right-radius:var(--radius-card);
  display:flex;
  flex-direction:column;
  max-width:420px;
  min-height:100%;
  overflow:hidden;
  width:100%;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body,
.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body{
  border:1px solid rgb(0 0 0 / 20%);
  border-radius:0 0 var(--radius-card) var(--radius-card);
  border-top:0;
  display:flex;
  flex-direction:column;
  height:100%;
  line-height:0;
  padding:24px;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .card-bottom-1,
.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .card-bottom-1{
  display:flex;
  flex-direction:column;
  gap:16px;
  list-style-type:none;
  margin:0;
  padding:0;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .card-bottom-1 .banking-desc-1,
.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .card-bottom-1 .banking-desc-1{
  color:var(--heading-default);
  font-size:24px;
  font-style:normal;
  font-weight:500;
  line-height:32px;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .card-bottom-1 .banking-desc-2,
.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .card-bottom-1 .banking-desc-2{
  color:var(--body-accent);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-image img,
.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-image img{
  border-top-left-radius:var(--radius-card);
  border-top-right-radius:var(--radius-card);
  height:100%;
  max-width:unset;
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:center;
     object-position:center;
  width:100%;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .card-bottom-2{
  display:flex;
  flex-direction:column;
  gap:8px;
  list-style-type:none;
  margin:auto 0 0;
  padding:0;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .banking-desc-3{
  margin:auto 0 0;
  text-align:left;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .banking-desc-3 a{
  align-items:center;
  background:transparent;
  color:var(--link-accent);
  display:flex;
  font-size:16px;
  font-style:normal;
  font-weight:500;
  gap:8px;
  line-height:24px;
  text-decoration:none;
  width:-moz-max-content;
  width:max-content;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .banking-desc-3 a svg{
  height:18px;
  width:18px;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .card-bottom-2{
  align-items:center;
  display:flex;
  gap:10px;
  list-style-type:none;
  margin:auto 0 0;
  padding:0;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .banking-desc-3{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .banking-desc-3 svg{
  height:42px;
  width:143px;
}

.cards-card-image{
  height:-moz-fit-content;
  height:fit-content;
  min-height:250px;
  overflow:hidden;
  position:relative;
}

.cards-card-image picture{
  height:100%;
}

.section.faq-cant-find-looking-for{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.section.faq-cant-find-looking-for .default-content-wrapper h1,
.section.faq-cant-find-looking-for .default-content-wrapper h2,
.section.faq-cant-find-looking-for .default-content-wrapper h3,
.section.faq-cant-find-looking-for .default-content-wrapper h4,
.section.faq-cant-find-looking-for .default-content-wrapper h5,
.section.faq-cant-find-looking-for .default-content-wrapper h6{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  line-height:44px;
  margin-bottom:40px;
  text-align:center;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul{
  display:grid;
  gap:32px;
  grid-template-columns:1fr 1fr 1fr 1fr;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li{
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  height:100%;
  text-align:center;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-image,
.section.faq-cant-find-looking-for .cards-wrapper .cards ul li svg{
  align-items:center;
  display:flex;
  justify-content:center;
  margin-bottom:32px;
  min-height:unset;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .icon{
  display:block;
  margin:0 auto;
  width:-moz-fit-content;
  width:fit-content;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li svg{
  color:var(--icon-bg-default);
  height:64px;
  width:64px;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body{
  display:flex;
  flex-direction:column;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body h1,
.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body h2,
.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body h3,
.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body h4,
.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body h5,
.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body h6{
  color:var(--heading-default);
  font-family:var(--primary-font);
  font-size:20px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
  margin-bottom:8px;
  text-align:center;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body p:not(p:has(.icon)){
  color:var(--body-default);
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  margin-bottom:24px;
  padding-bottom:14px;
  text-align:center;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body p.button-container{
  align-items:center;
  display:flex;
  justify-content:center;
  margin-bottom:0;
  margin-top:auto;
  padding-top:24px;
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body p.button-container a:hover{
  background-color:var(--color-button-outlined-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-hover);
  color:var(--color-button-text-stroke-hover);
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body p.button-container a:active{
  background-color:var(--color-button-outlined-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-press);
  color:var(--color-button-text-stroke-press);
}

.section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body p.button-container a:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul{
  grid-template-columns:1fr 1fr 1fr;
}

.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li .cards-card-image,
.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li svg{
  margin-bottom:16px;
}

.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li .cards-card-body h1,
.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li .cards-card-body h2,
.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li .cards-card-body h3,
.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li .cards-card-body h4,
.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li .cards-card-body h5,
.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li .cards-card-body h6{
  font-size:var(--font-size-h3);
  line-height:var(--font-height-h3);
  margin-bottom:16px;
}

.section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li .cards-card-body p:not(p:has(.icon)){
  margin:0;
  padding:0;
}

.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-image,
.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li svg{
  margin-bottom:16px;
}

.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h1,
.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h2,
.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h3,
.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h4,
.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h5,
.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h6{
  border-bottom:2px solid var(--heading-default);
  font-size:var(--font-size-h3);
  line-height:var(--font-height-h3);
  margin:0 auto 16px;
  padding:10px 0 6px;
  width:-moz-fit-content;
  width:fit-content;
}

.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body p:not(p:has(.icon)){
  margin-bottom:16px;
  padding:0;
}

.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body p:not(p:has(.icon)):last-child{
  margin-bottom:0;
}

.section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body p:not(p:has(.icon)) a{
  color:var(--link-default);
  text-decoration:underline;
  text-underline-offset:3px;
}

.banking-goods{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.banking-goods .cards-wrapper .banking-goods-mb{
  margin-bottom:40px;
}

.banking-goods .cards-wrapper .banking-goods-mb h1, .banking-goods .cards-wrapper .banking-goods-mb h2, .banking-goods .cards-wrapper .banking-goods-mb h3, .banking-goods .cards-wrapper .banking-goods-mb h4, .banking-goods .cards-wrapper .banking-goods-mb h5, .banking-goods .cards-wrapper .banking-goods-mb h6{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:38px;
  letter-spacing:2px;
  line-height:38px;
  margin-bottom:16px;
  text-transform:uppercase;
}

.banking-goods .cards-wrapper .banking-goods-mb p{
  color:var(--body-default);
  font-size:16px;
  font-weight:400;
  letter-spacing:0;
  line-height:24px;
}

.banking-goods .cards-wrapper .cards > ul{
  align-items:center;
  display:grid;
  gap:24px;
  grid-template-columns:1fr 1fr 1fr;
  justify-content:center;
}

.banking-goods .cards-wrapper .cards > ul > li:first-child{
  align-items:center;
  border-radius:var(--radius-card);
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:center;
  position:relative;
}

.banking-goods .cards-wrapper .cards > ul > li:first-child .cards-card-body{
  backdrop-filter:none;
  background:none;
  display:none;
}

.banking-goods .cards-wrapper .cards > ul > li:first-child .cards-card-body:last-child{
  display:flex;
  flex-direction:column;
  gap:16px;
  justify-content:center;
}

.banking-goods .cards-wrapper .cards > ul > li:first-child .cards-card-body:last-child > h1, .banking-goods .cards-wrapper .cards > ul > li:first-child .cards-card-body:last-child h2, .banking-goods .cards-wrapper .cards > ul > li:first-child .cards-card-body:last-child h3, .banking-goods .cards-wrapper .cards > ul > li:first-child .cards-card-body:last-child h4, .banking-goods .cards-wrapper .cards > ul > li:first-child .cards-card-body:last-child h5, .banking-goods .cards-wrapper .cards > ul > li:first-child .cards-card-body:last-child h6{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:40px;
  letter-spacing:2px;
  line-height:40px;
  text-transform:uppercase;
}

.banking-goods .cards-wrapper .cards > ul > li:first-child .cards-card-body:last-child > p{
  color:var(--body-default);
  font-size:16px;
  font-weight:400;
  letter-spacing:0;
  line-height:24px;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child){
  border-radius:var(--radius-card);
  height:528px;
  position:relative;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-image{
  height:100%;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) picture, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) img{
  border-radius:var(--radius-card);
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:center;
     object-position:center;
  width:100%;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body{
  backdrop-filter:blur(5px);
  border-radius:0 0 var(--radius-card) var(--radius-card);
  bottom:0;
  color:var(--body-reverse-2);
  display:flex;
  flex-direction:column;
  gap:16px;
  max-height:-moz-fit-content;
  max-height:fit-content;
  overflow:hidden;
  padding:24px;
  position:absolute;
  transition:all ease-in-out;
  transition-duration:700ms;
  width:100%;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body.active{
  height:100% !important;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body.active p{
  opacity:1;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body::after{
  background:var(--bg-reverse);
  content:"";
  display:block;
  height:100%;
  left:0;
  opacity:0.9;
  position:absolute;
  top:0;
  width:100%;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h1, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h2, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h3, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h4, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h5, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h6{
  color:var(--heading-reverse-2);
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  letter-spacing:2px;
  line-height:40px;
  text-transform:uppercase;
  transition:transform 0.4s ease;
  z-index:1;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body p{
  color:var(--body-reverse-2);
  font-size:16px;
  font-weight:400;
  line-height:24px;
  opacity:0;
  transition:all 0.4s ease-in-out;
  z-index:1;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body .button-container{
  opacity:0;
  padding:6px 0;
  transition:all 0.4s ease-in-out;
  z-index:1;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body .button-container a{
  align-items:center;
  color:var(--link-reverse-2);
  display:flex;
  font-size:14px;
  gap:8px;
  line-height:21px;
  position:relative;
  width:-moz-fit-content;
  width:fit-content;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body .button-container a::before{
  background:var(--link-reverse-2);
  bottom:-2px;
  content:"";
  height:2px;
  left:0;
  position:absolute;
  transition:width 0.3s ease;
  width:0%;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body .button-container a:hover::before{
  width:100%;
}

.banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body .button-container a svg{
  display:none;
  height:12px;
  width:7.2px;
}

.banking-goods .cards-wrapper .cards .cards-card-image{
  line-height:0;
}

.news-helpful{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  position:relative;
  width:100%;
}

.news-helpful .default-content-wrapper p{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:40px;
  font-weight:900;
  letter-spacing:2px;
  line-height:40px;
  text-transform:uppercase;
}

.news-helpful .cards-wrapper{
  padding:40px 0 0;
}

.news-helpful .cards-wrapper .news-help-wrapper .swiper-wrapper{
  margin-bottom:40px;
}

.news-helpful .cards-wrapper .news-help-wrapper .swiper-wrapper .swiper-slide{
  background:var(--bg-default);
  border:1px solid var(--line-default);
  border-radius:var(--radius-card);
  padding:24px;
}

.news-helpful .cards-wrapper .news-help-wrapper .swiper-wrapper .swiper-slide div picture img{
  border-radius:var(--radius-article-thumb);
}

.news-helpful .cards-wrapper .news-help-wrapper .swiper-wrapper .swiper-slide div:last-child p{
  color:var(--heading-default);
  font-size:16px;
  font-weight:400;
  line-height:24px;
  padding:16px 0 20px;
}

.news-helpful .cards-wrapper .news-help-wrapper .swiper-wrapper .swiper-slide div:last-child p.button-container{
  padding:unset;
}

.news-helpful .cards-wrapper .news-help-wrapper .swiper-wrapper .swiper-slide div:last-child p.button-container a{
  border-bottom:2px solid var(--link-accent);
  color:var(--heading, #00525B);
  font-size:14px;
  font-weight:400;
  line-height:21px;
  text-underline-offset:2px;
}

.news-helpful .cards-wrapper .news-help-wrapper .swiper-wrapper .swiper-slide.swiper-slide-active{
  margin-right:0;
}

.news-helpful .cards-wrapper .news-help-wrapper .nav-wrapper{
  display:flex;
  gap:16px;
  justify-content:flex-end;
  position:static;
}

.news-helpful .cards-wrapper .news-help-wrapper .nav-wrapper .swiper-button-next{
  background:var(--color-variants-bg-light-1);
  border-radius:44px;
  color:var(--color-variants-link-default);
  margin-top:unset;
  position:static;
}

.news-helpful .cards-wrapper .news-help-wrapper .nav-wrapper .swiper-button-prev{
  background:var(--color-variants-bg-light-1);
  border-radius:44px;
  color:var(--color-variants-link-default);
  left:var(--swiper-navigation-sides-offset, -100px);
  margin-top:unset;
  position:static;
  transform:rotate(180deg);
}

.news-helpful-homepage .default-content-wrapper{
  align-items:center;
  display:flex;
  justify-content:flex-start;
}

.news-helpful-homepage .default-content-wrapper p:last-child{
  display:none;
}

.news-helpful-homepage .cards-wrapper .block{
  position:unset;
}

.news-helpful-homepage .cards-wrapper .block .swiper-wrapper .swiper-slide{
  background:#FFF;
  border:1px solid rgb(0 0 0 / 20%);
  border-radius:var(--radius-card);
  display:flex;
  gap:19px;
  height:auto;
  justify-content:flex-start;
  margin-right:24px;
  padding:20px;
  width:388px !important;
}

.news-helpful-homepage .cards-wrapper .block .swiper-wrapper .swiper-slide div{
  width:25%;
}

.news-helpful-homepage .cards-wrapper .block .swiper-wrapper .swiper-slide div picture img{
  height:auto;
  width:100%;
}

.news-helpful-homepage .cards-wrapper .block .swiper-wrapper .swiper-slide div:last-child{
  width:75%;
}

.news-helpful-homepage .cards-wrapper .block .swiper-wrapper .swiper-slide div:last-child p{
  color:var(--heading-default);
  font-size:20px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
  margin:0;
  padding:0;
}

.news-helpful-homepage .cards-wrapper .block .swiper-wrapper .swiper-slide div:last-child p.button-container{
  margin-top:16px;
  padding:unset;
}

.news-helpful-homepage .cards-wrapper .block .swiper-wrapper .swiper-slide div:last-child p.button-container a{
  color:var(--heading-default);
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:21px;
  margin:0;
  padding:0;
  text-decoration:underline;
  text-decoration-color:var(--link-accent);
  text-decoration-thickness:2px;
  text-underline-offset:4px;
}

.news-helpful-homepage .cards-wrapper .nav-wrapper .view-all-wrapper{
  display:none;
}

@media (min-width: 766px) and (max-width: 1220px){
  .section.online-banking .cards-wrapper .cards .banking-cards-ul{
    display:grid;
    gap:20px;
    grid-template-columns:1fr 1fr 1fr;
    min-height:480px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-app-store-1,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-android-google-play-1{
    height:auto;
    width:95px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1{
    border-radius:var(--radius-card);
    padding:20px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h1, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h2, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h3, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h4, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h5, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h6{
    font-size:24px;
    font-weight:700;
    line-height:35px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body ul li{
    align-items:center;
    min-width:250px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body ul li a{
    font-size:13px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3{
    max-width:unset;
    width:100%;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .card-bottom-1 .banking-desc-1,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .card-bottom-1 .banking-desc-1{
    font-size:15px;
    line-height:20px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .card-bottom-1 .banking-desc-2,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .card-bottom-1 .banking-desc-2{
    font-size:12px;
    font-weight:400;
    line-height:18px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .banking-desc-3{
    width:115px;
  }

  .cards-card-image{
    height:-moz-fit-content;
    height:fit-content;
    min-height:-moz-fit-content;
    min-height:fit-content;
  }
}

@media (min-width: 766px) and (max-width: 820px){
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-app-store-1,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-android-google-play-1{
    height:auto;
    width:75px;
  }
}

@media (min-width: 766px) and (max-width: 980px){
  .section.online-banking{
    margin-left:auto;
    margin-right:auto;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-app-store-1,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-android-google-play-1{
    height:auto;
    width:90px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body ul li{
    max-width:unset;
    width:300px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3{
    width:unset;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .card-bottom-2{
    margin-top:auto;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .card-bottom-2{
    margin-top:auto;
  }
}

@media screen and (max-width: 1279px){
  .section.expandable-tiles-section .default-content-wrapper{
    padding-inline:24px;
  }

  .section.expandable-tiles-section .cards-wrapper{
    padding-inline:24px;
  }

  .section.expandable-tiles-section .autoplay-btn-wrapper{
    padding-inline:24px;
  }

  .section.online-banking{
    padding-inline:24px;
  }

  .section.faq-cant-find-looking-for{
    padding-inline:24px;
  }

  .banking-goods{
    padding-inline:24px;
  }

  .news-helpful{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .section.expandable-tiles-section{
    padding-right:16px;
  }

  .section.expandable-tiles-section .default-content-wrapper h1, .section.expandable-tiles-section .default-content-wrapper h2, .section.expandable-tiles-section .default-content-wrapper h3, .section.expandable-tiles-section .default-content-wrapper h4, .section.expandable-tiles-section .default-content-wrapper h5, .section.expandable-tiles-section .default-content-wrapper h6{
    text-align:center;
  }

  .section.expandable-tiles-section .cards-wrapper{
    scrollbar-width:none;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .banking-desc-3 a{
    padding:6px 18px 6px 0;
  }

  .section.faq-cant-find-looking-for .cards-wrapper .cards ul{
    grid-template-columns:1fr 1fr;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .default-content-wrapper h1,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .default-content-wrapper h2,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .default-content-wrapper h3,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .default-content-wrapper h4,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .default-content-wrapper h5,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .default-content-wrapper h6{
    text-align:left;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li{
    flex-direction:row;
    gap:16px;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-image,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li svg{
    margin-bottom:0;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-image img,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li svg img{
    height:48px;
    width:48px;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li svg{
    height:48px;
    width:48px;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body:has(svg){
    -moz-column-gap:16px;
         column-gap:16px;
    display:grid;
    grid-template-columns:auto 2fr;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body:first-child{
    display:none;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body p:has(svg){
    grid-row:1/10;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h1,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h2,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h3,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h4,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h5,
  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body h6{
    margin:0 0 16px;
    text-align:left;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li .cards-card-body p:not(p:has(.icon)){
    text-align:left;
  }

  .banking-goods .cards-wrapper .cards{
    overflow:auto;
    scrollbar-width:none;
  }

  .banking-goods .cards-wrapper .cards > ul{
    display:flex;
    justify-content:flex-start;
  }

  .banking-goods .cards-wrapper .cards > ul li{
    min-width:335px;
    width:-moz-fit-content;
    width:fit-content;
  }

  .banking-goods .cards-wrapper .cards > ul > li:first-child{
    display:none;
  }

  .banking-goods .cards-wrapper .cards > ul > li:not(:first-child){
    height:500px;
  }

  .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body{
    backdrop-filter:unset;
    background:linear-gradient(180deg, rgb(11 35 31 / 0%) 0.01%, rgb(11 35 31 / 14%) 34.14%, rgb(11 35 31 / 80%) 99.98%);
    justify-content:flex-end;
    min-height:335px;
  }

  .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body::after{
    content:unset;
  }

  .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h1, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h2, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h3, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h4, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h5, .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body h6{
    font-size:32px;
    line-height:32px;
  }

  .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body p{
    opacity:1;
  }

  .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body p:not(.button-container){
    display:none;
  }

  .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body .button-container{
    opacity:1;
    padding:0;
  }

  .banking-goods .cards-wrapper .cards > ul > li:not(:first-child) .cards-card-body .button-container a svg{
    display:block;
  }

  .news-helpful .cards-wrapper .news-help-wrapper .nav-wrapper{
    margin-right:24px;
  }

  .news-helpful-homepage .cards-wrapper .nav-wrapper .view-all-wrapper{
    display:block;
  }
}

@media screen and (max-width: 767px){
  .section.expandable-tiles-section .default-content-wrapper{
    padding-inline:16px;
  }

  .section.expandable-tiles-section .default-content-wrapper h1, .section.expandable-tiles-section .default-content-wrapper h2, .section.expandable-tiles-section .default-content-wrapper h3, .section.expandable-tiles-section .default-content-wrapper h4, .section.expandable-tiles-section .default-content-wrapper h5, .section.expandable-tiles-section .default-content-wrapper h6{
    font-size:38px;
    line-height:38px;
    text-align:left;
  }

  .section.expandable-tiles-section .cards-wrapper{
    margin-bottom:0;
    padding-inline:16px;
    scrollbar-width:none;
  }

  .section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block{
    --swiper-pagination-bottom:0;
    --swiper-pagination-bullet-horizontal-gap:2px;

    gap:20px;
    justify-content:unset;
  }

  .section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .swiper-pagination-bullet{
    background-color:var(--bg-default);
    border-radius:30px;
    height:7px;
    opacity:1;
    transition:all 0.3s linear;
    width:20px;
  }

  .section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color:var(--bg-reverse);
  }

  .section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile::after{
    content:unset;
  }

  .section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile{
    flex:none;
    max-width:335px;
  }

  .section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-image{
    cursor:default;
    height:auto;
  }

  .section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-image img{
    height:399px;
  }

  .section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content{
    margin:16px;
    opacity:1;
    pointer-events:all;
    width:calc(100% - 32px);
  }

  .section.expandable-tiles-section .cards-wrapper .cards.expandable-tiles.block .expandable-tile .tile-content .content-title{
    font-size:38px;
    line-height:38px;
  }

  .section.expandable-tiles-section .autoplay-btn-wrapper{
    display:none;
    padding-inline:16px;
  }

  .section.online-banking{
    margin-left:auto;
    margin-right:auto;
    padding:0 16px;
    padding-inline:16px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul{
    flex-direction:column;
    gap:18px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-app-store-1,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .cards-card-body .icon-badge-android-google-play-1{
    height:auto;
    width:131px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1{
    border-radius:var(--radius-card);
    padding:24px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h1, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h2, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h3, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h4, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h5, .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body h6{
    font-size:38px;
    line-height:38px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body ul{
    flex-direction:column;
    gap:unset;
    margin-top:24px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-1 .cards-card-body ul li{
    padding:10px 0;
    width:auto;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    max-width:unset;
    width:unset;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .card-bottom-1 .banking-desc-1,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .card-bottom-1 .banking-desc-1{
    font-size:20px;
    line-height:24px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body{
    height:unset;
    padding:20px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-image img,
  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-image img{
    width:100%;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .card-bottom-2{
    margin-top:24px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-2 .cards-card-body .banking-desc-3 a{
    line-height:13.5px;
    padding:0;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body{
    padding:30px 20px 15px;
  }

  .section.online-banking .cards-wrapper .cards .banking-cards-ul .banking-li-3 .cards-card-body .card-bottom-2{
    margin-top:24px;
  }

  .cards-card-image{
    height:auto;
    min-height:unset;
  }

  .section.faq-cant-find-looking-for{
    padding-inline:16px;
  }

  .section.faq-cant-find-looking-for .default-content-wrapper h1,
  .section.faq-cant-find-looking-for .default-content-wrapper h2,
  .section.faq-cant-find-looking-for .default-content-wrapper h3,
  .section.faq-cant-find-looking-for .default-content-wrapper h4,
  .section.faq-cant-find-looking-for .default-content-wrapper h5,
  .section.faq-cant-find-looking-for .default-content-wrapper h6{
    margin-bottom:24px;
  }

  .section.faq-cant-find-looking-for .cards-wrapper .cards ul{
    grid-template-columns:1fr;
  }

  .section.faq-cant-find-looking-for .cards-wrapper .cards ul li{
    padding:8px 0;
  }

  .section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-image,
  .section.faq-cant-find-looking-for .cards-wrapper .cards ul li svg{
    margin-bottom:20px;
  }

  .section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body p:not(p:has(.icon)){
    padding-bottom:0;
  }

  .section.faq-cant-find-looking-for .cards-wrapper .cards ul li .cards-card-body p.button-container{
    margin-bottom:0;
  }

  .section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul{
    grid-template-columns:1fr;
  }

  .section.faq-cant-find-looking-for.rates-saver .cards-wrapper .cards ul li{
    padding:0;
  }

  .section.faq-cant-find-looking-for.faq-cant-find-looking-for-variant .cards-wrapper .cards ul li{
    padding:0;
  }

  .banking-goods{
    padding-inline:16px;
  }

  .news-helpful{
    padding-inline:16px;
  }

  .news-helpful .default-content-wrapper p{
    font-size:38px;
    line-height:38px;
  }

  .news-helpful .cards-wrapper .news-help-wrapper .swiper-wrapper{
    margin-bottom:24px;
  }

  .news-helpful .cards-wrapper .news-help-wrapper .nav-wrapper{
    margin-right:16px;
  }

  .news-helpful-homepage .cards-wrapper .block .swiper-wrapper{
    flex-direction:column;
    gap:20px;
  }

  .news-helpful-homepage .cards-wrapper .block .swiper-wrapper .swiper-slide{
    display:none;
    width:100% !important;
  }

  .news-helpful-homepage .cards-wrapper .block .swiper-wrapper .swiper-slide.show{
    display:flex !important;
  }

  .news-helpful-homepage .cards-wrapper .nav-wrapper .view-all-wrapper{
    border-bottom:2px solid var(--line-default);
    color:var(--link-default);
    display:block;
    font-size:24px;
    font-weight:500;
    line-height:29px;
    margin:30px 0 40px;
    padding-bottom:4px;
  }
}
