@use '../../styles/base' as *;
@use '../../styles/variables';
@use '../../styles/mixins';

    .section.online-banking-legal{
        @include mobile{
            padding-top: 40px;
        }

        .cards-wrapper{
            .cards{
                .banking-cards-ul{
                    @include tablet{
                        gap: 32px;
                    }

                    .banking-li-1{
                        .cards-card-body{
                            h1,h2,h3,h4,h5,h6{
                                color: $heading-default;
                                font-family: $secondary-font;
                                font-size: $font-size-h1;
                                font-style: normal;
                                font-weight: 900;
                                line-height: $font-height-h1;
                                letter-spacing: $font-letter-spacing-h1;
                                text-transform: uppercase;
                            }

                            ul{
                                li{
                                    a{
                                        color: $body-default;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px; /* 150% */

                                        @include tablet{
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .banking-li-2 {
                        .cards-card-body{
                            padding: 40px 32px;
                            height: unset;

                            @include tablet{
                                padding: 40px 24px;
                            }

                            .card-bottom-1{
                                h1,h2,h3,h4,h5,h6{
                                    color: $heading-default;
                                    font-size: $font-size-h3;
                                    font-weight: 500;
                                    line-height: $font-height-h3;
                                    letter-spacing: $font-letter-spacing-h3;

                                    @include tablet{
                                        font-size: $font-size-h3;
                                        line-height: $font-height-h3;
                                        letter-spacing: $font-letter-spacing-h3;
                                    }
                                }

                                p{
                                    color: $body-default;
                                    font-size: $font-size-body;
                                    font-weight: 400;
                                    line-height: $font-height-body;
                                    letter-spacing: $font-letter-spacing-body;
                                    width: 100%;

                                    @include tablet{
                                        font-size: $font-size-body;
                                        line-height: $font-height-body;
                                        letter-spacing: $font-letter-spacing-body;
                                    }
                                }
                            }

                            .card-bottom-2{
                                margin-top: 24px;

                                p{
                                    width: 100%;
                                    padding: 6px 18px 6px 0;

                                    a{
                                        border-bottom: 2px solid $link-accent;
                                        padding: 0;

                                        @include typo-sm-body;
                                    }
                                }
                            }
                        }
                    } 

                    .banking-li-3 {
                        .cards-card-body{
                            padding: 40px 32px;
                            height: unset;
                        }
                    }
                }
            }
        }
    }