.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.secondary, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined-reverse, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.white{
  align-items:center;
  border:none;
  border-radius:var(--radius-button);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-weight:var(--font-weight-h5);
  gap:12px;
  justify-content:center;
  padding-inline:24px;
  text-align:center;
  text-decoration:unset;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

.section:has(.card-with-quote.quote-background){
  background-color:var(--bg-light-3);
}

.card-with-quote.quote-reversed-content .card-with-quote-block-wrapper{
  flex-direction:row-reverse;
}

.card-with-quote .card-with-quote-block-wrapper{
  align-items:center;
  display:flex;
  gap:80px;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-image{
  flex:0 0 auto;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-image img{
  border-radius:var(--radius-card);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content h1, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content h2{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  margin-bottom:16px;
  text-transform:initial;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content h3, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content h4{
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  margin-bottom:16px;
  text-transform:initial;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-bottom:16px;
  text-transform:initial;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content p a{
  color:var(--link-default);
  text-decoration:underline;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content p b{
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body-bold);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content ul, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content ol{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  list-style:disc;
  padding-left:24px;
  text-transform:initial;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content ul li, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content ol li{
  margin-bottom:8px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content ol{
  list-style:decimal;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .card-with-quote-quote{
  border-left:1px solid var(--heading-default);
  margin-top:16px;
  padding-left:32px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .card-with-quote-quote-text{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-style:italic;
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-bottom:10px;
  text-transform:initial;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .card-with-quote-author{
  align-items:center;
  display:flex;
  gap:16px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .card-with-quote-author-name, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .card-with-quote-author-profession, .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .card-with-quote-author-extra{
  color:var(--body-default);
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  margin-bottom:0;
  text-transform:initial;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .card-with-quote-author-name{
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-body-bold);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  text-transform:initial;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .card-with-quote-buttons{
  display:flex;
  flex-wrap:wrap;
  gap:8px;
  margin:32px 0 0;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container{
  margin:0;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button{
  background-color:var(--color-button-primary-default);
  border:none;
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button:hover{
  background-color:var(--color-button-primary-hover);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button:active{
  background-color:var(--color-button-primary-press);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button svg{
  height:12px;
  width:12px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.secondary{
  background-color:var(--color-button-secondary-default);
  border:none;
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.secondary:hover{
  background-color:var(--color-button-secondary-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.secondary:active{
  background-color:var(--color-button-secondary-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.secondary:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.secondary svg{
  height:12px;
  width:12px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined{
  background-color:var(--color-button-outlined-default);
  border:var(--stroke-button) solid var(--color-button-text-stroke-default);
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:6px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined:hover{
  background-color:var(--color-button-outlined-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-hover);
  color:var(--color-button-text-stroke-hover);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined:active{
  background-color:var(--color-button-outlined-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-press);
  color:var(--color-button-text-stroke-press);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined svg{
  height:12px;
  width:12px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined-reverse{
  background-color:var(--color-button-outlined-reverse-default);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:6px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined-reverse:hover{
  background-color:var(--color-button-outlined-reverse-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined-reverse:active{
  background-color:var(--color-button-outlined-reverse-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined-reverse:focus-visible{
  box-shadow:0 0 0 2px var(--color-focus-default), 0 0 0 3px var(--color-focus-reversed);
  outline:none;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.outlined-reverse svg{
  height:12px;
  width:12px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.white{
  background-color:var(--color-button-white-default);
  border:none;
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.white:hover{
  background-color:var(--color-button-white-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.white:active{
  background-color:var(--color-button-white-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.white:focus-visible{
  box-shadow:0 0 0 2px var(--color-focus-default), 0 0 0 3px var(--color-focus-reversed);
  outline:none;
}

.card-with-quote .card-with-quote-block-wrapper .card-with-quote-content .button-container .button.white svg{
  height:12px;
  width:12px;
}

@media screen and (max-width: 1279px){
  .card-with-quote .card-with-quote-block-wrapper{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .card-with-quote.quote-reversed-content .card-with-quote-block-wrapper{
    flex-direction:column-reverse;
  }

  .card-with-quote .card-with-quote-block-wrapper{
    flex-direction:column;
    gap:16px;
  }

  .card-with-quote .card-with-quote-block-wrapper .card-with-quote-image{
    width:100%;
  }

  .card-with-quote .card-with-quote-block-wrapper .card-with-quote-image img{
    width:100%;
  }

  .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content{
    padding:32px 0;
  }
}

@media screen and (max-width: 767px){
  .card-with-quote .card-with-quote-block-wrapper{
    padding-inline:16px;
  }

  .card-with-quote .card-with-quote-block-wrapper .card-with-quote-content{
    padding:24px 0;
  }
}
