@use '../../styles/base' as *;

.faq-legal-table{
    .columns-wrapper{
        .block{
            div{
                div{
                    &:has(ul){
                        ul{
                            list-style: none;
                            padding: 0;
                            margin: 32px 0 0;
                            min-width: 500px;

                            li{
                              border-bottom: 1px solid rgb(0 0 0 / 20%);

                                ul{
                                    display: flex;
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;


                                    li{
                                            flex: 1;
                                            display: flex;
                                            align-items: center;
                                            border-bottom: unset;
                                            padding: 16px 0;
                                            color: $body-default;
                                            font-size: $font-size-body;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: $font-height-body; 
                                            letter-spacing: $font-letter-spacing-body;

                                            &:first-child{
                                                border-bottom: unset;
                                            }
                                    }
                                }

                                &:first-child{
                                    border-bottom: 4px solid $heading-default; 

                                    ul{
                                        li{
                                            color: var(--heading, #00525B);
                                            /* Heading 3 */
                                            font-family: var(--font-family-h3, Inter);
                                            font-size: var(--font-size-h3, 24px);
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: var(--font-height-h3, 29px); /* 120.833% */
                                            letter-spacing: var(--font-letter-spacing-h3, 0);                                           
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}