.faq-legal-table .columns-wrapper .block div div:has(ul) ul li ul{
  display:flex;
  justify-content:flex-start;
  margin-top:32px;
}

.faq-legal-table .columns-wrapper .block div div:has(ul) ul li ul li{
  border-bottom:1px solid rgb(0 0 0 / 20%);
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  list-style:none;
  padding:16px 8px 16px 0;
  text-transform:initial;
  width:50%;
}

.faq-legal-table .columns-wrapper .block div div:has(ul) ul li:first-child{
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  margin:0 0 16px;
  text-decoration:none;
  text-transform:initial;
  width:50%;
}
