.faq-legal-table .columns-wrapper .block div div ul{
  margin-top:32px;
  padding-left:unset !important;
}

.faq-legal-table .columns-wrapper .block div div ul li{
  list-style:none;
  text-decoration-line:none !important;
}

.faq-legal-table .columns-wrapper .block div div ul li ul{
  align-items:center;
  border-bottom:1px solid #cfcfcf;
  display:grid;
  grid-template-columns:1fr 1fr;
  margin-top:unset;
  padding-bottom:0;
  padding-left:0 !important;
}

.faq-legal-table .columns-wrapper .block div div ul li ul li{
  color:var(--body-default);
  cursor:default;
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  line-height:var(--font-height-body);
  padding:16px 0;
  text-decoration-line:none !important;
}

.faq-legal-table .columns-wrapper .block div div ul li ul li a{
  color:inherit;
  cursor:default;
  pointer-events:none;
  text-decoration:none !important;
}

.faq-legal-table .columns-wrapper .block div div ul li ul li:last-child{
  text-align:left !important;
  white-space:nowrap;
}

.faq-legal-table .columns-wrapper .block div div ul li:first-child ul{
  border-bottom:4px solid var(--heading-default);
  padding-bottom:8px;
}

.faq-legal-table .columns-wrapper .block div div ul li:first-child ul li{
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  padding:0;
}

.faq-legal-table .columns-wrapper .block div div ul li:last-child ul{
  border-bottom:none;
}
