.faq-legal-table .columns-wrapper .block div div:has(ul) ul{
  list-style:none;
  margin:32px 0 0;
  min-width:500px;
  padding:0;
}

.faq-legal-table .columns-wrapper .block div div:has(ul) ul li{
  border-bottom:1px solid rgb(0 0 0 / 20%);
}

.faq-legal-table .columns-wrapper .block div div:has(ul) ul li ul{
  display:flex;
  list-style:none;
  margin:0;
  padding:0;
}

.faq-legal-table .columns-wrapper .block div div:has(ul) ul li ul li{
  align-items:center;
  border-bottom:unset;
  color:var(--body-default);
  display:flex;
  flex:1;
  font-size:var(--font-size-body);
  font-style:normal;
  font-weight:400;
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  padding:16px 0;
}

.faq-legal-table .columns-wrapper .block div div:has(ul) ul li ul li:first-child{
  border-bottom:unset;
}

.faq-legal-table .columns-wrapper .block div div:has(ul) ul li:first-child{
  border-bottom:4px solid var(--heading-default);
}

.faq-legal-table .columns-wrapper .block div div:has(ul) ul li:first-child ul li{
  color:var(--heading, #00525B);
  font-family:var(--font-family-h3, Inter);
  font-size:var(--font-size-h3, 24px);
  font-style:normal;
  font-weight:500;
  letter-spacing:var(--font-letter-spacing-h3, 0);
  line-height:var(--font-height-h3, 29px);
}
