@import '../../libs/aos/aos.min.css';
*, *::before, *::after{
  box-sizing:border-box;
}

*{
  margin:0;
  padding:0;
}

html{
  font-size:100%;
  -webkit-text-size-adjust:100%;
}

body{
  background-color:#fff;
  color:#000;
  font-family:var(--primary-font);
  -webkit-font-smoothing:antialiased;
  line-height:1.5;
  min-height:100vh;
  text-rendering:optimizelegibility;
}

ul, ol{
  list-style:none;
}

a{
  color:inherit;
  text-decoration:none;
}

img, picture, video, canvas, svg{
  display:block;
  height:auto;
  max-width:100%;
}

input, button, textarea, select{
  background:none;
  border:none;
  color:inherit;
  font:inherit;
  outline:none;
}

textarea{
  resize:vertical;
}

button{
  background:transparent;
  border:none;
  cursor:pointer;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

h1, h2, h3, h4, h5, h6{
  font-size:inherit;
  font-weight:inherit;
}

:focus-visible{
  outline:2px solid #000;
  outline-offset:2px;
}

:focus:not(:focus-visible){
  outline:none;
}
:root{
  --border-primary:#222;
  --border-brand:#003764;
  --border-error:#fff;
  --text-primary:#222;
  --text-secondary:#f7c0b3;
  --text-inverse:#f7c0b3;
  --text-light:#f7c0b3;
  --text-brand:#003764;
  --text-brand-secondary:#fff;
  --text-primary-cta:#fafafa;
  --text-secondary-cta:#fafafa;
  --text-accent-cta:#fafafa;
  --text-disabled:#d9dadb;
  --text-error:#fff;
  --text-ghost-default:#fff;
  --text-ghost-hover:#fff;
  --text-ghost-focused:#fff;
  --text-ghost-disabled:#fff;
  --text-ghost-active:#fff;
  --surface-primary:#f4f4f5;
  --surface-secondary:#d9dadb;
  --surface-overlay:#565659;
  --surface-brand:#172983;
  --surface-light:#fff;
  --surface-login-cta:#f7c0b3;
  --surface-primary-cta:#a2daf3;
  --surface-prim-hover-cta:#f7c0b3;
  --surface-prim-active-cta:#172983;
  --surface-secondary-cta:#a2daf3;
  --surface-sec-hover-cta:#f7c0b3;
  --surface-accent-cta:#172983;
  --surface-accent-hover-cta:#f7c0b3;
  --surface-accent-active-cta:#f7c0b3;
  --surface-disabled-cta:#efefef;
  --surface-highlight:#efefef;
  --primary-font:"Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font:"American Grotesk", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --bg-accent:#f7c0b3;
  --bg-default:#ffffff;
  --bg-light-2:#d4eefc;
  --bg-light-3:#a2daf3;
  --bg-light:#f7f7f7;
  --bg-reverse-2:#172983;
  --bg-reverse:#172983;
  --body-accent:#525257;
  --body-default:#525257;
  --body-light-2:#525257;
  --body-light-3:#525257;
  --body-light:#525257;
  --body-reverse-2:#d4eefc;
  --body-reverse:#ffffff;
  --burst-accent:#172983;
  --burst-default:#f7c0b3;
  --burst-light-2:#f7c0b3;
  --burst-light-3:#f7c0b3;
  --burst-light:#f7c0b3;
  --burst-reverse-2:#f7c0b3;
  --burst-reverse:#f7c0b3;
  --heading-accent:#172983;
  --heading-default:#172983;
  --heading-light-2:#172983;
  --heading-light-3:#172983;
  --heading-light:#172983;
  --heading-reverse-2:#d4eefc;
  --heading-reverse:#ffffff;
  --icon-2-accent:#172983;
  --icon-2-default:#172983;
  --icon-2-light-2:#172983;
  --icon-2-light-3:#172983;
  --icon-2-light:#172983;
  --icon-2-reverse-2:#d4eefc;
  --icon-2-reverse:#ffffff;
  --icon-accent:#f7c0b3;
  --icon-bg-accent:#172983;
  --icon-bg-default:#172983;
  --icon-bg-light-2:#ffffff;
  --icon-bg-light-3:#ffffff;
  --icon-bg-light:#ffffff;
  --icon-bg-reverse-2:#d4eefc;
  --icon-bg-reverse:#ffffff;
  --icon-default:#ffffff;
  --icon-light-2:#172983;
  --icon-light-3:#172983;
  --icon-light:#172983;
  --icon-reverse-2:#172983;
  --icon-reverse:#172983;
  --line-accent:#00000033;
  --line-default:#00000033;
  --line-light-2:#00000033;
  --line-light-3:#00000033;
  --line-light:#00000033;
  --line-reverse-2:#ffffff1a;
  --line-reverse:#ffffff1a;
  --link-accent:#172983;
  --link-default:#172983;
  --link-light-2:#172983;
  --link-light-3:#172983;
  --link-light:#172983;
  --link-reverse-2:#d4eefc;
  --link-reverse:#ffffff;
  --stroke-accent:#f7c0b3;
  --stroke-default:#172983;
  --stroke-light-2:#172983;
  --stroke-light-3:#172983;
  --stroke-light:#172983;
  --stroke-reverse-2:#ffffff;
  --stroke-reverse:#ffffff;
}

.d-none{
  display:none !important;
}

.spacer-bottom{
  margin-bottom:80px;
}

.spacer-top{
  margin-top:80px;
}

.top-margin{
  margin-top:32px;
}

.bottom-margin{
  margin-bottom:32px;
}

.top-padding{
  padding-top:32px;
}

.bottom-padding{
  padding-bottom:32px;
}

.section.faq-looking-for{
  margin:0 auto;
  max-width:1328px;
  padding:32px;
}
.section.faq-looking-for div{
  display:flex;
  flex-direction:column;
  gap:48px;
  padding:5px;
}
.section.faq-looking-for div h2{
  color:#00525B;
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  font-weight:900;
  letter-spacing:0;
  line-height:44px;
  text-align:center;
}
.section.faq-looking-for div ul{
  display:flex;
  gap:32px;
  justify-content:space-between;
  padding:32px 0;
}
.section.faq-looking-for div ul li ul{
  display:flex;
  flex-direction:column;
  gap:24px;
  padding:0;
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span{
  align-items:center;
  background-color:#00525B;
  border-radius:50%;
  display:flex;
  height:64px;
  justify-content:center;
  margin:0 auto;
  width:64px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span img{
  height:44px;
  width:44px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul{
  gap:8px;
  margin-top:32px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(1){
  color:#00525B;
  font-family:var(--primary-font);
  font-size:20px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2){
  color:#0B231F;
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  margin-bottom:14px;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(2) p{
  margin:0;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(2) p a{
  border:1px solid #00525B;
  border-radius:20px;
  color:#00525B;
  cursor:pointer;
  display:block;
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:500;
  letter-spacing:0;
  line-height:24px;
  margin:0 auto;
  padding:8px 16px;
  text-decoration:none;
  width:-moz-fit-content;
  width:fit-content;
}
@media screen and (max-width: 1023px){
  .spacer-bottom{
    margin-bottom:60px;
  }
  .spacer-top{
    margin-top:60px;
  }
  .top-margin{
    margin-top:24px;
  }
  .bottom-margin{
    margin-bottom:24px;
  }
  .top-padding{
    padding-top:24px;
  }
  .bottom-padding{
    padding-bottom:24px;
  }
  .section.faq-looking-for div h2{
    padding-bottom:0;
  }
}
@media screen and (max-width: 767px){
  .spacer-bottom{
    margin-bottom:40px;
  }
  .spacer-top{
    margin-top:40px;
  }
  .section.faq-looking-for{
    padding:8px;
  }
  .section.faq-looking-for div{
    gap:24px;
    padding:8px;
  }
  .section.faq-looking-for div h2{
    font-size:40px;
    font-weight:700;
    line-height:32px;
  }
  .section.faq-looking-for div ul{
    flex-direction:column;
    padding:8px 0;
  }
  .section.faq-looking-for div ul li ul{
    gap:20px;
  }
  .section.faq-looking-for div ul li ul li:nth-child(1) ul{
    margin-top:20px;
  }
  .section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2){
    margin-bottom:0;
  }
  .section.faq-looking-for div ul li ul li:nth-child(2) p{
    margin-bottom:8px;
  }
}
@media (prefers-reduced-motion: reduce){
  *{
    animation-duration:0.01ms !important;
    animation-iteration-count:1 !important;
    scroll-behavior:auto !important;
    transition-duration:0.01ms !important;
  }
}
