@import '../../libs/aos/aos.min.css';
*, *::before, *::after{
  box-sizing:border-box;
}

*{
  margin:0;
  padding:0;
}

html{
  font-size:100%;
  -webkit-text-size-adjust:100%;
}

body{
  background-color:#fff;
  color:#000;
  font-family:var(--primary-font);
  -webkit-font-smoothing:antialiased;
  line-height:1.5;
  min-height:100vh;
  text-rendering:optimizelegibility;
}

ul, ol{
  list-style:none;
}

a{
  color:inherit;
  text-decoration:none;
}

img, picture, video, canvas, svg{
  display:block;
  height:auto;
  max-width:100%;
}

input, button, textarea, select{
  background:none;
  border:none;
  color:inherit;
  font:inherit;
  outline:none;
}

textarea{
  resize:vertical;
}

button{
  background:transparent;
  border:none;
  cursor:pointer;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

h1, h2, h3, h4, h5, h6{
  font-size:inherit;
  font-weight:inherit;
}

:focus-visible{
  outline:2px solid #000;
  outline-offset:2px;
}

:focus:not(:focus-visible){
  outline:none;
}
:root{
  --border-primary:rgb(34, 34, 34);
  --border-brand:rgb(0, 55, 100);
  --border-error:rgb(255, 255, 255);
  --text-primary:rgb(34, 34, 34);
  --text-secondary:rgb(247, 192, 179);
  --text-inverse:rgb(247, 192, 179);
  --text-light:rgb(247, 192, 179);
  --text-brand:rgb(0, 55, 100);
  --text-brand-secondary:rgb(255, 255, 255);
  --text-primary-cta:rgb(250, 250, 250);
  --text-secondary-cta:rgb(250, 250, 250);
  --text-accent-cta:rgb(250, 250, 250);
  --text-disabled:rgb(217, 218, 219);
  --text-error:rgb(255, 255, 255);
  --text-ghost-default:rgb(255, 255, 255);
  --text-ghost-hover:rgb(255, 255, 255);
  --text-ghost-focused:rgb(255, 255, 255);
  --text-ghost-disabled:rgb(255, 255, 255);
  --text-ghost-active:rgb(255, 255, 255);
  --surface-primary:rgb(244, 244, 245);
  --surface-secondary:rgb(217, 218, 219);
  --surface-overlay:rgb(86, 86, 89);
  --surface-brand:rgb(23, 41, 131);
  --surface-light:rgb(255, 255, 255);
  --surface-login-cta:rgb(247, 192, 179);
  --surface-primary-cta:rgb(162, 218, 243);
  --surface-prim-hover-cta:rgb(247, 192, 179);
  --surface-prim-active-cta:rgb(23, 41, 131);
  --surface-secondary-cta:rgb(162, 218, 243);
  --surface-sec-hover-cta:rgb(247, 192, 179);
  --surface-accent-cta:rgb(23, 41, 131);
  --surface-accent-hover-cta:rgb(247, 192, 179);
  --surface-accent-active-cta:rgb(247, 192, 179);
  --surface-disabled-cta:rgb(239, 239, 239);
  --surface-highlight:rgb(239, 239, 239);
  --primary-font:"Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font:"American Grotesk", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
}

.d-none{
  display:none !important;
}

.spacer-bottom{
  margin-bottom:80px;
}

.spacer-top{
  margin-top:80px;
}

@media screen and (max-width: 1023px){
  .spacer-bottom{
    margin-bottom:60px;
  }
  .spacer-top{
    margin-top:60px;
  }
}

@media screen and (max-width: 767px){
  .spacer-bottom{
    margin-bottom:40px;
  }
  .spacer-top{
    margin-top:40px;
  }
}

@media (prefers-reduced-motion: reduce){
  *{
    animation-duration:0.01ms !important;
    animation-iteration-count:1 !important;
    scroll-behavior:auto !important;
    transition-duration:0.01ms !important;
  }
}
