@import '../../libs/aos/aos.min.css';
.product-navigation .default-content-wrapper .button-container a, .momentum-saver-section .momentum-columns .momentum-second-content .button-container a, .momentum-image-saver.bg-image-saver .momentum-second-content .button-container a{
  align-items:center;
  border:none;
  border-radius:var(--radius-button);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-weight:var(--font-weight-h5);
  gap:16px;
  justify-content:center;
  padding-inline:24px;
  text-align:center;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

*, *::before, *::after{
  box-sizing:border-box;
}

*{
  margin:0;
  padding:0;
}

html{
  font-size:100%;
  scroll-behavior:smooth;
  -webkit-text-size-adjust:100%;
}

body{
  background-color:#fff;
  color:#000;
  font-family:var(--primary-font);
  -webkit-font-smoothing:antialiased;
  line-height:1.5;
  min-height:100vh;
  text-rendering:optimizelegibility;
}

ul, ol{
  list-style:none;
}

a{
  color:inherit;
  text-decoration:none;
}

img, picture, video, canvas, svg{
  display:block;
  height:auto;
  max-width:100%;
}

input, button, textarea, select{
  background:none;
  border:none;
  color:inherit;
  font:inherit;
  outline:none;
}

textarea{
  resize:vertical;
}

button{
  background:transparent;
  border:none;
  cursor:pointer;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

h1, h2, h3, h4, h5, h6{
  font-size:inherit;
  font-weight:inherit;
}

sup, sub{
  font-size:0.7em;
}

:focus-visible{
  outline:2px solid #000;
  outline-offset:2px;
}

:focus:not(:focus-visible){
  outline:none;
}
:root{
  --primary-font:"Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font:"Roboto", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --gradient-1:#d4eefc;
  --color-button-outlined-default:#ffffff03;
  --color-button-outlined-hover:#1729831a;
  --color-button-outlined-press:#17298333;
  --color-button-outlined-reverse-default:#ffffff03;
  --color-button-outlined-reverse-hover:#0000000d;
  --color-button-outlined-reverse-press:#0000001a;
  --color-button-primary-default:#172983;
  --color-button-primary-hover:#162573;
  --color-button-primary-press:#101b55;
  --color-button-secondary-default:#a2daf3;
  --color-button-secondary-hover:#7ccaed;
  --color-button-secondary-press:#57bbe8;
  --color-button-text-stroke-default:#172983;
  --color-button-text-stroke-hover:#162573;
  --color-button-text-stroke-press:#101b55;
  --color-button-text-stroke-reverse:#ffffff;
  --color-button-white-default:#ffffff;
  --color-button-white-hover:#d4eefc;
  --color-button-white-press:#d4eefc;
  --color-focus-default:#00589e;
  --color-focus-reversed:#ffffff;
  --color-footer-info:#17298312;
  --color-header-frame:#f7f7f7;
  --color-header-icon-2:#172983;
  --color-header-icon:#003764;
  --color-header-light:#d4eefc;
  --color-header-nav-primary:#172983;
  --color-header-nav-secondary:#172983;
  --color-header-nav:#ffffff;
  --color-header-search:#f7f7f7;
  --color-pagination-secondary-nav:#f7f7f7;
  --color-pagination-selected:#172983;
  --color-pagination-surface:#ffffff;
  --color-pagination-unselected:#17298399;
  --color-placeholder-default:#17298399;
  --color-placeholder-reverse-2:#ffffff4d;
  --color-placeholder-reverse:#ffffff99;
  --color-variants-bg-accent:#f7c0b3;
  --color-variants-bg-default:#ffffff;
  --color-variants-bg-light-1:#f7f7f7;
  --color-variants-bg-light-2:#d4eefc;
  --color-variants-bg-light-3:#a2daf3;
  --color-variants-bg-light-4:#d4eefc;
  --color-variants-bg-promo:#172983;
  --color-variants-bg-reverse:#172983;
  --color-variants-body-default:#525257;
  --color-variants-body-reverse-2:#d4eefc;
  --color-variants-body-reverse:#ffffff;
  --color-variants-burst-default:#f7c0b3;
  --color-variants-burst-reverse:#172983;
  --color-variants-heading-default:#172983;
  --color-variants-heading-reverse-2:#d4eefc;
  --color-variants-heading-reverse:#ffffff;
  --color-variants-icon-accent:#f7c0b3;
  --color-variants-icon-default:#172983;
  --color-variants-icon-reverse-2:#d4eefc;
  --color-variants-icon-reverse:#ffffff;
  --color-variants-line-default:#00000033;
  --color-variants-line-reverse:#ffffff1a;
  --color-variants-link-default:#172983;
  --color-variants-link-reverse-2:#d4eefc;
  --color-variants-link-reverse:#ffffff;
  --color-variants-number-list-default:#1729831a;
  --color-variants-number-list-reverse:#ffffff1a;
  --color-variants-stroke-accent:#f7c0b3;
  --color-variants-stroke-primary:#172983;
  --color-variants-stroke-reversed-2:#ffffff;
  --color-variants-stroke-reversed:#ffffff;
  --color-variants-stroke-secondary:#525257;
  --font-d-height-body:24px;
  --font-d-height-disc:18px;
  --font-d-height-h1-std:44px;
  --font-d-height-h1:44px;
  --font-d-height-h2-std:39px;
  --font-d-height-h2:36px;
  --font-d-height-h3:29px;
  --font-d-height-h4:24px;
  --font-d-height-h5:24px;
  --font-d-height-intro:36px;
  --font-d-height-lg:64px;
  --font-d-height-sm-body:21px;
  --font-d-size-body:16px;
  --font-d-size-disc:12px;
  --font-d-size-h1-std:40px;
  --font-d-size-h1:40px;
  --font-d-size-h2-std:32px;
  --font-d-size-h2:32px;
  --font-d-size-h3:24px;
  --font-d-size-h4:20px;
  --font-d-size-h5:16px;
  --font-d-size-intro:24px;
  --font-d-size-lg:60px;
  --font-d-size-sm-body:14px;
  --font-family-body-bold:var(--primary-font);
  --font-family-body:var(--primary-font);
  --font-family-disc:var(--primary-font);
  --font-family-h1-std:var(--secondary-font);
  --font-family-h1:var(--secondary-font);
  --font-family-h2-std:var(--secondary-font);
  --font-family-h2:var(--secondary-font);
  --font-family-h3:var(--primary-font);
  --font-family-h4:var(--primary-font);
  --font-family-h5:var(--primary-font);
  --font-family-intro:var(--primary-font);
  --font-family-lg:var(--secondary-font);
  --font-family-sm-body:var(--primary-font);
  --font-letter-spacing-body:0px;
  --font-letter-spacing-disc:0px;
  --font-letter-spacing-h1-std:-1px;
  --font-letter-spacing-h1:-1px;
  --font-letter-spacing-h2-std:0px;
  --font-letter-spacing-h2:-1px;
  --font-letter-spacing-h3:0px;
  --font-letter-spacing-h4:0px;
  --font-letter-spacing-h5:0px;
  --font-letter-spacing-intro:0px;
  --font-letter-spacing-lg:-1px;
  --font-letter-spacing-sm-body:0px;
  --font-m-height-body:24px;
  --font-m-height-disc:18px;
  --font-m-height-h1-std:38px;
  --font-m-height-h1:38px;
  --font-m-height-h2-std:38px;
  --font-m-height-h2:32px;
  --font-m-height-h3:29px;
  --font-m-height-h4:24px;
  --font-m-height-h5:24px;
  --font-m-height-intro:36px;
  --font-m-height-lg:48px;
  --font-m-height-sm-body:21px;
  --font-m-size-body:16px;
  --font-m-size-disc:12px;
  --font-m-size-h1-std:38px;
  --font-m-size-h1:38px;
  --font-m-size-h2-std:32px;
  --font-m-size-h2:32px;
  --font-m-size-h3:24px;
  --font-m-size-h4:20px;
  --font-m-size-h5:16px;
  --font-m-size-intro:24px;
  --font-m-size-lg:44px;
  --font-m-size-sm-body:14px;
  --font-t-height-body:24px;
  --font-t-height-disc:18px;
  --font-t-height-h1-std:44px;
  --font-t-height-h1:44px;
  --font-t-height-h2-std:39px;
  --font-t-height-h2:39px;
  --font-t-height-h3:29px;
  --font-t-height-h4:24px;
  --font-t-height-h5:24px;
  --font-t-height-intro:36px;
  --font-t-height-lg:56px;
  --font-t-height-sm-body:21px;
  --font-t-size-body:16px;
  --font-t-size-disc:12px;
  --font-t-size-h1-std:40px;
  --font-t-size-h1:40px;
  --font-t-size-h2-std:32px;
  --font-t-size-h2:32px;
  --font-t-size-h3:24px;
  --font-t-size-h4:20px;
  --font-t-size-h5:16px;
  --font-t-size-intro:24px;
  --font-t-size-lg:52px;
  --font-t-size-sm-body:14px;
  --font-weight-body-bold:600;
  --font-weight-body:400;
  --font-weight-disc:400;
  --font-weight-h1-std:500;
  --font-weight-h1:500;
  --font-weight-h2-std:500;
  --font-weight-h2:500;
  --font-weight-h3:500;
  --font-weight-h4:500;
  --font-weight-h5:500;
  --font-weight-intro:400;
  --font-weight-lg:500;
  --font-weight-rate-p-a:400;
  --font-weight-rate:900;
  --font-weight-sm-body:400;
  --lg-rate:150px;
  --radius-article-thumb:10px;
  --radius-button:24px;
  --radius-card:24px;
  --radius-footer-card:12px;
  --radius-hero:40px;
  --radius-info-well:8px;
  --radius-menu-link:0px;
  --stroke-button:2px;
  --width-logo-lg:150px;
  --width-logo-sm:100px;
  --bg-accent:var(--color-variants-bg-accent);
  --bg-default:var(--color-variants-bg-default);
  --bg-light-2:var(--color-variants-bg-light-2);
  --bg-light-3:var(--color-variants-bg-light-3);
  --bg-light:var(--color-variants-bg-light-1);
  --bg-reverse-2:var(--color-variants-bg-reverse);
  --bg-reverse:var(--color-variants-bg-reverse);
  --bg-transparent:var(--color-variants-bg-accent);
  --body-accent:var(--color-variants-body-default);
  --body-default:var(--color-variants-body-default);
  --body-light-2:var(--color-variants-body-default);
  --body-light-3:var(--color-variants-body-default);
  --body-light:var(--color-variants-body-default);
  --body-reverse-2:var(--color-variants-body-reverse-2);
  --body-reverse:var(--color-variants-body-reverse);
  --body-transparent:var(--color-variants-body-default);
  --burst-accent:var(--color-variants-burst-reverse);
  --burst-default:var(--color-variants-burst-default);
  --burst-light-2:var(--color-variants-burst-default);
  --burst-light-3:var(--color-variants-burst-default);
  --burst-light:var(--color-variants-burst-default);
  --burst-reverse-2:var(--color-variants-burst-default);
  --burst-reverse:var(--color-variants-burst-default);
  --burst-transparent:var(--color-variants-burst-reverse);
  --heading-accent:var(--color-variants-heading-default);
  --heading-default:var(--color-variants-heading-default);
  --heading-light-2:var(--color-variants-heading-default);
  --heading-light-3:var(--color-variants-heading-default);
  --heading-light:var(--color-variants-heading-default);
  --heading-reverse-2:var(--color-variants-heading-reverse-2);
  --heading-reverse:var(--color-variants-heading-reverse);
  --heading-transparent:var(--color-variants-heading-default);
  --icon-2-accent:var(--color-variants-heading-default);
  --icon-2-default:var(--color-variants-icon-default);
  --icon-2-light-2:var(--color-variants-icon-default);
  --icon-2-light-3:var(--color-variants-icon-default);
  --icon-2-light:var(--color-variants-icon-default);
  --icon-2-reverse-2:var(--color-variants-icon-reverse-2);
  --icon-2-reverse:var(--color-variants-icon-reverse);
  --icon-2-transparent:var(--color-variants-heading-default);
  --icon-accent:var(--color-variants-icon-accent);
  --icon-bg-accent:var(--color-variants-bg-reverse);
  --icon-bg-default:var(--color-variants-bg-reverse);
  --icon-bg-light-2:var(--color-variants-bg-default);
  --icon-bg-light-3:var(--color-variants-bg-default);
  --icon-bg-light:var(--color-variants-bg-default);
  --icon-bg-reverse-2:var(--color-variants-bg-light-2);
  --icon-bg-reverse:var(--color-variants-bg-default);
  --icon-bg-transparent:var(--color-variants-bg-reverse);
  --icon-default:var(--color-variants-icon-reverse);
  --icon-light-2:var(--color-variants-icon-default);
  --icon-light-3:var(--color-variants-icon-default);
  --icon-light:var(--color-variants-icon-default);
  --icon-reverse-2:var(--color-variants-icon-default);
  --icon-reverse:var(--color-variants-icon-default);
  --icon-transparent:var(--color-variants-icon-accent);
  --info-well-accent:#ffffff1a;
  --info-well-default:var(--color-variants-bg-light-4);
  --info-well-light-2:#ffffff4d;
  --info-well-light-3:#ffffff1a;
  --info-well-light:#ffffff;
  --info-well-reverse-2:#ffffff1a;
  --info-well-reverse:#ffffff1a;
  --info-well-transparent:var(--color-variants-bg-light-4);
  --line-accent:var(--color-variants-line-default);
  --line-default:var(--color-variants-line-default);
  --line-light-2:var(--color-variants-line-default);
  --line-light-3:var(--color-variants-line-default);
  --line-light:var(--color-variants-line-default);
  --line-reverse-2:var(--color-variants-line-reverse);
  --line-reverse:var(--color-variants-line-reverse);
  --line-transparent:var(--color-variants-line-default);
  --link-accent:var(--color-variants-link-default);
  --link-default:var(--color-variants-link-default);
  --link-light-2:var(--color-variants-link-default);
  --link-light-3:var(--color-variants-link-default);
  --link-light:var(--color-variants-link-default);
  --link-reverse-2:var(--color-variants-link-reverse-2);
  --link-reverse:var(--color-variants-link-reverse);
  --link-transparent:var(--color-variants-link-default);
  --number-list-accent:var(--color-variants-number-list-reverse);
  --number-list-default:var(--color-variants-number-list-default);
  --number-list-light-2:var(--color-variants-number-list-default);
  --number-list-light-3:var(--color-variants-number-list-default);
  --number-list-light:var(--color-variants-number-list-default);
  --number-list-reverse-2:var(--color-variants-number-list-reverse);
  --number-list-reverse:var(--color-variants-number-list-reverse);
  --number-list-transparent:var(--color-variants-number-list-default);
  --stroke-accent:var(--color-variants-stroke-accent);
  --stroke-default:var(--color-variants-stroke-primary);
  --stroke-light-2:var(--color-variants-stroke-primary);
  --stroke-light-3:var(--color-variants-stroke-primary);
  --stroke-light:var(--color-variants-stroke-primary);
  --stroke-reverse-2:var(--color-variants-stroke-reversed-2);
  --stroke-reverse:var(--color-variants-stroke-reversed);
  --stroke-transparent:var(--color-variants-stroke-accent);
  --carousel-card-fix:304px;
  --carousel-fix-x:244px;
  --col-1-2-2:640px;
  --col-1-4-4:640px;
  --device-width:1800px;
  --font-height-body:var(--font-d-height-body);
  --font-height-disclaimer:var(--font-d-height-disc);
  --font-height-h1-std:var(--font-d-height-h1-std);
  --font-height-h1:var(--font-d-height-h1);
  --font-height-h2-std:var(--font-d-height-h2-std);
  --font-height-h2:var(--font-d-height-h2);
  --font-height-h3:var(--font-d-height-h3);
  --font-height-h4:var(--font-d-height-h4);
  --font-height-h5:var(--font-d-height-h5);
  --font-height-intro:var(--font-d-height-intro);
  --font-height-lg:var(--font-d-height-lg);
  --font-height-sm-body:var(--font-d-height-sm-body);
  --font-size-body:var(--font-d-size-body);
  --font-size-disclaimer:var(--font-d-size-disc);
  --font-size-h1-std:var(--font-d-size-h1-std);
  --font-size-h1:var(--font-d-size-h1);
  --font-size-h2-std:var(--font-d-size-h2-std);
  --font-size-h2:var(--font-d-size-h2);
  --font-size-h3:var(--font-d-size-h3);
  --font-size-h4:var(--font-d-size-h4);
  --font-size-h5:var(--font-d-size-h5);
  --font-size-intro:var(--font-d-size-intro);
  --font-size-lg:var(--font-d-size-lg);
  --font-size-sm-body:var(--font-d-size-sm-body);
  --gap-container-y:var(--space-lg);
  --gap-gap-0-24-80:var(--space-2xl);
  --guide-count:12px;
  --guide-gutter:32px;
  --guide-width:80px;
  --jump-menu-fix:40px;
  --padding-jump-container-x:var(--space-sm);
  --padding-main-container-x:var(--space-xl);
  --padding-section-y:var(--space-2xl);
  --radius-hero:var(--radius-hero);
  --spacer:var(--space-sm);
  --width-logo:var(--width-logo-lg);
  --width-thumbnail:250px;
}

header{
  min-height:141px;
}

.d-none{
  display:none !important;
}

.spacer-bottom{
  margin-bottom:80px;
}

.spacer-top{
  margin-top:80px;
}

.top-margin{
  margin-top:80px;
}

.bottom-margin{
  margin-bottom:80px;
}

.top-padding{
  padding-top:80px;
}

.bottom-padding{
  padding-bottom:80px;
}

.bottom-partition{
  position:relative;
}
.bottom-partition::after{
  background:var(--line-default);
  bottom:0;
  content:"";
  height:1px;
  left:0;
  margin:0 auto;
  max-width:1312px;
  position:absolute;
  right:0;
  width:100%;
}

.momentum-saver-section{
  align-items:center;
  background-color:#fff;
  display:flex;
  flex-flow:column wrap;
  gap:80px;
  justify-content:space-between;
}
.momentum-saver-section .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}
.momentum-saver-section .momentum-columns{
  border-radius:var(--radius-card);
  display:flex;
  padding:64px;
}
.momentum-saver-section .momentum-columns > div{
  align-items:flex-start;
  gap:40px;
  order:unset;
}
.momentum-saver-section .momentum-columns .momentum-content{
  display:grid;
  grid-template-columns:1fr 3fr;
  max-width:350px;
  width:100%;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-num{
  color:var(--heading-default);
  font-family:var(--font-family-lg);
  font-size:140px;
  font-weight:var(--font-weight-rate);
  line-height:120px;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-unit{
  align-items:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  line-height:1;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-percent{
  color:var(--heading-default);
  font-family:var(--font-family-lg);
  font-size:80px;
  font-weight:var(--font-weight-rate);
  line-height:72px;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-pa{
  color:var(--heading-default);
  font-family:var(--font-family-h1-std);
  font-size:40px;
  font-weight:var(--font-weight-rate-p-a);
  line-height:28px;
  text-align:left;
}
.momentum-saver-section .momentum-columns .momentum-content p{
  color:var(--heading-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
  width:100%;
}
.momentum-saver-section .momentum-columns .momentum-second-content h1,
.momentum-saver-section .momentum-columns .momentum-second-content h2,
.momentum-saver-section .momentum-columns .momentum-second-content h3{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-style:normal;
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  margin-bottom:16px;
  text-transform:initial;
}
.momentum-saver-section .momentum-columns .momentum-second-content h4,
.momentum-saver-section .momentum-columns .momentum-second-content h5,
.momentum-saver-section .momentum-columns .momentum-second-content h6{
  color:var(--heading-default);
  font-family:var(--font-family-intro);
  font-size:var(--font-size-intro);
  font-weight:var(--font-weight-intro);
  letter-spacing:var(--font-letter-spacing-intro);
  line-height:var(--font-height-intro);
  margin-bottom:4px;
  text-transform:initial;
}
.momentum-saver-section .momentum-columns .momentum-second-content p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-bottom:24px;
  text-transform:initial;
}
.momentum-saver-section .momentum-columns .momentum-second-content p:has(a){
  display:flex;
  gap:8px;
}
.momentum-saver-section .momentum-columns .momentum-second-content p:has(a) a{
  display:block;
}
.momentum-saver-section .momentum-columns .momentum-second-content p:has(a) a span{
  display:block;
}
.momentum-saver-section .momentum-columns .momentum-second-content p:has(a) a svg{
  display:flex;
  height:40px;
  justify-content:flex-start;
  margin-top:32px;
  width:135px;
}
.momentum-saver-section .momentum-columns .momentum-second-content .button-container{
  margin-bottom:unset;
}
.momentum-saver-section .momentum-columns .momentum-second-content .button-container a{
  background-color:var(--color-button-primary-default);
  border:none;
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}
.momentum-saver-section .momentum-columns .momentum-second-content .button-container a:hover{
  background-color:var(--color-button-primary-hover);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}
.momentum-saver-section .momentum-columns .momentum-second-content .button-container a:active{
  background-color:var(--color-button-primary-press);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}
.momentum-saver-section .momentum-columns .momentum-second-content .button-container a:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.momentum-saver-section.background-color-teal{
  background-color:var(--bg-reverse);
}
.momentum-saver-section.background-color-teal .momentum-columns.background-color-white{
  background-color:var(--bg-default);
}

.momentum-saver-section.momentum-image-saver .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns{
  padding:0;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div{
  align-items:center;
  gap:24px;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .columns-img-col{
  max-width:519.5px;
  width:100%;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .columns-img-col img{
  border-radius:var(--radius-card);
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h1,
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h2,
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h3{
  font-family:var(--font-family-h1-std);
  font-size:var(--font-size-h1-std);
  font-weight:var(--font-weight-h1-std);
  letter-spacing:var(--font-letter-spacing-h1-std);
  line-height:var(--font-height-h1-std);
  text-transform:initial;
}

.momentum-image-saver.bg-image-saver{
  background-color:var(--heading-default);
}
.momentum-image-saver.bg-image-saver .momentum-second-content h1,
.momentum-image-saver.bg-image-saver .momentum-second-content h2,
.momentum-image-saver.bg-image-saver .momentum-second-content h3,
.momentum-image-saver.bg-image-saver .momentum-second-content h4,
.momentum-image-saver.bg-image-saver .momentum-second-content h5,
.momentum-image-saver.bg-image-saver .momentum-second-content h6,
.momentum-image-saver.bg-image-saver .momentum-second-content p{
  color:var(--body-reverse);
}
.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a{
  background-color:var(--color-button-secondary-default);
  border:none;
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}
.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a:hover{
  background-color:var(--color-button-secondary-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}
.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a:active{
  background-color:var(--color-button-secondary-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}
.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div{
  gap:80px;
}
.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .columns-img-col{
  max-width:unset;
  width:50%;
}
.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .momentum-second-content h1, .momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .momentum-second-content h2, .momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .momentum-second-content h3{
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  text-transform:initial;
}
.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .momentum-second-content p{
  margin-bottom:0;
}
.momentum-direct-variant .momentum-columns div .momentum-second-content ul{
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  gap:16px;
  margin-bottom:10px;
  max-width:unset;
  width:100%;
}
.momentum-direct-variant .momentum-columns div .momentum-second-content ul li{
  display:flex;
  flex-direction:row;
}
.momentum-direct-variant .momentum-columns div .momentum-second-content ul .icon-checkmark .icon-svg{
  color:var(--heading-default);
  height:32px;
  margin-right:16px;
  width:32px;
}

.product-navigation{
  margin-left:auto;
  margin-right:auto;
  margin-top:-40px;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  position:sticky;
  top:16px;
  width:100%;
  z-index:2;
}
.product-navigation .default-content-wrapper{
  align-items:center;
  background:var(--color-pagination-secondary-nav);
  border-radius:var(--radius-card);
  box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.09);
  display:flex;
  gap:16px;
  justify-content:space-between;
  padding:20px 24px;
}
.product-navigation .default-content-wrapper ul{
  align-items:center;
  display:flex;
  gap:16px;
  justify-content:flex-start;
  overflow-x:auto;
  position:relative;
}
.product-navigation .default-content-wrapper ul.show-fade{
  -webkit-mask-image:linear-gradient(to right, black calc(100% - 74.249px), transparent 100%);
  mask-image:linear-gradient(to right, black calc(100% - 74.249px), transparent 100%);
}
.product-navigation .default-content-wrapper ul:has(li:first-child a:focus-visible){
  padding-left:4px;
}
.product-navigation .default-content-wrapper ul:has(li:last-child a:focus-visible){
  padding-right:4px;
}
.product-navigation .default-content-wrapper ul li{
  border-radius:var(--radius-menu-link);
  padding:4px 0;
}
.product-navigation .default-content-wrapper ul li:has(a:focus-visible){
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  margin:4px 0;
}
.product-navigation .default-content-wrapper ul li a{
  color:var(--color-header-nav-primary);
  display:block;
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  min-width:-moz-max-content;
  min-width:max-content;
  padding:4px 0;
  position:relative;
  text-transform:initial;
}
.product-navigation .default-content-wrapper ul li a:focus-visible{
  outline:none;
}
.product-navigation .default-content-wrapper ul li a.active::after{
  left:0;
  right:unset;
  width:100%;
}
.product-navigation .default-content-wrapper ul li a::after{
  background:var(--color-header-nav-primary);
  bottom:0;
  content:"";
  height:2px;
  position:absolute;
  right:0;
  transition:all 0.2s ease-in-out;
  width:0;
}
.product-navigation .default-content-wrapper .button-container{
  min-width:-moz-fit-content;
  min-width:fit-content;
}
.product-navigation .default-content-wrapper .button-container a{
  background-color:var(--color-button-primary-default);
  border:none;
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}
.product-navigation .default-content-wrapper .button-container a:hover{
  background-color:var(--color-button-primary-hover);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}
.product-navigation .default-content-wrapper .button-container a:active{
  background-color:var(--color-button-primary-press);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}
.product-navigation .default-content-wrapper .button-container a:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.interest-table-section{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}
.interest-table-section .default-content-wrapper h1, .interest-table-section .default-content-wrapper h2{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  margin-bottom:40px;
  text-transform:initial;
}
.interest-table-section .default-content-wrapper .ul-0{
  border-bottom:4px solid var(--heading-default);
  display:flex;
  justify-content:flex-start;
}
.interest-table-section .default-content-wrapper .ul-0 li{
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  margin:0 0 16px;
  text-decoration:none;
  text-transform:initial;
  width:50%;
}
.interest-table-section .default-content-wrapper .ul-1{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}
.interest-table-section .default-content-wrapper .ul-1 li ul{
  display:flex;
  justify-content:flex-start;
}
.interest-table-section .default-content-wrapper .ul-1 li ul li{
  border-bottom:1px solid rgba(0, 0, 0, 0.2);
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  list-style:none;
  padding:16px 8px 16px 0;
  text-transform:initial;
  width:50%;
}
.interest-table-section .default-content-wrapper .ul-1 li ul li:nth-child(odd){
  padding:16px 8px 16px 0;
}
.interest-table-section .default-content-wrapper .ul-1 li ul li:nth-child(even){
  padding:16px 16px 16px 8px;
}
.interest-table-section .default-content-wrapper .ul-1:last-child > li:last-child li{
  border-bottom:0;
}
.interest-table-section .default-content-wrapper h3, .interest-table-section .default-content-wrapper h4{
  border-bottom:4px solid var(--heading-default);
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  padding:40px 0 16px;
  text-transform:initial;
}
.interest-table-section .default-content-wrapper p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  padding-top:16px;
  text-transform:initial;
}
.interest-table-section .default-content-wrapper h5{
  color:var(--body-default);
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-style:normal;
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  padding-top:16px;
  text-transform:initial;
}
.interest-table-section .default-content-wrapper h6{
  color:var(--body-default);
  font-family:var(--font-family-disc);
  font-size:var(--font-size-disclaimer);
  font-style:normal;
  font-weight:var(--font-weight-disc);
  letter-spacing:var(--font-letter-spacing-disc);
  line-height:var(--font-height-disclaimer);
  padding-top:16px;
  text-transform:initial;
}

.icon-library{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}
.icon-library .default-content-wrapper{
  display:grid;
  gap:24px;
  grid-template-columns:repeat(auto-fit, minmax(80px, 1fr));
}
.icon-library .icon-lib-wrap{
  align-items:center;
  display:flex;
  flex-wrap:wrap;
  gap:40px;
  grid-column:1/-1;
  margin-bottom:40px;
}
.icon-library .icon-lib-wrap h1{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  text-transform:initial;
  text-transform:uppercase;
}
.icon-library .icon-lib-wrap .search-inp-wrap{
  align-items:center;
  background-color:transparent;
  border:1px solid var(--line-default);
  border-radius:var(--radius-card);
  display:flex;
  flex-direction:row-reverse;
  gap:16px;
  padding:4px;
}
.icon-library .icon-lib-wrap .search-inp-wrap svg{
  background-color:var(--icon-bg-default);
  border-radius:50%;
  color:var(--icon-default);
  display:block;
  height:32px;
  padding:6px;
  width:32px;
}
.icon-library .icon-lib-wrap .search-inp-wrap input{
  background-color:transparent;
  border-radius:var(--radius-card);
  color:var(--body-default);
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  outline:none;
  padding:4px;
  text-transform:initial;
}
.icon-library p{
  align-items:center;
  border-radius:16px;
  box-shadow:rgba(0, 0, 0, 0.1) 0 4px 12px;
  cursor:pointer;
  display:flex;
  flex-direction:column-reverse;
  font-family:var(--font-family-disc);
  font-size:var(--font-size-disclaimer);
  font-weight:var(--font-weight-disc);
  gap:8px;
  justify-content:center;
  letter-spacing:var(--font-letter-spacing-disc);
  line-height:var(--font-height-disclaimer);
  padding:24px;
  text-transform:initial;
}
.icon-library p svg{
  color:var(--icon-reverse);
  height:40px;
  width:40px;
}
@media screen and (min-width: 1279px){
  .product-navigation .default-content-wrapper ul li a:hover::after{
    left:0;
    right:unset;
    width:100%;
  }
}
@media screen and (max-width: 1439px){
  :root{
    --carousel-fix-x:64px;
    --device-width:1344px;
    --guide-width:72px;
    --radius-hero:0px;
  }
}
@media screen and (max-width: 1279px){
  .top-margin{
    margin-top:64px;
  }
  .bottom-margin{
    margin-bottom:64px;
  }
  .top-padding{
    padding-top:64px;
  }
  .bottom-padding{
    padding-bottom:64px;
  }
  .bottom-partition::after{
    max-width:calc(100% - 48px);
  }
  .momentum-saver-section .columns-wrapper{
    padding-inline:24px;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper{
    padding-inline:24px;
  }
  .momentum-direct-variant .momentum-columns div{
    flex-direction:column-reverse;
  }
  .product-navigation{
    padding-inline:24px;
  }
  .interest-table-section{
    padding-inline:24px;
  }
  .icon-library{
    padding-inline:24px;
  }
  :root{
    --carousel-card-fix:280px;
    --carousel-fix-x:0px;
    --col-1-2-2:520px;
    --col-1-4-4:236px;
    --device-width:1112px;
    --font-height-body:var(--font-t-height-body);
    --font-height-disclaimer:var(--font-t-height-disc);
    --font-height-h1-std:var(--font-t-height-h1-std);
    --font-height-h1:var(--font-t-height-h1);
    --font-height-h2-std:var(--font-t-height-h2-std);
    --font-height-h2:var(--font-t-height-h2);
    --font-height-h3:var(--font-t-height-h3);
    --font-height-h5:var(--font-t-height-h5);
    --font-height-intro:var(--font-t-height-intro);
    --font-height-lg:var(--font-t-height-lg);
    --font-height-sm-body:var(--font-t-height-sm-body);
    --font-size-body:var(--font-t-size-body);
    --font-size-disclaimer:var(--font-t-size-disc);
    --font-size-h1-std:var(--font-t-size-h1-std);
    --font-size-h1:var(--font-t-size-h1);
    --font-size-h2-std:var(--font-t-size-h2-std);
    --font-size-h2:var(--font-t-size-h2);
    --font-size-h3:var(--font-t-size-h3);
    --font-size-h4:var(--font-t-size-h4);
    --font-size-h5:var(--font-t-size-h5);
    --font-size-intro:var(--font-t-size-intro);
    --font-size-lg:var(--font-t-size-lg);
    --font-size-sm-body:var(--font-t-size-sm-body);
    --gap-gap-0-24-80:var(--space-sm);
    --guide-count:8px;
    --guide-gutter:24px;
    --guide-width:112px;
    --jump-menu-fix:64px;
    --padding-main-container-x:var(--space-sm);
    --padding-section-y:var(--space-xl);
    --radius-hero:0px;
    --spacer:0px;
    --width-thumbnail:175px;
  }
}
@media screen and (max-width: 1023px){
  .spacer-bottom{
    margin-bottom:60px;
  }
  .spacer-top{
    margin-top:60px;
  }
  .momentum-saver-section .momentum-columns .momentum-content .rate-unit{
    align-items:unset;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content{
    display:block;
  }
  .momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div{
    gap:32px;
  }
  .momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .columns-img-col{
    max-width:unset;
    width:100%;
  }
  .product-navigation{
    background:var(--color-pagination-secondary-nav);
    box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.09);
    margin-top:-20px;
    padding-inline:0;
    top:0;
  }
  .product-navigation .default-content-wrapper{
    border-radius:0;
    box-shadow:none;
    padding:20px 24px;
  }
  .interest-table-section .default-content-wrapper .ul-1 li ul li:nth-child(even){
    text-align:left;
  }
  :root{
    --carousel-card-fix:264px;
    --carousel-fix-x:var(--space-sm);
    --col-1-2-2:360px;
    --col-1-4-4:360px;
    --device-width:792px;
    --font-height-body:var(--font-t-height-body);
    --font-height-disclaimer:var(--font-t-height-disc);
    --font-height-h1-std:var(--font-t-height-h1-std);
    --font-height-h1:var(--font-t-height-h1);
    --font-height-h2-std:var(--font-t-height-h2-std);
    --font-height-h2:var(--font-t-height-h2);
    --font-height-h3:var(--font-t-height-h3);
    --font-height-h5:var(--font-t-height-h5);
    --font-height-intro:var(--font-t-height-intro);
    --font-height-lg:var(--font-t-height-lg);
    --font-height-sm-body:var(--font-t-height-sm-body);
    --font-size-body:var(--font-t-size-body);
    --font-size-disclaimer:var(--font-t-size-disc);
    --font-size-h1-std:var(--font-t-size-h1-std);
    --font-size-h1:var(--font-t-size-h1);
    --font-size-h2-std:var(--font-t-size-h2-std);
    --font-size-h2:var(--font-t-size-h2);
    --font-size-h3:var(--font-t-size-h3);
    --font-size-h4:var(--font-t-size-h4);
    --font-size-h5:var(--font-t-size-h5);
    --font-size-intro:var(--font-t-size-intro);
    --font-size-lg:var(--font-t-size-lg);
    --font-size-sm-body:var(--font-t-size-sm-body);
    --gap-gap-0-24-80:var(--space-sm);
    --guide-count:8px;
    --guide-gutter:24px;
    --guide-width:72px;
    --jump-menu-fix:64px;
    --padding-main-container-x:var(--space-sm);
    --padding-section-y:var(--space-xl);
    --radius-hero:0px;
    --spacer:0px;
    --width-thumbnail:175px;
  }
}
@media screen and (max-width: 767px){
  header{
    min-height:60px;
  }
  .spacer-bottom{
    margin-bottom:40px;
  }
  .spacer-top{
    margin-top:40px;
  }
  .top-margin{
    margin-top:40px;
  }
  .bottom-margin{
    margin-bottom:40px;
  }
  .top-padding{
    padding-top:40px;
  }
  .bottom-padding{
    padding-bottom:40px;
  }
  .bottom-partition::after{
    max-width:calc(100% - 32px);
  }
  .momentum-saver-section .columns-wrapper{
    padding-inline:16px;
  }
  .momentum-saver-section .momentum-columns{
    align-items:flex-start;
    flex-direction:column;
    padding:40px 16px;
  }
  .momentum-saver-section .momentum-columns .momentum-content .rate-num{
    font-size:120px;
    font-style:normal;
    line-height:120px;
  }
  .momentum-saver-section .momentum-columns .momentum-content .rate-percent{
    font-size:78px;
    line-height:72px;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper{
    padding-inline:16px;
  }
  .product-navigation{
    margin-top:unset;
    padding-inline:16px;
  }
  .product-navigation .default-content-wrapper{
    overflow-x:auto;
    padding:11.5px 16px;
  }
  .product-navigation .default-content-wrapper ul{
    overflow-x:unset;
  }
  .interest-table-section{
    padding-inline:16px;
  }
  .interest-table-section .default-content-wrapper h1, .interest-table-section .default-content-wrapper h2{
    margin-bottom:24px;
  }
  .interest-table-section .default-content-wrapper .ul-1 li ul li:nth-child(even){
    text-align:left;
  }
  .icon-library{
    padding-inline:16px;
  }
  :root{
    --carousel-card-fix:300px;
    --carousel-fix-x:var(--space-xs);
    --col-1-2-2:528px;
    --col-1-4-4:528px;
    --device-width:560px;
    --font-height-body:var(--font-m-height-body);
    --font-height-disclaimer:var(--font-m-height-disc);
    --font-height-h1-std:var(--font-m-height-h1-std);
    --font-height-h1:var(--font-m-height-h1);
    --font-height-h2-std:var(--font-m-height-h2-std);
    --font-height-h2:var(--font-m-height-h2);
    --font-height-h3:var(--font-m-height-h3);
    --font-height-h4:var(--font-m-height-h4);
    --font-height-h5:var(--font-m-height-h5);
    --font-height-intro:var(--font-m-height-intro);
    --font-height-lg:var(--font-m-height-lg);
    --font-height-sm-body:var(--font-m-height-sm-body);
    --font-size-body:var(--font-m-size-body);
    --font-size-disclaimer:var(--font-m-size-disc);
    --font-size-h1-std:var(--font-m-size-h1-std);
    --font-size-h1:var(--font-m-size-h1);
    --font-size-h2-std:var(--font-m-size-h2-std);
    --font-size-h2:var(--font-m-size-h2);
    --font-size-h3:var(--font-m-size-h3);
    --font-size-h4:var(--font-m-size-h4);
    --font-size-h5:var(--font-m-size-h5);
    --font-size-intro:var(--font-m-size-intro);
    --font-size-lg:var(--font-m-size-lg);
    --font-size-sm-body:var(--font-m-size-sm-body);
    --gap-container-y:var(--space-sm);
    --gap-gap-0-24-80:0px;
    --guide-count:4px;
    --guide-gutter:16px;
    --guide-width:120px;
    --jump-menu-fix:64px;
    --padding-jump-container-x:var(--space-xs);
    --padding-main-container-x:var(--space-xs);
    --padding-section-y:var(--space-lg);
    --radius-hero:0px;
    --spacer:0px;
    --width-logo:var(--width-logo-sm);
    --width-thumbnail:175px;
  }
}
@media screen and (max-width: 480px){
  :root{
    --carousel-card-fix:300px;
    --carousel-fix-x:var(--space-xs);
    --col-1-2-2:368px;
    --col-1-4-4:368px;
    --device-width:400px;
    --font-height-body:var(--font-m-height-body);
    --font-height-disclaimer:var(--font-m-height-disc);
    --font-height-h1-std:var(--font-m-height-h1-std);
    --font-height-h1:var(--font-m-height-h1);
    --font-height-h2-std:var(--font-m-height-h2-std);
    --font-height-h2:var(--font-m-height-h2);
    --font-height-h3:var(--font-m-height-h3);
    --font-height-h4:var(--font-m-height-h4);
    --font-height-h5:var(--font-m-height-h5);
    --font-height-intro:var(--font-m-height-intro);
    --font-height-lg:var(--font-m-height-lg);
    --font-height-sm-body:var(--font-m-height-sm-body);
    --font-size-body:var(--font-m-size-body);
    --font-size-disclaimer:var(--font-m-size-disc);
    --font-size-h1-std:var(--font-m-size-h1-std);
    --font-size-h1:var(--font-m-size-h1);
    --font-size-h2-std:var(--font-m-size-h2-std);
    --font-size-h2:var(--font-m-size-h2);
    --font-size-h3:var(--font-m-size-h3);
    --font-size-h4:var(--font-m-size-h4);
    --font-size-h5:var(--font-m-size-h5);
    --font-size-intro:var(--font-m-size-intro);
    --font-size-lg:var(--font-m-size-lg);
    --font-size-sm-body:var(--font-m-size-sm-body);
    --gap-container-y:var(--space-sm);
    --gap-gap-0-24-80:0px;
    --guide-count:4px;
    --guide-gutter:16px;
    --jump-menu-fix:64px;
    --padding-jump-container-x:var(--space-xs);
    --padding-main-container-x:var(--space-xs);
    --padding-section-y:var(--space-lg);
    --radius-hero:0px;
    --spacer:0px;
    --width-logo:var(--width-logo-sm);
    --width-thumbnail:175px;
  }
}
@media screen and (max-width: 400px){
  .momentum-saver-section .momentum-columns .momentum-content .rate-num{
    font-size:108px;
  }
  .momentum-saver-section .momentum-columns .momentum-content .rate-percent{
    font-size:70px;
  }
  .momentum-saver-section .momentum-columns .momentum-content .rate-pa{
    font-size:32px;
  }
}
@media (prefers-reduced-motion: reduce){
  *{
    animation-duration:0.01ms !important;
    animation-iteration-count:1 !important;
    scroll-behavior:auto !important;
    transition-duration:0.01ms !important;
  }
}
