@use '../reset';

:root {
  /* ---------- BORDER VARIABLES ---------- */

  --border-primary: #0a0f0d; // colour/neutral/charcoal
  --border-brand: #279b9b; // colour/teal/corporate-teal
  --border-error: #e34850; // colour/red/red

  /* ---------- BORDER VARIABLES ---------- */


  /* ---------- TEXT VARIABLES ---------- */

  --text-primary: #000; // colour/neutral/black
  --text-secondary: #4b4b4b; // colour/neutral/dark-grey
  --text-inverse: #fff; // colour/neutral/white
  --text-light: #fff7d6; // colour/yellow/cream
  --text-brand: #279b9b; // colour/teal/teal
  --text-brand-secondary: #1a6e6e; // colour/teal/dark-corporate-teal

  /* -------------------- */
  --text-primary-cta: #fff7d6; // colour/yellow/cream
  --text-secondary-cta: #279b9b; // colour/teal/teal
  --text-accent-cta: #279b9b; // colour/teal/teal
  --text-disabled: #bdbdbd; // colour/neutral/grey
  --text-error: #e34850; // colour/red/red

  /* -------------------- */
  --text-ghost-default: #279b9b; // colour/teal/teal
  --text-ghost-hover: #000; // colour/neutral/black
  --text-ghost-focused: #000; // colour/neutral/black
  --text-ghost-disabled: #bdbdbd; // colour/neutral/grey
  --text-ghost-active: #1a6e6e; // colour/teal/dark-corporate-teal

  /* ---------- TEXT VARIABLES ---------- */


  /* ---------- SURFACE VARIABLES ---------- */
  
  --surface-primary: #e6e6e6; // colour/neutral/cool-grey
  --surface-secondary: #f2f2f2; // colour/neutral/grey
  --surface-overlay: #4b4b4b80; // colour/neutral/dark-grey-50
  --surface-brand: #279b9b; // colour/teal/teal
  --surface-login-cta: #fff7d6; // colour/yellow/cream

  /* -------------------- */
  --surface-primary-cta: #279b9b; // colour/teal/teal
  --surface-prim-hover-cta: #1a6e6e; // colour/teal/dark-teal
  --surface-prim-active-cta: #0a0f0d; // colour/neutral/charcoal

  /* -------------------- */
  --surface-secondary-cta: #d9e8ed; // colour/blue/grey-blue
  --surface-sec-hover-cta: #1a6e6e; // colour/teal/dark-corporate-teal

  /* -------------------- */
  --surface-accent-cta: #fff7d6; // colour/yellow/cream
  --surface-accent-hover-cta: #edf7bf; // colour/yellow/pale-lime
  --surface-accent-active-cta: #fff2a6; // colour/yellow/pastel-yellow

  /* -------------------- */
  --surface-disabled-cta: #ccc; // colour/neutral/pale-grey
  --surface-highlight: #b8e8e6; // colour/teal/teal-10

  /* ---------- SURFACE VARIABLES ---------- */


  /* ---------- VIEWPORT VARIABLES ---------- */

  --desktop: 1025px;
  --tablet: 1024px;
  --mobile: 768px;

  /* ---------- VIEWPORT VARIABLES ---------- */


  /* ---------- FONTS VARIABLES ---------- */

  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'American Grotesk', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- FONTS VARIABLES ---------- */
}

body {
  font-family: var(--primary-font);
}