.section.legal-privacy.columns-container .columns-wrapper .block div div:has(ul) ul{
  margin-top:10px;
}

.section.legal-privacy.columns-container .columns-wrapper .block div div:has(ul) ul li{
  color:#121212;
  text-decoration:none;
}

.section.legal-privacy.columns-container .columns-wrapper .block div div:has(ul) ul li::marker{
  color:#121212 !important;
}

.section.legal-privacy.columns-container .columns-wrapper .block div div h3:first-child, .section.legal-privacy.columns-container .columns-wrapper .block div div h4:first-child{
  margin-top:0;
}

.section.legal-privacy.columns-container .columns-wrapper .block div div h5{
  color:var(--body-default);
  font-size:var(--font-size-body);
  font-weight:400;
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
}

.section.legal-privacy.columns-container .columns-wrapper .block div div h6{
  color:var(--body-default);
  font-size:var(--font-size-disclaimer);
  font-style:normal;
  font-weight:400;
  letter-spacing:var(--font-letter-spacing-disc);
  line-height:var(--font-height-disclaimer);
  margin-top:unset;
}

.section.legal-privacy.columns-container .columns-wrapper .block div div h6 a{
  color:var(--link-default);
  font-size:var(--font-size-disclaimer);
  font-style:normal;
  font-weight:400;
  letter-spacing:var(--font-letter-spacing-disc);
  line-height:var(--font-height-disclaimer);
  text-decoration-line:underline;
  -webkit-text-decoration-skip:ink;
          text-decoration-skip-ink:auto;
  text-decoration-style:solid;
  text-decoration-thickness:auto;
  text-underline-offset:auto;
  text-underline-position:from-font;
}
