@use '../../styles/base' as *;

.section.legal-privacy.columns-container{
    .columns-wrapper{
        .block{
            div{
                div{
                    &:has(ul){
                            ul{
                                margin-top: 10px;

                                li{
                                    color: #121212;
                                    text-decoration: none;

                                    &::marker{
                                            color: #121212 !important;
                                        }
                                }
                            }
                    }

                    h3,h4,h5,h6{
                        &:first-child{
                            margin-top: 0;
                        }
                    }
                    
                }
            }
            
        }
    }
}