@use '../../styles/base' as *;

.legal-privacy{
    .column-wrapper{
        .block{
            ul{
                li{
                    ul{
                        li{
                            list-style: none;
                        }
                    }
                }
            }
        }
    }
}