@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.section.bankinggoodsnew-container {
  max-width: 1328px;
  margin: 0 auto;
  padding: 60px 40px;

  .bankinggoodsnew-wrapper {
    .bankinggoodsnew.block {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: repeat(2, auto);   
      column-gap: 32px;                      
      row-gap: 32px;                        

      @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 24px;
      }
    }
  }
}
