.section.bankinggoodsnew-container{
  margin:0 auto;
  max-width:1328px;
  padding:60px 40px;
}

.section.bankinggoodsnew-container .bankinggoodsnew-wrapper .bankinggoodsnew.block{
  -moz-column-gap:32px;
       gap:32px;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(2, auto);
}

@media screen and (max-width: 1023px){
  .section.bankinggoodsnew-container .bankinggoodsnew-wrapper .bankinggoodsnew.block{
    grid-template-columns:1fr;
    grid-template-rows:auto;
    row-gap:24px;
  }
}
