:root {
    /* ---------- FONTS VARIABLES ---------- */
  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'American Grotesk', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- CUSTOM VARIABLES ---------- */
  --gradient-1: linear-gradient(46.23deg, #59ffa0 1.03%, #1be7ff 98.97%);
  --gradient-2: linear-gradient(46.23deg, #59ffa0 1.03%, #1be7ff 98.97%);
  --gradient-after: linear-gradient(46.23deg, #59ffa0 1.03%, #1be7ff 98.97%);
}