:root {
  /* ---------- FONTS VARIABLES ---------- */
  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'DIN Next W1G', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;

  /* ---------- FONT FAMILY VARIABLES ---------- */
  --gradient-1: #e6f7fe;
}