@use '../reset';
@import '../../libs/aos/aos.min.css';

:root {
  /* ---------- BORDER VARIABLES ---------- */

  --border-primary: #0b231f; /* from "border-primary" */
  --border-brand: #00a8b8;   /* from "border-brand" */
  --border-error: #e52336;   /* from "border-error" */

  /* ---------- BORDER VARIABLES ---------- */


  /* ---------- TEXT VARIABLES ---------- */

  --text-primary: #000; /* from "text-primary" */
  --text-secondary: #565659; /* from "text-secondary" */
  --text-inverse: #fff; /* from "text-inverse" */
  --text-light: #f5f8de; /* from "text-light" */
  --text-brand: #00525b; /* from "text-brand" */
  --text-brand-secondary: #009bab; /* from "text-brand secondary" */

  /* -------------------- */
  --text-primary-cta: #f5f8de; /* from "text-primarycta" */
  --text-secondary-cta: #00525b; /* from "text-secondarycta" */
  --text-accent-cta: #00525b; /* from "text-accentcta" */
  --text-disabled: #d9dadb; /* from "text-disabled" */
  --text-error: #e52336; /* from "text-error" */

  /* -------------------- */
  --text-ghost-default: #00525b; /* from "text -ghost default" */
  --text-ghost-hover: #000; /* from "text -ghost hover" */
  --text-ghost-focused: #000; /* from "text -ghost focused" */
  --text-ghost-disabled: #d9dadb; /* from "text -ghost disabled" */
  --text-ghost-active: #009bab; /* from "text -ghost active" */

  /* ---------- TEXT VARIABLES ---------- */


  /* ---------- SURFACE VARIABLES ---------- */
  
  --surface-primary: #f4f4f5; /* from "surface-primary" */
  --surface-secondary: #d9dadb; /* from "surface-secondary" */
  --surface-overlay: #565659; /* from "surface-overlay" */
  --surface-brand: #00525b; /* from "surface-brand" */
  --surface-light: #fafafa; /* from "surface-light" */
  --surface-login-cta: #f5f8de; /* from "surface-login cta" */

  /* -------------------- */
  --surface-primary-cta: #00525b; /* from "surface-primary cta" */
  --surface-prim-hover-cta: #014047; /* from "surface-primhover cta" */
  --surface-prim-active-cta: #0b231f; /* from "surface-primactive cta" */

  /* -------------------- */
  --surface-secondary-cta: #f3f5f6; /* from "surface-secondary cta" */
  --surface-sec-hover-cta: #009bab; /* from "surface-sechover cta" */

  /* -------------------- */
  --surface-accent-cta: #f5f8de; /* from "surface-accent cta" */
  --surface-accent-hover-cta: #f9ffc8; /* from "surface-accenthover cta" */
  --surface-accent-active-cta: #fff67f; /* from "surface-accentactive cta" */

  /* -------------------- */
  --surface-disabled-cta: #efefef; /* from "surface-disabledcta" */
  --surface-highlight: #00525b; /* from "surface-highlight" */

  /* ---------- SURFACE VARIABLES ---------- */


  /* ---------- FONTS VARIABLES ---------- */

  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'American Grotesk', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- FONT FAMILY VARIABLES ---------- */

  --gradient-1: linear-gradient(46.23deg, #59ffa0 1.03%, #1be7ff 98.97%);

  /* ---------- OTHER VARIABLES ---------- */
  --bg-accent: #59ffa0;
  --bg-default: #ffffff;
  --bg-light-2: #f5f8de;
  --bg-light-3: #1be7ff;
  --bg-light: #fafbee;
  --bg-reverse-2: #00525b;
  --bg-reverse: #00525b;
  --body-accent: #0b231f;
  --body-default: #0b231f;
  --body-light-2: #0b231f;
  --body-light-3: #0b231f;
  --body-light: #0b231f;
  --body-reverse-2: #f5f8de;
  --body-reverse: #ffffff;
  --burst-accent: #00525b;
  --burst-default: #59ffa0;
  --burst-light-2: #59ffa0;
  --burst-light-3: #59ffa0;
  --burst-light: #59ffa0;
  --burst-reverse-2: #59ffa0;
  --burst-reverse: #59ffa0;
  --heading-accent: #00525b;
  --heading-default: #00525b;
  --heading-light-2: #00525b;
  --heading-light-3: #00525b;
  --heading-light: #00525b;
  --heading-reverse-2: #f5f8de;
  --heading-reverse: #ffffff;
  --icon-2-accent: #00525b;
  --icon-2-default: #00525b;
  --icon-2-light-2: #00525b;
  --icon-2-light-3: #00525b;
  --icon-2-light: #00525b;
  --icon-2-reverse-2: #f5f8de;
  --icon-2-reverse: #ffffff;
  --icon-accent: #59ffa0;
  --icon-bg-accent: #00525b;
  --icon-bg-default: #00525b;
  --icon-bg-light-2: #ffffff;
  --icon-bg-light-3: #ffffff;
  --icon-bg-light: #ffffff;
  --icon-bg-reverse-2: #f5f8de;
  --icon-bg-reverse: #ffffff;
  --icon-default: #ffffff;
  --icon-light-2: #00525b;
  --icon-light-3: #00525b;
  --icon-light: #00525b;
  --icon-reverse-2: #00525b;
  --icon-reverse: #00525b;
  --line-accent: #00000033;
  --line-default: #00000033;
  --line-light-2: #00000033;
  --line-light-3: #00000033;
  --line-light: #00000033;
  --line-reverse-2: #ffffff1a;
  --line-reverse: #ffffff1a;
  --link-accent: #00525b;
  --link-default: #00525b;
  --link-light-2: #00525b;
  --link-light-3: #00525b;
  --link-light: #00525b;
  --link-reverse-2: #f5f8de;
  --link-reverse: #ffffff;
  --stroke-accent: #59ffa0;
  --stroke-default: #00525b;
  --stroke-light-2: #00525b;
  --stroke-light-3: #00525b;
  --stroke-light: #00525b;
  --stroke-reverse-2: #f5f8de;
  --stroke-reverse: #ffffff;
}
