@forward './base-custom';
@import '../../libs/aos/aos.min.css';

:root {
  --color-button-outlined-default: #ffffff03; /* from "color/button/outlined/default" */
  --color-button-outlined-hover: #00525b1a; /* from "color/button/outlined/hover" */
  --color-button-outlined-press: #00525b33; /* from "color/button/outlined/press" */
  --color-button-outlined-reverse-default: #ffffff03; /* from "color/button/outlined-reverse/default" */
  --color-button-outlined-reverse-hover: #0000001a; /* from "color/button/outlined-reverse/hover" */
  --color-button-outlined-reverse-press: #00000033; /* from "color/button/outlined-reverse/press" */
  --color-button-primary-default: #00525b; /* from "color/button/primary/default" */
  --color-button-primary-hover: #014249; /* from "color/button/primary/hover" */
  --color-button-primary-press: #002d32; /* from "color/button/primary/press" */
  --color-button-secondary-default: #f5f8de; /* from "color/button/secondary/default" */
  --color-button-secondary-hover: #f3f1c5; /* from "color/button/secondary/hover" */
  --color-button-secondary-press: #ede4a8; /* from "color/button/secondary/press" */
  --color-button-text-stroke-default: #00525b; /* from "color/button/text-stroke/default" */
  --color-button-text-stroke-hover: #00525b; /* from "color/button/text-stroke/hover" */
  --color-button-text-stroke-press: #00525b; /* from "color/button/text-stroke/press" */
  --color-button-text-stroke-reverse: #ffffff; /* from "color/button/text-stroke/reverse" */
  --color-button-white-default: #ffffff; /* from "color/button/white/default" */
  --color-button-white-hover: #e6eeef; /* from "color/button/white/hover" */
  --color-button-white-press: #ccdcde; /* from "color/button/white/press" */
  --color-focus-default: #009bab; /* from "color/focus/default" */
  --color-focus-reversed: #ffffff; /* from "color/focus/reversed" */
  --color-footer-info: #00525b12; /* from "color/footer/info" */
  --color-header-frame: #19636b; /* from "color/header/frame" */
  --color-header-icon-2: #f5f8de; /* from "color/header/icon-2" */
  --color-header-icon: #ffffff; /* from "color/header/icon" */
  --color-header-light: #fafbee; /* from "color/header/light" */
  --color-header-nav-primary: #00525b; /* from "color/header/nav/primary" */
  --color-header-nav-secondary: #ffffff; /* from "color/header/nav/secondary" */
  --color-header-nav: #00525b; /* from "color/header/nav" */
  --color-header-search: #19636b; /* from "color/header/search" */
  --color-pagination-secondary-nav: #ffffff; /* from "color/pagination/secondary-nav" */
  --color-pagination-selected: #00525b; /* from "color/pagination/selected" */
  --color-pagination-surface: #ffffff; /* from "color/pagination/surface" */
  --color-pagination-unselected: #00525b99; /* from "color/pagination/unselected" */
  --color-placeholder-default: #0b231f99; /* from "color/placeholder/default" */
  --color-placeholder-reverse-2: #ffffff4d; /* from "color/placeholder/reverse-2" */
  --color-placeholder-reverse: #ffffff99; /* from "color/placeholder/reverse" */
  --color-variants-bg-accent: #59ffa0; /* from "color/variants/bg/accent" */
  --color-variants-bg-default: #ffffff; /* from "color/variants/bg/default" */
  --color-variants-bg-light-1: #fafbee; /* from "color/variants/bg/light-1" */
  --color-variants-bg-light-2: #f5f8de; /* from "color/variants/bg/light-2" */
  --color-variants-bg-light-3: #59ffa01a; /* from "color/variants/bg/light-3" */
  --color-variants-bg-light-4: #1be7ff12; /* from "color/variants/bg/light-4" */
  --color-variants-bg-promo: #00525bcc; /* from "color/variants/bg/promo" */
  --color-variants-bg-reverse: #00525b; /* from "color/variants/bg/reverse" */
  --color-variants-body-default: #0b231f; /* from "color/variants/body/default" */
  --color-variants-body-reverse-2: #f5f8de; /* from "color/variants/body/reverse-2" */
  --color-variants-body-reverse: #ffffff; /* from "color/variants/body/reverse" */
  --color-variants-burst-default: #59ffa0; /* from "color/variants/burst/default" */
  --color-variants-burst-reverse: #00525b; /* from "color/variants/burst/reverse" */
  --color-variants-heading-default: #00525b; /* from "color/variants/heading/default" */
  --color-variants-heading-reverse-2: #f5f8de; /* from "color/variants/heading/reverse-2" */
  --color-variants-heading-reverse: #ffffff; /* from "color/variants/heading/reverse" */
  --color-variants-icon-accent: #59ffa0; /* from "color/variants/icon/accent" */
  --color-variants-icon-default: #00525b; /* from "color/variants/icon/default" */
  --color-variants-icon-reverse-2: #f5f8de; /* from "color/variants/icon/reverse-2" */
  --color-variants-icon-reverse: #ffffff; /* from "color/variants/icon/reverse" */
  --color-variants-line-default: #00000033; /* from "color/variants/line/default" */
  --color-variants-line-reverse: #ffffff1a; /* from "color/variants/line/reverse" */
  --color-variants-link-default: #00525b; /* from "color/variants/link/default" */
  --color-variants-link-reverse-2: #f5f8de; /* from "color/variants/link/reverse-2" */
  --color-variants-link-reverse: #ffffff; /* from "color/variants/link/reverse" */
  --color-variants-number-list-default: #00525b1a; /* from "color/variants/number-list/default" */
  --color-variants-number-list-reverse: #ffffff1a; /* from "color/variants/number-list/reverse" */
  --color-variants-stroke-accent: #59ffa0; /* from "color/variants/stroke/accent" */
  --color-variants-stroke-primary: #00525b; /* from "color/variants/stroke/primary" */
  --color-variants-stroke-reversed-2: #f5f8de; /* from "color/variants/stroke/reversed-2" */
  --color-variants-stroke-reversed: #ffffff; /* from "color/variants/stroke/reversed" */
  --color-variants-stroke-secondary: #0b231f; /* from "color/variants/stroke/secondary" */
  --font-d-height-body: 24px; /* from "font/--D/height/body" */
  --font-d-height-disc: 18px; /* from "font/--D/height/disc" */
  --font-d-height-h1-std: 44px; /* from "font/--D/height/h1-std" */
  --font-d-height-h1: 40px; /* from "font/--D/height/h1" */
  --font-d-height-h2-std: 39px; /* from "font/--D/height/h2-std" */
  --font-d-height-h2: 32px; /* from "font/--D/height/h2" */
  --font-d-height-h3: 29px; /* from "font/--D/height/h3" */
  --font-d-height-h4: 24px; /* from "font/--D/height/h4" */
  --font-d-height-h5: 24px; /* from "font/--D/height/h5" */
  --font-d-height-intro: 36px; /* from "font/--D/height/intro" */
  --font-d-height-lg: 52px; /* from "font/--D/height/lg" */
  --font-d-height-sm-body: 21px; /* from "font/--D/height/sm-body" */
  --font-d-size-body: 16px; /* from "font/--D/size/body" */
  --font-d-size-disc: 12px; /* from "font/--D/size/disc" */
  --font-d-size-h1-std: 40px; /* from "font/--D/size/h1-std" */
  --font-d-size-h1: 40px; /* from "font/--D/size/h1" */
  --font-d-size-h2-std: 32px; /* from "font/--D/size/h2-std" */
  --font-d-size-h2: 32px; /* from "font/--D/size/h2" */
  --font-d-size-h3: 24px; /* from "font/--D/size/h3" */
  --font-d-size-h4: 20px; /* from "font/--D/size/h4" */
  --font-d-size-h5: 16px; /* from "font/--D/size/h5" */
  --font-d-size-intro: 24px; /* from "font/--D/size/intro" */
  --font-d-size-lg: 60px; /* from "font/--D/size/lg" */
  --font-d-size-sm-body: 14px; /* from "font/--D/size/sm-body" */
  --font-family-body-bold: var(--primary-font); /* from "font/family/body-bold" */
  --font-family-body: var(--primary-font); /* from "font/family/body" */
  --font-family-disc: var(--primary-font); /* from "font/family/disc" */
  --font-family-h1-std: var(--primary-font); /* from "font/family/h1-std" */
  --font-family-h1: var(--secondary-font); /* from "font/family/h1" */
  --font-family-h2-std: var(--primary-font); /* from "font/family/h2-std" */
  --font-family-h2: var(--secondary-font); /* from "font/family/h2" */
  --font-family-h3: var(--primary-font); /* from "font/family/h3" */
  --font-family-h4: var(--primary-font); /* from "font/family/h4" */
  --font-family-h5: var(--primary-font); /* from "font/family/h5" */
  --font-family-intro: var(--primary-font); /* from "font/family/intro" */
  --font-family-lg: var(--secondary-font); /* from "font/family/lg" */
  --font-family-sm-body: var(--primary-font); /* from "font/family/sm-body" */
  --font-letter-spacing-body: 0px; /* from "font/letter-spacing/body" */
  --font-letter-spacing-disc: 0px; /* from "font/letter-spacing/disc" */
  --font-letter-spacing-h1-std: 0px; /* from "font/letter-spacing/h1-std" */
  --font-letter-spacing-h1: 2px; /* from "font/letter-spacing/h1" */
  --font-letter-spacing-h2-std: 0px; /* from "font/letter-spacing/h2-std" */
  --font-letter-spacing-h2: 2px; /* from "font/letter-spacing/h2" */
  --font-letter-spacing-h3: 0px; /* from "font/letter-spacing/h3" */
  --font-letter-spacing-h4: 0px; /* from "font/letter-spacing/h4" */
  --font-letter-spacing-h5: 0px; /* from "font/letter-spacing/h5" */
  --font-letter-spacing-intro: 0px; /* from "font/letter-spacing/intro" */
  --font-letter-spacing-lg: 2px; /* from "font/letter-spacing/lg" */
  --font-letter-spacing-sm-body: 0px; /* from "font/letter-spacing/sm-body" */
  --font-m-height-body: 24px; /* from "font/--M/height/body" */
  --font-m-height-disc: 18px; /* from "font/--M/height/disc" */
  --font-m-height-h1-std: 42px; /* from "font/--M/height/h1-std" */
  --font-m-height-h1: 38px; /* from "font/--M/height/h1" */
  --font-m-height-h2-std: 38px; /* from "font/--M/height/h2-std" */
  --font-m-height-h2: 32px; /* from "font/--M/height/h2" */
  --font-m-height-h3: 29px; /* from "font/--M/height/h3" */
  --font-m-height-h4: 24px; /* from "font/--M/height/h4" */
  --font-m-height-h5: 24px; /* from "font/--M/height/h5" */
  --font-m-height-intro: 36px; /* from "font/--M/height/intro" */
  --font-m-height-lg: 39px; /* from "font/--M/height/lg" */
  --font-m-height-sm-body: 21px; /* from "font/--M/height/sm-body" */
  --font-m-size-body: 16px; /* from "font/--M/size/body" */
  --font-m-size-disc: 12px; /* from "font/--M/size/disc" */
  --font-m-size-h1-std: 38px; /* from "font/--M/size/h1-std" */
  --font-m-size-h1: 38px; /* from "font/--M/size/h1" */
  --font-m-size-h2-std: 32px; /* from "font/--M/size/h2-std" */
  --font-m-size-h2: 32px; /* from "font/--M/size/h2" */
  --font-m-size-h3: 24px; /* from "font/--M/size/h3" */
  --font-m-size-h4: 20px; /* from "font/--M/size/h4" */
  --font-m-size-h5: 16px; /* from "font/--M/size/h5" */
  --font-m-size-intro: 24px; /* from "font/--M/size/intro" */
  --font-m-size-lg: 44px; /* from "font/--M/size/lg" */
  --font-m-size-sm-body: 14px; /* from "font/--M/size/sm-body" */
  --font-t-height-body: 24px; /* from "font/--T/height/body" */
  --font-t-height-disc: 18px; /* from "font/--T/height/disc" */
  --font-t-height-h1-std: 44px; /* from "font/--T/height/h1-std" */
  --font-t-height-h1: 40px; /* from "font/--T/height/h1" */
  --font-t-height-h2-std: 39px; /* from "font/--T/height/h2-std" */
  --font-t-height-h2: 32px; /* from "font/--T/height/h2" */
  --font-t-height-h3: 29px; /* from "font/--T/height/h3" */
  --font-t-height-h4: 24px; /* from "font/--T/height/h4" */
  --font-t-height-h5: 24px; /* from "font/--T/height/h5" */
  --font-t-height-intro: 36px; /* from "font/--T/height/intro" */
  --font-t-height-lg: 45px; /* from "font/--T/height/lg" */
  --font-t-height-sm-body: 21px; /* from "font/--T/height/sm-body" */
  --font-t-size-body: 16px; /* from "font/--T/size/body" */
  --font-t-size-disc: 12px; /* from "font/--T/size/disc" */
  --font-t-size-h1-std: 40px; /* from "font/--T/size/h1-std" */
  --font-t-size-h1: 40px; /* from "font/--T/size/h1" */
  --font-t-size-h2-std: 32px; /* from "font/--T/size/h2-std" */
  --font-t-size-h2: 32px; /* from "font/--T/size/h2" */
  --font-t-size-h3: 24px; /* from "font/--T/size/h3" */
  --font-t-size-h4: 20px; /* from "font/--T/size/h4" */
  --font-t-size-h5: 16px; /* from "font/--T/size/h5" */
  --font-t-size-intro: 24px; /* from "font/--T/size/intro" */
  --font-t-size-lg: 52px; /* from "font/--T/size/lg" */
  --font-t-size-sm-body: 14px; /* from "font/--T/size/sm-body" */
  --font-weight-body-bold: 600; /* from "font/weight/body-bold" */
  --font-weight-body: 400; /* from "font/weight/body" */
  --font-weight-disc: 400; /* from "font/weight/disc" */
  --font-weight-h1-std: 500; /* from "font/weight/h1-std" */
  --font-weight-h1: 900; /* from "font/weight/h1" */
  --font-weight-h2-std: 500; /* from "font/weight/h2-std" */
  --font-weight-h2: 900; /* from "font/weight/h2" */
  --font-weight-h3: 500; /* from "font/weight/h3" */
  --font-weight-h4: 500; /* from "font/weight/h4" */
  --font-weight-h5: 500; /* from "font/weight/h5" */
  --font-weight-intro: 400; /* from "font/weight/intro" */
  --font-weight-lg: 900; /* from "font/weight/lg" */
  --font-weight-rate-p-a: 400; /* from "font/weight/rate-p-a" */
  --font-weight-rate: 900; /* from "font/weight/rate" */
  --font-weight-sm-body: 400; /* from "font/weight/sm-body" */
  --lg-rate: 150px; /* from "lg-rate" */
  --radius-article-thumb: 10px; /* from "radius/article-thumb" */
  --radius-button: 24px; /* from "radius/button" */
  --radius-card: 24px; /* from "radius/card" */
  --radius-footer-card: 12px; /* from "radius/footer-card" */
  --radius-hero: 40px; /* from "radius/hero" */
  --radius-info-well: 8px; /* from "radius/info-well" */
  --radius-menu-link: 4px; /* from "radius/menu-link" */
  --stroke-button: 2px; /* from "stroke/button" */
  --width-logo-lg: 150px; /* from "width/logo/lg" */
  --width-logo-sm: 100px; /* from "width/logo/sm" */

  /* --- VARIANTS (Mapped) --- */
  --bg-accent: var(--color-variants-bg-accent);
  --bg-default: var(--color-variants-bg-default);
  --bg-light-2: var(--color-variants-bg-light-2);
  --bg-light-3: var(--color-variants-bg-light-3);
  --bg-light: var(--color-variants-bg-light-1);
  --bg-reverse-2: var(--color-variants-bg-reverse);
  --bg-reverse: var(--color-variants-bg-reverse);
  --bg-transparent: var(--color-variants-bg-accent);
  --body-accent: var(--color-variants-body-default);
  --body-default: var(--color-variants-body-default);
  --body-light-2: var(--color-variants-body-default);
  --body-light-3: var(--color-variants-body-default);
  --body-light: var(--color-variants-body-default);
  --body-reverse-2: var(--color-variants-body-reverse-2);
  --body-reverse: var(--color-variants-body-reverse);
  --body-transparent: var(--color-variants-body-default);
  --burst-accent: var(--color-variants-burst-reverse);
  --burst-default: var(--color-variants-burst-default);
  --burst-light-2: var(--color-variants-burst-default);
  --burst-light-3: var(--color-variants-burst-default);
  --burst-light: var(--color-variants-burst-default);
  --burst-reverse-2: var(--color-variants-burst-default);
  --burst-reverse: var(--color-variants-burst-default);
  --burst-transparent: var(--color-variants-burst-reverse);
  --heading-accent: var(--color-variants-heading-default);
  --heading-default: var(--color-variants-heading-default);
  --heading-light-2: var(--color-variants-heading-default);
  --heading-light-3: var(--color-variants-heading-default);
  --heading-light: var(--color-variants-heading-default);
  --heading-reverse-2: var(--color-variants-heading-reverse-2);
  --heading-reverse: var(--color-variants-heading-reverse);
  --heading-transparent: var(--color-variants-heading-default);
  --icon-2-accent: var(--color-variants-heading-default);
  --icon-2-default: var(--color-variants-icon-default);
  --icon-2-light-2: var(--color-variants-icon-default);
  --icon-2-light-3: var(--color-variants-icon-default);
  --icon-2-light: var(--color-variants-icon-default);
  --icon-2-reverse-2: var(--color-variants-icon-reverse-2);
  --icon-2-reverse: var(--color-variants-icon-reverse);
  --icon-2-transparent: var(--color-variants-heading-default);
  --icon-accent: var(--color-variants-icon-accent);
  --icon-bg-accent: var(--color-variants-bg-reverse);
  --icon-bg-default: var(--color-variants-bg-reverse);
  --icon-bg-light-2: var(--color-variants-bg-default);
  --icon-bg-light-3: var(--color-variants-bg-default);
  --icon-bg-light: var(--color-variants-bg-default);
  --icon-bg-reverse-2: var(--color-variants-bg-light-2);
  --icon-bg-reverse: var(--color-variants-bg-default);
  --icon-bg-transparent: var(--color-variants-bg-reverse);
  --icon-default: var(--color-variants-icon-reverse);
  --icon-light-2: var(--color-variants-icon-default);
  --icon-light-3: var(--color-variants-icon-default);
  --icon-light: var(--color-variants-icon-default);
  --icon-reverse-2: var(--color-variants-icon-default);
  --icon-reverse: var(--color-variants-icon-default);
  --icon-transparent: var(--color-variants-icon-accent);
  --info-well-accent: #ffffff1a;
  --info-well-default: var(--color-variants-bg-light-4);
  --info-well-light-2: #ffffff4d;
  --info-well-light-3: #ffffff1a;
  --info-well-light: #ffffff;
  --info-well-reverse-2: #ffffff1a;
  --info-well-reverse: #ffffff1a;
  --info-well-transparent: var(--color-variants-bg-light-4);
  --line-accent: var(--color-variants-line-default);
  --line-default: var(--color-variants-line-default);
  --line-light-2: var(--color-variants-line-default);
  --line-light-3: var(--color-variants-line-default);
  --line-light: var(--color-variants-line-default);
  --line-reverse-2: var(--color-variants-line-reverse);
  --line-reverse: var(--color-variants-line-reverse);
  --line-transparent: var(--color-variants-line-default);
  --link-accent: var(--color-variants-link-default);
  --link-default: var(--color-variants-link-default);
  --link-light-2: var(--color-variants-link-default);
  --link-light-3: var(--color-variants-link-default);
  --link-light: var(--color-variants-link-default);
  --link-reverse-2: var(--color-variants-link-reverse-2);
  --link-reverse: var(--color-variants-link-reverse);
  --link-transparent: var(--color-variants-link-default);
  --number-list-accent: var(--color-variants-number-list-reverse);
  --number-list-default: var(--color-variants-number-list-default);
  --number-list-light-2: var(--color-variants-number-list-default);
  --number-list-light-3: var(--color-variants-number-list-default);
  --number-list-light: var(--color-variants-number-list-default);
  --number-list-reverse-2: var(--color-variants-number-list-reverse);
  --number-list-reverse: var(--color-variants-number-list-reverse);
  --number-list-transparent: var(--color-variants-number-list-default);
  --stroke-accent: var(--color-variants-stroke-accent);
  --stroke-default: var(--color-variants-stroke-primary);
  --stroke-light-2: var(--color-variants-stroke-primary);
  --stroke-light-3: var(--color-variants-stroke-primary);
  --stroke-light: var(--color-variants-stroke-primary);
  --stroke-reverse-2: var(--color-variants-stroke-reversed-2);
  --stroke-reverse: var(--color-variants-stroke-reversed);
  --stroke-transparent: var(--color-variants-stroke-accent);
}