@use '../reset';
@use '../mixins' as *;
@import '../../libs/aos/aos.min.css';

:root {
  /* ---------- BORDER VARIABLES ---------- */

  --border-primary: #0b231f; /* from "border-primary" */
  --border-brand: #00a8b8;   /* from "border-brand" */
  --border-error: #e52336;   /* from "border-error" */

  /* ---------- BORDER VARIABLES ---------- */


  /* ---------- TEXT VARIABLES ---------- */

  --text-primary: #000; /* from "text-primary" */
  --text-secondary: #565659; /* from "text-secondary" */
  --text-inverse: #fff; /* from "text-inverse" */
  --text-light: #f5f8de; /* from "text-light" */
  --text-brand: #00525b; /* from "text-brand" */
  --text-brand-secondary: #009bab; /* from "text-brand secondary" */

  /* -------------------- */
  --text-primary-cta: #f5f8de; /* from "text-primarycta" */
  --text-secondary-cta: #00525b; /* from "text-secondarycta" */
  --text-accent-cta: #00525b; /* from "text-accentcta" */
  --text-disabled: #d9dadb; /* from "text-disabled" */
  --text-error: #e52336; /* from "text-error" */

  /* -------------------- */
  --text-ghost-default: #00525b; /* from "text -ghost default" */
  --text-ghost-hover: #000; /* from "text -ghost hover" */
  --text-ghost-focused: #000; /* from "text -ghost focused" */
  --text-ghost-disabled: #d9dadb; /* from "text -ghost disabled" */
  --text-ghost-active: #009bab; /* from "text -ghost active" */

  /* ---------- TEXT VARIABLES ---------- */


  /* ---------- SURFACE VARIABLES ---------- */
  
  --surface-primary: #f4f4f5; /* from "surface-primary" */
  --surface-secondary: #d9dadb; /* from "surface-secondary" */
  --surface-overlay: #565659; /* from "surface-overlay" */
  --surface-brand: #00525b; /* from "surface-brand" */
  --surface-light: #fafafa; /* from "surface-light" */
  --surface-login-cta: #f5f8de; /* from "surface-login cta" */

  /* -------------------- */
  --surface-primary-cta: #00525b; /* from "surface-primary cta" */
  --surface-prim-hover-cta: #014047; /* from "surface-primhover cta" */
  --surface-prim-active-cta: #0b231f; /* from "surface-primactive cta" */

  /* -------------------- */
  --surface-secondary-cta: #f3f5f6; /* from "surface-secondary cta" */
  --surface-sec-hover-cta: #009bab; /* from "surface-sechover cta" */

  /* -------------------- */
  --surface-accent-cta: #f5f8de; /* from "surface-accent cta" */
  --surface-accent-hover-cta: #f9ffc8; /* from "surface-accenthover cta" */
  --surface-accent-active-cta: #fff67f; /* from "surface-accentactive cta" */

  /* -------------------- */
  --surface-disabled-cta: #efefef; /* from "surface-disabledcta" */
  --surface-highlight: #00525b; /* from "surface-highlight" */

  /* ---------- SURFACE VARIABLES ---------- */


  /* ---------- FONTS VARIABLES ---------- */

  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'American Grotesk', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- FONT FAMILY VARIABLES ---------- */


  /* ---------- OTHER VARIABLES ---------- */
  --color-background-background-2: #59ffa0;
  --color-background-background-3: #fafbee;
  --color-background-background-4: #00525b;
  --color-background-background-5: #f5f8de;
  --color-background-background: #ffffff;
  --color-banner-CTA-surface: #fafbee;
  --color-banner-hero-carousal-selected: #00525b;
  --color-banner-hero-carousal-surface: #ffffff;
  --color-banner-hero-carousal-unselected: #00525b99;
  --color-button-outlined-default: #ffffff03;
  --color-button-outlined-hover: #ffffff03;
  --color-button-outlined-press: #ffffff03;
  --color-button-outlined-reverse-default: #ffffff03;
  --color-button-outlined-reverse-hover: #00525b1a;
  --color-button-outlined-reverse-press: #00525b33;
  --color-button-outlined-white-default: #ffffff;
  --color-button-outlined-white-hover: #ffffff;
  --color-button-outlined-white-press: #ffffff;
  --color-button-primary-default: #00525b;
  --color-button-primary-hover: #003237;
  --color-button-primary-press: #002529;
  --color-button-secondary-default: #f5f8de;
  --color-button-secondary-hover: #b7cebd;
  --color-button-secondary-press: #7aa59c;
  --color-button-text-stroke-default: #00525b;
  --color-button-text-stroke-hover: #003237;
  --color-button-text-stroke-press: #002529;
  --color-button-text-stroke-reverse: #ffffff;
  --color-button-white-default: #ffffff;
  --color-button-white-hover: #f5f8de;
  --color-button-white-press: #b7cebd;
  --color-card-card-carousal-surface: #f5f8dee5;
  --color-card-surface-2: #f5f8de;
  --color-card-surface-white: #ffffff;
  --color-card-surface: #00525be5;
  --color-focus-default: #009bab;
  --color-focus-reversed: #ffffff;
  --color-icon-Body: #0b231f;
  --color-icon-Nav: #ffffff;
  --color-icon-Reversed: #ffffff;
  --color-icon-Surface: #0b231f;
  --color-stroke-card: #00000033;
  --color-stroke-link-default: #59ffa0;
  --color-stroke-link-hover: #00525b;
  --color-stroke-primary: #00525b;
  --color-stroke-reversed: #ffffff;
  --color-stroke-secondary: #0b231f;
  --color-surface-Icon: #f5f8de;
  --color-surface-light: #fafbee;
  --color-surface-nav: #00525b;
  --color-surface-search: #19636b;
  --color-surface-secondary-nav: #ffffff;
  --color-text-default-body: #0b231f;
  --color-text-default-heading-card-1: #f5f8de;
  --color-text-default-heading: #00525b;
  --color-text-default-placeholder: #00525b;
  --color-text-link-nav: #ffffff;
  --color-text-link-secondary-nav: #00525b;
  --color-text-reversed-body: #ffffff;
  --color-text-reversed-heading: #ffffff;
  --color-text-reversed-placeholder-light-2: #ffffff1a;
  --color-text-reversed-placeholder-light: #ffffff1a;
  --font-D-height-body: 24px;
  --font-D-height-disc: 18px;
  --font-D-height-h1-std: 44px;
  --font-D-height-h1: 40px;
  --font-D-height-h2-std: 39px;
  --font-D-height-h2: 32px;
  --font-D-height-h3: 29px;
  --font-D-height-h4: 24px;
  --font-D-height-h5: 24px;
  --font-D-height-intro: 36px;
  --font-D-height-lg: 52px;
  --font-D-height-sm-body: 21px;
  --font-D-size-body: 16px;
  --font-D-size-disc: 12px;
  --font-D-size-h1-std: 40px;
  --font-D-size-h1: 40px;
  --font-D-size-h2-std: 32px;
  --font-D-size-h2: 32px;
  --font-D-size-h3: 24px;
  --font-D-size-h4: 20px;
  --font-D-size-h5: 16px;
  --font-D-size-intro: 24px;
  --font-D-size-lg: 60px;
  --font-D-size-sm-body: 14px;
  --font-M-height-body: 24px;
  --font-M-height-disc: 18px;
  --font-M-height-h1-std: 42px;
  --font-M-height-h1: 38px;
  --font-M-height-h2-std: 38px;
  --font-M-height-h2: 32px;
  --font-M-height-h3: 29px;
  --font-M-height-h4: 24px;
  --font-M-height-h5: 24px;
  --font-M-height-intro: 36px;
  --font-M-height-lg: 39px;
  --font-M-height-sm-body: 21px;
  --font-M-size-body: 16px;
  --font-M-size-disc: 12px;
  --font-M-size-h1-std: 38px;
  --font-M-size-h1: 38px;
  --font-M-size-h2-std: 32px;
  --font-M-size-h2: 32px;
  --font-M-size-h3: 24px;
  --font-M-size-h4: 20px;
  --font-M-size-h5: 16px;
  --font-M-size-intro: 24px;
  --font-M-size-lg: 44px;
  --font-M-size-sm-body: 14px;
  --font-T-height-body: 24px;
  --font-T-height-disc: 18px;
  --font-T-height-h1-std: 44px;
  --font-T-height-h1: 40px;
  --font-T-height-h2-std: 39px;
  --font-T-height-h2: 32px;
  --font-T-height-h3: 29px;
  --font-T-height-h4: 24px;
  --font-T-height-h5: 24px;
  --font-T-height-intro: 36px;
  --font-T-height-lg: 45px;
  --font-T-height-sm-body: 21px;
  --font-T-size-body: 16px;
  --font-T-size-disc: 12px;
  --font-T-size-h1-std: 40px;
  --font-T-size-h1: 40px;
  --font-T-size-h2-std: 32px;
  --font-T-size-h2: 32px;
  --font-T-size-h3: 24px;
  --font-T-size-h4: 20px;
  --font-T-size-h5: 16px;
  --font-T-size-intro: 24px;
  --font-T-size-lg: 52px;
  --font-T-size-sm-body: 14px;
  --font-family-body-bold: Inter;
  --font-family-body: Inter;
  --font-family-disc: Inter;
  --font-family-h1-std: Inter;
  --font-family-h1: 'American Grotesk Condensed';
  --font-family-h2-std: Inter;
  --font-family-h2: 'American Grotesk Condensed';
  --font-family-h3: Inter;
  --font-family-h4: Inter;
  --font-family-h5: Inter;
  --font-family-intro: Inter;
  --font-family-lg: 'American Grotesk Condensed';
  --font-family-sm-body: Inter;
  --font-letter-spacing-body: 0px;
  --font-letter-spacing-disc: 0px;
  --font-letter-spacing-h1-std: 0px;
  --font-letter-spacing-h1: 2px;
  --font-letter-spacing-h2-std: 0px;
  --font-letter-spacing-h2: 2px;
  --font-letter-spacing-h3: 0px;
  --font-letter-spacing-h4: 0px;
  --font-letter-spacing-h5: 0px;
  --font-letter-spacing-intro: 0px;
  --font-letter-spacing-lg: 2px;
  --font-letter-spacing-sm-body: 0px;
  --font-weight-body-bold: SemiBold;
  --font-weight-body: Regular;
  --font-weight-disc: Regular;
  --font-weight-h1-std: Medium;
  --font-weight-h1: Black;
  --font-weight-h2-std: Medium;
  --font-weight-h2: Black;
  --font-weight-h3: Medium;
  --font-weight-h4: Medium;
  --font-weight-h5: Medium;
  --font-weight-intro: Regular;
  --font-weight-lg: Black;
  --font-weight-sm-body: Regular;
  --radius-button: 24px;
  --radius-card: 24px;
  --radius-menu-link: 4px;
  --stroke-button: 2px;
  --width-logo-lg: 150px;
  --width-logo-sm: 100px;
}
