@import '../../libs/aos/aos.min.css';
*, *::before, *::after{
  box-sizing:border-box;
}

*{
  margin:0;
  padding:0;
}

html{
  font-size:100%;
  scroll-behavior:smooth;
  -webkit-text-size-adjust:100%;
}

body{
  background-color:#fff;
  color:#000;
  font-family:var(--primary-font);
  -webkit-font-smoothing:antialiased;
  line-height:1.5;
  min-height:100vh;
  text-rendering:optimizelegibility;
}

ul, ol{
  list-style:none;
}

a{
  color:inherit;
  text-decoration:none;
}

img, picture, video, canvas, svg{
  display:block;
  height:auto;
  max-width:100%;
}

input, button, textarea, select{
  background:none;
  border:none;
  color:inherit;
  font:inherit;
  outline:none;
}

textarea{
  resize:vertical;
}

button{
  background:transparent;
  border:none;
  cursor:pointer;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

h1, h2, h3, h4, h5, h6{
  font-size:inherit;
  font-weight:inherit;
}

:focus-visible{
  outline:2px solid #000;
  outline-offset:2px;
}

:focus:not(:focus-visible){
  outline:none;
}
:root{
  --border-primary:#0b231f;
  --border-brand:#00a8b8;
  --border-error:#e52336;
  --text-primary:#000;
  --text-secondary:#565659;
  --text-inverse:#fff;
  --text-light:#f5f8de;
  --text-brand:#00525b;
  --text-brand-secondary:#009bab;
  --text-primary-cta:#f5f8de;
  --text-secondary-cta:#00525b;
  --text-accent-cta:#00525b;
  --text-disabled:#d9dadb;
  --text-error:#e52336;
  --text-ghost-default:#00525b;
  --text-ghost-hover:#000;
  --text-ghost-focused:#000;
  --text-ghost-disabled:#d9dadb;
  --text-ghost-active:#009bab;
  --surface-primary:#f4f4f5;
  --surface-secondary:#d9dadb;
  --surface-overlay:#565659;
  --surface-brand:#00525b;
  --surface-light:#fafafa;
  --surface-login-cta:#f5f8de;
  --surface-primary-cta:#00525b;
  --surface-prim-hover-cta:#014047;
  --surface-prim-active-cta:#0b231f;
  --surface-secondary-cta:#f3f5f6;
  --surface-sec-hover-cta:#009bab;
  --surface-accent-cta:#f5f8de;
  --surface-accent-hover-cta:#f9ffc8;
  --surface-accent-active-cta:#fff67f;
  --surface-disabled-cta:#efefef;
  --surface-highlight:#00525b;
  --primary-font:"Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font:"American Grotesk", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --gradient-1:linear-gradient(46.23deg, #59ffa0 1.03%, #1be7ff 98.97%);
  --radius-button:24px;
  --radius-card:24px;
  --radius-menu-link:4px;
  --radius-footer-card:12px;
  --radius-article-thumb:10px;
  --bg-accent:#59ffa0;
  --bg-default:#ffffff;
  --bg-light-2:#f5f8de;
  --bg-light-3:#1be7ff;
  --bg-light:#fafbee;
  --bg-reverse-2:#00525b;
  --bg-reverse:#00525b;
  --body-accent:#0b231f;
  --body-default:#0b231f;
  --body-light-2:#0b231f;
  --body-light-3:#0b231f;
  --body-light:#0b231f;
  --body-reverse-2:#f5f8de;
  --body-reverse:#ffffff;
  --burst-accent:#00525b;
  --burst-default:#59ffa0;
  --burst-light-2:#59ffa0;
  --burst-light-3:#59ffa0;
  --burst-light:#59ffa0;
  --burst-reverse-2:#59ffa0;
  --burst-reverse:#59ffa0;
  --heading-accent:#00525b;
  --heading-default:#00525b;
  --heading-light-2:#00525b;
  --heading-light-3:#00525b;
  --heading-light:#00525b;
  --heading-reverse-2:#f5f8de;
  --heading-reverse:#ffffff;
  --icon-2-accent:#00525b;
  --icon-2-default:#00525b;
  --icon-2-light-2:#00525b;
  --icon-2-light-3:#00525b;
  --icon-2-light:#00525b;
  --icon-2-reverse-2:#f5f8de;
  --icon-2-reverse:#ffffff;
  --icon-accent:#59ffa0;
  --icon-bg-accent:#00525b;
  --icon-bg-default:#00525b;
  --icon-bg-light-2:#ffffff;
  --icon-bg-light-3:#ffffff;
  --icon-bg-light:#ffffff;
  --icon-bg-reverse-2:#f5f8de;
  --icon-bg-reverse:#ffffff;
  --icon-default:#ffffff;
  --icon-light-2:#00525b;
  --icon-light-3:#00525b;
  --icon-light:#00525b;
  --icon-reverse-2:#00525b;
  --icon-reverse:#00525b;
  --line-accent:#00000033;
  --line-default:#00000033;
  --line-light-2:#00000033;
  --line-light-3:#00000033;
  --line-light:#00000033;
  --line-reverse-2:#ffffff1a;
  --line-reverse:#ffffff1a;
  --link-accent:#00525b;
  --link-default:#00525b;
  --link-light-2:#00525b;
  --link-light-3:#00525b;
  --link-light:#00525b;
  --link-reverse-2:#f5f8de;
  --link-reverse:#ffffff;
  --stroke-accent:#59ffa0;
  --stroke-default:#00525b;
  --stroke-light-2:#00525b;
  --stroke-light-3:#00525b;
  --stroke-light:#00525b;
  --stroke-reverse-2:#f5f8de;
  --stroke-reverse:#ffffff;
}

.d-none{
  display:none !important;
}

.spacer-bottom{
  margin-bottom:80px;
}

.spacer-top{
  margin-top:80px;
}

.top-margin{
  margin-top:80px;
}

.bottom-margin{
  margin-bottom:80px;
}

.top-padding{
  padding-top:80px;
}

.bottom-padding{
  padding-bottom:80px;
}

.section.faq-looking-for{
  margin:0 auto;
  max-width:1328px;
  padding:32px;
}
.section.faq-looking-for div{
  display:flex;
  flex-direction:column;
  gap:48px;
  padding:5px;
}
.section.faq-looking-for div h2{
  color:#00525B;
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  letter-spacing:0;
  line-height:44px;
  text-align:center;
}
.section.faq-looking-for div ul{
  display:flex;
  gap:32px;
  justify-content:space-between;
  padding:32px 0;
}
.section.faq-looking-for div ul li ul{
  display:flex;
  flex-direction:column;
  gap:24px;
  padding:0;
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span{
  align-items:center;
  background-color:#00525B;
  border-radius:50%;
  display:flex;
  height:64px;
  justify-content:center;
  margin:0 auto;
  width:64px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span img{
  height:44px;
  width:44px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul{
  gap:8px;
  margin-top:32px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(1){
  color:#00525B;
  font-family:var(--primary-font);
  font-size:20px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2){
  color:#0B231F;
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  margin-bottom:14px;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(2) p{
  margin:0;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(2) p a{
  border:1px solid #00525B;
  border-radius:20px;
  color:#00525B;
  cursor:pointer;
  display:block;
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:500;
  letter-spacing:0;
  line-height:24px;
  margin:0 auto;
  padding:8px 16px;
  text-decoration:none;
  width:-moz-fit-content;
  width:fit-content;
}

.momentum-saver-section{
  align-items:center;
  background-color:#fff;
  display:flex;
  flex-flow:column wrap;
  gap:80px;
  justify-content:space-between;
}
.momentum-saver-section .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}
.momentum-saver-section .momentum-columns{
  border-radius:var(--radius-card);
  display:flex;
  padding:64px;
}
.momentum-saver-section .momentum-columns > div{
  align-items:flex-start;
  gap:40px;
}
.momentum-saver-section .momentum-columns .momentum-content{
  display:grid;
  grid-template-columns:1fr 3fr;
  max-width:350px;
  width:100%;
}
.momentum-saver-section .momentum-columns .momentum-content h2{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:140px;
  font-style:normal;
  line-height:120px;
  text-transform:capitalize;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-unit{
  align-items:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  line-height:1;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-percent{
  color:var(--heading-default);
  font-size:32px;
  font-size:80px;
  font-style:normal;
  font-weight:700;
  line-height:72px;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-pa{
  color:var(--heading-default);
  font-size:40px;
  font-style:normal;
  font-weight:300;
  line-height:28px;
  text-align:center;
}
.momentum-saver-section .momentum-columns .momentum-content p{
  color:var(--body-default);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  width:100%;
}
.momentum-saver-section .momentum-columns .momentum-second-content h2{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  line-height:40px;
  margin-bottom:16px;
  text-transform:uppercase;
}
.momentum-saver-section .momentum-columns .momentum-second-content h3{
  color:var(--heading-default);
  font-size:24px;
  font-style:normal;
  font-weight:400;
  line-height:36px;
  margin-bottom:4px;
}
.momentum-saver-section .momentum-columns .momentum-second-content p{
  color:var(--body-default);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  margin-bottom:24px;
}
.momentum-saver-section .momentum-columns .momentum-second-content .button-container{
  background-color:var(--heading-default);
  border-radius:var(--radius-card);
  display:inline-flex;
  margin-bottom:unset;
  padding:8px 28.5px;
  width:-moz-fit-content;
  width:fit-content;
}
.momentum-saver-section .momentum-columns .momentum-second-content a{
  color:var(--stroke-reverse);
  font-size:16px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
}

.momentum-saver-section.background-color-teal{
  background-color:var(--bg-reverse);
}
.momentum-saver-section.background-color-teal .momentum-columns.background-color-white{
  background-color:var(--bg-default);
}

.momentum-saver-section.momentum-image-saver .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns{
  padding:0;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div{
  align-items:center;
  gap:24px;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .columns-img-col{
  max-width:519.5px;
  width:100%;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .columns-img-col img{
  border-radius:var(--radius-card);
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h2{
  font-family:var(--primary-font);
  font-weight:500;
  text-transform:capitalize;
}

.momentum-image-saver.bg-image-saver{
  background-color:var(--heading-default);
}
.momentum-image-saver.bg-image-saver .momentum-second-content h2,
.momentum-image-saver.bg-image-saver .momentum-second-content h3,
.momentum-image-saver.bg-image-saver .momentum-second-content p{
  color:var(--body-reverse);
}
.momentum-image-saver.bg-image-saver .momentum-second-content .button-container{
  background-color:#F5F8DE;
}
.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a{
  color:var(--stroke-default);
}
@media screen and (max-width: 1279px){
  .top-margin{
    margin-top:64px;
  }
  .bottom-margin{
    margin-bottom:64px;
  }
  .top-padding{
    padding-top:64px;
  }
  .bottom-padding{
    padding-bottom:64px;
  }
  .momentum-saver-section .columns-wrapper{
    padding-inline:24px;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper{
    padding-inline:24px;
  }
}
@media screen and (max-width: 1023px){
  .spacer-bottom{
    margin-bottom:60px;
  }
  .spacer-top{
    margin-top:60px;
  }
  .section.faq-looking-for div h2{
    padding-bottom:0;
  }
  .momentum-saver-section .momentum-columns .momentum-content .rate-unit{
    align-items:unset;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content{
    display:block;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h2{
    font-size:38px;
  }
}
@media screen and (max-width: 767px){
  .spacer-bottom{
    margin-bottom:40px;
  }
  .spacer-top{
    margin-top:40px;
  }
  .top-margin{
    margin-top:40px;
  }
  .bottom-margin{
    margin-bottom:40px;
  }
  .top-padding{
    padding-top:40px;
  }
  .bottom-padding{
    padding-bottom:40px;
  }
  .section.faq-looking-for{
    padding:8px;
  }
  .section.faq-looking-for div{
    gap:24px;
    padding:8px;
  }
  .section.faq-looking-for div h2{
    font-size:40px;
    font-weight:700;
    line-height:32px;
  }
  .section.faq-looking-for div ul{
    flex-direction:column;
    padding:8px 0;
  }
  .section.faq-looking-for div ul li ul{
    gap:20px;
  }
  .section.faq-looking-for div ul li ul li:nth-child(1) ul{
    margin-top:20px;
  }
  .section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2){
    margin-bottom:0;
  }
  .section.faq-looking-for div ul li ul li:nth-child(2) p{
    margin-bottom:8px;
  }
  .momentum-saver-section .columns-wrapper{
    padding-inline:16px;
  }
  .momentum-saver-section .momentum-columns{
    align-items:flex-start;
    flex-direction:column;
    padding:40px 16px;
  }
  .momentum-saver-section .momentum-columns .momentum-content h2{
    font-size:120px;
    font-style:normal;
    line-height:120px;
    text-transform:capitalize;
  }
  .momentum-saver-section .momentum-columns .momentum-content .rate-percent{
    font-size:78px;
    font-style:normal;
    line-height:72px;
  }
  .momentum-saver-section .momentum-columns .momentum-content p{
    font-size:16px;
    font-style:normal;
    font-weight:400;
    line-height:24px;
    width:121%;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper{
    padding-inline:16px;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h2{
    font-size:38px;
  }
}
@media (prefers-reduced-motion: reduce){
  *{
    animation-duration:0.01ms !important;
    animation-iteration-count:1 !important;
    scroll-behavior:auto !important;
    transition-duration:0.01ms !important;
  }
}
