@import '../../libs/aos/aos.min.css';
*, *::before, *::after{
  box-sizing:border-box;
}

*{
  margin:0;
  padding:0;
}

html{
  font-size:100%;
  scroll-behavior:smooth;
  -webkit-text-size-adjust:100%;
}

body{
  background-color:#fff;
  color:#000;
  font-family:var(--primary-font);
  -webkit-font-smoothing:antialiased;
  line-height:1.5;
  min-height:100vh;
  text-rendering:optimizelegibility;
}

ul, ol{
  list-style:none;
}

a{
  color:inherit;
  text-decoration:none;
}

img, picture, video, canvas, svg{
  display:block;
  height:auto;
  max-width:100%;
}

input, button, textarea, select{
  background:none;
  border:none;
  color:inherit;
  font:inherit;
  outline:none;
}

textarea{
  resize:vertical;
}

button{
  background:transparent;
  border:none;
  cursor:pointer;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

h1, h2, h3, h4, h5, h6{
  font-size:inherit;
  font-weight:inherit;
}

:focus-visible{
  outline:2px solid #000;
  outline-offset:2px;
}

:focus:not(:focus-visible){
  outline:none;
}
:root{
  --border-primary:#0b231f;
  --border-brand:#00a8b8;
  --border-error:#e52336;
  --text-primary:#000;
  --text-secondary:#565659;
  --text-inverse:#fff;
  --text-light:#f5f8de;
  --text-brand:#00525b;
  --text-brand-secondary:#009bab;
  --text-primary-cta:#f5f8de;
  --text-secondary-cta:#00525b;
  --text-accent-cta:#00525b;
  --text-disabled:#d9dadb;
  --text-error:#e52336;
  --text-ghost-default:#00525b;
  --text-ghost-hover:#000;
  --text-ghost-focused:#000;
  --text-ghost-disabled:#d9dadb;
  --text-ghost-active:#009bab;
  --surface-primary:#f4f4f5;
  --surface-secondary:#d9dadb;
  --surface-overlay:#565659;
  --surface-brand:#00525b;
  --surface-light:#fafafa;
  --surface-login-cta:#f5f8de;
  --surface-primary-cta:#00525b;
  --surface-prim-hover-cta:#014047;
  --surface-prim-active-cta:#0b231f;
  --surface-secondary-cta:#f3f5f6;
  --surface-sec-hover-cta:#009bab;
  --surface-accent-cta:#f5f8de;
  --surface-accent-hover-cta:#f9ffc8;
  --surface-accent-active-cta:#fff67f;
  --surface-disabled-cta:#efefef;
  --surface-highlight:#00525b;
  --primary-font:"Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font:"American Grotesk", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --gradient-1:linear-gradient(46.23deg, #59ffa0 1.03%, #1be7ff 98.97%);
  --radius-button:24px;
  --radius-card:24px;
  --radius-menu-link:4px;
  --radius-footer-card:12px;
  --radius-article-thumb:10px;
  --color-button-outlined-default:#ffffff03;
  --color-button-outlined-hover:#00525b1a;
  --color-button-outlined-press:#00525b33;
  --color-button-outlined-reverse-default:#ffffff03;
  --color-button-outlined-reverse-hover:#0000001a;
  --color-button-outlined-reverse-press:#00000033;
  --color-button-primary-default:#00525b;
  --color-button-primary-hover:#014249;
  --color-button-primary-press:#002d32;
  --color-button-secondary-default:#f5f8de;
  --color-button-secondary-hover:#f3f1c5;
  --color-button-secondary-press:#ede4a8;
  --color-button-text-stroke-default:#00525b;
  --color-button-text-stroke-hover:#00525b;
  --color-button-text-stroke-press:#00525b;
  --color-button-text-stroke-reverse:#ffffff;
  --color-button-white-default:#ffffff;
  --color-button-white-hover:#e6eeef;
  --color-button-white-press:#ccdcde;
  --color-focus-default:#009bab;
  --color-focus-reversed:#ffffff;
  --color-footer-info:#00525b12;
  --color-header-frame:#19636b;
  --color-header-icon-2:#f5f8de;
  --color-header-icon:#ffffff;
  --color-header-light:#fafbee;
  --color-header-nav-primary:#00525b;
  --color-header-nav-secondary:#ffffff;
  --color-header-nav:#00525b;
  --color-header-search:#19636b;
  --color-pagination-secondary-nav:#ffffff;
  --color-pagination-selected:#00525b;
  --color-pagination-surface:#ffffff;
  --color-pagination-unselected:#00525b99;
  --color-placeholder-default:#0b231f99;
  --color-placeholder-reverse-2:#ffffff4d;
  --color-placeholder-reverse:#ffffff99;
  --color-variants-bg-accent:#59ffa0;
  --color-variants-bg-default:#ffffff;
  --color-variants-bg-light-1:#fafbee;
  --color-variants-bg-light-2:#f5f8de;
  --color-variants-bg-light-3:#1be7ff;
  --color-variants-bg-promo:#00525bcc;
  --color-variants-bg-reverse:#00525b;
  --color-variants-body-default:#0b231f;
  --color-variants-body-reverse-2:#f5f8de;
  --color-variants-body-reverse:#ffffff;
  --color-variants-burst-default:#59ffa0;
  --color-variants-burst-reverse:#00525b;
  --color-variants-heading-default:#00525b;
  --color-variants-heading-reverse-2:#f5f8de;
  --color-variants-heading-reverse:#ffffff;
  --color-variants-icon-accent:#59ffa0;
  --color-variants-icon-default:#00525b;
  --color-variants-icon-reverse-2:#f5f8de;
  --color-variants-icon-reverse:#ffffff;
  --color-variants-line-default:#00000033;
  --color-variants-line-reverse:#ffffff1a;
  --color-variants-link-default:#00525b;
  --color-variants-link-reverse-2:#f5f8de;
  --color-variants-link-reverse:#ffffff;
  --color-variants-stroke-accent:#59ffa0;
  --color-variants-stroke-primary:#00525b;
  --color-variants-stroke-reversed-2:#f5f8de;
  --color-variants-stroke-reversed:#ffffff;
  --color-variants-stroke-secondary:#0b231f;
  --font-d-height-body:24px;
  --font-d-height-disc:18px;
  --font-d-height-h1-std:44px;
  --font-d-height-h1:40px;
  --font-d-height-h2-std:39px;
  --font-d-height-h2:32px;
  --font-d-height-h3:29px;
  --font-d-height-h4:24px;
  --font-d-height-h5:24px;
  --font-d-height-intro:36px;
  --font-d-height-lg:52px;
  --font-d-height-sm-body:21px;
  --font-d-size-body:16px;
  --font-d-size-disc:12px;
  --font-d-size-h1-std:40px;
  --font-d-size-h1:40px;
  --font-d-size-h2-std:32px;
  --font-d-size-h2:32px;
  --font-d-size-h3:24px;
  --font-d-size-h4:20px;
  --font-d-size-h5:16px;
  --font-d-size-intro:24px;
  --font-d-size-lg:60px;
  --font-d-size-sm-body:14px;
  --font-family-body-bold:Inter;
  --font-family-body:Inter;
  --font-family-disc:Inter;
  --font-family-h1-std:Inter;
  --font-family-h1:"American Grotesk Condensed";
  --font-family-h2-std:Inter;
  --font-family-h2:"American Grotesk Condensed";
  --font-family-h3:Inter;
  --font-family-h4:Inter;
  --font-family-h5:Inter;
  --font-family-intro:Inter;
  --font-family-lg:"American Grotesk Condensed";
  --font-family-sm-body:Inter;
  --font-letter-spacing-body:0px;
  --font-letter-spacing-disc:0px;
  --font-letter-spacing-h1-std:0px;
  --font-letter-spacing-h1:2px;
  --font-letter-spacing-h2-std:0px;
  --font-letter-spacing-h2:2px;
  --font-letter-spacing-h3:0px;
  --font-letter-spacing-h4:0px;
  --font-letter-spacing-h5:0px;
  --font-letter-spacing-intro:0px;
  --font-letter-spacing-lg:2px;
  --font-letter-spacing-sm-body:0px;
  --font-m-height-body:24px;
  --font-m-height-disc:18px;
  --font-m-height-h1-std:42px;
  --font-m-height-h1:38px;
  --font-m-height-h2-std:38px;
  --font-m-height-h2:32px;
  --font-m-height-h3:29px;
  --font-m-height-h4:24px;
  --font-m-height-h5:24px;
  --font-m-height-intro:36px;
  --font-m-height-lg:39px;
  --font-m-height-sm-body:21px;
  --font-m-size-body:16px;
  --font-m-size-disc:12px;
  --font-m-size-h1-std:38px;
  --font-m-size-h1:38px;
  --font-m-size-h2-std:32px;
  --font-m-size-h2:32px;
  --font-m-size-h3:24px;
  --font-m-size-h4:20px;
  --font-m-size-h5:16px;
  --font-m-size-intro:24px;
  --font-m-size-lg:44px;
  --font-m-size-sm-body:14px;
  --font-t-height-body:24px;
  --font-t-height-disc:18px;
  --font-t-height-h1-std:44px;
  --font-t-height-h1:40px;
  --font-t-height-h2-std:39px;
  --font-t-height-h2:32px;
  --font-t-height-h3:29px;
  --font-t-height-h4:24px;
  --font-t-height-h5:24px;
  --font-t-height-intro:36px;
  --font-t-height-lg:45px;
  --font-t-height-sm-body:21px;
  --font-t-size-body:16px;
  --font-t-size-disc:12px;
  --font-t-size-h1-std:40px;
  --font-t-size-h1:40px;
  --font-t-size-h2-std:32px;
  --font-t-size-h2:32px;
  --font-t-size-h3:24px;
  --font-t-size-h4:20px;
  --font-t-size-h5:16px;
  --font-t-size-intro:24px;
  --font-t-size-lg:52px;
  --font-t-size-sm-body:14px;
  --font-weight-body-bold:SemiBold;
  --font-weight-body:Regular;
  --font-weight-disc:Regular;
  --font-weight-h1-std:Medium;
  --font-weight-h1:Black;
  --font-weight-h2-std:Medium;
  --font-weight-h2:Black;
  --font-weight-h3:Medium;
  --font-weight-h4:Medium;
  --font-weight-h5:Medium;
  --font-weight-intro:Regular;
  --font-weight-lg:Black;
  --font-weight-sm-body:Regular;
  --lg-rate:150px;
  --radius-article-thumb:10px;
  --radius-button:24px;
  --radius-card:24px;
  --radius-footer-card:12px;
  --radius-hero:40px;
  --radius-menu-link:4px;
  --stroke-button:2px;
  --width-logo-lg:150px;
  --width-logo-sm:100px;
  --bg-accent:var(--color-variants-bg-accent);
  --bg-default:var(--color-variants-bg-default);
  --bg-light-2:var(--color-variants-bg-light-2);
  --bg-light-3:var(--color-variants-bg-light-3);
  --bg-light:var(--color-variants-bg-light-1);
  --bg-reverse-2:var(--color-variants-bg-reverse);
  --bg-reverse:var(--color-variants-bg-reverse);
  --bg-transparent:var(--color-variants-bg-accent);
  --body-accent:var(--color-variants-body-default);
  --body-default:var(--color-variants-body-default);
  --body-light-2:var(--color-variants-body-default);
  --body-light-3:var(--color-variants-body-default);
  --body-light:var(--color-variants-body-default);
  --body-reverse-2:var(--color-variants-body-reverse-2);
  --body-reverse:var(--color-variants-body-reverse);
  --body-transparent:var(--color-variants-body-default);
  --burst-accent:var(--color-variants-burst-reverse);
  --burst-default:var(--color-variants-burst-default);
  --burst-light-2:var(--color-variants-burst-default);
  --burst-light-3:var(--color-variants-burst-default);
  --burst-light:var(--color-variants-burst-default);
  --burst-reverse-2:var(--color-variants-burst-default);
  --burst-reverse:var(--color-variants-burst-default);
  --burst-transparent:var(--color-variants-burst-reverse);
  --heading-accent:var(--color-variants-heading-default);
  --heading-default:var(--color-variants-heading-default);
  --heading-light-2:var(--color-variants-heading-default);
  --heading-light-3:var(--color-variants-heading-default);
  --heading-light:var(--color-variants-heading-default);
  --heading-reverse-2:var(--color-variants-heading-reverse-2);
  --heading-reverse:var(--color-variants-heading-reverse);
  --heading-transparent:var(--color-variants-heading-default);
  --icon-2-accent:var(--color-variants-heading-default);
  --icon-2-default:var(--color-variants-icon-default);
  --icon-2-light-2:var(--color-variants-icon-default);
  --icon-2-light-3:var(--color-variants-icon-default);
  --icon-2-light:var(--color-variants-icon-default);
  --icon-2-reverse-2:var(--color-variants-icon-reverse-2);
  --icon-2-reverse:var(--color-variants-icon-reverse);
  --icon-2-transparent:var(--color-variants-heading-default);
  --icon-accent:var(--color-variants-icon-accent);
  --icon-bg-accent:var(--color-variants-bg-reverse);
  --icon-bg-default:var(--color-variants-bg-reverse);
  --icon-bg-light-2:var(--color-variants-bg-default);
  --icon-bg-light-3:var(--color-variants-bg-default);
  --icon-bg-light:var(--color-variants-bg-default);
  --icon-bg-reverse-2:var(--color-variants-bg-light-2);
  --icon-bg-reverse:var(--color-variants-bg-default);
  --icon-bg-transparent:var(--color-variants-bg-reverse);
  --icon-default:var(--color-variants-icon-reverse);
  --icon-light-2:var(--color-variants-icon-default);
  --icon-light-3:var(--color-variants-icon-default);
  --icon-light:var(--color-variants-icon-default);
  --icon-reverse-2:var(--color-variants-icon-default);
  --icon-reverse:var(--color-variants-icon-default);
  --icon-transparent:var(--color-variants-icon-accent);
  --line-accent:var(--color-variants-line-default);
  --line-default:var(--color-variants-line-default);
  --line-light-2:var(--color-variants-line-default);
  --line-light-3:var(--color-variants-line-default);
  --line-light:var(--color-variants-line-default);
  --line-reverse-2:var(--color-variants-line-reverse);
  --line-reverse:var(--color-variants-line-reverse);
  --line-transparent:var(--color-variants-line-default);
  --link-accent:var(--color-variants-link-default);
  --link-default:var(--color-variants-link-default);
  --link-light-2:var(--color-variants-link-default);
  --link-light-3:var(--color-variants-link-default);
  --link-light:var(--color-variants-link-default);
  --link-reverse-2:var(--color-variants-link-reverse-2);
  --link-reverse:var(--color-variants-link-reverse);
  --link-transparent:var(--color-variants-link-default);
  --stroke-accent:var(--color-variants-stroke-accent);
  --stroke-default:var(--color-variants-stroke-primary);
  --stroke-light-2:var(--color-variants-stroke-primary);
  --stroke-light-3:var(--color-variants-stroke-primary);
  --stroke-light:var(--color-variants-stroke-primary);
  --stroke-reverse-2:var(--color-variants-stroke-reversed-2);
  --stroke-reverse:var(--color-variants-stroke-reversed);
  --stroke-transparent:var(--color-variants-stroke-accent);
}

header{
  min-height:141px;
}

.d-none{
  display:none !important;
}

.spacer-bottom{
  margin-bottom:80px;
}

.spacer-top{
  margin-top:80px;
}

.top-margin{
  margin-top:80px;
}

.bottom-margin{
  margin-bottom:80px;
}

.top-padding{
  padding-top:80px;
}

.bottom-padding{
  padding-bottom:80px;
}

@media screen and (max-width: 1279px){
  .top-margin{
    margin-top:64px;
  }
  .bottom-margin{
    margin-bottom:64px;
  }
  .top-padding{
    padding-top:64px;
  }
  .bottom-padding{
    padding-bottom:64px;
  }
}

@media screen and (max-width: 1023px){
  .spacer-bottom{
    margin-bottom:60px;
  }
  .spacer-top{
    margin-top:60px;
  }
}

@media screen and (max-width: 767px){
  header{
    min-height:60px;
  }
  .spacer-bottom{
    margin-bottom:40px;
  }
  .spacer-top{
    margin-top:40px;
  }
  .top-margin{
    margin-top:40px;
  }
  .bottom-margin{
    margin-bottom:40px;
  }
  .top-padding{
    padding-top:40px;
  }
  .bottom-padding{
    padding-bottom:40px;
  }
}

@media (prefers-reduced-motion: reduce){
  *{
    animation-duration:0.01ms !important;
    animation-iteration-count:1 !important;
    scroll-behavior:auto !important;
    transition-duration:0.01ms !important;
  }
}
