<<<<<<< HEAD
/* ---------- BORDER VARIABLES ---------- */
/* ---------- BORDER VARIABLES ---------- */
/* ---------- TEXT VARIABLES ---------- */
/* -------------------- */
/* -------------------- */
/* ---------- TEXT VARIABLES ---------- */
/* ---------- SURFACE VARIABLES ---------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* ---------- SURFACE VARIABLES ---------- */
/* ---------- VIEWPORT VARIABLES ---------- */
/* ---------- VIEWPORT VARIABLES ---------- */
/* ---------- FONTS VARIABLES ---------- */
/* ---------- FONTS VARIABLES ---------- */
*, *::before, *::after {
  box-sizing: border-box;
=======
@import '../../libs/aos/aos.min.css';
*, *::before, *::after{
  box-sizing:border-box;
>>>>>>> d6b2b3b3a4ac4975c7eacc75c95408bf4580ede8
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--primary-font);
  background-color: #fff;
  color: #000;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}
<<<<<<< HEAD

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
=======
:root{
  --border-primary:#0b231f;
  --border-brand:#00a8b8;
  --border-error:#e52336;
  --text-primary:#000;
  --text-secondary:#565659;
  --text-inverse:#fff;
  --text-light:#f5f8de;
  --text-brand:#00525b;
  --text-brand-secondary:#009bab;
  --text-primary-cta:#f5f8de;
  --text-secondary-cta:#00525b;
  --text-accent-cta:#00525b;
  --text-disabled:#d9dadb;
  --text-error:#e52336;
  --text-ghost-default:#00525b;
  --text-ghost-hover:#000;
  --text-ghost-focused:#000;
  --text-ghost-disabled:#d9dadb;
  --text-ghost-active:#009bab;
  --surface-primary:#f4f4f5;
  --surface-secondary:#d9dadb;
  --surface-overlay:#565659;
  --surface-brand:#00525b;
  --surface-light:#fafafa;
  --surface-login-cta:#f5f8de;
  --surface-primary-cta:#00525b;
  --surface-prim-hover-cta:#014047;
  --surface-prim-active-cta:#0b231f;
  --surface-secondary-cta:#f3f5f6;
  --surface-sec-hover-cta:#009bab;
  --surface-accent-cta:#f5f8de;
  --surface-accent-hover-cta:#f9ffc8;
  --surface-accent-active-cta:#fff67f;
  --surface-disabled-cta:#efefef;
  --surface-highlight:#00525b;
  --primary-font:"Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font:"American Grotesk", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
}

.d-none{
  display:none !important;
}

.spacer-bottom{
  margin-bottom:80px;
}

.spacer-top{
  margin-top:80px;
}

@media screen and (max-width: 1023px){
  .spacer-bottom{
    margin-bottom:60px;
  }
  .spacer-top{
    margin-top:60px;
  }
}

@media screen and (max-width: 767px){
  .spacer-bottom{
    margin-bottom:40px;
  }
  .spacer-top{
    margin-top:40px;
  }
}

@media (prefers-reduced-motion: reduce){
  *{
    animation-duration:0.01ms !important;
    animation-iteration-count:1 !important;
    scroll-behavior:auto !important;
    transition-duration:0.01ms !important;
>>>>>>> d6b2b3b3a4ac4975c7eacc75c95408bf4580ede8
  }
}
:root {
  /* ---------- BORDER VARIABLES ---------- */
  --border-primary: #0b231f; /* from "border-primary" */
  --border-brand: #00a8b8; /* from "border-brand" */
  --border-error: #e52336; /* from "border-error" */
  /* ---------- BORDER VARIABLES ---------- */
  /* ---------- TEXT VARIABLES ---------- */
  --text-primary: #000; /* from "text-primary" */
  --text-secondary: #565659; /* from "text-secondary" */
  --text-inverse: #fff; /* from "text-inverse" */
  --text-light: #f5f8de; /* from "text-light" */
  --text-brand: #00525b; /* from "text-brand" */
  --text-brand-secondary: #009bab; /* from "text-brand secondary" */
  /* -------------------- */
  --text-primary-cta: #f5f8de; /* from "text-primarycta" */
  --text-secondary-cta: #00525b; /* from "text-secondarycta" */
  --text-accent-cta: #00525b; /* from "text-accentcta" */
  --text-disabled: #d9dadb; /* from "text-disabled" */
  --text-error: #e52336; /* from "text-error" */
  /* -------------------- */
  --text-ghost-default: #00525b; /* from "text -ghost default" */
  --text-ghost-hover: #000; /* from "text -ghost hover" */
  --text-ghost-focused: #000; /* from "text -ghost focused" */
  --text-ghost-disabled: #d9dadb; /* from "text -ghost disabled" */
  --text-ghost-active: #009bab; /* from "text -ghost active" */
  /* ---------- TEXT VARIABLES ---------- */
  /* ---------- SURFACE VARIABLES ---------- */
  --surface-primary: #f4f4f5; /* from "surface-primary" */
  --surface-secondary: #d9dadb; /* from "surface-secondary" */
  --surface-overlay: #565659; /* from "surface-overlay" */
  --surface-brand: #00525b; /* from "surface-brand" */
  --surface-login-cta: #f5f8de; /* from "surface-login cta" */
  /* -------------------- */
  --surface-primary-cta: #00525b; /* from "surface-primary cta" */
  --surface-prim-hover-cta: #014047; /* from "surface-primhover cta" */
  --surface-prim-active-cta: #0b231f; /* from "surface-primactive cta" */
  /* -------------------- */
  --surface-secondary-cta: #f3f5f6; /* from "surface-secondary cta" */
  --surface-sec-hover-cta: #009bab; /* from "surface-sechover cta" */
  /* -------------------- */
  --surface-accent-cta: #f5f8de; /* from "surface-accent cta" */
  --surface-accent-hover-cta: #f9ffc8; /* from "surface-accenthover cta" */
  --surface-accent-active-cta: #fff67f; /* from "surface-accentactive cta" */
  /* -------------------- */
  --surface-disabled-cta: #efefef; /* from "surface-disabledcta" */
  --surface-highlight: #00525b; /* from "surface-highlight" */
  /* ---------- SURFACE VARIABLES ---------- */
  /* ---------- VIEWPORT VARIABLES ---------- */
  --desktop: 1025px;
  --tablet: 1024px;
  --mobile: 768px;
  /* ---------- VIEWPORT VARIABLES ---------- */
  /* ---------- FONTS VARIABLES ---------- */
  --primary-font: "Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font: "American Grotesk", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  /* ---------- FONTS VARIABLES ---------- */
}/*# sourceMappingURL=styles.css.map */