@use '../../styles/base' as *;

.momentum-section {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 80px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1452px;
  padding: 0 40px;

  & > div:nth-child(2) {
    display: flex;
    gap: 40px;
    padding: 0 !important;

    // UL 1 (The number/large text block)
    & > ul:nth-child(1) {
      list-style: none;
      padding-left: 0;
      width: 690px;

      & > li {
        display: flex;

        // Large number/paragraph
        & > p {
          color: #0b231f;
          font-family: var(--secondary-font);
          font-size: 144.52px;
          font-style: black;
          font-weight: 900;
          line-height: 99.1px;
          margin: unset;
          text-transform: capitalize;
        }

        & > ul {
          list-style: none;
          padding-left: 0;

          & > li:nth-child(1) {
            font-size: 28.9px;
            font-weight: 400;
            line-height: 49.55px;
            margin-top: 20px;
          }
        }

        &:nth-child(1) {
          & > ul {
            margin-top: 0;
            padding-left: 0;

            & > li:nth-child(1) {
              color: #0b231f;
              font-family: var(--secondary-font);
              font-size: 73.03px;
              font-style: black;
              font-weight: 900;
              letter-spacing: 0%;
              line-height: 49.55px;
              margin: 0 !important;
            }

            & > li:nth-child(2) {
              color: #0b231f;
              font-family: var(--secondary-font);
              font-size: 33.03px;
              font-weight: 900;
              line-height: 49.55px;
            }
          }
        }

        &:nth-child(2) > ul {
          padding-left: 0;
        }
      }
    }

    // UL 2 (The content block on the right)
    & > ul:nth-child(2) {
      list-style: none;
      padding-left: 0;
      margin: 0 auto;

      & > li > ul {
        list-style: none;
        padding: unset;
        margin: 0 auto; // Merged with rule from line 327 (duplicate selector fix)

        & > li > ul {
          list-style: none;
          padding-left: unset;
        }

        & > li:nth-child(1) p {
          color: #0b231f;
          font-size: 40px;
          font-style: black;
          font-weight: 900;
          line-height: 48px;
          margin: 0 auto;
          text-transform: capitalize;
        }

        & > li:nth-child(2) {
          margin: 20px 0;

          p {
            font-size: 24px;
            font-style: bold;
            font-weight: 700;
            line-height: 32px;
            margin: 0 auto;
            text-transform: capitalize;
          }
        }

        & > li:nth-child(3) {
          margin-bottom: 20px;

          p {
            font-size: 16px;
            font-style: regular;
            font-weight: 400;
            letter-spacing: 0%;
            line-height: 24px;
          }
        }

        & > li:nth-child(4) .button-container > a {
          background-color: #00525b;
          border: 0;
          border-radius: 20px;
          color: #fff;
          display: block;
          font-size: 16px;
          height: 40px;
          line-height: 24px;
          padding: 8px 24px;
          width: fit-content;
        }
      }
    }
  }

  // Media Queries nested inside .momentum-section
  @media screen and (max-width: 767px) {
    padding: 0;

    & > div:nth-child(2) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    gap: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}

// ---------------------------------------------
// Teaser/Block Components (Desktop/Mobile)
// ---------------------------------------------

.tmb-teaser-wrapper {
  margin-left: 0 !important;
  padding: 0 !important;
  display: flex;
  gap: 40px;
  max-width: 1372px !important;
}

.momentum-block {
  display: flex;
  gap: 40px;

  & > .tmb-teaser-content {
    height: auto;
    width: 600px;

    picture {
      height: 100%;
    }

    & > div {
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }

  h2 {
    color: #0B231F;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 20px;
  }

  h3 {
    color: #0B231F;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .button-container > a {
    background-color: #00525b;
    border-radius: 20px;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 8px 24px;
    width: fit-content;
  }

  div > div > p:nth-child(4) {
    display: none;
  }

  // Media Queries nested inside .momentum-block
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 35px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 19px;
      margin-bottom: 10px;
    }

    p {
      font-size: 11px;
      margin-bottom: 10px;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    & > .teaser-content {
      width: 60%;
    }

    & > .tmb-teaser-content {
      height: auto;
      min-height: 100%;
      width: 40%;
    }
  }

  @media screen and (max-width: 768px) {
    & > .tmb-teaser-content {
      height: 100%;
      max-width: 300px;
      min-width: 150px;
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    gap: 8px;
    padding: 0 20px;

    h2 {
      display: none;
      font-size: 20px;
      font-weight: 800;
    }

    h3 {
      font-size: 20px;
      font-weight: 800;
      line-height: 24px;
      margin: 0;
    }

    div > div > p:nth-child(3) {
      display: none;
      line-height: 24px;
      margin: unset;
    }

    div > div > p:nth-child(4) {
      display: block !important;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      margin: unset;
    }

    .button-container > a {
      display: flex;
      font-size: 9px;
      font-weight: 600;
      justify-content: center;
      line-height: 13.5px;
      margin-top: 12px;
      padding: 4.5px 13.5px;
    }

    img {
      height: 232px;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .momentum-block {
    flex-wrap: unset;
  }

  .momentum-teaser-wrapper {
    padding: 0 !important;
  }

  .momentum-section > div:nth-child(2) > ul:nth-child(1) {
    max-width: 690px;
    width: 100%;

    & > li > p {
      font-family: var(--secondary-font);
      font-size: 80px;
      font-weight: 900;
      line-height: 50px;
    }

    & > li:nth-child(1) > ul > li:nth-child(1) {
      font-family: var(--secondary-font);
      font-size: 60px;
      font-weight: 900;
      line-height: 40px;
    }

    & > li > ul > li:nth-child(1) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul > li:nth-child(1) p {
    font-size: 32px;
    line-height: 40px;
  }
}

// ---------------------------------------------
// Momentum Teaser/Listing Wrappers (Duplicate Structure)
// ---------------------------------------------

.momentum-teaser-block h2 {
  color: #0b231f;
  font-size: 144.52px;
  font-weight: 900;
}

.momentum-listing-wrapper {
  max-width: 1378px;
  padding: 0 !important;
  list-style: none;

  & > li {
    display: flex;

    p {
      font-size: 144.52px;
      font-style: black;
      font-weight: 900;
      line-height: 99.1px;
      margin: unset;
      text-transform: capitalize;
    }

    & > ul {
      list-style: none;

      & > li:nth-child(1) {
        font-size: 28.9px;
        font-weight: 400;
        line-height: 49.55px;
      }
    }

    &:nth-child(1) > ul {
      margin-top: 20px;
      padding-left: 0;

      & > li:nth-child(1) {
        font-size: 73.03px;
        font-style: black;
        font-weight: 900;
        letter-spacing: 0%;
        line-height: 49.55px;
        margin: 0;
      }

      & > li:nth-child(2) {
        font-family: var(--secondary-font);
        font-size: 33.03px;
        font-weight: 900;
        line-height: 49.55px;
      }
    }

    &:nth-child(2) > ul {
      padding-left: 0;
    }
  }

  & + ul {
    list-style: none;
  }
}

.momentum-teaser-wrapper {
  & > ul:nth-child(2) > li > ul {
    list-style: none;

    & > li > ul {
      list-style: none;
      margin: 0 auto;
      padding-left: unset;
    }

    & > li:nth-child(1) p {
      color: #0b231f;
      font-size: 40px;
      font-style: black;
      font-weight: 900;
      line-height: 48px;
      margin: 0 auto;
      text-transform: capitalize;
    }

    & > li:nth-child(2) {
      margin: 20px 0;

      p {
        font-size: 24px;
        font-style: bold;
        font-weight: 700;
        line-height: 32px;
        margin: 0 auto;
        text-transform: capitalize;
      }
    }

    & > li:nth-child(3) {
      margin-bottom: 20px;

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0%;
        line-height: 24px;
      }
    }

    & > li:nth-child(4) .button-container {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}