.momentum-section{
  align-items:center;
  display:flex;
  flex-flow:column wrap;
  gap:80px;
  justify-content:space-between;
  margin-left:auto;
  margin-right:auto;
  max-width:1452px;
  padding:0 40px;
}

.momentum-section > div:nth-child(2){
  display:flex;
  gap:40px;
  padding:0 !important;
}

.momentum-section > div:nth-child(2) > ul:nth-child(1){
  list-style:none;
  padding-left:0;
  width:690px;
}

.momentum-section > div:nth-child(2) > ul:nth-child(1) > li{
  display:flex;
}

.momentum-section > div:nth-child(2) > ul:nth-child(1) > li > p{
  color:#0b231f;
  font-family:var(--secondary-font);
  font-size:144.52px;
  font-style:black;
  font-weight:900;
  line-height:99.1px;
  margin:unset;
  text-transform:capitalize;
}

.momentum-section > div:nth-child(2) > ul:nth-child(1) > li > ul{
  list-style:none;
  padding-left:0;
}

.momentum-section > div:nth-child(2) > ul:nth-child(1) > li > ul > li:nth-child(1){
  font-size:28.9px;
  font-weight:400;
  line-height:49.55px;
  margin-top:20px;
}

.momentum-section > div:nth-child(2) > ul:nth-child(1) > li:nth-child(1) > ul{
  margin-top:0;
  padding-left:0;
}

.momentum-section > div:nth-child(2) > ul:nth-child(1) > li:nth-child(1) > ul > li:nth-child(1){
  color:#0b231f;
  font-family:var(--secondary-font);
  font-size:73.03px;
  font-style:black;
  font-weight:900;
  letter-spacing:0%;
  line-height:49.55px;
  margin:0 !important;
}

.momentum-section > div:nth-child(2) > ul:nth-child(1) > li:nth-child(1) > ul > li:nth-child(2){
  color:#0b231f;
  font-family:var(--secondary-font);
  font-size:33.03px;
  font-weight:900;
  line-height:49.55px;
}

.momentum-section > div:nth-child(2) > ul:nth-child(1) > li:nth-child(2) > ul{
  padding-left:0;
}

.momentum-section > div:nth-child(2) > ul:nth-child(2){
  list-style:none;
  margin:0 auto;
  padding-left:0;
}

.momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul{
  list-style:none;
  margin:0 auto;
  padding:unset;
}

.momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul > li > ul{
  list-style:none;
  padding-left:unset;
}

.momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul > li:nth-child(1) p{
  color:#0b231f;
  font-size:40px;
  font-style:black;
  font-weight:900;
  line-height:48px;
  margin:0 auto;
  text-transform:capitalize;
}

.momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul > li:nth-child(2){
  margin:20px 0;
}

.momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul > li:nth-child(2) p{
  font-size:24px;
  font-style:bold;
  font-weight:700;
  line-height:32px;
  margin:0 auto;
  text-transform:capitalize;
}

.momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul > li:nth-child(3){
  margin-bottom:20px;
}

.momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul > li:nth-child(3) p{
  font-size:16px;
  font-style:regular;
  font-weight:400;
  letter-spacing:0%;
  line-height:24px;
}

.momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul > li:nth-child(4) .button-container > a{
  background-color:#00525b;
  border:0;
  border-radius:20px;
  color:#fff;
  display:block;
  font-size:16px;
  height:40px;
  line-height:24px;
  padding:8px 24px;
  width:-moz-fit-content;
  width:fit-content;
}

.tmb-teaser-wrapper{
  display:flex;
  gap:40px;
  margin-left:0 !important;
  max-width:1372px !important;
  padding:0 !important;
}

.momentum-block{
  display:flex;
  gap:40px;
}

.momentum-block > .tmb-teaser-content{
  height:auto;
  width:600px;
}

.momentum-block > .tmb-teaser-content picture{
  height:100%;
}

.momentum-block > .tmb-teaser-content > div{
  height:100%;
}

.momentum-block > .tmb-teaser-content img{
  -o-object-fit:cover;
     object-fit:cover;
}

.momentum-block img{
  border-radius:20px;
  height:100%;
  width:100%;
}

.momentum-block h2{
  color:#0B231F;
  font-size:40px;
  font-weight:900;
  line-height:48px;
  margin-bottom:20px;
}

.momentum-block h3{
  color:#0B231F;
  font-size:24px;
  font-weight:700;
  line-height:32px;
  margin-bottom:20px;
}

.momentum-block p{
  font-size:16px;
  font-weight:400;
  line-height:24px;
  margin-bottom:20px;
}

.momentum-block .button-container > a{
  background-color:#00525b;
  border-radius:20px;
  color:#fff;
  display:block;
  font-size:16px;
  line-height:24px;
  margin:0;
  padding:8px 24px;
  width:-moz-fit-content;
  width:fit-content;
}

.momentum-block div > div > p:nth-child(4){
  display:none;
}

.momentum-teaser-block h2{
  color:#0b231f;
  font-size:144.52px;
  font-weight:900;
}

.momentum-listing-wrapper{
  list-style:none;
  max-width:1378px;
  padding:0 !important;
}

.momentum-listing-wrapper > li{
  display:flex;
}

.momentum-listing-wrapper > li p{
  font-size:144.52px;
  font-style:black;
  font-weight:900;
  line-height:99.1px;
  margin:unset;
  text-transform:capitalize;
}

.momentum-listing-wrapper > li > ul{
  list-style:none;
}

.momentum-listing-wrapper > li > ul > li:nth-child(1){
  font-size:28.9px;
  font-weight:400;
  line-height:49.55px;
}

.momentum-listing-wrapper > li:nth-child(1) > ul{
  margin-top:20px;
  padding-left:0;
}

.momentum-listing-wrapper > li:nth-child(1) > ul > li:nth-child(1){
  font-size:73.03px;
  font-style:black;
  font-weight:900;
  letter-spacing:0%;
  line-height:49.55px;
  margin:0;
}

.momentum-listing-wrapper > li:nth-child(1) > ul > li:nth-child(2){
  font-family:var(--secondary-font);
  font-size:33.03px;
  font-weight:900;
  line-height:49.55px;
}

.momentum-listing-wrapper > li:nth-child(2) > ul{
  padding-left:0;
}

.momentum-listing-wrapper + ul{
  list-style:none;
}

.momentum-teaser-wrapper > ul:nth-child(2) > li > ul{
  list-style:none;
}

.momentum-teaser-wrapper > ul:nth-child(2) > li > ul > li > ul{
  list-style:none;
  margin:0 auto;
  padding-left:unset;
}

.momentum-teaser-wrapper > ul:nth-child(2) > li > ul > li:nth-child(1) p{
  color:#0b231f;
  font-size:40px;
  font-style:black;
  font-weight:900;
  line-height:48px;
  margin:0 auto;
  text-transform:capitalize;
}

.momentum-teaser-wrapper > ul:nth-child(2) > li > ul > li:nth-child(2){
  margin:20px 0;
}

.momentum-teaser-wrapper > ul:nth-child(2) > li > ul > li:nth-child(2) p{
  font-size:24px;
  font-style:bold;
  font-weight:700;
  line-height:32px;
  margin:0 auto;
  text-transform:capitalize;
}

.momentum-teaser-wrapper > ul:nth-child(2) > li > ul > li:nth-child(3){
  margin-bottom:20px;
}

.momentum-teaser-wrapper > ul:nth-child(2) > li > ul > li:nth-child(3) p{
  font-size:16px;
  font-style:normal;
  font-weight:400;
  letter-spacing:0%;
  line-height:24px;
}

.momentum-teaser-wrapper > ul:nth-child(2) > li > ul > li:nth-child(4) .button-container{
  margin:0 auto;
}

.momentum-saver-section{
  align-items:center;
  background-color:#fff;
  display:flex;
  flex-flow:column wrap;
  gap:80px;
  justify-content:space-between;
  margin-left:auto;
  margin-right:auto;
  max-width:1800px;
  padding:64px;
}

.momentum-saver-section .momentum-columns{
  background-color:#FAFBEE;
  border-radius:24px;
  display:flex;
  gap:32px;
  max-width:1440px;
  padding:64px;
}

.momentum-saver-section .momentum-columns .momentum-content h2{
  color:var(--color-text-default-heading);
  font-size:140px;
  font-style:normal;
  font-weight:900;
  line-height:120px;
  text-transform:capitalize;
}

.momentum-saver-section .momentum-columns .momentum-content p{
  color:var(--color-text-default-heading);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  width:50%;
}

.momentum-saver-section .momentum-columns .momentum-second-content h2{
  color:var(--color-text-default-heading);
  font-size:40px;
  font-style:normal;
  font-weight:900;
  line-height:40px;
  margin-bottom:16px;
  text-transform:uppercase;
}

.momentum-saver-section .momentum-columns .momentum-second-content h3{
  color:var(--color-text-default-heading);
  font-size:24px;
  font-style:normal;
  font-weight:400;
  line-height:36px;
  margin-bottom:4px;
}

.momentum-saver-section .momentum-columns .momentum-second-content p{
  color:var(--color-text-default-body);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  margin-bottom:32px;
}

.momentum-saver-section .momentum-columns .momentum-second-content .button-container{
  color:var(--color-text-default-body);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  height:40px;
  line-height:24px;
  margin-bottom:32px;
  width:150px;
}

.momentum-saver-section .momentum-columns .momentum-second-content .button-container a{
  color:var(--color-button-text-stroke-reverse);
  font-size:16px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
}

@media (min-width: 768px) and (max-width: 1024px){
  .momentum-block{
    flex-wrap:unset;
  }

  .momentum-teaser-wrapper{
    padding:0 !important;
  }

  .momentum-section > div:nth-child(2) > ul:nth-child(1){
    max-width:690px;
    width:100%;
  }

  .momentum-section > div:nth-child(2) > ul:nth-child(1) > li > p{
    font-family:var(--secondary-font);
    font-size:80px;
    font-weight:900;
    line-height:50px;
  }

  .momentum-section > div:nth-child(2) > ul:nth-child(1) > li:nth-child(1) > ul > li:nth-child(1){
    font-family:var(--secondary-font);
    font-size:60px;
    font-weight:900;
    line-height:40px;
  }

  .momentum-section > div:nth-child(2) > ul:nth-child(1) > li > ul > li:nth-child(1){
    font-size:24px;
    line-height:32px;
  }

  .momentum-section > div:nth-child(2) > ul:nth-child(2) > li > ul > li:nth-child(1) p{
    font-size:32px;
    line-height:40px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .momentum-block > .teaser-content{
    width:60%;
  }

  .momentum-block > .tmb-teaser-content{
    height:auto;
    min-height:100%;
    width:40%;
  }
}

@media screen and (max-width: 1024px){
  .momentum-block h2{
    font-size:35px;
    margin-bottom:10px;
  }

  .momentum-block h3{
    font-size:19px;
    margin-bottom:10px;
  }

  .momentum-block p{
    font-size:11px;
    margin-bottom:10px;
  }
}

@media screen and (max-width: 768px){
  .momentum-section{
    gap:80px;
    margin-left:auto;
    margin-right:auto;
  }

  .momentum-block > .tmb-teaser-content{
    height:100%;
    max-width:300px;
    min-width:150px;
    width:100%;
  }

  .momentum-teaser-wrapper{
    display:none;
  }
}

@media screen and (max-width: 767px){
  .momentum-section{
    padding:0;
  }

  .momentum-section > div:nth-child(2){
    display:none;
  }

  .momentum-block{
    gap:8px;
    padding:0 20px;
  }

  .momentum-block h2{
    display:none;
    font-size:20px;
    font-weight:800;
  }

  .momentum-block h3{
    font-size:20px;
    font-weight:800;
    line-height:24px;
    margin:0;
  }

  .momentum-block div > div > p:nth-child(3){
    display:none;
    line-height:24px;
    margin:unset;
  }

  .momentum-block div > div > p:nth-child(4){
    display:block !important;
    font-size:16px;
    font-style:normal;
    font-weight:400;
    line-height:18px;
    margin:unset;
  }

  .momentum-block .button-container > a{
    display:flex;
    font-size:9px;
    font-weight:600;
    justify-content:center;
    line-height:13.5px;
    margin-top:12px;
    padding:4.5px 13.5px;
  }

  .momentum-block img{
    height:232px;
    -o-object-fit:cover;
       object-fit:cover;
  }
}
