.aboutus-grid-content .columns.block > div > div .button-container a:not(.secondary), .aboutus-grid-content .columns.block > div > div .button-container a.secondary{
  align-items:center;
  border:none;
  border-radius:var(--radius-button);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-weight:var(--font-weight-h5);
  gap:12px;
  justify-content:center;
  padding-inline:24px;
  text-align:center;
  text-decoration:unset;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

.aboutus-grid-content{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.aboutus-grid-content .columns.block > div{
  align-items:flex-start;
  display:grid;
  gap:80px;
  grid-template-columns:1fr 1fr;
}

.aboutus-grid-content .columns.block > div > div h1, .aboutus-grid-content .columns.block > div > div h2, .aboutus-grid-content .columns.block > div > div h3, .aboutus-grid-content .columns.block > div > div h4, .aboutus-grid-content .columns.block > div > div h5, .aboutus-grid-content .columns.block > div > div h6{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  margin-bottom:16px;
  text-transform:initial;
}

.aboutus-grid-content .columns.block > div > div p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-bottom:16px;
  text-transform:initial;
}

.aboutus-grid-content .columns.block > div > div p:last-child{
  margin-bottom:0;
}

.aboutus-grid-content .columns.block > div > div p b{
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body-bold);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
}

.aboutus-grid-content .columns.block > div > div ul, .aboutus-grid-content .columns.block > div > div ol{
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  list-style:disc;
  padding-left:24px;
  text-transform:initial;
}

.aboutus-grid-content .columns.block > div > div ul li, .aboutus-grid-content .columns.block > div > div ol li{
  margin-bottom:8px;
}

.aboutus-grid-content .columns.block > div > div ol{
  list-style:decimal;
}

.aboutus-grid-content .columns.block > div > div a{
  color:var(--link-default);
  text-decoration:underline;
}

.aboutus-grid-content .columns.block > div > div .button-container{
  margin-top:32px;
}

.aboutus-grid-content .columns.block > div > div .button-container em, .aboutus-grid-content .columns.block > div > div .button-container strong{
  font-style:normal;
}

.aboutus-grid-content .columns.block > div > div .button-container a:not(.secondary){
  background-color:var(--color-button-primary-default);
  border:none;
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.aboutus-grid-content .columns.block > div > div .button-container a:not(.secondary):hover{
  background-color:var(--color-button-primary-hover);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.aboutus-grid-content .columns.block > div > div .button-container a:not(.secondary):active{
  background-color:var(--color-button-primary-press);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.aboutus-grid-content .columns.block > div > div .button-container a:not(.secondary):focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.aboutus-grid-content .columns.block > div > div .button-container a:not(.secondary) svg{
  height:12px;
  width:12px;
}

.aboutus-grid-content .columns.block > div > div .button-container a.secondary{
  background-color:var(--color-button-outlined-default);
  border:var(--stroke-button) solid var(--color-button-text-stroke-default);
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  font-style:normal;
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:6px;
  text-decoration:unset;
}

.aboutus-grid-content .columns.block > div > div .button-container a.secondary:hover{
  background-color:var(--color-button-outlined-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-hover);
  color:var(--color-button-text-stroke-hover);
}

.aboutus-grid-content .columns.block > div > div .button-container a.secondary:active{
  background-color:var(--color-button-outlined-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-press);
  color:var(--color-button-text-stroke-press);
}

.aboutus-grid-content .columns.block > div > div .button-container a.secondary:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.aboutus-grid-content .columns.block > div > div .button-container a.secondary svg{
  height:12px;
  width:12px;
}

.aboutus-grid-content .columns.block > div:has(> div:nth-child(3)){
  gap:128px;
  grid-template-columns:1fr 1fr 1fr;
}

.aboutus-grid-content .columns.block > div:has(> div:nth-child(3)) > div{
  min-height:100%;
  position:relative;
}

.aboutus-grid-content .columns.block > div:has(> div:nth-child(3)) > div::after{
  background-color:var(--line-default);
  content:"";
  height:100%;
  position:absolute;
  right:-64px;
  top:0;
  width:1px;
}

@media screen and (max-width: 1279px){
  .aboutus-grid-content{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .aboutus-grid-content .columns.block > div{
    gap:40px;
    grid-template-columns:1fr;
  }

  .aboutus-grid-content .columns.block > div:has(> div:nth-child(3)){
    gap:80px;
    grid-template-columns:1fr;
  }

  .aboutus-grid-content .columns.block > div:has(> div:nth-child(3)) > div::after{
    bottom:-40px;
    height:1px;
    right:0;
    top:unset;
    width:100%;
  }
}

@media screen and (max-width: 767px){
  .aboutus-grid-content{
    padding-inline:16px;
  }

  .aboutus-grid-content .columns.block > div{
    gap:24px;
  }

  .aboutus-grid-content .columns.block > div:has(> div:nth-child(3)){
    gap:48px;
  }

  .aboutus-grid-content .columns.block > div:has(> div:nth-child(3)) > div::after{
    bottom:-24px;
  }
}
