@use '../../styles/base' as *;

.aboutus-grid-content {
  @include responsive-container;

  .columns.block > div {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    gap: 80px;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    @include mobile {
      gap: 24px;
    }

    & > div {
      h1, h2, h3, h4, h5, h6 {
        @include typo-heading1;

        color: $heading-default;
        margin-bottom: 16px;
      }

      p {
        @include typo-body;

        color: $body-default;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        b {
          @include typo-body-bold;
        }
      }

      ul, ol {
        @include typo-body;

        list-style: disc;
        padding-left: 24px;

        li {
          margin-bottom: 8px;
        }
      }

      ol {
        list-style: decimal;
      }

      a {
        color: $link-default;
        text-decoration: underline;
      }

      .button-container {
        margin-top: 32px;

        em, strong {
          font-style: normal;
        }
        
        a:not(.secondary) {
          @include button('primary');
        }
        
        a.secondary {
          @include button('outlined');
          
          font-style: normal;
          text-decoration: unset;
        }
      }
    }

    &:has(> div:nth-child(3)) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: calc(64px * 2);
        
      @include tablet {
        grid-template-columns: 1fr;
        gap: calc(40px * 2);
      }

      @include mobile {
        gap: calc(24px * 2);
      }

      & > div {
        position: relative;
        min-height: 100%;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -64px;
          background-color: $line-default;
          width: 1px;
          height: 100%;

          @include tablet {
            top: unset;
            right: 0;
            height: 1px;
            width: 100%;
            bottom: -40px;
          }

          @include mobile {
            bottom: -24px;
          }
        }

        &:last-child::after {
          content: unset;
        }
      }
    } 
  }
}