@use '../../styles/base' as *;

.customer{
    position: relative;
    background: $gradient-1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &::after {
      /* content: ''; */
      position: absolute;
      height: 20px;
      width: 100%;
      background-image: $gradient-after;
      background-repeat: no-repeat;
      background-size: 100%;
      left: 0;
      bottom: 0;
    }

    .columns-wrapper{
        @include responsive-container;

        .block{
            .columns-container{
                gap: 32px;
                align-items: stretch;

                div{
                    background: $bg-default;
                    border-radius: $radius-card;
                    padding: 40px 24px;
                    display: flex;
                    flex-direction: column;

                    h1,h2,h3{
                        @include typo-heading1;

                        color: $heading-default;
                        text-align: center;
                        font-family: $secondary-font;
                        font-style: normal;
                        
                        // font-size: 40px;
                        // font-weight: 900;
                        // line-height: 40px; 
                        // text-transform: uppercase;
                        letter-spacing: 2px;
                    }

                    p{
                        @include typo-body;

                        color: $body-default;
                        text-align: center;
                        margin: 16px 0 32px;

                        // font-size: 16px;
                        // font-weight: 400;
                        // line-height: 24px;
                    }

                    p.button-container{
                      display: flex;
                      justify-content: center;
                      margin: 0;

                      a {
                        @include button('primary');
                        @include typo-heading5;
                      }
                    }

                    &:nth-child(2){
                      p.button-container a {
                        @include button('outlined');
                      }
                    }
                }
            }
        }
    }

    .content-container{
        @include responsive-container;
        
        .para-0{
            @include typo-body;

            color: $body-default;
            text-align: center;

            // font-size: 16px;
            // font-weight: 400;
            // line-height: 24px;

            a{
                @include typo-body;

                // font-size: 16px;
                // font-weight: 400;
                // line-height: 24px;
                color: $link-default;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
            }
        }

        .para-1{
            @include typo-disclaimer;

            // font-size: 12px;
            // font-weight: 400;
            // line-height: 18px;
            margin-top: 16px;
            color: $body-default;
            text-align: center;
        }
    }
}