@use '../../styles/base' as *;

.faq-landing-banner {
  background: $gradient-1;
  min-height: 368px;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include mobile {
    justify-content: flex-end;
    min-height: 400px;
    margin-bottom: 12px;
  }

  .columns-wrapper {
    @include responsive-container;

    width: 100%;
  }

  .columns.block {
    padding: 24px;

    @include mobile {
      padding: 16px 0;
    }

    .faq-banner-wrap {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      gap: 24px;

      @include mobile {
        gap: 16px;
      }
    }
  }

  .faq-banner-content {
    h1, h2, h3, h4, h5, h6 {
      font-family: $secondary-font;
      letter-spacing: 2px;
      font-size: 60px;
      line-height: 52px;
      color: $heading-default;
      margin-bottom: 24px;

      @include mobile {
        font-size: 40px;
        line-height: 32px;
        margin-bottom: 16px;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: $heading-default;

      @include mobile {
        font-size: 14px;
        line-height: 18px;
      }
    }

    p + ul {
      margin-top: 16px;
    }

    ul {
      list-style-type: disc;
      padding-left: 24px;
    
      li {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: $heading-default;

        @include mobile {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  .faq-banner-search {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 4px;
    width: 100%;
    background-color: $bg-default;
    border-radius: $radius-card;

    picture {
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bg-reverse;
      border-radius: $radius-button;
    }

    img {
      width: 24px;
      height: 24px;
    }

    .faq-search-input {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $body-default;
      outline: none;
    }
  }
}