@use '../../styles/base' as *;

.faq-landing-banner {
  background: linear-gradient(86.93deg, #59FFA0 0.12%, #1BE7FF 100%);
  min-height: 368px;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include mobile {
    justify-content: flex-end;
    min-height: 400px;
  }

  .columns-wrapper {
    width: 100%;
  }

  .columns.block {
    /* @include responsive-container; */
    max-width: 1328px;
    width: 100%;
    padding: 56px;
    margin: 0 auto;

    @include mobile {
      padding: 16px;
    }

    .faq-banner-wrap {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      gap: 24px;

      @include mobile {
        gap: 16px;
      }
    }
  }

  .faq-banner-content {
    h1, h2, h3, h4, h5, h6 {
      font-family: $secondary-font;
      font-weight: 900;
      letter-spacing: 2px;
      font-size: 60px;
      line-height: 52px;
      color: $text-brand;
      margin-bottom: 24px;

      @include mobile {
        font-size: 40px;
        line-height: 32px;
        margin-bottom: 16px;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: $text-brand;

      @include mobile {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .faq-banner-search {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 4px;
    width: 100%;
    background-color: #f7f7f7; /* FIGMA TOKEN MISSING */
    border-radius: 44px;

    img {
      background-color: $surface-brand;
      border-radius: 50%;
      width: 36px;
      height: 36px;
    }

    .faq-search-input {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $text-primary;
      outline: none;
    }
  }
}