@use '../../styles/base' as *;

.money-overseas {
  .overseas-columns {
    @include responsive-container;

    border-bottom: 1px solid $line-default;

    &:first-child {
      .overseas-columns-wrapper {
        padding-top: 0;
      }
    }

    &:last-child {
      border-bottom: 0;

      .overseas-columns-wrapper {
        padding-bottom: 0;
      }
    }
  }

  .overseas-wrapper {
    @include responsive-container;

    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 24px;
    }

    h1,
    h2,
    h3 {
      color: $heading-default;
      font-family: $secondary-font;
      font-size: 40px;
      font-weight: 900;
      line-height: 40px;
      margin-bottom: 16px;
    }

    p {
      color: $body-default;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      max-width: 800px;
    }
  }

  .overseas-columns-wrapper {
    padding: 40px 0;
    gap: 80px;
    display: flex;
    align-items: flex-start;;
    padding-bottom: 40px;

    @include tablet-lg {
      padding: 24px 0;
      gap: 16px;
    }

    div {
      flex: unset;
      flex-direction: column;
      max-width: 370px;
      width: 100%;

      @include tablet {
        max-width: unset;
      }

      &:nth-child(2) {
        max-width: 100%;
      }

      h1,
      h2,
      h3 {
        color: $heading-default;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        white-space: normal;
        overflow-wrap: break-word;
        width: 100%;
      }
    }

    p {
      margin-bottom: 16px;
    }

    ol {
      list-style: none;
      padding: 0;
      margin-bottom: 32px;
      counter-reset: step-counter;

      ul {
        display: block;
        list-style: disc;
        background: transparent;
        margin: 10px 0 0;
        padding: 0 0 0 68px;
      }
    }

    ol>li {
      margin-bottom: 10px;
      font-size: 16px;
      color: $body-default;

      p {
        margin-bottom: 0;
      }

      &:not(&:has(p)),
      &:has(p) p {
        counter-increment: step-counter;
        display: flex;
        gap: 12px;
        align-items: baseline;

        &::before {
          content: counter(step-counter);
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 32px;
          width: fit-content;
          height: 32px;
          border-radius: 50%;
          border: 1px solid rgb(0 82 91 / 10%);
          color: $heading-default;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    ul {
      padding: 16px;
      background: var(--info-well, rgb(27 231 255 / 7%)); // Figma token missing
      margin-bottom: 32px;
      border-radius: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        margin-bottom: 8px;
        
        .overseas-columns-wrapper-ul {
          display: flex;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;
          padding: 0;
          background: unset;
          margin-bottom: unset;


          li {
            color: $body-default;
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            min-width: 130px;
            width: fit-content;
            margin-bottom: 0;

            &:nth-child(2) {
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
            }

            a {
              text-decoration: underline;
              text-underline-offset: 3px;
              color: $heading-default;
            }
          }
        }
      }
    }

    .button-container {
      margin-bottom: 0;
      
      a {
        @include button('primary');
      }
    }
  }  
}

.money-overseas-variant {
  background: $bg-light-3;

  .overseas-columns {
    .overseas-columns-wrapper {
      align-items: flex-start;

      div {
        h1,
        h2,
        h3 {
          color: $heading-default;
          font-size: 40px;
          font-weight: 900;
          line-height: 40px;
          white-space: normal;
          overflow-wrap: break-word;
          max-width: 370px;
          width: fit-content;
          font-family: $secondary-font;
            
          @include tablet{
            max-width: unset;
          }
        }
      }

      .button-container a {
        @include button('outlined');
      }
    }
  }

}

.overseas-variant {
  .overseas-columns {
    .overseas-columns-wrapper {
      div {
        h1,
        h2,
        h3 {
          color: $heading-default;
          font-size: 40px;
          font-weight: 900;
          line-height: 40px;
          white-space: normal;
          overflow-wrap: break-word;
          max-width: 370px;
          width: max-content;
          font-family: $secondary-font;

        }

        p {
          display: flex;
          margin-bottom: 10px;
          color: $body-default;

          .icon-checkmark {
            margin-right: 16px;

            .icon-svg {
              width: 32px;
              height: 32px;
              aspect-ratio: 1 / 1;
              max-width: unset;
              color: $heading-default;
            }
          }

          &:not(.button-container) a{
            color: var(--link-default);
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
      }
    }
  }}