@use '../../styles/base' as *;

.who-can-apply-section{
    @include responsive-container;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

    @include mobile{
        gap: 24px;
    }

    @include tablet{
        gap: 40px;
    }

    .default-content-wrapper{
        h2{
            color: $heading-default;
            font-family: $secondary-font;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: left;
        }
    }

    .columns-wrapper{
        .block{
            .column-container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 80px;
                align-items: baseline;

                @include mobile {
                    grid-template-columns: 1fr;
                    gap: 32px;
                }

                @include tablet {
                    grid-template-columns: 1fr;
                    gap: 32px;
                }

                div{
                    display: block; // later removed once class added
                        p{
                            color: $heading-default;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 29px
                        }

                        ul{
                            margin-top: 16px;

                            li{
                                margin-left: 25px;
                                list-style: disc;
                                color: $body-default;
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
    }

    .accordion-wrapper{
        .accordion{
            .accordion-item{
                border-bottom: 1px solid $line-default;
                border-top: 1px solid $line-default;
                padding: 16px 0;

                .accordion-item-label{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    p {
                        color: $body-default;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 29px;
                        margin-top: 4px;
                    }

                    svg{
                        color: $color-button-primary-default;
                        min-width: 40px;
                        width: 40px;
                        height: 40px;
                        padding: 8px;
                        border-radius: 44px;
                        background: $bg-light;
                        cursor: pointer;
                        margin-left: 32px;
                        transform: rotate(180deg);
                    }
                }

                .accordion-item-body{
                    margin-top: 8px;

                    p{
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                    &[open] {
                        summary {
                        svg {
                            transform: rotate(0deg);
                        }
                    }
                }
            }

           
        }
    }
}
