.compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active a{
  align-items:center;
  background-color:var(--color-button-outlined-reverse-default);
  border:none;
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  border-radius:var(--radius-button);
  color:var(--color-button-text-stroke-reverse);
  cursor:pointer;
  display:flex;
  font-size:16px;
  font-weight:500;
  gap:16px;
  justify-content:center;
  line-height:24px;
  min-width:150px;
  padding:8px 24px;
  text-align:center;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

.faq-landing-banner{
  align-items:center;
  background:var(--gradient-1);
  border-radius:0 0 40px 40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  min-height:368px;
  width:100%;
}

.faq-landing-banner .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.faq-landing-banner .columns.block{
  padding:24px;
}

.faq-landing-banner .columns.block .faq-banner-wrap{
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  gap:24px;
  width:100%;
}

.faq-landing-banner .faq-banner-content h1, .faq-landing-banner .faq-banner-content h2, .faq-landing-banner .faq-banner-content h3, .faq-landing-banner .faq-banner-content h4, .faq-landing-banner .faq-banner-content h5, .faq-landing-banner .faq-banner-content h6{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:60px;
  letter-spacing:2px;
  line-height:52px;
  margin-bottom:24px;
}

.faq-landing-banner .faq-banner-content p{
  color:var(--heading-default);
  font-size:16px;
  font-weight:500;
  line-height:24px;
}

.faq-landing-banner .faq-banner-search{
  align-items:center;
  background-color:var(--bg-default);
  border-radius:var(--radius-card);
  display:flex;
  gap:16px;
  padding:4px;
  width:100%;
}

.faq-landing-banner .faq-banner-search picture{
  align-items:center;
  background-color:var(--bg-reverse);
  border-radius:var(--radius-button);
  display:flex;
  height:36px;
  justify-content:center;
  width:36px;
}

.faq-landing-banner .faq-banner-search img{
  height:24px;
  width:24px;
}

.faq-landing-banner .faq-banner-search .faq-search-input{
  color:var(--body-default);
  font-size:14px;
  font-weight:400;
  line-height:24px;
  outline:none;
}

.compare-accounts.columns-container .columns.block{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  overflow-x:auto;
  padding-inline:64px;
  width:100%;
}

.compare-accounts.columns-container .columns.block .compare-accounts-cards{
  align-items:stretch;
  gap:0;
}

.compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card{
  border-radius:var(--radius-card);
  min-height:100%;
  min-width:304px;
}

.compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active{
  background-color:var(--bg-reverse);
}

.compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active h3, .compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active h5, .compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active p:has(.interest-rate), .compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active .interest-rate{
  color:var(--heading-reverse);
}

.compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active h4, .compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active p{
  color:var(--body-reverse);
}

.compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active a:hover{
  background-color:var(--color-button-outlined-reverse-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
}

.compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active a:active{
  background-color:var(--color-button-outlined-reverse-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
}

.compare-accounts.columns-container .columns.block .compare-accounts-cards .compare-accounts-card.active a:focus-visible{
  box-shadow:0 0 0 2px var(--color-focus-default), 0 0 0 3px var(--color-focus-reversed);
  outline:none;
}

.compare-accounts.columns-container .columns.block h3{
  border-bottom:5px solid var(--heading-default);
  color:var(--heading-default);
  font-size:var(--font-size-h3);
  font-weight:500;
  line-height:var(--font-height-h3);
  padding:32px 24px 8px;
}

.compare-accounts.columns-container .columns.block h4{
  font-size:var(--font-size-body);
  font-weight:400;
  line-height:var(--font-height-body);
  padding:16px 24px 0;
}

.compare-accounts.columns-container .columns.block h5{
  color:var(--heading-default);
  font-size:var(--font-size-disclaimer);
  line-height:var(--font-height-disclaimer);
  padding:16px 24px 0;
}

.compare-accounts.columns-container .columns.block .interest-rate{
  color:var(--heading-default);
  display:block;
  font-size:var(--font-size-h1-std);
  font-weight:500;
  line-height:var(--font-height-h1-std);
}

.compare-accounts.columns-container .columns.block .interest-rate .rate-pa{
  font-size:var(--font-size-body);
  font-weight:400;
  line-height:var(--font-height-body);
}

.compare-accounts.columns-container .columns.block p{
  color:var(--body-default);
  font-size:var(--font-size-disclaimer);
  line-height:var(--font-height-disclaimer);
  padding:16px 24px 0;
}

.compare-accounts.columns-container .columns.block p:has(.interest-rate){
  padding:4px 24px;
}

.compare-accounts.columns-container .columns.block p:has(a){
  padding-bottom:32px;
}

.compare-accounts.columns-container .columns.block a{
  border-bottom:1px solid var(--heading-default);
  color:var(--heading-default);
  display:block;
  font-size:var(--font-size-sm-body);
  line-height:var(--font-height-sm-body);
  padding-bottom:2px;
  width:-moz-fit-content;
  width:fit-content;
}

.columns img{
  width:100%;
}

.columns > div{
  display:flex;
  flex-direction:column;
}

.columns > div > div{
  order:1;
}

.columns > div > .columns-img-col{
  order:0;
}

.columns > div > .columns-img-col img{
  display:block;
}

@media (width >= 900px){
  .columns > div{
    align-items:center;
    flex-direction:unset;
    gap:24px;
  }

  .columns > div > div{
    flex:1;
    order:unset;
  }
}

@media screen and (max-width: 1279px){
  .faq-landing-banner .columns-wrapper{
    padding-inline:24px;
  }

  .compare-accounts.columns-container .columns.block{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .compare-accounts.columns-container .columns.block .compare-accounts-cards{
    flex-direction:row;
  }
}

@media screen and (max-width: 767px){
  .faq-landing-banner{
    justify-content:flex-end;
    margin-bottom:12px;
    min-height:400px;
  }

  .faq-landing-banner .columns-wrapper{
    padding-inline:16px;
  }

  .faq-landing-banner .columns.block{
    padding:0;
  }

  .faq-landing-banner .columns.block .faq-banner-wrap{
    gap:16px;
  }

  .faq-landing-banner .faq-banner-content h1, .faq-landing-banner .faq-banner-content h2, .faq-landing-banner .faq-banner-content h3, .faq-landing-banner .faq-banner-content h4, .faq-landing-banner .faq-banner-content h5, .faq-landing-banner .faq-banner-content h6{
    font-size:40px;
    line-height:32px;
    margin-bottom:16px;
  }

  .faq-landing-banner .faq-banner-content p{
    font-size:14px;
    line-height:18px;
  }

  .compare-accounts.columns-container .columns.block{
    padding-inline:16px;
  }
}
