@use './faq-banner' as *;
@use './who-can-apply' as *;
@use './customer' as *;
@use './money-overseas' as *;

.columns {
  img {
    width: 100%;
  }

  > div {
    display: flex;
    flex-direction: column;

    > div {
      order: 1;
    }

    > .columns-img-col {
      order: 0;

      img {
        display: block;
      }
    }
  }
}


@media (width >= 900px) {
  .columns {
    > div {
      align-items: center;
      flex-direction: unset;
      gap: 24px;

      > div {
        flex: 1;
        order: unset;
      }
    }
  }
}
