.faq-landing-banner{
  align-items:center;
  background:var(--gradient-1);
  border-radius:0 0 40px 40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  min-height:368px;
  width:100%;
}

.faq-landing-banner .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.faq-landing-banner .columns.block{
  padding:24px;
}

.faq-landing-banner .columns.block .faq-banner-wrap{
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  gap:24px;
  width:100%;
}

.faq-landing-banner .faq-banner-content h1, .faq-landing-banner .faq-banner-content h2, .faq-landing-banner .faq-banner-content h3, .faq-landing-banner .faq-banner-content h4, .faq-landing-banner .faq-banner-content h5, .faq-landing-banner .faq-banner-content h6{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:60px;
  letter-spacing:2px;
  line-height:52px;
  margin-bottom:24px;
}

.faq-landing-banner .faq-banner-content p{
  color:var(--heading-default);
  font-size:16px;
  font-weight:500;
  line-height:24px;
}

.faq-landing-banner .faq-banner-search{
  align-items:center;
  background-color:var(--bg-default);
  border-radius:var(--radius-card);
  display:flex;
  gap:16px;
  padding:4px;
  width:100%;
}

.faq-landing-banner .faq-banner-search picture{
  align-items:center;
  background-color:var(--bg-reverse);
  border-radius:var(--radius-button);
  display:flex;
  height:36px;
  justify-content:center;
  width:36px;
}

.faq-landing-banner .faq-banner-search img{
  height:24px;
  width:24px;
}

.faq-landing-banner .faq-banner-search .faq-search-input{
  color:var(--body-default);
  font-size:14px;
  font-weight:400;
  line-height:24px;
  outline:none;
}

.interest-rates-section{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.interest-rates-section .interest-rates-wrapper h1,
.interest-rates-section .interest-rates-wrapper h2,
.interest-rates-section .interest-rates-wrapper h3{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:40px;
  font-weight:900;
  line-height:40px;
}

.interest-rates-section .interest-rates-wrapper p{
  border-bottom:2px solid var(--heading-default);
  color:var(--heading-default);
  font-size:24px;
  font-weight:500;
  line-height:29px;
  margin-top:40px;
  padding-bottom:16px;
}

.interest-rates-section .interest-rates-columns .interest-rates-list{
  border-bottom:1px solid rgb(0 0 0 / 20%);
}

.interest-rates-section .interest-rates-columns .interest-rates-list p{
  color:var(--body-default);
  font-size:16px;
  font-weight:400;
  gap:16px;
  line-height:24px;
  padding:16px 0;
}

.interest-rate-border .interest-rates-columns .interest-rates-list:last-child{
  border-bottom:none;
}

.columns img{
  width:100%;
}

.columns > div{
  display:flex;
  flex-direction:column;
}

.columns > div > div{
  order:1;
}

.columns > div > .columns-img-col{
  order:0;
}

.columns > div > .columns-img-col img{
  display:block;
}

@media (width >= 900px){
  .columns > div{
    align-items:center;
    flex-direction:unset;
    gap:24px;
  }

  .columns > div > div{
    flex:1;
    order:unset;
  }
}

@media screen and (max-width: 1279px){
  .faq-landing-banner .columns-wrapper{
    padding-inline:24px;
  }

  .interest-rates-section{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .interest-rates-section .interest-rates-columns .interest-rates-list{
    flex-direction:row;
    gap:16px;
  }
}

@media screen and (max-width: 767px){
  .faq-landing-banner{
    justify-content:flex-end;
    margin-bottom:12px;
    min-height:400px;
  }

  .faq-landing-banner .columns-wrapper{
    padding-inline:16px;
  }

  .faq-landing-banner .columns.block{
    padding:0;
  }

  .faq-landing-banner .columns.block .faq-banner-wrap{
    gap:16px;
  }

  .faq-landing-banner .faq-banner-content h1, .faq-landing-banner .faq-banner-content h2, .faq-landing-banner .faq-banner-content h3, .faq-landing-banner .faq-banner-content h4, .faq-landing-banner .faq-banner-content h5, .faq-landing-banner .faq-banner-content h6{
    font-size:40px;
    line-height:32px;
    margin-bottom:16px;
  }

  .faq-landing-banner .faq-banner-content p{
    font-size:14px;
    line-height:18px;
  }

  .interest-rates-section{
    padding-inline:16px;
  }
}
