@use '../../styles/base' as *;

.tmb-acc-sec.accordion-container {
  background: $color-footer-info;
  padding: 32px 0;

  @media (max-width: 720px) {
    padding: 40px 0;
  }

  @media (max-width: 390px) {
    padding: 40px 0;
  }

  .accordion-wrapper{
    @include responsive-container;

    .accordion {
      @include mobile {
        padding: 0;
      }

    details {
      border: none;

      & + details {
        margin-top: 24px;
      }

      p {
        margin: 0;

        // font-size: 16px;
        // font-weight: 500;
        // line-height: 24px;
        @include typo-heading5;
      }

      .accordion-item-label {
        @include typo-heading5;

        // font-weight: 700;
        // font-size: 24px;
        // line-height: 32px;
        position: relative;
        cursor: pointer;
        list-style: none;
        overflow: auto;
        vertical-align: bottom;
        color: $heading-default;
        transition: background-color 0.2s;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        overflow: hidden;

        &::-webkit-details-marker {
          display: none;
        }

        svg {
          width: 24px;
          height: 24px;
          transition: all 0.3s ease-in-out;
          transform: rotate(180deg);
        }
      }

      .accordion-item-body {
        margin-top: 16px;
        padding-right: 48px;

        @include mobile {
          margin-top: 18px;
          padding-right: 24px;
        }
        
        p {
          @include typo-body;

          // font-weight: 400;
          // font-size: 16px;
          // line-height: 24px;
          margin: 0;
          color: $body-default;
        }
      }

      &[open] {
        summary {
          svg {
            transform: rotate(0deg);
          }
        }

        .accordion-item-body {
          border-top: none;
        }
      }
    }
  }
  }
  
}
