.tmb-acc-sec.accordion-container{
  background:var(--color-footer-info);
  padding:32px 0;
}

.tmb-acc-sec.accordion-container .accordion-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details{
  border:none;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details + details{
  margin-top:24px;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details p{
  font-family:var(--font-family-h5);
  font-size:var(--font-size-h5);
  font-weight:var(--font-weight-h5);
  letter-spacing:var(--font-letter-spacing-h5);
  line-height:var(--font-height-h5);
  margin:0;
  text-transform:initial;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-label{
  color:var(--heading-default);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-size:var(--font-size-h5);
  font-weight:var(--font-weight-h5);
  gap:16px;
  justify-content:space-between;
  letter-spacing:var(--font-letter-spacing-h5);
  line-height:var(--font-height-h5);
  list-style:none;
  overflow:auto;
  overflow:hidden;
  position:relative;
  text-transform:initial;
  transition:background-color 0.2s;
  vertical-align:bottom;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-label::-webkit-details-marker{
  display:none;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-label svg{
  height:24px;
  transform:rotate(180deg);
  transition:all 0.3s ease-in-out;
  width:24px;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-body{
  margin-top:16px;
  padding-right:48px;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-body p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin:0;
  text-transform:initial;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details[open] summary svg{
  transform:rotate(0deg);
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details[open] .accordion-item-body{
  border-top:none;
}

@media screen and (max-width: 1279px){
  .tmb-acc-sec.accordion-container .accordion-wrapper{
    padding-inline:24px;
  }
}

@media screen and (max-width: 767px){
  .tmb-acc-sec.accordion-container .accordion-wrapper{
    padding-inline:16px;
  }

  .tmb-acc-sec.accordion-container .accordion-wrapper .accordion{
    padding:0;
  }

  .tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-body{
    margin-top:18px;
    padding-right:24px;
  }
}

@media (max-width: 720px){
  .tmb-acc-sec.accordion-container{
    padding:40px 0;
  }
}

@media (max-width: 390px){
  .tmb-acc-sec.accordion-container{
    padding:40px 0;
  }
}
