@use '../../styles/base' as *;

.tmb-acc-sec.accordion-container {
  background: rgba(0, 82, 91, 0.07);
  padding: 32px 64px;

  @media (max-width: 720px) {
    padding: 40px 0px;
  }

  @media (max-width: 390px) {
    padding: 40px 0px;
  }

  .accordion-wrapper{
    @include responsive-container();
    .accordion {

      @include mobile {
        padding: 0;
      }

    details {
      border: none;

      & + details {
        margin-top: 24px;
      }

      p {
        margin: 0px;
        font-size: 16px;
        font-weight: 500;
        font-family: $primary-font;
        line-height: 24px;
      }

      .accordion-item-label {
        position: relative;
        padding-right: 48px;
        cursor: pointer;
        list-style: none;
        overflow: auto;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        vertical-align: bottom;
        color: #00525B;
        transition: background-color 0.2s;

        // &:focus,
        // &:hover {
        //   background-color: #EDEDED;
        // }

        &::-webkit-details-marker {
          display: none;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%) rotate(135deg);
          width: 8px;
          height: 8px;
          border: 2px solid;
          border-width: 2px 2px 0 0;
          transition: transform 0.2s;
        }
      }

      .accordion-item-body {
        margin-top: 16px;
        padding-right: 48px;

        @include mobile {
          margin-top: 18px;
          padding-right: 24px;
        }
        
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin: 0;
          color: #0B231F;;
          font-family: $primary-font;
        }
      }

      &[open] {
        summary {

          &::after {
            transform: translateY(-50%) rotate(-45deg);
          }
        }

        .accordion-item-body {
          border-top: none;
        }
      }
    }
  }
  }
  
}
