.tmb-acc-sec.accordion-container{
  background:rgb(0 82 91 / 7%);
  padding:32px 64px;
}

.tmb-acc-sec.accordion-container .accordion-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details{
  border:none;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details + details{
  margin-top:24px;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details p{
  font-size:16px;
  font-weight:500;
  line-height:24px;
  margin:0;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-label{
  color:var(--heading-default);
  cursor:pointer;
  font-size:24px;
  font-weight:700;
  line-height:32px;
  list-style:none;
  overflow:auto;
  padding-right:48px;
  position:relative;
  transition:background-color 0.2s;
  vertical-align:bottom;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-label::-webkit-details-marker{
  display:none;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-label::after{
  border:2px solid;
  border-width:2px 2px 0 0;
  content:"";
  height:8px;
  position:absolute;
  right:8px;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
  transition:transform 0.2s;
  width:8px;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-body{
  margin-top:16px;
  padding-right:48px;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-body p{
  color:var(--body-default);
  font-size:16px;
  font-weight:400;
  line-height:24px;
  margin:0;
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details[open] summary::after{
  transform:translateY(-50%) rotate(-45deg);
}

.tmb-acc-sec.accordion-container .accordion-wrapper .accordion details[open] .accordion-item-body{
  border-top:none;
}

@media screen and (max-width: 1279px){
  .tmb-acc-sec.accordion-container .accordion-wrapper{
    padding-inline:24px;
  }
}

@media screen and (max-width: 767px){
  .tmb-acc-sec.accordion-container .accordion-wrapper{
    padding-inline:16px;
  }

  .tmb-acc-sec.accordion-container .accordion-wrapper .accordion{
    padding:0;
  }

  .tmb-acc-sec.accordion-container .accordion-wrapper .accordion details .accordion-item-body{
    margin-top:18px;
    padding-right:24px;
  }
}

@media (max-width: 720px){
  .tmb-acc-sec.accordion-container{
    padding:40px 0;
  }
}

@media (max-width: 390px){
  .tmb-acc-sec.accordion-container{
    padding:40px 0;
  }
}
