@use '../../styles/base' as *;

.product-detail-banner {
  max-width: 1728px;
  margin: 0 auto;
  border-radius: $radius-hero;

  @include tablet {
    border-radius: 0;
  }

  &:has(.mobile-media) {
    @include mobile {
      .desktop-media {
        display: none;
      }
    }
  }

  .desktop-media {
    img {
      min-height: 524px;
      height: fit-content;
      object-fit: cover;
      border-radius: $radius-hero;

      @include tablet {
        min-height: 500px;
        border-radius: 0;
      }
    }
  }

  .mobile-media {
    display: none;

    img {
      width: 100%;
    }

    @include mobile {
      display: block;
    }
  }

  .hero-banner-main {
    position: relative;
  }

  .hero-banner-content-wrap {
    position: absolute;
    inset: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include responsive-container;

    @include tablet {
      top: unset;
      justify-content: flex-end;
      bottom: 64px;
    }

    @include mobile {
      bottom: 40px;
    }

    .hero-banner-content {
      max-width: 640px;
    }

    h4, h5, h6 {
      color: $heading-default;
      font-size: $font-size-intro;
      line-height: $font-height-intro;
      font-weight: 400;
      margin-bottom: 4px;
    }

    h1, h2, h3 {
      color: $heading-default;
      font-family: $secondary-font;
      font-size: $font-size-lg;
      line-height: $font-height-lg;
      padding-bottom: 16px;
      margin-bottom: 24px;
      text-transform: uppercase;

      @include tablet {
        margin-bottom: 0;
      }
    }

    p:has(.interest-rate) {
      width: fit-content;
    }

    p {
      font-size: $font-size-body;
      line-height: $font-height-body;
      color: $heading-default;
      font-weight: 400;
    }

    .interest-rate {
      display: grid;
      column-gap: 2px;
      grid-template-columns: 1fr 1fr;
      width: fit-content;
      padding-top: 16px;
      margin-bottom: 8px;

      .rate-num {
        display: block;
        color: $heading-default;
        grid-row: 1 / 3;
        font-size: 150px;
        line-height: 120px;
        font-family: $secondary-font;
        width: fit-content;

        @include tablet {
          font-size: 120px;
        }
      }

      .rate-percent {
        display: block;
        font-family: $secondary-font;
        color: $heading-default;
        font-size: 86px;
        line-height: 72px;
        width: fit-content;

        @include tablet {
          font-size: 62px;
        }
      }

      .rate-pa {
        display: block;
        letter-spacing: -1.8px;
        color: $heading-default;
        font-size: 45px;
        line-height: 54px;
        font-weight: 400;
        width: fit-content;

        @include mobile {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }
  }
}