@use '../../styles/base' as *;

body:has(.product-detail-banner) {
  .breadcrumb.block {
    color: $link-default;
    padding-block: 16px;
  }
}

.product-detail-banner {
  max-width: 1728px;
  margin: 0 auto;
  border-radius: $radius-hero;
  overflow: hidden;

  @include tablet {
    border-radius: 0;
  }

  .hero-banner-desktop-media {
    img, video {
      width: 100%;
      min-height: 524px;
      height: fit-content;
      object-fit: cover;
      border-radius: $radius-hero;

      @include tablet {
        min-height: 500px;
        border-radius: 0;
      }
    }

    @include mobile {
      display: none;
    }
  }

  .hero-banner-mobile-media {
    display: none;

    img, video {
      width: 100%;
      object-fit: cover;
    }

    @include mobile {
      display: block;
    }
  }

  .hero-banner {
    position: relative;
  }

  .hero-banner-content-wrap {
    position: absolute;
    inset: 0;
    bottom: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;

    @include responsive-container;

    @include tablet {
      bottom: 64px;
    }

    @include mobile {
      bottom: 40px;
    }

    .hero-banner-content {
      max-width: 640px;
      pointer-events: auto;
    }

    h1, h2, h3 {
      @include typo-intro;

      color: $heading-default;
      margin-bottom: 4px;
    }

    h4, h5, h6 {
      @include typo-large-heading;

      color: $heading-default;
      padding-bottom: 16px;
    }

    p {
      @include typo-body;

      color: $body-default;
      margin-bottom: 16px;

      @include tablet {
        font-weight: $font-weight-body;
      }
    }

    .hero-banner-buttons-wrap {
      display: flex;
      gap: 16px;
      margin-top: 24px;
      flex-wrap: wrap;

      @include mobile {
        flex-direction: column;
        gap: 12px;
      }

      .button {
        margin: 0; 
        
        &.primary {
          @include button('primary');
        }
        
        &.secondary {
          @include button('secondary');
        }
      }
    }

    .interest-rate {
      display: grid;
      column-gap: 2px;
      grid-template-columns: auto auto;
      width: fit-content;
      margin-top: 24px;
      margin-bottom: 8px;

      @include tablet { margin-top: 0; }

      .rate-num {
        color: $heading-default;
        font-family: $font-family-lg;
        grid-row: 1 / 3;
        font-size: 150px;
        line-height: 120px;
        font-weight: $font-weight-rate;

        @include tablet { font-size: 120px; }
      }

      .rate-percent {
        color: $heading-default;
        font-family: $font-family-lg;
        font-size: 86px;
        line-height: 72px;
        font-weight: $font-weight-rate;

        @include tablet { font-size: 62px; }
      }

      .rate-pa {
        letter-spacing: -1.8px;
        color: $heading-default;
        font-family: $font-family-h1-std;
        font-size: 45px;
        line-height: 54px;
        font-weight: $font-weight-rate-p-a;

        @include mobile {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }
  }
}