@use '../../styles/base' as *;

body:has(.product-detail-banner) {
  .breadcrumb.block {
    color: $link-default;
    padding-block: 16px;
  }
}

.product-detail-banner {
  max-width: 1728px;
  margin: 0 auto;
  border-radius: $radius-hero;

  @include tablet {
    border-radius: 0;
  }

  &:has(.mobile-media) {
    @include mobile {
      .desktop-media {
        display: none;
      }
    }
  }

  .desktop-media {
    img {
      min-height: 524px;
      height: fit-content;
      object-fit: cover;
      border-radius: $radius-hero;

      @include tablet {
        min-height: 500px;
        border-radius: 0;
      }
    }
  }

  .mobile-media {
    display: none;

    img {
      width: 100%;
    }

    @include mobile {
      display: block;
    }
  }

  .hero-banner-main {
    position: relative;
  }

  .hero-banner-content-wrap {
    position: absolute;
    inset: 0;
    top: unset;
    bottom: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include responsive-container;

    @include tablet {
      top: unset;
      justify-content: flex-end;
      bottom: 64px;
    }

    @include mobile {
      bottom: 40px;
    }

    .hero-banner-content {
      max-width: 640px;
    }

    h4, h5, h6 {
      @include typo-intro;

      color: $heading-default;

      // font-size: $font-size-intro;
      // line-height: $font-height-intro;
      // font-weight: $font-weight-intro;
      margin-bottom: 4px;
    }

    h1, h2, h3 {
      @include typo-large-heading;

      color: $heading-default;

      // font-family: $secondary-font;
      // font-size: $font-size-lg;
      // line-height: $font-height-lg;
      // text-transform: uppercase;
      // font-weight: $font-weight-lg;
      padding-bottom: 16px;
    }

    p:has(.interest-rate) {
      width: fit-content;

      & + p {
        color: $heading-default;
      }
    }

    .interest-rate {
      display: grid;
      column-gap: 2px;
      grid-template-columns: 1fr 1fr;
      width: fit-content;
      padding-top: 16px;
      margin-top: 24px;
      margin-bottom: 8px;

      @include tablet {
        margin-top: 0;
      }

      .rate-num {
        display: block;
        color: $heading-default;
        grid-row: 1 / 3;
        font-size: 150px; // Figma missing token
        line-height: 120px;
        font-family: $secondary-font;
        font-weight: $font-weight-lg;
        width: fit-content;

        @include tablet {
          font-size: 120px;
        }
      }

      .rate-percent {
        display: block;
        font-family: $secondary-font;
        color: $heading-default;
        font-size: 86px; // FIGMA MISSING TOKEN
        line-height: 72px;
        width: fit-content;
        font-weight: $font-weight-lg;

        @include tablet {
          font-size: 62px;
        }
      }

      .rate-pa {
        display: block;
        letter-spacing: -1.8px;
        color: $heading-default;
        font-size: 45px; // FIGMA MISSING TOKEN
        line-height: 54px;
        font-weight: $font-weight-h1-std;
        width: fit-content;

        @include mobile {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }

    p {
      @include typo-body;

      // font-size: $font-size-body;
      // line-height: $font-height-body;
      color: $body-default;
      
     // font-weight: 400; // FIGMA MISSING TOKEN

    //  font-weight: $font-weight-fw-body; // Missing figma token

      @include tablet{
        font-weight: $font-weight-body;
      }
    }
  }
}