body:has(.product-detail-banner) .breadcrumb.block{
  color:var(--link-default);
  padding-block:16px;
}

.product-detail-banner{
  border-radius:var(--radius-hero-var);
  margin:0 auto;
  max-width:1728px;
}

.product-detail-banner .desktop-media img{
  border-radius:var(--radius-hero-var);
  height:-moz-fit-content;
  height:fit-content;
  min-height:524px;
  -o-object-fit:cover;
     object-fit:cover;
}

.product-detail-banner .mobile-media{
  display:none;
}

.product-detail-banner .mobile-media img{
  width:100%;
}

.product-detail-banner .hero-banner-main{
  position:relative;
}

.product-detail-banner .hero-banner-content-wrap{
  inset:0;
  bottom:80px;
  display:flex;
  flex-direction:column;
  height:-moz-fit-content;
  height:fit-content;
  justify-content:flex-end;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  position:absolute;
  top:unset;
  width:100%;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-content{
  max-width:640px;
}

.product-detail-banner .hero-banner-content-wrap h1, .product-detail-banner .hero-banner-content-wrap h2, .product-detail-banner .hero-banner-content-wrap h3{
  color:var(--heading-default);
  font-family:var(--font-family-intro);
  font-size:var(--font-size-intro);
  font-weight:var(--font-weight-intro);
  letter-spacing:var(--font-letter-spacing-intro);
  line-height:var(--font-height-intro);
  margin-bottom:4px;
  text-transform:initial;
}

.product-detail-banner .hero-banner-content-wrap h4, .product-detail-banner .hero-banner-content-wrap h5, .product-detail-banner .hero-banner-content-wrap h6{
  color:var(--heading-default);
  font-family:var(--font-family-lg);
  font-size:var(--font-size-lg);
  font-weight:var(--font-weight-lg);
  letter-spacing:var(--font-letter-spacing-lg);
  line-height:var(--font-height-lg);
  padding-bottom:16px;
  text-transform:initial;
}

.product-detail-banner .hero-banner-content-wrap p:has(.interest-rate){
  width:-moz-fit-content;
  width:fit-content;
}

.product-detail-banner .hero-banner-content-wrap p:has(.interest-rate) + p{
  color:var(--heading-default);
}

.product-detail-banner .hero-banner-content-wrap .interest-rate{
  -moz-column-gap:2px;
       column-gap:2px;
  display:grid;
  grid-template-columns:1fr 1fr;
  margin-bottom:8px;
  margin-top:24px;
  padding-top:16px;
  width:-moz-fit-content;
  width:fit-content;
}

.product-detail-banner .hero-banner-content-wrap .interest-rate .rate-num{
  color:var(--heading-default);
  display:block;
  font-family:var(--font-family-lg);
  font-size:150px;
  font-weight:var(--font-weight-rate);
  grid-row:1/3;
  line-height:120px;
  width:-moz-fit-content;
  width:fit-content;
}

.product-detail-banner .hero-banner-content-wrap .interest-rate .rate-percent{
  color:var(--heading-default);
  display:block;
  font-family:var(--font-family-lg);
  font-size:86px;
  font-weight:var(--font-weight-rate);
  line-height:72px;
  width:-moz-fit-content;
  width:fit-content;
}

.product-detail-banner .hero-banner-content-wrap .interest-rate .rate-pa{
  color:var(--heading-default);
  display:block;
  font-family:var(--font-family-h1-std);
  font-size:45px;
  font-weight:var(--font-weight-rate-p-a);
  letter-spacing:-1.8px;
  line-height:54px;
  width:-moz-fit-content;
  width:fit-content;
}

.product-detail-banner .hero-banner-content-wrap p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
}

@media screen and (max-width: 1279px){
  .product-detail-banner .hero-banner-content-wrap{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .product-detail-banner{
    border-radius:0;
  }

  .product-detail-banner .desktop-media img{
    border-radius:0;
    min-height:500px;
  }

  .product-detail-banner .hero-banner-content-wrap{
    bottom:64px;
    justify-content:flex-end;
    top:unset;
  }

  .product-detail-banner .hero-banner-content-wrap .interest-rate{
    margin-top:0;
  }

  .product-detail-banner .hero-banner-content-wrap .interest-rate .rate-num{
    font-size:120px;
  }

  .product-detail-banner .hero-banner-content-wrap .interest-rate .rate-percent{
    font-size:62px;
  }

  .product-detail-banner .hero-banner-content-wrap p{
    font-weight:var(--font-weight-body);
  }
}

@media screen and (max-width: 767px){
  .product-detail-banner:has(.mobile-media) .desktop-media{
    display:none;
  }

  .product-detail-banner .mobile-media{
    display:block;
  }

  .product-detail-banner .hero-banner-content-wrap{
    bottom:40px;
    padding-inline:16px;
  }

  .product-detail-banner .hero-banner-content-wrap .interest-rate .rate-pa{
    font-size:32px;
    line-height:32px;
  }
}
