.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.primary, .product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.secondary{
  align-items:center;
  border:none;
  border-radius:var(--radius-button);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-weight:var(--font-weight-h5);
  gap:16px;
  justify-content:center;
  padding-inline:24px;
  text-align:center;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

body:has(.product-detail-banner) .breadcrumb.block{
  color:var(--link-default);
  padding-block:16px;
}

.product-detail-banner{
  border-radius:var(--radius-hero-var);
  margin:0 auto;
  max-width:1728px;
  overflow:hidden;
}

.product-detail-banner .hero-banner-desktop-asset img, .product-detail-banner .hero-banner-desktop-asset video{
  border-radius:var(--radius-hero-var);
  height:-moz-fit-content;
  height:fit-content;
  min-height:524px;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
}

.product-detail-banner .hero-banner-mobile-asset{
  display:none;
}

.product-detail-banner .hero-banner-mobile-asset img, .product-detail-banner .hero-banner-mobile-asset video{
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
}

.product-detail-banner .hero-banner{
  position:relative;
}

.product-detail-banner .hero-banner-content-wrap{
  inset:0;
  bottom:80px;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:flex-end;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  pointer-events:none;
  position:absolute;
  width:100%;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-content{
  max-width:640px;
  pointer-events:auto;
}

.product-detail-banner .hero-banner-content-wrap h1, .product-detail-banner .hero-banner-content-wrap h2, .product-detail-banner .hero-banner-content-wrap h3{
  color:var(--heading-default);
  font-family:var(--font-family-intro);
  font-size:var(--font-size-intro);
  font-weight:var(--font-weight-intro);
  letter-spacing:var(--font-letter-spacing-intro);
  line-height:var(--font-height-intro);
  margin-bottom:4px;
  text-transform:initial;
}

.product-detail-banner .hero-banner-content-wrap h4, .product-detail-banner .hero-banner-content-wrap h5, .product-detail-banner .hero-banner-content-wrap h6{
  color:var(--heading-default);
  font-family:var(--font-family-lg);
  font-size:var(--font-size-lg);
  font-weight:var(--font-weight-lg);
  letter-spacing:var(--font-letter-spacing-lg);
  line-height:var(--font-height-lg);
  padding-bottom:16px;
  text-transform:initial;
}

.product-detail-banner .hero-banner-content-wrap p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-bottom:16px;
  text-transform:initial;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap{
  display:flex;
  flex-wrap:wrap;
  gap:16px;
  margin-top:24px;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button{
  margin:0;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.primary{
  background-color:var(--color-button-primary-default);
  border:none;
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.primary:hover{
  background-color:var(--color-button-primary-hover);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.primary:active{
  background-color:var(--color-button-primary-press);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.primary:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.primary svg{
  align-items:center;
  display:flex;
  height:12px;
  justify-content:center;
  width:12px;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.secondary{
  background-color:var(--color-button-secondary-default);
  border:none;
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.secondary:hover{
  background-color:var(--color-button-secondary-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.secondary:active{
  background-color:var(--color-button-secondary-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.secondary:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap .button.secondary svg{
  align-items:center;
  display:flex;
  height:12px;
  justify-content:center;
  width:12px;
}

.product-detail-banner .hero-banner-content-wrap .interest-rate{
  -moz-column-gap:2px;
       column-gap:2px;
  display:grid;
  grid-template-columns:auto auto;
  margin-bottom:8px;
  margin-top:24px;
  width:-moz-fit-content;
  width:fit-content;
}

.product-detail-banner .hero-banner-content-wrap .interest-rate .rate-num{
  color:var(--heading-default);
  font-family:var(--font-family-lg);
  font-size:150px;
  font-weight:var(--font-weight-rate);
  grid-row:1/3;
  line-height:120px;
}

.product-detail-banner .hero-banner-content-wrap .interest-rate .rate-percent{
  color:var(--heading-default);
  font-family:var(--font-family-lg);
  font-size:86px;
  font-weight:var(--font-weight-rate);
  line-height:72px;
}

.product-detail-banner .hero-banner-content-wrap .interest-rate .rate-pa{
  color:var(--heading-default);
  font-family:var(--font-family-h1-std);
  font-size:45px;
  font-weight:var(--font-weight-rate-p-a);
  letter-spacing:-1.8px;
  line-height:54px;
}

@media screen and (max-width: 1279px){
  .product-detail-banner .hero-banner-content-wrap{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .product-detail-banner{
    border-radius:0;
  }

  .product-detail-banner .hero-banner-desktop-asset img, .product-detail-banner .hero-banner-desktop-asset video{
    border-radius:0;
    min-height:500px;
  }

  .product-detail-banner .hero-banner-content-wrap{
    bottom:64px;
  }

  .product-detail-banner .hero-banner-content-wrap p{
    font-weight:var(--font-weight-body);
  }

  .product-detail-banner .hero-banner-content-wrap .interest-rate{
    margin-top:0;
  }

  .product-detail-banner .hero-banner-content-wrap .interest-rate .rate-num{
    font-size:120px;
  }

  .product-detail-banner .hero-banner-content-wrap .interest-rate .rate-percent{
    font-size:62px;
  }
}

@media screen and (max-width: 767px){
  .product-detail-banner .hero-banner-desktop-asset{
    display:none;
  }

  .product-detail-banner .hero-banner-mobile-asset{
    display:block;
  }

  .product-detail-banner .hero-banner-content-wrap{
    bottom:40px;
    padding-inline:16px;
  }

  .product-detail-banner .hero-banner-content-wrap .hero-banner-buttons-wrap{
    flex-direction:column;
    gap:12px;
  }

  .product-detail-banner .hero-banner-content-wrap .interest-rate .rate-pa{
    font-size:32px;
    line-height:32px;
  }
}
