@use '../../styles/base' as *;

.momentum-saver-section {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
  gap: 80px;
  justify-content: space-between;

  .columns-wrapper {
    @include responsive-container;
  }

  .momentum-columns {
    display: flex;
    padding: 64px;
    border-radius: $radius-card;

    @include mobile {
      padding: 40px 16px;
      flex-direction: column;
      align-items: flex-start;
    }

    >div {
      gap: 40px;
      align-items: flex-start;
    }

    .momentum-content {
      display: grid;
      max-width: 350px;
      width: 100%;
      grid-template-columns: 1fr 3fr;

      .rate-num {
        font-family: $font-family-lg;
        color: $heading-default;
        font-size: 140px;
        font-weight: $font-weight-rate;
        line-height: 120px;

        @include mobile {
          font-size: 120px;
          font-style: normal;
          line-height: 120px;
        }

        @media screen and (max-width: 400px) {
          font-size: 108px;
        }
      }

      .rate-unit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1;

        @include tablet {
          align-items: unset;
        }
      }

      .rate-percent {
        color: $heading-default;
        font-family: $font-family-lg;
        font-size: 80px;
        line-height: 72px;
        font-weight: $font-weight-rate;

        @include mobile {
          font-size: 78px;
          line-height: 72px;
        }

        @media screen and (max-width: 400px) {
          font-size: 70px;
        }
      }

      .rate-pa {
        color: $heading-default;
        text-align: left;
        font-size: 40px;
        font-family: $font-family-h1-std;
        font-weight: $font-weight-rate-p-a;
        line-height: 28px;

        @media screen and (max-width: 400px) {
          font-size: 32px;
        }
      }

      p {
        color: $heading-default;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 100%;

        @include mobile {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          width: 121%;
        }
      }
    }

    .momentum-second-content {
      h2 {
        @include typo-heading1;

        color: $heading-default;
        font-style: normal;
        margin-bottom: 16px;
      }


      h3 {
        color: $heading-default;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 4px;
        ;
      }

      p {
        @include typo-body;

        color: $body-default;
        font-style: normal;
        
        // font-size: 16px;
        // font-weight: 400;
        // line-height: 24px;
        margin-bottom: 24px;
      }

      p:has(a) {
        display: flex;
        gap: 8px;

        a {
          display: block;

          span {
            display: block;
          }

          svg {
            margin-top: 32px;
            display: flex;
            justify-content: flex-start;
            width: 135px;
            height: 40px;
          }
        }
      }


      .button-container {
        margin-bottom: unset;
        
        a {
          @include button('primary');
        }
      }

    }
  }
}

// updated end

// variant for section bg

.momentum-saver-section.background-color-teal {
  background-color: $bg-reverse;

  .momentum-columns.background-color-white {
    background-color: $bg-default;
  }
}


// image variant 

.momentum-saver-section.momentum-image-saver {
  .columns-wrapper {
    @include responsive-container;

    .momentum-columns {
      padding: 0;

      div {
        gap: 24px;
        align-items: center;

        .columns-img-col {
          width: 100%;
          max-width: 519.5px;

          img {
            border-radius: $radius-card;
          }
        }

        .momentum-second-content {
          @include tablet {
            display: block;
          }

          h2 {
            @include typo-heading1;

            @include mobile {
              font-size: 38px;
            }

            @include tablet {
              font-size: 38px;
            }
          }
        }
      }
    }
  }


}


// bg variant
.momentum-image-saver.bg-image-saver {
  background-color: $heading-default;

  .momentum-second-content {
    h2,
    h3,
    p {
      color: $body-reverse;
    }

    .button-container {
      a {
        @include button('secondary')
      }
    }
  }
}

.momentum-saver-section.momentum-image-saver.image-swapping {
  .columns-wrapper {
    .momentum-columns {
      div {
        gap: 80px;

        @include tablet {
          gap: 32px;
        }

        .columns-img-col {
          max-width: unset;
          width: 50%;

          @include tablet {
            width: 100%;
            max-width: unset;
          }
        }

        .momentum-second-content {
          h2 {
            @include typo-heading1;
            
            color: $heading-default;

            @include mobile {
              width: unset;
            }
          }

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}