@use '../../styles/base' as *;

.momentum-saver-section {
  .momentum-section-wrapper {
    @include responsive-container;
  }

  .default-content-wrapper {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 24px;
    }

    h1, h2, h3, h4, h5, h6 {
      @include typo-heading1;

      color: $heading-default;
    }

    p {
      @include typo-body;

      color: $body-default;
      margin-top: 16px;
    }
  }

  .columns.block > div {
    display: flex;
    gap: 80px;

    @include tablet {
      flex-direction: column;
      gap: 32px;
    }

    @include mobile {
      gap: 24px;
    }

    div {
      flex: unset;
      order: unset;

      &.columns-img-col {
        flex: 0 0 auto;

        img {
          border-radius: $radius-card;
        }
      }
    }

    h1, h2 {
      @include typo-heading1;

      color: $heading-default;
      margin-bottom: 16px;
    }
    
    h3, h4, h5, h6 {
      @include typo-intro;
      
      color: $heading-default;
      margin-bottom: 16px;
    }
    
    p {
      @include typo-body;

      margin-bottom: 16px;
      color: $body-default;
    }

    a {
      color: $link-default;
      text-decoration: underline;
    }

    ul {
      @include typo-body;

      list-style: disc;
      padding-left: 24px;

      li {
        margin-bottom: 8px;
      }
    }

    .button-container {
      display: inline-block;
      margin-top: 32px;
      margin-right: 8px;
      margin-bottom: 0;

      a:not(.secondary) {
        @include button('primary');

        font-style: normal;
        text-decoration: unset;
      }
      
      a.secondary {
        @include button('outlined');
        
        font-style: normal;
        text-decoration: unset;
      }
    }
  }
}