@use '../../styles/base' as *;

.momentum-saver-section, .momentum-image-saver, .image-swapping, .momentum-app-badges, .momentum-direct-variant {
  .momentum-section-wrapper {
    @include responsive-container;
  }

  .default-content-wrapper {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 24px;
    }

    h1, h2, h3, h4, h5, h6 {
      @include typo-heading1;

      color: $heading-default;
    }

    p {
      @include typo-body;

      color: $body-default;
      margin-top: 16px;
    }
  }

  .columns.block > div {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    @include tablet {
      flex-direction: column;
    }

    div {
      flex: unset;
      order: unset;

      &.columns-img-col {
        flex: 0 0 auto;

        img {
          border-radius: $radius-card;
        }
      }
    }

    h1, h2 {
      @include typo-heading1;

      color: $heading-default;
      margin-bottom: 16px;
    }
    
    h3, h4, h5, h6 {
      @include typo-intro;
      
      color: $heading-default;
      margin-bottom: 4px;
    }
    
    p {
      @include typo-body;

      margin-bottom: 16px;
      color: $body-default;

      &:has(.interest-rate) {
        margin-bottom: 8px;

        & + p {
          color: $heading-default;
          margin-bottom: 0;
        }
      }
    }

    a {
      color: $link-default;
      text-decoration: underline;
    }

    ul {
      @include typo-body;

      list-style: disc;
      padding-left: 24px;

      li {
        margin-bottom: 8px;
      }
    }

    .button-container {
      display: inline-block;
      margin-top: 24px;
      margin-right: 8px;
      margin-bottom: 0;

      a:not(.secondary) {
        @include button('primary');

        font-style: normal;
        text-decoration: unset;
      }
      
      a.secondary {
        @include button('outlined');
        
        font-style: normal;
        text-decoration: unset;
      }
    }

    .interest-rate {
      display: flex;
    }

    .rate-num {
      font-family: $font-family-lg;
      color: $heading-default;
      font-size: 150px;
      font-weight: $font-weight-rate;
      line-height: 120px;
    }

    .rate-unit {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      line-height: 1;

      @include tablet {
        align-items: unset;
      }
    }

    .rate-percent {
      color: $heading-default;
      font-family: $font-family-lg;
      font-size: 86px;
      line-height: 72px;
      font-weight: $font-weight-rate;
    }

    .rate-pa {
      color: $heading-default;
      text-align: left;
      font-size: 45px;
      font-family: $font-family-h1-std;
      font-weight: $font-weight-rate-p-a;
      line-height: 54px;
    }

    @media (max-width: 400px) {
      .rate-num {
        font-size: 120px;
        line-height: 120px;
      }
  
      .rate-percent {
        font-size: 66px;
        line-height: 72px;
      }
  
      .rate-pa {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
  
}

.momentum-image-saver {
  &.background-color-teal {
    .columns.block > div {
      h1, h2, h3, h4, h5, h6 {
        color: $heading-reverse;
      }

      p, ul {
        color: $body-reverse;
      }

      .button-container {
        a:not(.secondary) {
          @include button('secondary');
        }
        
        a.secondary {
          @include button('outlined-reverse');
          
          font-style: normal;
          text-decoration: unset;
        }
      }
    }
  }

  .columns.block > div {
    align-items: center;
    gap: 24px;
    
    h1, h2 {
      @include typo-heading1-std;
    }
  }
}

.image-swapping, .momentum-app-badges, .momentum-direct-variant, .circular-image {
  .columns.block > div {
    align-items: center;
    gap: 80px;

    @include tablet {
      gap: 32px
    }

    @include mobile {
      gap: 24px;
    }

    h1, h2 {
      @include typo-heading1;
    }

    h3, h4, h5, h6 {
      margin-bottom: 16px;
    }
  }
}

.momentum-app-badges {
  a:has(svg) {
    display: inline-block;
  }

  svg {
    display: flex;
    justify-content: flex-start;
    width: 135px;
    height: 40px;
  }
}

.momentum-direct-variant {
  .columns.block > div {
    ul {
      list-style: none;
    }
  }
}

.momentum-saver-section:has(.interest-rate) {
  .columns.block {
    background: $bg-default;
    padding: 64px;
    border-radius: $radius-card;

    @include tablet {
      padding: 40px 16px;
    }
  }
}

.momentum-saver-section, .momentum-image-saver {
  &.background-color-teal {
    background-color: $bg-reverse;
  }

  &.background-color-secondary {
    background-color: $bg-light;
  }

  &.background-color-gradient {
    background: $gradient-1;
  }
}

.momentum-saver-section.circular-image {
  .columns.block {
    & > div {
      gap: 64px;

      @include tablet {
        flex-direction: row;
        gap: 32px;
      }
      
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
      }
    }
  }

  &.background-color-teal {
    background: unset;

    .columns.block {
      padding: 80px 24px;
      background: $bg-reverse;
      border-radius: $radius-card;

      @include tablet {
        padding: 64px 24px;
      }

      @include mobile {
        padding: 40px 16px;
      }

      & > div {
        padding: 0 64px;

        @include tablet {
          padding: 0;
        }

        h1, h2, h3, h4, h5, h6 {
          color: $heading-reverse;
        }

        p, ul {
          color: $body-reverse;
        }

        .button-container {
          a:not(.secondary) {
            @include button('secondary');
          }
          
          a.secondary {
            @include button('outlined-reverse');
            
            font-style: normal;
            text-decoration: unset;
          }
        }
      }
    }
  }
}

.image-swapping.evergreen-image-swapping-variant{
      margin: 0 auto 40px;
    max-width: 735px;
    padding-inline: 32px;
    width: 100%;

    .momentum-section-wrapper{
      padding-inline: unset;

      .columns-wrapper{
        .block{
          div{
            gap: 32px;
          }
        }
      }
    }
}