.momentum-saver-section .momentum-columns .momentum-second-content .button-container a, .momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content a, .momentum-image-saver.bg-image-saver .momentum-second-content .button-container a{
  align-items:center;
  border:none;
  border-radius:var(--radius-button);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-weight:var(--font-weight-h5);
  gap:16px;
  justify-content:center;
  padding-inline:24px;
  text-align:center;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

.momentum-saver-section{
  align-items:center;
  background-color:#fff;
  display:flex;
  flex-flow:column wrap;
  gap:80px;
  justify-content:space-between;
}

.momentum-saver-section .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.momentum-saver-section .momentum-columns{
  border-radius:var(--radius-card);
  display:flex;
  padding:64px;
}

.momentum-saver-section .momentum-columns > div{
  align-items:flex-start;
  gap:40px;
  order:unset;
}

.momentum-saver-section .momentum-columns .momentum-content{
  display:grid;
  grid-template-columns:1fr 3fr;
  max-width:350px;
  width:100%;
}

.momentum-saver-section .momentum-columns .momentum-content .rate-num{
  color:var(--heading-default);
  font-family:var(--font-family-lg);
  font-size:140px;
  font-weight:var(--font-weight-rate);
  line-height:120px;
}

.momentum-saver-section .momentum-columns .momentum-content .rate-unit{
  align-items:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  line-height:1;
}

.momentum-saver-section .momentum-columns .momentum-content .rate-percent{
  color:var(--heading-default);
  font-family:var(--font-family-lg);
  font-size:80px;
  font-weight:var(--font-weight-rate);
  line-height:72px;
}

.momentum-saver-section .momentum-columns .momentum-content .rate-pa{
  color:var(--heading-default);
  font-family:var(--font-family-h1-std);
  font-size:40px;
  font-weight:var(--font-weight-rate-p-a);
  line-height:28px;
  text-align:left;
}

.momentum-saver-section .momentum-columns .momentum-content p{
  color:var(--heading-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
  width:100%;
}

.momentum-saver-section .momentum-columns .momentum-second-content h1,
.momentum-saver-section .momentum-columns .momentum-second-content h2,
.momentum-saver-section .momentum-columns .momentum-second-content h3{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-style:normal;
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  margin-bottom:16px;
  text-transform:initial;
}

.momentum-saver-section .momentum-columns .momentum-second-content h4,
.momentum-saver-section .momentum-columns .momentum-second-content h5,
.momentum-saver-section .momentum-columns .momentum-second-content h6{
  color:var(--heading-default);
  font-family:var(--font-family-intro);
  font-size:var(--font-size-intro);
  font-weight:var(--font-weight-intro);
  letter-spacing:var(--font-letter-spacing-intro);
  line-height:var(--font-height-intro);
  margin-bottom:4px;
  text-transform:initial;
}

.momentum-saver-section .momentum-columns .momentum-second-content p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-bottom:24px;
  text-transform:initial;
}

.momentum-saver-section .momentum-columns .momentum-second-content p:has(a){
  display:flex;
  gap:8px;
}

.momentum-saver-section .momentum-columns .momentum-second-content p:has(a) a{
  display:block;
  margin-top:32px;
}

.momentum-saver-section .momentum-columns .momentum-second-content p:has(a) a span{
  display:block;
}

.momentum-saver-section .momentum-columns .momentum-second-content p:has(a) a svg{
  display:flex;
  height:40px;
  justify-content:flex-start;
  width:135px;
}

.momentum-saver-section .momentum-columns .momentum-second-content .button-container{
  margin-bottom:unset;
}

.momentum-saver-section .momentum-columns .momentum-second-content .button-container a{
  background-color:var(--color-button-primary-default);
  border:none;
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.momentum-saver-section .momentum-columns .momentum-second-content .button-container a:hover{
  background-color:var(--color-button-primary-hover);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.momentum-saver-section .momentum-columns .momentum-second-content .button-container a:active{
  background-color:var(--color-button-primary-press);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.momentum-saver-section .momentum-columns .momentum-second-content .button-container a:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.momentum-saver-section.background-color-teal{
  background-color:var(--bg-reverse);
}

.momentum-saver-section.background-color-teal .momentum-columns.background-color-white{
  background-color:var(--bg-default);
}

.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h1,
.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h2,
.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h3,
.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h4,
.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h5,
.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h6{
  color:var(--heading-reverse);
}

.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content p{
  color:var(--body-reverse);
}

.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content a{
  background-color:var(--color-button-secondary-default);
  border:none;
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content a:hover{
  background-color:var(--color-button-secondary-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}

.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content a:active{
  background-color:var(--color-button-secondary-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}

.momentum-saver-section.background-color-teal.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content a:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.momentum-saver-section.momentum-image-saver .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns{
  padding:0;
}

.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div{
  align-items:center;
  gap:24px;
}

.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .columns-img-col{
  max-width:519.5px;
  width:100%;
}

.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .columns-img-col img{
  border-radius:var(--radius-card);
}

.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h1,
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h2,
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h3{
  font-family:var(--font-family-h1-std);
  font-size:var(--font-size-h1-std);
  font-weight:var(--font-weight-h1-std);
  letter-spacing:var(--font-letter-spacing-h1-std);
  line-height:var(--font-height-h1-std);
  text-transform:initial;
}

.momentum-image-saver.bg-image-saver{
  background-color:var(--heading-default);
}

.momentum-image-saver.bg-image-saver .momentum-second-content h1,
.momentum-image-saver.bg-image-saver .momentum-second-content h2,
.momentum-image-saver.bg-image-saver .momentum-second-content h3,
.momentum-image-saver.bg-image-saver .momentum-second-content h4,
.momentum-image-saver.bg-image-saver .momentum-second-content h5,
.momentum-image-saver.bg-image-saver .momentum-second-content h6,
.momentum-image-saver.bg-image-saver .momentum-second-content p{
  color:var(--body-reverse);
}

.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a{
  background-color:var(--color-button-secondary-default);
  border:none;
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a:hover{
  background-color:var(--color-button-secondary-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}

.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a:active{
  background-color:var(--color-button-secondary-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}

.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div{
  gap:80px;
}

.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .columns-img-col{
  max-width:unset;
  width:50%;
}

.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .momentum-second-content h1,
.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .momentum-second-content h2,
.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .momentum-second-content h3{
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  text-transform:initial;
}

.momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .momentum-second-content p{
  margin-bottom:0;
}

.momentum-direct-variant .momentum-columns div .momentum-second-content ul{
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  gap:16px;
  margin-bottom:10px;
  max-width:unset;
  width:100%;
}

.momentum-direct-variant .momentum-columns div .momentum-second-content ul li{
  display:flex;
  flex-direction:row;
}

.momentum-direct-variant .momentum-columns div .momentum-second-content ul .icon-checkmark .icon-svg{
  color:var(--heading-default);
  height:32px;
  margin-right:16px;
  width:32px;
}

.momentum-saver-section.circular-image .columns-wrapper .momentum-columns div{
  gap:64px;
}

.momentum-saver-section.circular-image .columns-wrapper .momentum-columns div .columns-img-col{
  max-width:250px;
}

@media screen and (max-width: 1279px){
  .momentum-saver-section .columns-wrapper{
    padding-inline:24px;
  }

  .momentum-saver-section.momentum-image-saver .columns-wrapper{
    padding-inline:24px;
  }

  .momentum-direct-variant .momentum-columns div{
    flex-direction:column-reverse;
  }
}

@media screen and (max-width: 1023px){
  .momentum-saver-section .momentum-columns .momentum-content .rate-unit{
    align-items:unset;
  }

  .momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content{
    display:block;
  }

  .momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div{
    gap:32px;
  }

  .momentum-saver-section.momentum-image-saver.image-swapping .columns-wrapper .momentum-columns div .columns-img-col{
    max-width:unset;
    width:100%;
  }
}

@media screen and (max-width: 767px){
  .momentum-saver-section .columns-wrapper{
    padding-inline:16px;
  }

  .momentum-saver-section .momentum-columns{
    align-items:flex-start;
    flex-direction:column;
    padding:40px 16px;
  }

  .momentum-saver-section .momentum-columns .momentum-content .rate-num{
    font-size:120px;
    font-style:normal;
    line-height:120px;
  }

  .momentum-saver-section .momentum-columns .momentum-content .rate-percent{
    font-size:78px;
    line-height:72px;
  }

  .momentum-saver-section.momentum-image-saver .columns-wrapper{
    padding-inline:16px;
  }
}

@media screen and (max-width: 400px){
  .momentum-saver-section .momentum-columns .momentum-content .rate-num{
    font-size:108px;
  }

  .momentum-saver-section .momentum-columns .momentum-content .rate-percent{
    font-size:70px;
  }

  .momentum-saver-section .momentum-columns .momentum-content .rate-pa{
    font-size:32px;
  }
}
