@use '../../styles/base' as *;

.tmb-calculator-accordion {
  @include responsive-container;

  .accordion-item {
    border-bottom: 1px solid var(--line-default);
    border-top: 1px solid var(--line-default);
    padding: 16px 0;

    &::-webkit-details-marker {
      display: none !important;
    }

    .accordion-item-label {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }

      p {
        color: $color-button-primary-default;
        margin-top: 4px;

        @include typo-heading3
      }

      svg {
        color: $color-button-primary-default;
        min-width: 40px;
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 44px;
        background: $bg-light;
        cursor: pointer;
        margin-left: 32px;
        transform: rotate(180deg);
      }
    }

    .accordion-body {
      margin-top: 40px;

      @include tablet {
        margin-top: 24px;
      }

      @include mobile {
        margin-top: 16px;
      }
    }

    &[open] {
      summary {
        svg {
          transform: rotate(0deg);
        }
      }
    }

    &.accordion-item:first-child {
      border-top: none;
      padding-top: 0;
    }

    &.accordion-item:last-child {
      border-bottom: none;
    }
  }
}