.page-heading{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.page-heading .default-content-wrapper h1, .page-heading .default-content-wrapper h2{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:var(--font-size-lg);
  font-weight:900;
  letter-spacing:var(--font-letter-spacing-lg);
  line-height:var(--font-height-lg);
  text-transform:uppercase;
}

.page-heading .default-content-wrapper p{
  color:#121212;
  font-size:var(--font-size-body, 16px);
  font-style:normal;
  font-weight:400;
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-top:16px;
}

@media screen and (max-width: 1279px){
  .page-heading{
    padding-inline:24px;
  }
}

@media screen and (max-width: 767px){
  .page-heading{
    padding-inline:16px;
  }
}
