.page-heading .default-content-wrapper h1, .page-heading .default-content-wrapper h2, .page-heading .default-content-wrapper h3, .page-heading .default-content-wrapper h4, .page-heading .default-content-wrapper h5, .page-heading .default-content-wrapper h6{
  background-color:red;
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:var(--font-size-lg, 60px);
  font-style:normal;
  font-weight:900;
  letter-spacing:var(--font-letter-spacing-lg, 2px);
  line-height:var(--font-height-lg, 52px);
  text-transform:uppercase;
}
