@use '../../styles/base' as *;

.page-heading{
    @include responsive-container;

    .default-content-wrapper{
        h1,h2,h3,h4,h5,h6{
            color: $heading-default;
            font-family: $secondary-font;
            font-size: $font-size-lg;
            font-weight: 900;
            line-height: $font-height-lg;
            letter-spacing: $font-letter-spacing-lg;
            text-transform: uppercase;
        }
    }
}