@use '../../styles/base' as *;

.page-heading{
    .default-content-wrapper{
        h1,h2,h3,h4,h5,h6{
            color: $heading-default;
            font-family: $secondary-font;
            font-size: var(--font-size-lg, 60px);
            font-style: normal;
            font-weight: 900;
            line-height: var(--font-height-lg, 52px);
            letter-spacing: var(--font-letter-spacing-lg, 2px);
            text-transform: uppercase;
            background-color: red;
        }
    }
}