header .nav-wrapper{
  background-color:var(--background-color);
  position:fixed;
  width:100%;
  z-index:2;
}

header .nav-brand{
  flex-basis:128px;
  font-size:var(--heading-font-size-s);
  font-weight:700;
  grid-area:brand;
  line-height:1;
}

header .nav-brand img{
  height:auto;
  width:128px;
}

header nav{
  align-items:center;
  box-sizing:border-box;
  display:grid;
  font-family:var(--body-font-family);
  gap:0 24px;
  grid-template:"hamburger brand tools" var(--nav-height) "sections sections sections" 1fr/auto 1fr auto;
  height:var(--nav-height);
  margin:auto;
  max-width:1248px;
  padding:0 24px;
}

header nav[aria-expanded="true"]{
  grid-template:"hamburger brand" var(--nav-height) "sections sections" 1fr "tools tools" var(--nav-height)/auto 1fr;
  min-height:100dvh;
  overflow-y:auto;
}

header nav p{
  line-height:1;
  margin:0;
}

header nav a{
  color:currentcolor;
}

header nav .nav-hamburger{
  align-items:center;
  display:flex;
  grid-area:hamburger;
  height:22px;
}

header nav .nav-hamburger button{
  background-color:var(--background-color);
  border:0;
  border-radius:0;
  color:inherit;
  height:22px;
  margin:0;
  overflow:initial;
  padding:0;
  text-overflow:initial;
  white-space:initial;
}

header nav .nav-hamburger .nav-hamburger-icon,
header nav .nav-hamburger .nav-hamburger-icon::before,
header nav .nav-hamburger .nav-hamburger-icon::after{
  box-sizing:border-box;
  display:block;
  position:relative;
  width:20px;
}

header nav .nav-hamburger .nav-hamburger-icon::before,
header nav .nav-hamburger .nav-hamburger-icon::after{
  background:currentcolor;
  content:"";
  position:absolute;
}

header nav .nav-hamburger[aria-expanded="false"] .nav-hamburger-icon, header nav .nav-hamburger[aria-expanded="false"] .nav-hamburger-icon::before, header nav .nav-hamburger[aria-expanded="false"] .nav-hamburger-icon::after{
  background:currentcolor;
  border-radius:2px;
  height:2px;
}

header nav .nav-hamburger[aria-expanded="false"] .nav-hamburger-icon::before{
  top:-6px;
}

header nav .nav-hamburger[aria-expanded="false"] .nav-hamburger-icon::after{
  top:6px;
}

header nav .nav-hamburger[aria-expanded="true"] .nav-hamburger-icon{
  height:22px;
}

header nav .nav-hamburger[aria-expanded="true"] .nav-hamburger-icon::before, header nav .nav-hamburger[aria-expanded="true"] .nav-hamburger-icon::after{
  border-radius:2px;
  height:2px;
  left:1px;
  top:3px;
  transform:rotate(45deg);
  transform-origin:2px 1px;
  width:24px;
}

header nav .nav-hamburger[aria-expanded="true"] .nav-hamburger-icon::after{
  bottom:3px;
  top:unset;
  transform:rotate(-45deg);
}

header nav .nav-sections{
  display:none;
  flex:1 1 auto;
  grid-area:sections;
  visibility:hidden;
}

header nav .nav-sections ul{
  font-size:var(--body-font-size-s);
  list-style:none;
  padding-left:0;
}

header nav .nav-sections ul > li{
  font-weight:500;
}

header nav .nav-sections ul > li > ul{
  margin-top:0;
}

header nav .nav-sections ul > li > ul > li{
  font-weight:400;
}

header nav .nav-sections[aria-expanded="true"]{
  align-self:start;
  display:block;
  visibility:visible;
}

header nav .nav-sections .default-content-wrapper > ul > li{
  flex:0 1 auto;
  position:relative;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul{
  display:none;
  position:relative;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul[aria-expanded="true"]{
  background-color:var(--light-color);
  display:block;
  left:-24px;
  padding:16px;
  position:absolute;
  top:150%;
  white-space:initial;
  width:200px;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul::before{
  border-bottom:8px solid var(--light-color);
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  content:"";
  height:0;
  left:16px;
  position:absolute;
  top:-8px;
  width:0;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li{
  padding:8px 0;
}

header nav .nav-sections .nav-drop{
  cursor:pointer;
  padding-right:16px;
  position:relative;
}

header nav .nav-sections .nav-drop::after{
  border:2px solid currentcolor;
  border-radius:0 1px 0 0;
  border-width:2px 2px 0 0;
  content:"";
  display:inline-block;
  height:6px;
  position:absolute;
  right:2px;
  top:0.5em;
  transform:rotate(135deg);
  width:6px;
}

header nav .nav-sections .nav-drop[aria-expanded="true"]::after{
  bottom:0.5em;
  top:unset;
  transform:rotate(315deg);
}

header nav .nav-tools{
  grid-area:tools;
}

@media (width >= 900px){
  header nav{
    display:flex;
    gap:0 32px;
    justify-content:space-between;
    max-width:1264px;
    padding:0 32px;
  }

  header nav[aria-expanded="true"]{
    min-height:0;
    overflow:visible;
  }

  header nav .nav-hamburger{
    display:none;
    visibility:hidden;
  }

<<<<<<< HEAD
  header nav .nav-sections .nav-drop {
    cursor: pointer;
    padding-right: 16px;
    position: relative;
  }

  header nav .nav-sections .nav-drop::after {
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 6px;
    position: absolute;
    right: 2px;
    top: 0.5em;
    transform: rotate(135deg);
    width: 6px;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    bottom: 0.5em;
    top: unset;
    transform: rotate(315deg);
=======
  header nav .nav-sections{
    display:block;
    visibility:visible;
    white-space:nowrap;
  }

  header nav .nav-sections[aria-expanded="true"]{
    align-self:unset;
  }

  header nav .nav-sections .nav-drop{
    cursor:pointer;
    padding-right:16px;
    position:relative;
>>>>>>> da43171261978a886792c287a70edad618cac5fa
  }

  header nav .nav-sections ul{
    display:flex;
    gap:24px;
    margin:0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul{
    display:none;
    position:relative;
  }

<<<<<<< HEAD
  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    background-color: var(--light-color);
    display: block;
    left: -24px;
    padding: 16px;
    position: absolute;
    top: 150%;
    white-space: initial;
    width: 200px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    border-bottom: 8px solid var(--light-color);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    height: 0;
    left: 16px;
    position: absolute;
    top: -8px;
    width: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
=======
  header nav .nav-sections .default-content-wrapper > ul > li > ul[aria-expanded="true"]{
    background-color:var(--light-color);
    display:block;
    left:-24px;
    padding:16px;
    position:absolute;
    top:150%;
    white-space:initial;
    width:200px;
>>>>>>> da43171261978a886792c287a70edad618cac5fa
  }
}
