@use '../../styles/base' as *;

.header.block {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: $color-pagination-secondary-nav;
}

.secondary-header-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;

  @include responsive-container;

  @include mobile {
    display: none;
  }
}

.secondary-nav-list {
  display: flex;
  align-items: center;
  padding: 16px 0;
  gap: 24px;

  .secondary-nav-item {
    display: block;
  }

  .secondary-nav-link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: $color-header-nav-primary;
  }
}

.primary-header {
  background-color: $color-header-nav;

  .primary-header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include responsive-container;
  }

  &.search-active {
    .primary-nav-list {
      display: none;
    }

    .search-btn-wrap {
      width: 100%;
      margin-left: 27px;
      box-shadow: 0 0 0 6px $icon-default;
      border-radius: $radius-hero;
      background-color: $icon-default;

      &:has(input:focus) {
        box-shadow: 0 0 0 2px $color-focus-default, 0 0 0 6px $icon-default;
      }

      .search-btn {
        min-width: 33px;
        height: 33px;
        width: 33px;
        background-color: transparent;
        margin: 3.5px 4px 3.5px 0;

        svg {
          color: $heading-default;
          width: 24px;
          height: 24px;
        }
      }
    }

    .header-actions-wrap {
      flex-grow: 1;
    }

    .header-search-form {
      display: flex;
    }
  }
}

.ham-menu-btn-wrap {
  height: fit-content;
  display: none;

  @include tablet {
    display: block;
    padding: 6px;
    background-color: #FFFFFF1A;
    border-radius: 100%;
  }

  .ham-menu-btn {
    display: block;
    width: 40px;
    height: 40px;

    @include mobile {
      width: 24px;
      height: 24px;
    }

    picture, img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.logo-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;

  @include tablet {
    gap: 48px;
  }

  @include mobile {
    gap: 8px;
  }

  .logo-wrap {
    max-width: 195px;

    @include mobile {
      max-width: 105px;
    }
    
    picture, img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.primary-nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  @include tablet {
    display: none;
  }

  .primary-nav-item {
    display: block;
    position: relative;
    padding-right: 26px;

    &::after {
      content: '';
      right: 6px;
      top: 0;
      bottom: 4px;
      margin: auto 0;
      position: absolute;
      border-style: solid;
      border-width: 2px 2px 0 0;
      border-color: $color-header-nav-secondary;
      display: inline-block;
      height: 8.5px;
      width: 8.5px;
	    transform: rotate(135deg);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      &::after {
        top: 5px;
        bottom: 0;
        transform: rotate(315deg);
      }
    }
  }

  .primary-nav-link {
    display: block;
    color: $color-header-nav-secondary;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

.header-actions-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  width: fit-content;
  padding: 20px 0;

  @include mobile {
    padding: 12.5px 0;
  }

  .search-btn-wrap {
    display: flex;
    gap: 8px;
  }

  .header-search-form{
    display: none;
    width: 100%;

    .header-search-inp {
      @include typo-body;

      color: $body-default;
      padding: 8px 0 8px 22px;
      width: 100%;
      border-radius: $radius-card;
      outline: none;
    }
  }

  .search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: 40px;
    height: 40px;
    background-color: $color-header-frame;
    border-radius: 50%;

    @include mobile {
      display: none;
    }

    svg {
      width: 24px;
      height: 24px;
      color: $color-header-icon;
    }
  }

  .login-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    &:has(.disabled) {
      cursor: not-allowed;
    }

    .login-btn {
      @include button('secondary', $min-width: unset);
    }
  }
}

.search-results-section {
  position: fixed;
  top: 133px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}