.header-actions-wrap .login-btn-wrap .login-btn{
  align-items:center;
  background-color:var(--color-button-secondary-default);
  border:none;
  border-radius:var(--radius-button);
  color:var(--color-button-text-stroke-default);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-size:var(--font-size-h5);
  font-weight:var(--font-weight-h5);
  gap:12px;
  justify-content:center;
  line-height:var(--font-height-h5);
  min-width:unset;
  padding-block:8px;
  padding-inline:24px;
  text-align:center;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

html:has(.primary-header.search-active){
  overflow:hidden;
}

html:has(.primary-header.search-active) .search-results-section{
  display:block;
}

.header.block{
  background-color:var(--color-pagination-secondary-nav);
  display:flex;
  flex-direction:column;
  height:-moz-fit-content;
  height:fit-content;
  width:100%;
}

.secondary-header-wrap{
  align-items:center;
  display:flex;
  justify-content:flex-end;
  margin-bottom:5px;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.secondary-nav-list{
  align-items:center;
  display:flex;
  gap:24px;
  padding:16px 0;
}

.secondary-nav-list .secondary-nav-item{
  display:block;
}

.secondary-nav-list .secondary-nav-link{
  color:var(--color-header-nav-primary);
  display:block;
  font-size:14px;
  font-weight:400;
  letter-spacing:0;
  line-height:24px;
}

.primary-header{
  background-color:var(--color-header-nav);
}

.primary-header .primary-header-wrap{
  align-items:center;
  display:flex;
  justify-content:space-between;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.primary-header.search-active .primary-nav-list{
  display:none;
}

.primary-header.search-active .search-btn-wrap{
  background-color:var(--icon-default);
  border-radius:var(--radius-card);
  box-shadow:0 0 0 6px var(--icon-default);
  margin-left:27px;
  width:100%;
}

.primary-header.search-active .search-btn-wrap:has(input:focus){
  box-shadow:0 0 0 2px var(--color-focus-default), 0 0 0 6px var(--icon-default);
}

.primary-header.search-active .search-btn-wrap .search-btn{
  background-color:transparent;
  height:33px;
  margin:3.5px 4px 3.5px 0;
  min-width:33px;
  width:33px;
}

.primary-header.search-active .search-btn-wrap .search-btn svg{
  color:var(--heading-default);
  height:24px;
  width:24px;
}

.primary-header.search-active .header-actions-wrap{
  flex-grow:1;
}

.primary-header.search-active .header-search-form{
  align-items:center;
  display:flex;
}

.primary-header.search-active .header-search-form .search-back-btn{
  display:none;
}

.primary-header.search-active .header-search-form .search-back-btn svg{
  color:var(--heading-default);
  height:13.6px;
  width:13.6px;
}

.primary-header.search-active .header-search-form .search-cross-btn{
  display:block;
  height:-moz-fit-content;
  height:fit-content;
  padding:11.5px;
  width:-moz-fit-content;
  width:fit-content;
}

.primary-header.search-active .header-search-form .search-cross-btn svg{
  height:10px;
  min-width:10px;
  width:10px;
}

.ham-menu-btn-wrap{
  display:none;
  height:-moz-fit-content;
  height:fit-content;
}

.ham-menu-btn-wrap .ham-menu-btn{
  display:block;
  height:40px;
  width:40px;
}

.ham-menu-btn-wrap .ham-menu-btn picture, .ham-menu-btn-wrap .ham-menu-btn img{
  display:block;
  height:100%;
  width:100%;
}

.logo-nav-wrap{
  align-items:center;
  display:flex;
  gap:28px;
  justify-content:flex-start;
}

.logo-nav-wrap .logo-wrap{
  max-width:195px;
}

.logo-nav-wrap .logo-wrap picture, .logo-nav-wrap .logo-wrap img{
  display:block;
  height:auto;
  width:100%;
}

.primary-nav-list{
  align-items:center;
  display:flex;
  gap:16px;
  justify-content:flex-start;
}

.primary-nav-list .primary-nav-item{
  display:block;
  padding-right:26px;
  position:relative;
}

.primary-nav-list .primary-nav-item::after{
  border-color:var(--color-header-nav-secondary);
  border-style:solid;
  border-width:2px 2px 0 0;
  bottom:4px;
  content:"";
  display:inline-block;
  height:8.5px;
  margin:auto 0;
  position:absolute;
  right:6px;
  top:0;
  transform:rotate(135deg);
  transition:all 0.2s ease-in-out;
  width:8.5px;
}

.primary-nav-list .primary-nav-item:hover::after{
  bottom:0;
  top:5px;
  transform:rotate(315deg);
}

.primary-nav-list .primary-nav-link{
  color:var(--color-header-nav-secondary);
  display:block;
  font-size:16px;
  font-weight:600;
  line-height:24px;
}

.header-actions-wrap{
  align-items:center;
  display:flex;
  gap:24px;
  justify-content:flex-end;
  padding:20px 0;
  width:-moz-fit-content;
  width:fit-content;
}

.header-actions-wrap .search-btn-wrap{
  display:flex;
}

.header-actions-wrap .header-search-form{
  display:none;
  width:100%;
}

.header-actions-wrap .header-search-form .header-search-inp{
  border-radius:var(--radius-card);
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  outline:none;
  padding:8px 0 8px 22px;
  text-transform:initial;
  width:100%;
}

.header-actions-wrap .search-btn{
  align-items:center;
  background-color:var(--color-header-frame);
  border-radius:50%;
  display:flex;
  height:40px;
  justify-content:center;
  min-width:40px;
  width:40px;
}

.header-actions-wrap .search-btn svg{
  color:var(--color-header-icon);
  height:24px;
  width:24px;
}

.header-actions-wrap .login-btn-wrap{
  align-items:center;
  display:flex;
  justify-content:center;
  width:-moz-fit-content;
  width:fit-content;
}

.header-actions-wrap .login-btn-wrap:has(.disabled){
  cursor:not-allowed;
}

.header-actions-wrap .login-btn-wrap .login-btn:hover{
  background-color:var(--color-button-secondary-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}

.header-actions-wrap .login-btn-wrap .login-btn:active{
  background-color:var(--color-button-secondary-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}

.header-actions-wrap .login-btn-wrap .login-btn:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.header-actions-wrap .login-btn-wrap .login-btn svg{
  height:12px;
  width:12px;
}

/*! autoprefixer: ignore next */
.header-actions-wrap .header-search-form:has(.header-search-inp:placeholder-shown) .search-cross-btn{
  display:none;
}

.search-results-section{
  background:#fff;
  display:none;
  height:100%;
  left:0;
  overflow-y:auto;
  padding-bottom:141px;
  position:fixed;
  top:141px;
  width:100%;
  z-index:3;
}

.search-results-section.author-mode{
  position:static;
}

.search-results-section:has(.dynamic-search-results:not(.no-data)) .popular-search-results{
  background-color:rgb(237 243 243 / 30.2%);
}

.search-results-section .dynamic-search-results{
  padding:80px 0;
}

.search-results-section .dynamic-search-results.no-data{
  padding:0 !important;
}

.search-results-section .dynamic-search-results .default-content-wrapper ul{
  grid-template-columns:1fr 1fr 1fr;
}

.search-results-section .popular-search-results{
  padding:80px 0;
}

.search-results-section .default-content-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.search-results-section .default-content-wrapper h1, .search-results-section .default-content-wrapper h2, .search-results-section .default-content-wrapper h3, .search-results-section .default-content-wrapper h4, .search-results-section .default-content-wrapper h5, .search-results-section .default-content-wrapper h6{
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  margin-bottom:11px;
  text-transform:initial;
}

.search-results-section .default-content-wrapper ul{
  -moz-column-gap:40px;
       column-gap:40px;
  display:grid;
  grid-template-columns:1fr 1fr;
}

.search-results-section .default-content-wrapper ul li a{
  align-items:center;
  border-bottom:1px solid var(--line-light);
  color:var(--icon-2-light);
  display:flex;
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  justify-content:space-between;
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  padding:12px 0 14px;
  text-transform:initial;
}

.search-results-section .default-content-wrapper ul li a svg{
  height:12px;
  width:7px;
}

@media screen and (max-width: 1279px){
  .secondary-header-wrap{
    padding-inline:24px;
  }

  .primary-header .primary-header-wrap{
    padding-inline:24px;
  }

  .search-results-section .default-content-wrapper{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .primary-header.search-active .search-btn-wrap{
    margin-left:0;
  }

  .primary-header.search-active .header-search-form .search-back-btn{
    display:block;
    margin-right:16px;
    padding-left:16px;
  }

  .primary-header.search-active .logo-nav-wrap{
    display:none;
  }

  .ham-menu-btn-wrap{
    background-color:rgb(255 255 255 / 10.2%);
    border-radius:100%;
    display:block;
    padding:6px;
  }

  .logo-nav-wrap{
    gap:48px;
  }

  .primary-nav-list{
    display:none;
  }

  .header-actions-wrap .header-search-form .header-search-inp{
    padding-left:0;
  }

  .search-results-section .dynamic-search-results{
    padding:64px 0;
  }

  .search-results-section .dynamic-search-results .default-content-wrapper ul{
    grid-template-columns:1fr 1fr;
  }

  .search-results-section .popular-search-results{
    padding:64px 0;
  }
}

@media screen and (max-width: 767px){
  .secondary-header-wrap{
    display:none;
    padding-inline:16px;
  }

  .primary-header .primary-header-wrap{
    padding-inline:16px;
  }

  .primary-header.search-active .login-btn-wrap{
    display:none;
  }

  .ham-menu-btn-wrap .ham-menu-btn{
    height:24px;
    width:24px;
  }

  .logo-nav-wrap{
    gap:8px;
  }

  .logo-nav-wrap .logo-wrap{
    max-width:105px;
  }

  .header-actions-wrap{
    padding:12.5px 0;
  }

  .search-results-section{
    padding-bottom:65px;
    top:65px;
  }

  .search-results-section .dynamic-search-results{
    padding:40px 0;
  }

  .search-results-section .dynamic-search-results .default-content-wrapper ul{
    grid-template-columns:1fr;
  }

  .search-results-section .popular-search-results{
    padding:40px 0;
  }

  .search-results-section .default-content-wrapper{
    padding-inline:16px;
  }

  .search-results-section .default-content-wrapper ul{
    -moz-column-gap:0;
         column-gap:0;
    grid-template-columns:1fr;
  }
}
