@use '../../styles/base' as *;

header {
  min-height: 141px;

  @include mobile {
    min-height: 60px;
  }
}

.header.block {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: $bg-default;
}

.secondary-header-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;

  @include responsive-container();

  @include mobile {
    display: none;
  }
}

.secondary-nav-list {
  display: flex;
  align-items: center;
  padding: 16px 0;
  gap: 24px;

  .secondary-nav-item {
    display: block;
  }

  .secondary-nav-link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: $link-default;
  }
}

.primary-header {
  background-color: $bg-reverse;

  .primary-header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include responsive-container();
  }
}

.ham-menu-btn-wrap {
  height: fit-content;
  display: none;

  @include tablet {
    display: block;
    padding: 6px;
    background-color: #FFFFFF1A;
    border-radius: 100%;
  }

  .ham-menu-btn {
    display: block;
    width: 40px;
    height: 40px;

    @include mobile {
      width: 24px;
      height: 24px;
    }

    picture, img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.logo-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;

  @include tablet {
    gap: 48px;
  }

  @include mobile {
    gap: 8px;
  }

  .logo-wrap {
    max-width: 195px;

    @include mobile {
      max-width: 105px;
    }
    
    picture, img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.primary-nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 28px 0;
  gap: 16px;

  @include tablet {
    display: none;
  }

  .primary-nav-item {
    display: block;
    position: relative;
    padding-right: 26px;

    &::after {
      content: '';
      right: 6px;
      top: 0;
      bottom: 4px;
      margin: auto 0;
      position: absolute;
      border-style: solid;
      border-width: 2px 2px 0 0;
      border-color: $link-reverse;
      display: inline-block;
      height: 8.5px;
      width: 8.5px;
	    transform: rotate(135deg);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      &::after {
        top: 5px;
        bottom: 0;
        transform: rotate(315deg);
      }
    }
  }

  .primary-nav-link {
    display: block;
    color: $link-reverse;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

.header-actions-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  width: fit-content;

  @include tablet {
    padding: 22px 0;
  }

  @include mobile {
    padding: 12.5px 0;
  }

  .search-btn {
    display: block;
    max-width: 36px;
    height: auto;

    @include mobile {
      display: none;
    }

    picture, img {
      width: 100%;
      height: auto;
    }
  }

  .login-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    &:has(.disabled) {
      cursor: not-allowed;
    }

    .login-btn {
      display: block;
      text-align: center;
      padding: 5.5px 16px;
      background-color: $bg-light-2;
      color: $link-default;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      min-width: 100px;
      width: fit-content;
      border-radius: $radius-button;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $surface-accent-hover-cta;
      }

      &:focus-visible {
        border: 2px solid $surface-primary;
        outline: 2px solid $border-brand;
        outline-offset: 0;
      }

      &.disabled {
        background-color: $surface-disabled-cta;
        color: $text-disabled;
        pointer-events: none;
      }

      &:active {
        background-color: $surface-accent-active-cta;
      }
    }
  }
}