/* GENERATED VARIABLES */
/* ---------- CUSTOM VARIABLES ---------- */
/* ---------- MEDIA MIXINS ----------
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
*/
/* ---------- MEDIA MIXINS UPDATED ---------- */
/* ---------- LAYOUT MIXINS ---------- */
/* ---------- BUTTON MIXINS ---------- */
.header-actions-wrap .login-btn-wrap .login-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding-inline: 24px;
  text-align: center;
  font-family: var(--font-family-h5);
  font-weight: var(--font-weight-h5);
  gap: 12px;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-button);
  text-decoration: unset;
  transition: all 0.3s ease-in-out;
}

:root {
  --layout-container-max-hero: 1728px;
  --layout-container-max: 1440px;
  --space-2xl: 80px;
  --space-2xs: 12px;
  --space-3xl: 96px;
  --space-3xs: 8px;
  --space-4xs: 4px;
  --space-lg: 40px;
  --space-md: 32px;
  --space-sm: 24px;
  --space-xl: 64px;
  --space-xs: 16px;
}

header:has(.header.block.header-loaded) {
  min-height: unset;
}

.mui-toast-wrapper {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%) translateY(100px); /* Centered horizontally */
  background-color: #323232;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  font-size: 0.875rem;
  z-index: 9999;
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.mui-toast-wrapper.visible {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

html:has(.primary-header.search-active) {
  overflow: hidden;
}
html:has(.primary-header.search-active) body {
  overflow: hidden;
}
html:has(.primary-header.search-active) .search-results-section {
  display: block;
}

.header.block {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--color-pagination-secondary-nav);
}

.secondary-header-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
  width: 100%;
  max-width: calc(1440px - 0px);
  padding-inline: 64px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1279px) {
  .secondary-header-wrap {
    padding-inline: 24px;
  }
}
@media screen and (max-width: 767px) {
  .secondary-header-wrap {
    padding-inline: 16px;
  }
}
@media screen and (max-width: 767px) {
  .secondary-header-wrap {
    display: none;
  }
}

.secondary-nav-list {
  display: flex;
  align-items: center;
  padding: 16px 0;
  gap: 24px;
}
.secondary-nav-list .secondary-nav-item {
  display: block;
}
.secondary-nav-list .secondary-nav-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--color-header-nav-primary);
  text-decoration: unset;
}

.primary-header {
  background-color: var(--color-header-nav);
}
.primary-header .primary-header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(1440px - 0px);
  padding-inline: 64px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1279px) {
  .primary-header .primary-header-wrap {
    padding-inline: 24px;
  }
}
@media screen and (max-width: 767px) {
  .primary-header .primary-header-wrap {
    padding-inline: 16px;
  }
}
.primary-header.block-items .header-search-form {
  display: flex;
}
.primary-header.block-items .primary-nav-list {
  opacity: 0;
}
@media screen and (max-width: 1023px) {
  .primary-header.block-items .logo-nav-wrap {
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .primary-header.block-items .login-btn-wrap {
    opacity: 0;
  }
}
.primary-header.search-active .primary-nav-list {
  display: none;
}
.primary-header.search-active .search-btn-wrap {
  width: 100%;
  margin-left: 27px;
  box-shadow: 0 0 0 6px var(--icon-default);
  border-radius: var(--radius-card);
  background-color: var(--icon-default);
}
@media screen and (max-width: 1023px) {
  .primary-header.search-active .search-btn-wrap {
    margin-left: 0;
  }
}
.primary-header.search-active .search-btn-wrap:has(input:focus) {
  box-shadow: 0 0 0 2px var(--color-focus-default), 0 0 0 6px var(--icon-default);
}
.primary-header.search-active .search-btn-wrap .search-btn {
  min-width: 33px;
  height: 33px;
  width: 33px;
  background-color: transparent;
  margin: 3.5px 4px 3.5px 0;
}
.primary-header.search-active .search-btn-wrap .search-btn svg {
  color: var(--heading-default);
  width: 24px;
  height: 24px;
}
.primary-header.search-active .header-actions-wrap {
  flex-grow: 1;
}
@media screen and (max-width: 1023px) {
  .primary-header.search-active .header-actions-wrap {
    padding: 20px 0;
  }
}
.primary-header.search-active .header-search-form {
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .primary-header.search-active .header-search-form .search-back-btn {
    display: block;
  }
}
.primary-header.search-active .header-search-form .search-cross-btn {
  display: block;
}
@media screen and (max-width: 1023px) {
  .primary-header.search-active .logo-nav-wrap {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .primary-header.search-active .login-btn-wrap {
    display: none;
  }
}

.ham-menu-btn-wrap {
  display: none;
}
@media screen and (max-width: 1023px) {
  .ham-menu-btn-wrap {
    display: block;
  }
}
.ham-menu-btn-wrap .ham-menu-btn {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-header-frame);
  border-radius: 50%;
}
.ham-menu-btn-wrap .ham-menu-btn svg {
  color: var(--color-header-icon);
  width: 20px;
  min-width: 20px;
  height: 11px;
}

.logo-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  gap: 40px;
}
@media screen and (max-width: 1023px) {
  .logo-nav-wrap {
    gap: 16px;
    padding: 20px 0;
  }
}
.logo-nav-wrap .logo-wrap {
  max-width: 195px;
}
@media screen and (max-width: 767px) {
  .logo-nav-wrap .logo-wrap {
    max-width: 105px;
  }
}
.logo-nav-wrap .logo-wrap picture, .logo-nav-wrap .logo-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
body:not(.tmbl) .logo-nav-wrap .logo-wrap {
  max-width: 150px;
}
@media screen and (max-width: 767px) {
  body:not(.tmbl) .logo-nav-wrap .logo-wrap {
    max-width: 105px;
  }
}

.primary-nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 28px 0;
  gap: 24px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1023px) {
  .primary-nav-list {
    display: none;
  }
}
.primary-nav-list .primary-nav-item {
  display: block;
  position: relative;
  /* padding-right: 26px; */
  /* &::after {
    content: '';
    right: 6px;
    top: 0;
    bottom: 4px;
    margin: auto 0;
    position: absolute;
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: $color-header-nav-secondary;
    display: inline-block;
    height: 8.5px;
    width: 8.5px;
   transform: rotate(135deg);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    &::after {
      top: 5px;
      bottom: 0;
      transform: rotate(315deg);
    }
  } */
}
.primary-nav-list .primary-nav-link {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--font-height-body);
  letter-spacing: var(--font-letter-spacing-body);
  text-transform: var(--body-case);
  display: block;
  color: var(--color-header-nav-secondary);
  position: relative;
  text-decoration: unset;
}
.primary-nav-list .primary-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: var(--color-header-nav-secondary);
  transition: all 0.3s ease-in-out;
}
.primary-nav-list .primary-nav-link:hover::after {
  width: 100%;
}

.header-actions-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  width: fit-content;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .header-actions-wrap {
    padding: 12.5px 0;
  }
}
.header-actions-wrap .search-btn-wrap {
  display: flex;
  min-width: 40px;
  width: 40px;
  transition: all 0.3s ease-in-out;
}
.header-actions-wrap .header-search-form {
  display: none;
  width: 0;
  transition: width 0.5s ease;
}
.header-actions-wrap .header-search-form .header-search-inp {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--font-height-body);
  letter-spacing: var(--font-letter-spacing-body);
  text-transform: var(--body-case);
  color: var(--body-default);
  padding: 8px 0 8px 22px;
  width: 100%;
  border-radius: var(--radius-card);
  outline: none;
}
@media screen and (max-width: 1023px) {
  .header-actions-wrap .header-search-form .header-search-inp {
    padding-left: 0;
  }
}
.header-actions-wrap .header-search-form .search-back-btn {
  display: none;
}
@media screen and (max-width: 1023px) {
  .header-actions-wrap .header-search-form .search-back-btn {
    padding-left: 16px;
    margin-right: 16px;
  }
}
.header-actions-wrap .header-search-form .search-back-btn svg {
  width: 13.6px;
  height: 13.6px;
  color: var(--heading-default);
}
.header-actions-wrap .header-search-form .search-cross-btn {
  width: fit-content;
  height: fit-content;
  padding: 11.5px;
}
.header-actions-wrap .header-search-form .search-cross-btn svg {
  color: var(--heading-default);
  min-width: 10px;
  width: 10px;
  height: 10px;
}
.header-actions-wrap .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--color-header-frame);
  border-radius: 50%;
}
.header-actions-wrap .search-btn svg {
  width: 24px;
  height: 24px;
  color: var(--color-header-icon);
}
.header-actions-wrap .login-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.header-actions-wrap .login-btn-wrap:has(.disabled) {
  cursor: not-allowed;
}
.header-actions-wrap .login-btn-wrap .login-btn {
  font-size: var(--font-size-h5);
  line-height: var(--font-height-h5);
  min-width: unset;
  border: none;
  background-color: var(--color-button-secondary-default);
  color: var(--color-button-text-stroke-default);
  padding-block: 8px;
}
.header-actions-wrap .login-btn-wrap .login-btn:hover {
  border: none;
  background-color: var(--color-button-secondary-hover);
  color: var(--color-button-text-stroke-hover);
}
.header-actions-wrap .login-btn-wrap .login-btn:active {
  border: none;
  background-color: var(--color-button-secondary-press);
  color: var(--color-button-text-stroke-press);
}
.header-actions-wrap .login-btn-wrap .login-btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
}
.header-actions-wrap .login-btn-wrap .login-btn svg {
  width: 12px;
  height: 12px;
}

/*! autoprefixer: ignore next */
.header-actions-wrap .header-search-form:has(.header-search-inp:placeholder-shown) .search-cross-btn {
  display: none;
}

/*! autoprefixer: ignore next */
.primary-header.search-active .header-actions-wrap .search-btn-wrap:has(.header-search-inp:not(:placeholder-shown)) .search-btn {
  background-color: var(--icon-bg-default);
}

/*! autoprefixer: ignore next */
.primary-header.search-active .header-actions-wrap .search-btn-wrap:has(.header-search-inp:not(:placeholder-shown)) .search-btn svg {
  color: var(--color-header-icon);
}

header:has(.secondary-header) .search-results-section {
  top: 141px;
  padding-bottom: 141px;
}
@media screen and (max-width: 767px) {
  header:has(.secondary-header) .search-results-section {
    top: 80px;
    padding-bottom: 80px;
  }
}
header:has(.secondary-header) .mobile-menu-wrapper {
  top: 61px;
}

.search-results-section {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: #fff;
  padding-bottom: 80px;
  overflow-y: auto;
}
.search-results-section.author-mode {
  position: static;
}
@media screen and (max-width: 767px) {
  .search-results-section {
    top: 80px;
    padding-bottom: 80px;
  }
}
.search-results-section:has(.dynamic-search-results:not(.no-data)) .popular-search-results {
  background-color: rgba(237, 243, 243, 0.3019607843);
}
.search-results-section .no-results {
  width: 100%;
  max-width: calc(1440px - 0px);
  padding-inline: 64px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1279px) {
  .search-results-section .no-results {
    padding-inline: 24px;
  }
}
@media screen and (max-width: 767px) {
  .search-results-section .no-results {
    padding-inline: 16px;
  }
}
.search-results-section .no-results {
  font-family: var(--font-family-h2-std);
  font-size: var(--font-size-h2-std);
  font-weight: var(--font-weight-h2-std);
  line-height: var(--font-height-h2-std);
  letter-spacing: var(--font-letter-spacing-h2-std);
  text-transform: var(--heading2-std-case);
  color: var(--heading-default);
  text-align: center;
  margin-top: 40px;
}
@media screen and (max-width: 1023px) {
  .search-results-section .no-results {
    margin-top: 24px;
  }
}
.search-results-section .dynamic-search-results {
  padding: 80px 0;
}
@media screen and (max-width: 1023px) {
  .search-results-section .dynamic-search-results {
    padding: 64px 0;
  }
}
@media screen and (max-width: 767px) {
  .search-results-section .dynamic-search-results {
    padding: 40px 0;
  }
}
.search-results-section .dynamic-search-results.no-data {
  padding: 0 !important;
}
.search-results-section .dynamic-search-results .default-content-wrapper {
  margin-bottom: 40px;
}
.search-results-section .dynamic-search-results .default-content-wrapper:last-child {
  margin-bottom: 0;
}
.search-results-section .dynamic-search-results .default-content-wrapper ul {
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1023px) {
  .search-results-section .dynamic-search-results .default-content-wrapper ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .search-results-section .dynamic-search-results .default-content-wrapper ul {
    grid-template-columns: 1fr;
  }
}
.search-results-section .popular-search-results {
  padding: 80px 0;
}
@media screen and (max-width: 1023px) {
  .search-results-section .popular-search-results {
    padding: 64px 0;
  }
}
@media screen and (max-width: 767px) {
  .search-results-section .popular-search-results {
    padding: 40px 0;
  }
}
.search-results-section .default-content-wrapper {
  width: 100%;
  max-width: calc(1440px - 0px);
  padding-inline: 64px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1279px) {
  .search-results-section .default-content-wrapper {
    padding-inline: 24px;
  }
}
@media screen and (max-width: 767px) {
  .search-results-section .default-content-wrapper {
    padding-inline: 16px;
  }
}
.search-results-section .default-content-wrapper h1, .search-results-section .default-content-wrapper h2, .search-results-section .default-content-wrapper h3, .search-results-section .default-content-wrapper h4, .search-results-section .default-content-wrapper h5, .search-results-section .default-content-wrapper h6 {
  font-family: var(--font-family-h3);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  line-height: var(--font-height-h3);
  letter-spacing: var(--font-letter-spacing-h3);
  text-transform: var(--heading3-case);
  margin-bottom: 11px;
  color: var(--heading-default);
}
.search-results-section .default-content-wrapper ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}
@media screen and (max-width: 767px) {
  .search-results-section .default-content-wrapper ul {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
.search-results-section .default-content-wrapper ul li a {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--font-height-body);
  letter-spacing: var(--font-letter-spacing-body);
  text-transform: var(--body-case);
  padding: 12px 0 14px;
  border-bottom: 1px solid var(--line-light);
  color: var(--icon-2-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.search-results-section .default-content-wrapper ul li a svg {
  width: 7px;
  height: 12px;
}

.mobile-menu-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px 24px 64px;
  overflow: auto;
  background-color: var(--bg-reverse);
  transform: translateX(100%);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    transform: translateX(-100%);
  }
}
.mobile-menu-wrapper.active {
  transform: translateX(0);
  pointer-events: all;
}
@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    top: 0;
  }
}
.mobile-menu-wrapper .close-mobile-menu {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: grid;
  place-items: center;
  background-color: var(--color-header-frame);
}
.mobile-menu-wrapper .close-mobile-menu svg {
  width: 14px;
  min-width: 14px;
  height: 14px;
  color: var(--color-header-icon);
}
.mobile-menu-wrapper .primary-nav-list {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  flex-direction: column;
  padding: 0;
  margin-top: 44px;
}
@media screen and (max-width: 767px) {
  .mobile-menu-wrapper .primary-nav-list {
    margin-top: 36px;
    align-items: flex-start;
    gap: 4px;
  }
}
.mobile-menu-wrapper .primary-nav-list .primary-nav-link {
  font-family: var(--font-family-h4);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
  line-height: var(--font-height-h4);
  letter-spacing: var(--font-letter-spacing-h4);
  text-transform: var(--heading4-case);
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  .mobile-menu-wrapper .primary-nav-list .primary-nav-link {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--font-height-body);
    letter-spacing: var(--font-letter-spacing-body);
    text-transform: var(--body-case);
  }
}
.mobile-menu-wrapper .secondary-nav-list {
  display: flex;
  flex-direction: column;
  padding: 32px 0 0;
  position: relative;
  align-items: flex-end;
}
.mobile-menu-wrapper .secondary-nav-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  width: 100%;
  height: 1px;
  background-color: var(--line-reverse);
}
@media screen and (max-width: 767px) {
  .mobile-menu-wrapper .secondary-nav-list {
    gap: 4px;
    align-items: flex-start;
  }
}
.mobile-menu-wrapper .secondary-nav-list .secondary-nav-link {
  font-family: var(--font-family-sm-body);
  font-size: var(--font-size-sm-body);
  font-weight: var(--font-weight-sm-body);
  line-height: var(--font-height-sm-body);
  letter-spacing: var(--font-letter-spacing-sm-body);
  text-transform: var(--sm-body-case);
  padding: 8px 0;
  color: var(--body-reverse);
}
