.header-actions-wrap .login-btn-wrap .login-btn{
  align-items:center;
  background-color:var(--color-button-secondary-default);
  border:none;
  border-radius:var(--radius-button);
  color:var(--color-button-text-stroke-default);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-size:var(--font-size-h5);
  font-weight:var(--font-weight-h5);
  gap:16px;
  justify-content:center;
  line-height:var(--font-height-h5);
  min-width:unset;
  padding-block:8px;
  padding-inline:24px;
  text-align:center;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

.header.block{
  background-color:var(--color-pagination-secondary-nav);
  display:flex;
  flex-direction:column;
  height:-moz-fit-content;
  height:fit-content;
  width:100%;
}

.secondary-header-wrap{
  align-items:center;
  display:flex;
  justify-content:flex-end;
  margin-bottom:5px;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.secondary-nav-list{
  align-items:center;
  display:flex;
  gap:24px;
  padding:16px 0;
}

.secondary-nav-list .secondary-nav-item{
  display:block;
}

.secondary-nav-list .secondary-nav-link{
  color:var(--color-header-nav-primary);
  display:block;
  font-size:14px;
  font-weight:400;
  letter-spacing:0;
  line-height:24px;
}

.primary-header{
  background-color:var(--color-header-nav);
}

.primary-header .primary-header-wrap{
  align-items:center;
  display:flex;
  justify-content:space-between;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.ham-menu-btn-wrap{
  display:none;
  height:-moz-fit-content;
  height:fit-content;
}

.ham-menu-btn-wrap .ham-menu-btn{
  display:block;
  height:40px;
  width:40px;
}

.ham-menu-btn-wrap .ham-menu-btn picture, .ham-menu-btn-wrap .ham-menu-btn img{
  display:block;
  height:100%;
  width:100%;
}

.logo-nav-wrap{
  align-items:center;
  display:flex;
  gap:28px;
  justify-content:flex-start;
}

.logo-nav-wrap .logo-wrap{
  max-width:195px;
}

.logo-nav-wrap .logo-wrap picture, .logo-nav-wrap .logo-wrap img{
  display:block;
  height:auto;
  width:100%;
}

.primary-nav-list{
  align-items:center;
  display:flex;
  gap:16px;
  justify-content:flex-start;
  padding:28px 0;
}

.primary-nav-list .primary-nav-item{
  display:block;
  padding-right:26px;
  position:relative;
}

.primary-nav-list .primary-nav-item::after{
  border-color:var(--color-header-nav-secondary);
  border-style:solid;
  border-width:2px 2px 0 0;
  bottom:4px;
  content:"";
  display:inline-block;
  height:8.5px;
  margin:auto 0;
  position:absolute;
  right:6px;
  top:0;
  transform:rotate(135deg);
  transition:all 0.2s ease-in-out;
  width:8.5px;
}

.primary-nav-list .primary-nav-item:hover::after{
  bottom:0;
  top:5px;
  transform:rotate(315deg);
}

.primary-nav-list .primary-nav-link{
  color:var(--color-header-nav-secondary);
  display:block;
  font-size:16px;
  font-weight:600;
  line-height:24px;
}

.header-actions-wrap{
  align-items:center;
  display:flex;
  gap:24px;
  justify-content:flex-end;
  width:-moz-fit-content;
  width:fit-content;
}

.header-actions-wrap .search-btn{
  align-items:center;
  background-color:var(--color-header-frame);
  border-radius:50%;
  display:flex;
  height:40px;
  justify-content:center;
  width:40px;
}

.header-actions-wrap .search-btn svg{
  color:var(--color-header-icon);
  height:24px;
  width:24px;
}

.header-actions-wrap .login-btn-wrap{
  align-items:center;
  display:flex;
  justify-content:center;
  width:-moz-fit-content;
  width:fit-content;
}

.header-actions-wrap .login-btn-wrap:has(.disabled){
  cursor:not-allowed;
}

.header-actions-wrap .login-btn-wrap .login-btn:hover{
  background-color:var(--color-button-secondary-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}

.header-actions-wrap .login-btn-wrap .login-btn:active{
  background-color:var(--color-button-secondary-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}

.header-actions-wrap .login-btn-wrap .login-btn:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

@media screen and (max-width: 1279px){
  .secondary-header-wrap{
    padding-inline:24px;
  }

  .primary-header .primary-header-wrap{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .ham-menu-btn-wrap{
    background-color:rgb(255 255 255 / 10.2%);
    border-radius:100%;
    display:block;
    padding:6px;
  }

  .logo-nav-wrap{
    gap:48px;
  }

  .primary-nav-list{
    display:none;
  }

  .header-actions-wrap{
    padding:22px 0;
  }
}

@media screen and (max-width: 767px){
  .secondary-header-wrap{
    display:none;
    padding-inline:16px;
  }

  .primary-header .primary-header-wrap{
    padding-inline:16px;
  }

  .ham-menu-btn-wrap .ham-menu-btn{
    height:24px;
    width:24px;
  }

  .logo-nav-wrap{
    gap:8px;
  }

  .logo-nav-wrap .logo-wrap{
    max-width:105px;
  }

  .header-actions-wrap{
    padding:12.5px 0;
  }

  .header-actions-wrap .search-btn{
    display:none;
  }
}
