.evergreen-left-menu{
  max-width:273px;
  padding-right:16px;
  width:100%;
}

.evergreen-left-menu .default-content-wrapper{
  display:flex;
  flex-direction:column;
  gap:12px;
  justify-content:start;
}

.evergreen-left-menu .default-content-wrapper p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
}

.evergreen-left-menu .default-content-wrapper ul li{
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  padding:8px 12px 8px 24px;
  text-transform:initial;
}

.evergreen-left-menu .default-content-wrapper ul li a{
  color:var(--body-default);
}

.evergreen-left-menu .default-content-wrapper ul li.active{
  border-left:1px solid var(--line-default);
}

.evergreen-left-menu .default-content-wrapper ul li.active a{
  color:var(--heading-default);
}

@media screen and (max-width: 1023px){
  .evergreen-left-menu{
    display:none;
  }
}
