.evergreen-right-sticky{
  height:-moz-fit-content;
  height:fit-content;
  position:sticky;
  top:24px;
}

.evergreen-left-menu{
  height:-moz-fit-content;
  height:fit-content;
  position:sticky;
  top:24px;
  width:100%;
}

.evergreen-left-menu .default-content-wrapper{
  display:flex;
  flex-direction:column;
  gap:12px;
  justify-content:start;
}

.evergreen-left-menu .default-content-wrapper p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
}

.evergreen-left-menu .default-content-wrapper ul li{
  border-left:1px solid var(--line-default);
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  padding:8px 12px 8px 24px;
  text-transform:initial;
}

.evergreen-left-menu .default-content-wrapper ul li a{
  color:var(--body-default);
}

.evergreen-left-menu .default-content-wrapper ul li.active{
  border-left:1px solid var(--heading-default);
}

.evergreen-left-menu .default-content-wrapper ul li.active a{
  color:var(--heading-default);
}

.evergreen-grid-wrapper{
  display:grid;
  grid-template-columns:273px minmax(0, 1fr) 304px;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

@media screen and (max-width: 1279px){
  .evergreen-right-sticky{
    display:none;
  }

  .evergreen-left-menu{
    display:none;
  }

  .evergreen-grid-wrapper{
    grid-template-columns:auto;
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .evergreen-left-menu{
    display:none;
  }
}

@media screen and (max-width: 767px){
  .evergreen-grid-wrapper{
    padding-inline:16px;
  }
}
