@use '../../styles/base' as *;

.evergreen-left-menu {
  max-width: 273px;
  padding-right: 16px;
  width: 100%;

  .default-content-wrapper{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 12px;

    p{
      @include typo-body;

      color: $body-default;
    }

    ul{
      li{
        @include typo-sm-body;

        padding: 8px 12px 8px 24px;

        a{
          color: $body-default;
        }

        &.active{
          border-left: 1px solid $line-default;     

          a{
            color: $heading-default;
          }
        }
      }
    }
  }

  @include tablet{
    display: none;
  }
}