@use '../../styles/base' as *;

.default-content-wrapper {
    h1 {
        @include typo-heading1;
        
        background-color: $heading-light;
        color: $heading-default;
        margin-bottom: 16px;
    }
}