@use '../../styles/mixins' as *;

.quick-links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    max-width: 1452px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}

.quick-links-container > .quick-links-wrapper > .quick-links >div >div > p{
    color: #00525B;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    text-transform: capitalize;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick-links-container > .quick-links-wrapper > .quick-links >div >div{
    position: relative;
}

.quick-links-wrapper >div >div >div >ul{
    padding: 0 0 0 80px !important;
    margin-bottom: 0;
}

.quick-links-wrapper >div >div >div >ul >li:last-child{
    margin-bottom: 0;
}
.quick-links-wrapper > div > div > div > ul > li{
   list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    vertical-align: bottom;
    color: #00525B;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    width: 316px;
}

.quick-links-wrapper >div >div >div >ul >li >a {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.icon{
  width: unset;
  height: unset;
}


.quick-links-container > .quick-links-wrapper > .quick-links >div >div > p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 80px;
  margin-top: 0;
}

.quick-links .icon.icon-Flyout-menu-icon img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.quick-links.block:has(ul.active) > div > div > p .icon.icon-Flyout-menu-icon img {
  transform: rotate(180deg);
}

.quick-links-container > .quick-links-wrapper > .quick-links >div >div > p >.icon {
  display: flex;
  align-items: center;
}

.quick-links-container > .quick-links-wrapper > .quick-links >div >div > p > .icon:first-child {
  position: absolute;
  left: 0;
  top: -2px;
  width: 64px;
  height: 64px;

  img {
    width: 100%;
  }
}

.quick-links-container > .quick-links-wrapper > .quick-links >div >div > p >.icon:last-child {
  margin-left: auto;
  display: none;
}

@include tablet {
  .quick-links-wrapper .quick-links >div >div >ul {
    max-width: 330px;
    width: 100%;
  }
  .quick-links-wrapper .quick-links >div >div >ul >li{
    width: 250px;
  }
}

@include mobile {
  .quick-links-container{
    padding: 0 20px;
    row-gap: unset;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .quick-links-wrapper {
    padding: unset;
    margin: unset;
    width: -webkit-fill-available;
    border-bottom: 1px solid #EDEDED;
  }

  .icon{
    width: unset;
    height: unset;
  }

  .quick-links-container > .quick-links-wrapper > .quick-links >div >div > p >.icon:first-child{
    width: 48px;
    height: 48px;
  }

  .quick-links-container > .quick-links-wrapper > .quick-links >div >div > p >.icon:last-child {
    margin-left: auto;
    display: block;
    transform: rotate(90deg);
  }

  .quick-links-container > .quick-links-wrapper > .quick-links >div >div > p{
    font-size: 20px;
    margin: 10px 0;
    line-height: 45px;
  }

  .quick-links-wrapper >div >div >div >ul{
    display: none;
  }

  .quick-links-wrapper .quick-links >div >div >ul {
    max-width: unset;
  }

  .quick-links-wrapper >div >div >div > ul.active {
    display: block;
    width: auto;
    margin-bottom: 15px;
  }

  .quick-links-wrapper .quick-links > div > div > ul > li{
    width: 100%;
  }

  .quick-links-wrapper .quick-links > div > div > ul > li

  .icon-Flyout-menu-icon{
    display: block;
    width: 18px;
    height: 18px;
  }

}