@use '../../styles/base' as *;

.quick-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 80px 40px;

  @include responsive-container();

  .quick-links-wrapper {

    & > .quick-links > div > div > p {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      align-items: center;
      color: $heading-default;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      margin-bottom: 8px;
      text-transform: capitalize;

      & > .icon {
        display: flex;
        align-items: center;

        &:first-child {
          height: 48px;
          width: 48px;

          img {
            width: 100%;
          }
        }

        &:last-child {
          display: none;
          margin-left: auto;
        }
      }
    }

    & > .quick-links > div > div {
      position: relative;
    }

    & > div > div > div > ul {
      margin-bottom: 0;
      padding-left: 56px;

      & > li {
        display: flex;
        justify-content: space-between;
        letter-spacing: 0;
        padding: 8px;
        vertical-align: bottom;
        width: 316px;

        & > a {
          display: flex;
          justify-content: space-between;
          width: 100%;
          color: $link-default;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-decoration: none;

          .icon.icon-flyout-menu-icon { 
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  @include desktop {
    gap: 80px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;

    .quick-links-wrapper {
      .quick-links > div > div > ul > li {
        width: 100%;
      }
    }
  }

  @include tablet {
    align-items: baseline;
    gap: 80px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .quick-links-wrapper {
      .quick-links > div > div > ul {
        max-width: unset;
        width: 100%;

        & > li {
          width: 100%;
        }
      }
    }
  }

  @include mobile {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    row-gap: unset;

    .quick-links-wrapper {
      border-bottom: 1px solid #EDEDED;
      margin: unset;
      padding: unset;
      width: -webkit-fill-available;

      // Targeting the title paragraph inside the container (re-overrides desktop style)
      & > .quick-links > div > div > p {
        font-size: 20px;
        line-height: 45px;
        margin: 10px 0;

        & > .icon:first-child {
          height: 48px;
          width: 48px;
        }

        & > .icon:last-child {
          display: block;
          margin-left: auto;
          transform: rotate(90deg);
        }
      }

      // Styles for UL descendant (mobile collapsed state)
      & > div > div > div > ul {
        display: none;

        &.active {
          display: block;
          margin-bottom: 15px;
          width: auto;
        }

        & > li {
          align-items: center;
          width: 100%;
        }
      }

      .quick-links > div > div > ul {
        max-width: unset;
      }
    }
  }
}

.quick-links {
  .icon.icon-flyout-menu-icon {
    img {
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  // State-dependent transform
  &.block:has(ul.active) > div > div > p .icon.icon-flyout-menu-icon img {
    transform: rotate(180deg);
  }

  // Mobile-specific override for a highly nested icon
  @media screen and (max-width: 767px) {
    .quick-links > div > div > ul > li .icon-flyout-menu-icon {
      display: block;
      height: 18px;
      width: 18px;
    }
  }
}