.quick-links-container{
  align-items:center;
  display:grid;
  gap:80px 40px;
  justify-content:space-between;
  margin-left:auto;
  margin-right:auto;
  max-width:1440px;
  padding-inline:64px;
  width:100%;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p{
  align-items:center;
  color:var(--heading-default);
  display:flex;
  font-size:24px;
  font-weight:500;
  gap:16px;
  justify-content:flex-start;
  line-height:29px;
  margin-bottom:8px;
  text-transform:capitalize;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon{
  align-items:center;
  display:flex;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon:first-child{
  height:48px;
  width:48px;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon:first-child img{
  width:100%;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon:last-child{
  display:none;
  margin-left:auto;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div{
  position:relative;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul{
  margin-bottom:0;
  padding-left:56px;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li{
  display:flex;
  justify-content:space-between;
  letter-spacing:0;
  padding:8px;
  vertical-align:bottom;
  width:316px;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li > a{
  color:var(--body-default);
  display:flex;
  font-size:16px;
  font-weight:400;
  justify-content:space-between;
  line-height:24px;
  text-decoration:none;
  width:100%;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li > a .icon.icon-flyout-menu-icon img{
  height:24px;
  width:24px;
}

.quick-links .icon.icon-flyout-menu-icon img{
  transition:all 0.2s ease-in-out;
  width:100%;
}

.quick-links.block:has(ul.active) > div > div > p .icon.icon-flyout-menu-icon img{
  transform:rotate(180deg);
}

@media screen and (max-width: 1439px){
  .quick-links-container{
    align-items:baseline;
    display:grid;
    gap:80px 40px;
    grid-template-columns:1fr 1fr 1fr;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul > li{
    width:100%;
  }
}

@media screen and (max-width: 1279px){
  .quick-links-container{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .quick-links-container{
    align-items:baseline;
    display:grid;
    gap:80px 40px;
    grid-template-columns:1fr 1fr;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul{
    max-width:unset;
    width:100%;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul > li{
    width:100%;
  }
}

@media screen and (max-width: 767px){
  .quick-links-container{
    display:grid;
    flex-direction:column;
    grid-template-columns:1fr;
    margin-left:auto;
    margin-right:auto;
    padding:0 20px;
    padding-inline:16px;
    row-gap:unset;
  }

  .quick-links-container .quick-links-wrapper{
    border-bottom:1px solid #EDEDED;
    margin:unset;
    padding:unset;
    width:-webkit-fill-available;
  }

  .quick-links-container .quick-links-wrapper > .quick-links > div > div > p{
    font-size:20px;
    line-height:45px;
    margin:10px 0;
  }

  .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon:first-child{
    height:48px;
    width:48px;
  }

  .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon:last-child{
    display:block;
    margin-left:auto;
    transform:rotate(90deg);
  }

  .quick-links-container .quick-links-wrapper > div > div > div > ul{
    display:none;
  }

  .quick-links-container .quick-links-wrapper > div > div > div > ul.active{
    display:block;
    margin-bottom:15px;
    width:auto;
  }

  .quick-links-container .quick-links-wrapper > div > div > div > ul > li{
    align-items:center;
    width:100%;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul{
    max-width:unset;
  }

  .quick-links .quick-links > div > div > ul > li .icon-flyout-menu-icon{
    display:block;
    height:18px;
    width:18px;
  }
}
