.quick-links-container{
  display:grid;
  gap:40px;
  grid-template-columns:1fr 1fr 1fr;
  justify-content:space-between;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)), .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a{
  align-items:center;
  color:var(--link-default);
  display:flex;
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  gap:16px;
  justify-content:flex-start;
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  text-transform:initial;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)):hover .quick-link-text::after, .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a:hover .quick-link-text::after{
  left:0;
  right:unset;
  width:100%;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)):hover > .icon:last-child svg, .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a:hover > .icon:last-child svg{
  margin-left:48px;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)) .quick-link-text, .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a .quick-link-text{
  display:block;
  padding-bottom:4px;
  position:relative;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)) .quick-link-text::after, .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a .quick-link-text::after{
  background:var(--burst-default);
  bottom:0;
  content:"";
  height:2px;
  position:absolute;
  right:0;
  transition:all 0.2s ease-in-out;
  width:0;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)) > .icon:first-child, .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a > .icon:first-child{
  padding:6.5px 0;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)) > .icon:first-child svg, .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a > .icon:first-child svg{
  display:block;
  height:48px;
  min-width:48px;
  width:48px;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)) > .icon:last-child svg, .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a > .icon:last-child svg{
  display:block;
  height:19px;
  margin-left:8px;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
  width:19px;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div{
  position:relative;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul{
  margin-bottom:0;
  padding-left:64px;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li{
  display:flex;
  justify-content:space-between;
  letter-spacing:0;
  padding:6px 0 2px;
  vertical-align:bottom;
  width:-moz-fit-content;
  width:fit-content;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li > a{
  color:var(--link-default);
  display:flex;
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  justify-content:space-between;
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  padding-bottom:2px;
  position:relative;
  text-decoration:none;
  text-transform:initial;
  width:-moz-fit-content;
  width:fit-content;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li > a:hover::after{
  left:0;
  right:unset;
  width:100%;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li > a::after{
  background:var(--burst-default);
  bottom:0;
  content:"";
  height:1px;
  position:absolute;
  right:0;
  transition:all 0.2s ease-in-out;
  width:0;
}

.quick-links .icon.icon-flyout-menu-icon img{
  transition:all 0.2s ease-in-out;
  width:100%;
}

.quick-links.block:has(ul.active) > div > div > p .icon.icon-flyout-menu-icon img{
  transform:rotate(180deg);
}

@media screen and (max-width: 1279px){
  .quick-links-container{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .quick-links-container{
    display:grid;
    grid-template-columns:1fr 1fr;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul{
    max-width:unset;
    width:100%;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul > li{
    width:100%;
  }
}

@media screen and (max-width: 767px){
  .quick-links-container{
    display:grid;
    gap:32px;
    grid-template-columns:1fr;
    padding-inline:16px;
  }

  .quick-links-container .quick-links-wrapper{
    margin:unset;
    padding:unset;
  }

  .quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)), .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a{
    font-size:20px;
    line-height:45px;
  }

  .quick-links-container .quick-links-wrapper > .quick-links > div > div > p:not(:has(a)) > .icon:last-child, .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > a > .icon:last-child{
    display:block;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul{
    max-width:unset;
  }

  .quick-links .quick-links > div > div > ul > li .icon-flyout-menu-icon{
    display:block;
    height:18px;
    width:18px;
  }
}
