@use '../../styles/base' as *;

.quick-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  @include responsive-container();

  .quick-links-wrapper {

    & > .quick-links > div > div > p {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      align-items: center;
      color: $heading-default;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      margin-bottom: 8px;
      text-transform: capitalize;

      &::after {
        content: '';
        background-image: url('/icons/quick-link-icon.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 19px;
        width: 11px;
        margin-left: 8px;
      }

      & > .icon {
        display: flex;
        align-items: center;

        &:first-child {
          display: block;
          padding: 6.5px 0;
          img {
            height: 48px;
            width: auto;
          }
        }
      }
    }

    & > .quick-links > div > div {
      position: relative;
    }

    & > div > div > div > ul {
      margin-bottom: 0;
      padding-left: 64px;

      & > li {
        display: flex;
        justify-content: space-between;
        letter-spacing: 0;
        padding: 6px 0 5px;
        vertical-align: bottom;
        width: fit-content;

        & > a {
          display: flex;
          justify-content: space-between;
          width: 100%;
          color: $link-default;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-decoration: none;

          .icon.icon-flyout-menu-icon { 
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .quick-links-wrapper {
      .quick-links > div > div > ul {
        max-width: unset;
        width: 100%;

        & > li {
          width: 100%;
        }
      }
    }
  }

  @include mobile {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    .quick-links-wrapper {
      margin: unset;
      padding: unset;

      // Targeting the title paragraph inside the container (re-overrides desktop style)
      & > .quick-links > div > div > p {
        font-size: 20px;
        line-height: 45px;

        & > .icon:last-child {
          display: block;
        }
      }

      .quick-links > div > div > ul {
        max-width: unset;
      }
    }
  }
}

.quick-links {
  .icon.icon-flyout-menu-icon {
    img {
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  // State-dependent transform
  &.block:has(ul.active) > div > div > p .icon.icon-flyout-menu-icon img {
    transform: rotate(180deg);
  }

  // Mobile-specific override for a highly nested icon
  @media screen and (max-width: 767px) {
    .quick-links > div > div > ul > li .icon-flyout-menu-icon {
      display: block;
      height: 18px;
      width: 18px;
    }
  }
}