.quick-links-container{
  align-items:center;
  display:grid;
  gap:40px;
  grid-template-columns:1fr 1fr 1fr;
  justify-content:space-between;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p{
  align-items:center;
  color:var(--heading-default);
  display:flex;
  font-size:24px;
  font-weight:500;
  gap:16px;
  justify-content:flex-start;
  line-height:29px;
  margin-bottom:8px;
  text-transform:capitalize;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p::after{
  background-image:url("/icons/quick-link-icon.svg");
  background-repeat:no-repeat;
  background-size:cover;
  content:"";
  height:19px;
  margin-left:8px;
  width:11px;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon{
  align-items:center;
  display:flex;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon:first-child{
  display:block;
  padding:6.5px 0;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon:first-child img{
  height:48px;
  width:auto;
}

.quick-links-container .quick-links-wrapper > .quick-links > div > div{
  position:relative;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul{
  margin-bottom:0;
  padding-left:64px;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li{
  display:flex;
  justify-content:space-between;
  letter-spacing:0;
  padding:6px 0 5px;
  vertical-align:bottom;
  width:-moz-fit-content;
  width:fit-content;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li > a{
  color:var(--link-default);
  display:flex;
  font-size:14px;
  font-weight:400;
  justify-content:space-between;
  line-height:21px;
  text-decoration:none;
  width:100%;
}

.quick-links-container .quick-links-wrapper > div > div > div > ul > li > a .icon.icon-flyout-menu-icon img{
  height:24px;
  width:24px;
}

.quick-links .icon.icon-flyout-menu-icon img{
  transition:all 0.2s ease-in-out;
  width:100%;
}

.quick-links.block:has(ul.active) > div > div > p .icon.icon-flyout-menu-icon img{
  transform:rotate(180deg);
}

@media screen and (max-width: 1279px){
  .quick-links-container{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .quick-links-container{
    display:grid;
    grid-template-columns:1fr 1fr;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul{
    max-width:unset;
    width:100%;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul > li{
    width:100%;
  }
}

@media screen and (max-width: 767px){
  .quick-links-container{
    display:grid;
    gap:32px;
    grid-template-columns:1fr;
    padding-inline:16px;
  }

  .quick-links-container .quick-links-wrapper{
    margin:unset;
    padding:unset;
  }

  .quick-links-container .quick-links-wrapper > .quick-links > div > div > p{
    font-size:20px;
    line-height:45px;
  }

  .quick-links-container .quick-links-wrapper > .quick-links > div > div > p > .icon:last-child{
    display:block;
  }

  .quick-links-container .quick-links-wrapper .quick-links > div > div > ul{
    max-width:unset;
  }

  .quick-links .quick-links > div > div > ul > li .icon-flyout-menu-icon{
    display:block;
    height:18px;
    width:18px;
  }
}
