@use '../../styles/base' as *;

.quick-links-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1452px;
  padding: 0 40px;

  .quick-links-wrapper {

    // Style for the paragraph containing the title and icons
    & > .quick-links > div > div > p {
      align-items: center;
      color: #00525B;
      display: flex;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      justify-content: space-between;
      line-height: 32px;
      margin-bottom: 24px;
      text-transform: capitalize;
    }

    & > .quick-links > div > div {
      position: relative;
    }

    // Styles for the UL descendant, regardless of intermediate DIVs
    & > div > div > div > ul {
      margin-bottom: 0;
      padding: 0 0 0 80px !important;

      & > li {
        color: #00525B;
        display: flex;
        font-size: 16px;
        font-weight: 400;
        justify-content: space-between;
        letter-spacing: -1%;
        line-height: 100%;
        list-style-type: none;
        margin-bottom: 16px;
        vertical-align: bottom;
        width: 316px;

        &:last-child {
          margin-bottom: 0;
        }

        & > a {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          text-decoration: none;
        }
      }
    }
  }

  & > .quick-links-wrapper > .quick-links > div > div > p {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 80px;
    position: relative;

    & > .icon {
      align-items: center;
      display: flex;

      &:first-child {
        height: 64px;
        left: 0;
        position: absolute;
        top: -2px;
        width: 64px;

        img {
          width: 100%;
        }
      }

      &:last-child {
        display: none;
        margin-left: auto;
      }
    }
  }

  // Media Queries nested inside .quick-links-container
  @media (min-width: 1024px) and (max-width: 1430px) {
    align-items: baseline;
    gap: 80px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .quick-links-wrapper {
      .quick-links > div > div > ul > li {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    align-items: baseline;
    gap: 80px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .quick-links-wrapper {
      .quick-links > div > div > ul {
        max-width: unset;
        width: 100%;

        & > li {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    row-gap: unset;

    .quick-links-wrapper {
      border-bottom: 1px solid #EDEDED;
      margin: unset;
      padding: unset;
      width: -webkit-fill-available;

      // Targeting the title paragraph inside the container (re-overrides desktop style)
      & > .quick-links > div > div > p {
        font-size: 20px;
        line-height: 45px;
        margin: 10px 0;

        & > .icon:first-child {
          height: 48px;
          width: 48px;
        }

        & > .icon:last-child {
          display: block;
          margin-left: auto;
          transform: rotate(90deg);
        }
      }

      // Styles for UL descendant (mobile collapsed state)
      & > div > div > div > ul {
        display: none;

        &.active {
          display: block;
          margin-bottom: 15px;
          width: auto;
        }

        & > li {
          align-items: center;
          width: 100%;
        }
      }

      .quick-links > div > div > ul {
        max-width: unset;
      }
    }
  }
}

// Global or High-Level Selectors (Lowest specificity)
.icon {
  height: unset;
  width: unset;

  @media screen and (max-width: 767px) {
    height: unset;
    width: unset;
  }
}

.quick-links {
  // Renamed icon-Flyout-menu-icon to icon-flyout-menu-icon (kebab-case fix)
  .icon.icon-flyout-menu-icon {
    img {
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  // State-dependent transform
  &.block:has(ul.active) > div > div > p .icon.icon-flyout-menu-icon img {
    transform: rotate(180deg);
  }

  // Mobile-specific override for a highly nested icon
  @media screen and (max-width: 767px) {
    .quick-links > div > div > ul > li .icon-flyout-menu-icon {
      display: block;
      height: 18px;
      width: 18px;
    }
  }
}