@use '../../styles/base' as *;

.rate-details {
  @include responsive-container;

  display: grid;
  grid-template-columns: 384px auto;

  @include mobile {
    grid-template-columns: auto;
  }

  .columns-wrapper {
    grid-row: 1 / 100;
    
    h1, h2, h3, h4, h5, h6 {
      @include typo-heading1;

      color: $heading-default;
      margin-bottom: 16px;
    }

    p {
      @include typo-body;

      color: $body-default;
      margin-bottom: 32px;
    }

    .button-container {
      display: inline-block;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }

    .button {
      @include button('primary');

      font-style: normal;
    }

    .button.secondary {
      @include button('secondary');
    }
  }

  .interest-rates-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    padding-top: 16px;
    margin-top: 24px;
    margin-bottom: 8px;

    @include mobile {
      gap: 24px;
    }

    h3 {
      @include typo-heading3;
    }

    &:has(h1:nth-child(2), h2:nth-child(2), h3:nth-child(2), h4:nth-child(2), h5:nth-child(2), h6:nth-child(2), p:nth-child(2), div:nth-child(2)) {
      .interest-rate {
        .rate-num {
          font-size: 120px;
          line-height: 120px;
        }

        .rate-percent {
          font-size: 66px;
          line-height: 72px;
        }

        .rate-pa {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }

    & + p {
      color: $heading-default;
    }
  }

  .interest-rate {
    display: grid;
    column-gap: 2px;
    grid-template-columns: auto auto;
    width: fit-content;

    @include tablet {
      margin-top: 0;
    }

    .rate-num {
      display: block;
      color: $heading-default;
      font-family: $font-family-lg;
      grid-row: 1 / 3;
      font-size: 150px; // Figma missing token
      line-height: 120px;
      font-weight: $font-weight-rate;
      width: fit-content;

      @include tablet {
        font-size: 120px;
      }
    }

    .rate-percent {
      display: block;
      color: $heading-default;
      font-family: $font-family-lg;
      font-size: 86px; // FIGMA MISSING TOKEN
      line-height: 72px;
      font-weight: $font-weight-rate;
      width: fit-content;

      @include tablet {
        font-size: 62px;
      }
    }

    .rate-pa {
      display: block;
      letter-spacing: -1.8px;
      color: $heading-default;
      font-family: $font-family-h1-std;
      font-size: 45px; // FIGMA MISSING TOKEN
      line-height: 54px;
      font-weight: $font-weight-rate-p-a;
      width: fit-content;

      @include mobile {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
}