:root {
  /* ---------- BORDER VARIABLES ---------- */

  --border-primary: #222; /* from "border-primary" */
  --border-brand: #1e282d;   /* from "border-brand" */
  --border-error: #fff;   /* from "border-error" */

  /* ---------- BORDER VARIABLES ---------- */


  /* ---------- TEXT VARIABLES ---------- */

  --text-primary: #1e282d; /* from "text-primary" */
  --text-secondary: #d4eefc; /* from "text-secondary" */
  --text-inverse: #d4eefc; /* from "text-inverse" */
  --text-light: #d4eefc; /* from "text-light" */
  --text-brand: #00aeef; /* from "text-brand" */
  --text-brand-secondary: #fff; /* from "text-brand secondary" */

  /* -------------------- */
  --text-primary-cta: #fafafa; /* from "text-primarycta" */
  --text-secondary-cta: #fafafa; /* from "text-secondarycta" */
  --text-accent-cta: #fafafa; /* from "text-accentcta" */
  --text-disabled: #d9dadb; /* from "text-disabled" */
  --text-error: #fff; /* from "text-error" */

  /* -------------------- */
  --text-ghost-default: #fff; /* from "text -ghost default" */
  --text-ghost-hover: #fff; /* from "text -ghost hover" */
  --text-ghost-focused: #fff; /* from "text -ghost focused" */
  --text-ghost-disabled: #fff; /* from "text -ghost disabled" */
  --text-ghost-active: #fff; /* from "text -ghost active" */

  /* ---------- TEXT VARIABLES ---------- */


  /* ---------- SURFACE VARIABLES ---------- */
  
  --surface-primary: #f4f4f5; /* from "surface-primary" */
  --surface-secondary: #f4f4f5; /* from "surface-secondary" */
  --surface-overlay: #565659; /* from "surface-overlay" */
  --surface-brand: #00aeef; /* from "surface-brand" */
  --surface-light: #ffffff; /* from "surface-light" */
  --surface-login-cta: #1e3787; /* from "surface-login cta" */

  /* -------------------- */
  --surface-primary-cta: #00aeef; /* from "surface-primary cta" */
  --surface-prim-hover-cta: #00aeef; /* from "surface-primhover cta" */
  --surface-prim-active-cta: #502d91; /* from "surface-primactive cta" */

  /* -------------------- */
  --surface-secondary-cta: #f3f5f6; /* from "surface-secondary cta" */
  --surface-sec-hover-cta: #003764; /* from "surface-sechover cta" */

  /* -------------------- */
  --surface-accent-cta: #d4eefc; /* from "surface-accent cta" */
  --surface-accent-hover-cta: #003764; /* from "surface-accenthover cta" */
  --surface-accent-active-cta: #003764; /* from "surface-accentactive cta" */

  /* -------------------- */
  --surface-disabled-cta: #efefef; /* from "surface-disabledcta" */
  --surface-highlight: #d4eefc; /* from "surface-highlight" */

  /* ---------- SURFACE VARIABLES ---------- */
}
