@use '../reset';
@import '../../libs/aos/aos.min.css';

:root {
  /* ---------- BORDER VARIABLES ---------- */

  --border-primary: #222; /* from "border-primary" */
  --border-brand: #1e282d;   /* from "border-brand" */
  --border-error: #fff;   /* from "border-error" */

  /* ---------- BORDER VARIABLES ---------- */


  /* ---------- TEXT VARIABLES ---------- */

  --text-primary: #1e282d; /* from "text-primary" */
  --text-secondary: #d4eefc; /* from "text-secondary" */
  --text-inverse: #d4eefc; /* from "text-inverse" */
  --text-light: #d4eefc; /* from "text-light" */
  --text-brand: #00aeef; /* from "text-brand" */
  --text-brand-secondary: #fff; /* from "text-brand secondary" */

  /* -------------------- */
  --text-primary-cta: #fafafa; /* from "text-primarycta" */
  --text-secondary-cta: #fafafa; /* from "text-secondarycta" */
  --text-accent-cta: #fafafa; /* from "text-accentcta" */
  --text-disabled: #d9dadb; /* from "text-disabled" */
  --text-error: #fff; /* from "text-error" */

  /* -------------------- */
  --text-ghost-default: #fff; /* from "text -ghost default" */
  --text-ghost-hover: #fff; /* from "text -ghost hover" */
  --text-ghost-focused: #fff; /* from "text -ghost focused" */
  --text-ghost-disabled: #fff; /* from "text -ghost disabled" */
  --text-ghost-active: #fff; /* from "text -ghost active" */

  /* ---------- TEXT VARIABLES ---------- */


  /* ---------- SURFACE VARIABLES ---------- */
  
  --surface-primary: #f4f4f5; /* from "surface-primary" */
  --surface-secondary: #f4f4f5; /* from "surface-secondary" */
  --surface-overlay: #565659; /* from "surface-overlay" */
  --surface-brand: #00aeef; /* from "surface-brand" */
  --surface-light: #ffffff; /* from "surface-light" */
  --surface-login-cta: #1e3787; /* from "surface-login cta" */

  /* -------------------- */
  --surface-primary-cta: #00aeef; /* from "surface-primary cta" */
  --surface-prim-hover-cta: #00aeef; /* from "surface-primhover cta" */
  --surface-prim-active-cta: #502d91; /* from "surface-primactive cta" */

  /* -------------------- */
  --surface-secondary-cta: #f3f5f6; /* from "surface-secondary cta" */
  --surface-sec-hover-cta: #003764; /* from "surface-sechover cta" */

  /* -------------------- */
  --surface-accent-cta: #d4eefc; /* from "surface-accent cta" */
  --surface-accent-hover-cta: #003764; /* from "surface-accenthover cta" */
  --surface-accent-active-cta: #003764; /* from "surface-accentactive cta" */

  /* -------------------- */
  --surface-disabled-cta: #efefef; /* from "surface-disabledcta" */
  --surface-highlight: #d4eefc; /* from "surface-highlight" */

  /* ---------- SURFACE VARIABLES ---------- */


  /* ---------- FONTS VARIABLES ---------- */

  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'DIN Next W1G', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- FONT FAMILY VARIABLES ---------- */

  --gradient-1: #e6f7fe;

  /* ---------- OTHER VARIABLES ---------- */
  --bg-accent: #00aeef;
  --bg-default: #ffffff;
  --bg-light-2: #e6f7fe;
  --bg-light-3: #d4eefc;
  --bg-light: #eef8fe;
  --bg-reverse-2: #282a2e;
  --bg-reverse: #282a2e;
  --body-accent: #282a2e;
  --body-default: #282a2e;
  --body-light-2: #282a2e;
  --body-light-3: #282a2e;
  --body-light: #282a2e;
  --body-reverse-2: #d4eefc;
  --body-reverse: #ffffff;
  --burst-accent: #282a2e;
  --burst-default: #00aeef;
  --burst-light-2: #00aeef;
  --burst-light-3: #00aeef;
  --burst-light: #00aeef;
  --burst-reverse-2: #00aeef;
  --burst-reverse: #00aeef;
  --heading-accent: #282a2e;
  --heading-default: #282a2e;
  --heading-light-2: #282a2e;
  --heading-light-3: #282a2e;
  --heading-light: #282a2e;
  --heading-reverse-2: #d4eefc;
  --heading-reverse: #ffffff;
  --icon-2-accent: #282a2e;
  --icon-2-default: #282a2e;
  --icon-2-light-2: #282a2e;
  --icon-2-light-3: #282a2e;
  --icon-2-light: #282a2e;
  --icon-2-reverse-2: #d4eefc;
  --icon-2-reverse: #ffffff;
  --icon-accent: #00aeef;
  --icon-bg-accent: #282a2e;
  --icon-bg-default: #282a2e;
  --icon-bg-light-2: #ffffff;
  --icon-bg-light-3: #ffffff;
  --icon-bg-light: #ffffff;
  --icon-bg-reverse-2: #e6f7fe;
  --icon-bg-reverse: #ffffff;
  --icon-default: #ffffff;
  --icon-light-2: #282a2e;
  --icon-light-3: #282a2e;
  --icon-light: #282a2e;
  --icon-reverse-2: #282a2e;
  --icon-reverse: #282a2e;
  --line-accent: #00000033;
  --line-default: #00000033;
  --line-light-2: #00000033;
  --line-light-3: #00000033;
  --line-light: #00000033;
  --line-reverse-2: #ffffff1a;
  --line-reverse: #ffffff1a;
  --link-accent: #1e3787;
  --link-default: #1e3787;
  --link-light-2: #1e3787;
  --link-light-3: #1e3787;
  --link-light: #1e3787;
  --link-reverse-2: #d4eefc;
  --link-reverse: #ffffff;
  --stroke-accent: #00aeef;
  --stroke-default: #282a2e;
  --stroke-light-2: #282a2e;
  --stroke-light-3: #282a2e;
  --stroke-light: #282a2e;
  --stroke-reverse-2: #ffffff;
  --stroke-reverse: #ffffff;
}
