:root {
  /* ---------- FONTS VARIABLES ---------- */
  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'DIN Next W1G', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- FONT FAMILY VARIABLES ---------- */
  --gradient-1: var(--bg-light-2);
  --gradient-2: var(--bg-light-3);
  --gradient-after: linear-gradient(var(--bg-light-3), var(--bg-light-3));
}
