@import '../../libs/aos/aos.min.css';
*, *::before, *::after{
  box-sizing:border-box;
}

*{
  margin:0;
  padding:0;
}

html{
  font-size:100%;
  -webkit-text-size-adjust:100%;
}

body{
  background-color:#fff;
  color:#000;
  font-family:var(--primary-font);
  -webkit-font-smoothing:antialiased;
  line-height:1.5;
  min-height:100vh;
  text-rendering:optimizelegibility;
}

ul, ol{
  list-style:none;
}

a{
  color:inherit;
  text-decoration:none;
}

img, picture, video, canvas, svg{
  display:block;
  height:auto;
  max-width:100%;
}

input, button, textarea, select{
  background:none;
  border:none;
  color:inherit;
  font:inherit;
  outline:none;
}

textarea{
  resize:vertical;
}

button{
  background:transparent;
  border:none;
  cursor:pointer;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

h1, h2, h3, h4, h5, h6{
  font-size:inherit;
  font-weight:inherit;
}

:focus-visible{
  outline:2px solid #000;
  outline-offset:2px;
}

:focus:not(:focus-visible){
  outline:none;
}
:root{
  --border-primary:#222;
  --border-brand:#1e282d;
  --border-error:#fff;
  --text-primary:#1e282d;
  --text-secondary:#d4eefc;
  --text-inverse:#d4eefc;
  --text-light:#d4eefc;
  --text-brand:#00aeef;
  --text-brand-secondary:#fff;
  --text-primary-cta:#fafafa;
  --text-secondary-cta:#fafafa;
  --text-accent-cta:#fafafa;
  --text-disabled:#d9dadb;
  --text-error:#fff;
  --text-ghost-default:#fff;
  --text-ghost-hover:#fff;
  --text-ghost-focused:#fff;
  --text-ghost-disabled:#fff;
  --text-ghost-active:#fff;
  --surface-primary:#f4f4f5;
  --surface-secondary:#f4f4f5;
  --surface-overlay:#565659;
  --surface-brand:#00aeef;
  --surface-light:#ffffff;
  --surface-login-cta:#1e3787;
  --surface-primary-cta:#00aeef;
  --surface-prim-hover-cta:#00aeef;
  --surface-prim-active-cta:#502d91;
  --surface-secondary-cta:#f3f5f6;
  --surface-sec-hover-cta:#003764;
  --surface-accent-cta:#d4eefc;
  --surface-accent-hover-cta:#003764;
  --surface-accent-active-cta:#003764;
  --surface-disabled-cta:#efefef;
  --surface-highlight:#d4eefc;
  --primary-font:"Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font:"American Grotesk", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
}
.d-none{
  display:none !important;
}

.spacer-bottom{
  margin-bottom:80px;
}

.spacer-top{
  margin-top:80px;
}

html{
  scroll-behavior:smooth;
}

.faq-heading-section{
  margin:0 auto;
  max-width:1328px;
}
.faq-heading-section h1{
  color:var(--surface-highlight);
  font-family:var(--primary-font);
  font-size:40px;
  font-style:normal;
  font-weight:700;
  letter-spacing:0;
  line-height:44px;
  max-width:1440px;
  padding:32px;
}

.section-wrapper{
  align-items:start;
  -moz-column-gap:74px;
       column-gap:74px;
  display:grid;
  font-family:"Open Sans", sans-serif;
  grid-template-columns:1fr 392px;
  margin:0 auto;
  max-width:1328px;
  padding:32px;
  position:relative;
  row-gap:32px;
}
.section-wrapper .sub-section-wrapper h3[id]{
  scroll-margin-top:140px;
}
.section-wrapper .sub-section-wrapper:not(.right-section-wrapper){
  grid-column:1;
  grid-row:auto;
}
.section-wrapper .sub-section-wrapper:not(.right-section-wrapper) .default-content-wrapper > h3{
  color:var(--surface-prim-active-cta);
  font-family:var(--primary-font);
  font-size:20px;
  font-style:normal;
  font-weight:500;
  letter-spacing:0;
  line-height:24px;
  padding:0 0 30px;
}
.section-wrapper .sub-section-wrapper:not(.right-section-wrapper) p{
  color:var(--surface-prim-active-cta);
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
}
.section-wrapper .right-section-wrapper{
  align-self:start;
  grid-column:2;
  grid-row:1/span 1;
  height:-moz-max-content;
  height:max-content;
  margin-top:0;
  position:sticky;
  top:140px;
}
.section-wrapper .right-section-wrapper .default-content-wrapper > h2{
  border-bottom:1px solid rgba(0, 82, 91, 0.2);
  color:var(--text-secondary-cta);
  font-family:var(--primary-font);
  font-size:32px;
  font-style:normal;
  font-weight:600;
  letter-spacing:-1px;
  line-height:36px;
  padding:12px 0;
}
.section-wrapper .right-section-wrapper p{
  color:var(--text-secondary);
  font-family:var(--primary-font);
  font-size:14px;
  font-style:normal;
  font-weight:400;
  letter-spacing:0;
  line-height:24px;
  padding:24px 0;
}
.section-wrapper .right-section-wrapper ul{
  display:flex;
  flex:1 0 0;
  flex-direction:column;
  gap:4px;
}
.section-wrapper .right-section-wrapper ul .faq-number{
  display:block;
  min-width:28px;
  width:-moz-fit-content;
  width:fit-content;
}
.section-wrapper .right-section-wrapper ul a{
  color:var(--surface-prim-active-cta);
  padding:5px;
  text-decoration:none;
  transition:color 0.3s;
  width:100%;
}
.section-wrapper .right-section-wrapper ul a:hover{
  background:var(--surface-disabled-cta);
}
.section-wrapper .right-section-wrapper ul a.active{
  background-color:var(--surface-secondary);
  transition:0.3s;
}
.section-wrapper .right-section-wrapper ul li{
  align-items:center;
  color:#0B231F;
  display:flex;
  font-family:var(--primary-font);
  font-size:14px;
  font-style:normal;
  font-weight:400;
  letter-spacing:0;
  line-height:24px;
}
.section.faq-looking-for{
  margin:0 auto;
  max-width:1328px;
  padding:32px;
}
.section.faq-looking-for div{
  display:flex;
  flex-direction:column;
  gap:48px;
  padding:5px;
}
.section.faq-looking-for div h2{
  color:#00525B;
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  font-weight:900;
  letter-spacing:0;
  line-height:44px;
  text-align:center;
}
.section.faq-looking-for div ul{
  display:flex;
  gap:32px;
  justify-content:space-between;
  padding:32px 0;
}
.section.faq-looking-for div ul li ul{
  display:flex;
  flex-direction:column;
  gap:24px;
  padding:0;
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span{
  align-items:center;
  background-color:#00525B;
  border-radius:50%;
  display:flex;
  height:64px;
  justify-content:center;
  margin:0 auto;
  width:64px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span img{
  height:44px;
  width:44px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul{
  gap:8px;
  margin-top:32px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(1){
  color:#00525B;
  font-family:var(--primary-font);
  font-size:20px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2){
  color:#0B231F;
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  margin-bottom:14px;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(2) p{
  margin:0;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(2) p a{
  border:1px solid #00525B;
  border-radius:20px;
  color:#00525B;
  cursor:pointer;
  display:block;
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:500;
  letter-spacing:0;
  line-height:24px;
  margin:0 auto;
  padding:8px 16px;
  text-decoration:none;
  width:-moz-fit-content;
  width:fit-content;
}
@media screen and (max-width: 1023px){
  .spacer-bottom{
    margin-bottom:60px;
  }
  .spacer-top{
    margin-top:60px;
  }
  .section.faq-looking-for div h2{
    padding-bottom:0;
  }
}
@media screen and (max-width: 767px){
  .spacer-bottom{
    margin-bottom:40px;
  }
  .spacer-top{
    margin-top:40px;
  }
  .faq-heading-section h1{
    padding:24px 16px 0 16px;
  }
  .section-wrapper{
    padding:24px 16px;
  }
  .section-wrapper{
    display:flex;
    flex-direction:column;
    gap:32px;
  }
  .section-wrapper .right-section-wrapper{
    display:none;
  }
  .section.faq-looking-for{
    padding:8px;
  }
  .section.faq-looking-for div{
    gap:24px;
    padding:8px;
  }
  .section.faq-looking-for div h2{
    font-family:var(--primary-font);
    font-size:32px;
    font-weight:700;
    line-height:40px;
  }
  .section.faq-looking-for div ul{
    flex-direction:column;
    padding:8px 0;
  }
  .section.faq-looking-for div ul li ul{
    gap:20px;
  }
  .section.faq-looking-for div ul li ul li:nth-child(1) ul{
    margin-top:20px;
  }
  .section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2){
    margin-bottom:0;
  }
  .section.faq-looking-for div ul li ul li:nth-child(2) p{
    margin-bottom:8px;
  }
}
@media (prefers-reduced-motion: reduce){
  *{
    animation-duration:0.01ms !important;
    animation-iteration-count:1 !important;
    scroll-behavior:auto !important;
    transition-duration:0.01ms !important;
  }
}
