@import '../../libs/aos/aos.min.css';
/* ---------- BORDER VARIABLES ---------- */
/* ---------- BORDER VARIABLES ---------- */
/* ---------- TEXT VARIABLES ---------- */
/* -------------------- */
/* -------------------- */
/* ---------- TEXT VARIABLES ---------- */
/* ---------- SURFACE VARIABLES ---------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* ---------- SURFACE VARIABLES ---------- */
/* ---------- FONTS VARIABLES ---------- */
/* ---------- FONTS VARIABLES ---------- */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--primary-font);
  background-color: #fff;
  color: #000;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ---------- MEDIA MIXINS ----------
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
*/
/* ---------- MEDIA MIXINS UPDATED ---------- */
/* ---------- LAYOUT MIXINS ---------- */
:root {
  /* ---------- BORDER VARIABLES ---------- */
  --border-primary: #222; /* from "border-primary" */
  --border-brand: #1e282d; /* from "border-brand" */
  --border-error: #fff; /* from "border-error" */
  /* ---------- BORDER VARIABLES ---------- */
  /* ---------- TEXT VARIABLES ---------- */
  --text-primary: #1e282d; /* from "text-primary" */
  --text-secondary: #d4eefc; /* from "text-secondary" */
  --text-inverse: #d4eefc; /* from "text-inverse" */
  --text-light: #d4eefc; /* from "text-light" */
  --text-brand: #00aeef; /* from "text-brand" */
  --text-brand-secondary: #fff; /* from "text-brand secondary" */
  /* -------------------- */
  --text-primary-cta: #fafafa; /* from "text-primarycta" */
  --text-secondary-cta: #fafafa; /* from "text-secondarycta" */
  --text-accent-cta: #fafafa; /* from "text-accentcta" */
  --text-disabled: #d9dadb; /* from "text-disabled" */
  --text-error: #fff; /* from "text-error" */
  /* -------------------- */
  --text-ghost-default: #fff; /* from "text -ghost default" */
  --text-ghost-hover: #fff; /* from "text -ghost hover" */
  --text-ghost-focused: #fff; /* from "text -ghost focused" */
  --text-ghost-disabled: #fff; /* from "text -ghost disabled" */
  --text-ghost-active: #fff; /* from "text -ghost active" */
  /* ---------- TEXT VARIABLES ---------- */
  /* ---------- SURFACE VARIABLES ---------- */
  --surface-primary: #f4f4f5; /* from "surface-primary" */
  --surface-secondary: #f4f4f5; /* from "surface-secondary" */
  --surface-overlay: #565659; /* from "surface-overlay" */
  --surface-brand: #00aeef; /* from "surface-brand" */
  --surface-light: #ffffff; /* from "surface-light" */
  --surface-login-cta: #1e3787; /* from "surface-login cta" */
  /* -------------------- */
  --surface-primary-cta: #00aeef; /* from "surface-primary cta" */
  --surface-prim-hover-cta: #00aeef; /* from "surface-primhover cta" */
  --surface-prim-active-cta: #502d91; /* from "surface-primactive cta" */
  /* -------------------- */
  --surface-secondary-cta: #f3f5f6; /* from "surface-secondary cta" */
  --surface-sec-hover-cta: #003764; /* from "surface-sechover cta" */
  /* -------------------- */
  --surface-accent-cta: #d4eefc; /* from "surface-accent cta" */
  --surface-accent-hover-cta: #003764; /* from "surface-accenthover cta" */
  --surface-accent-active-cta: #003764; /* from "surface-accentactive cta" */
  /* -------------------- */
  --surface-disabled-cta: #efefef; /* from "surface-disabledcta" */
  --surface-highlight: #d4eefc; /* from "surface-highlight" */
  /* ---------- SURFACE VARIABLES ---------- */
  /* ---------- FONTS VARIABLES ---------- */
  --primary-font: "Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font: "American Grotesk", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  /* ---------- FONTS VARIABLES ---------- */
}

.d-none {
  display: none !important;
}

.spacer-bottom {
  margin-bottom: 80px;
}
@media screen and (max-width: 1023px) {
  .spacer-bottom {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .spacer-bottom {
    margin-bottom: 40px;
  }
}

.spacer-top {
  margin-top: 80px;
}
@media screen and (max-width: 1023px) {
  .spacer-top {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .spacer-top {
    margin-top: 40px;
  }
}

html {
  scroll-behavior: smooth;
}

.faq-heading-section {
  max-width: 1328px;
  margin: 0 auto;
}
.faq-heading-section h1 {
  color: var(--surface-highlight);
  font-family: var(--primary-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  padding: 32px;
  max-width: 1440px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .faq-heading-section h1 {
    padding: 24px 16px 0;
  }
}
.faq-heading-section h1[style*=none] {
  opacity: 0;
  transform: translateY(-10px);
}

.section-wrapper {
  max-width: 1328px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 392px;
  -moz-column-gap: 74px;
       column-gap: 74px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  align-items: start;
  padding: 32px;
}
@media screen and (max-width: 767px) {
  .section-wrapper {
    padding: 24px 16px;
  }
}
.section-wrapper .sub-section-wrapper h3[id] {
  scroll-margin-top: 140px;
}
.section-wrapper .sub-section-wrapper:not(.right-section-wrapper) {
  grid-column: 1;
  grid-row: auto;
}
.section-wrapper .sub-section-wrapper:not(.right-section-wrapper) h3 {
  color: var(--surface-prim-active-cta);
  font-family: var(--primary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  padding: 0 0 30px;
}
.section-wrapper .sub-section-wrapper:not(.right-section-wrapper) p {
  color: var(--surface-prim-active-cta);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 32px;
}
.section-wrapper .right-section-wrapper {
  grid-column: 2;
  grid-row: 1/span 1;
  align-self: start;
  margin-top: 0;
  position: sticky;
  top: 140px;
  height: -moz-max-content;
  height: max-content;
  width: 326px;
}
.section-wrapper .right-section-wrapper h2 {
  color: var(--text-secondary-cta);
  font-family: var(--primary-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1px;
  padding: 12px 0;
  border-bottom: 1px solid #0B231F;
}
.section-wrapper .right-section-wrapper h2[style*=block] {
  opacity: 1;
  transform: translateY(0);
}
.section-wrapper .right-section-wrapper p {
  color: var(--text-secondary);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  padding: 24px 0;
}
.section-wrapper .right-section-wrapper ul {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
.section-wrapper .right-section-wrapper ul .faq-number {
  display: block;
  min-width: 28px;
  width: -moz-fit-content;
  width: fit-content;
}
.section-wrapper .right-section-wrapper ul a {
  padding: 5px;
  color: var(--surface-prim-active-cta);
  text-decoration: none;
  transition: color 0.3s;
  width: 100%;
}
.section-wrapper .right-section-wrapper ul a:hover {
  text-decoration-line: underline;
}
.section-wrapper .right-section-wrapper ul a.active {
  background-color: rgba(0, 82, 91, 0.2);
  transition: 0.3s;
}
.section-wrapper .right-section-wrapper ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px;
  color: #0B231F;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.faq-class-for-four-img {
  max-width: 1328px;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  height: 395px;
  width: 395px;
}

@media screen and (max-width: 767px) {
  .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .section-wrapper .right-section-wrapper {
    display: none;
  }
}
.section.faq-looking-for {
  max-width: 1328px;
  margin: 0 auto;
  padding: 32px;
}
@media screen and (max-width: 767px) {
  .section.faq-looking-for {
    padding: 8px;
  }
}
.section.faq-looking-for div {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 5px;
}
@media screen and (max-width: 767px) {
  .section.faq-looking-for div {
    padding: 8px;
    gap: 24px;
  }
}
.section.faq-looking-for div h2 {
  color: #00525B;
  font-family: var(--secondary-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .section.faq-looking-for div h2 {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .section.faq-looking-for div h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: var(--primary-font);
    line-height: 40px;
  }
}
.section.faq-looking-for div ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 32px 0;
}
@media screen and (max-width: 767px) {
  .section.faq-looking-for div ul {
    flex-direction: column;
    padding: 8px 0;
  }
}
.section.faq-looking-for div ul li ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .section.faq-looking-for div ul li ul {
    gap: 20px;
  }
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  background-color: #00525B;
  border-radius: 50%;
  margin: 0 auto;
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span img {
  width: 44px;
  height: 44px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul {
  margin-top: 32px;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .section.faq-looking-for div ul li ul li:nth-child(1) ul {
    margin-top: 20px;
  }
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(1) {
  text-align: center;
  color: #00525B;
  font-family: var(--primary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2) {
  text-align: center;
  color: #0B231F;
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}
@media screen and (max-width: 767px) {
  .section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2) {
    margin-bottom: 0;
  }
}
.section.faq-looking-for div ul li ul li:nth-child(2) p {
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .section.faq-looking-for div ul li ul li:nth-child(2) p {
    margin-bottom: 8px;
  }
}
.section.faq-looking-for div ul li ul li:nth-child(2) p a {
  text-decoration: none;
  color: #00525B;
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  border-radius: 20px;
  padding: 8px 16px;
  border: 1px solid #00525B;
  cursor: pointer;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */