@use '../../styles/base' as *;

.faq-product-detail-wrapper {
  width: 100%;
}

.faq-accordion {
  @include responsive-container;

  display: grid;
  grid-template-columns: 417px auto;
  column-gap: 32px;

  @include tablet {
    grid-template-columns: auto;
  }

  .default-content-wrapper {
    &:last-child:not(:nth-child(2)) {
      margin-top: 16px;
      grid-column: 1 / -1;
      text-align: center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $heading-default;

      @include typo-heading1;
    }

    p {
      @include typo-body;

      margin-top: 16px;
      color: $body-default;
    }

    a {
      color: $link-default;
      text-decoration: underline;
    }

    .button-container {
      display: inline-block;
      margin-top: 24px;
      margin-right: 8px;
      margin-bottom: 0;

      a:not(.secondary) {
        @include button('primary');

        font-style: normal;
        text-decoration: unset;
      }
      
      a.secondary {
        @include button('outlined');
        
        font-style: normal;
        text-decoration: unset;
      }
    }
  }

  .accordion-wrapper {
    width: 100%;

    .block {
      .accordion-item {
        border-bottom: 1px solid var(--line-default);
        border-top: 1px solid var(--line-default);
        padding: 16px 0;

        &::-webkit-details-marker {
          display: none !important;
        }

        .accordion-item-label {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          // Safari Fix: Ensure the summary behaves like a block/flex item
          &::marker,
          &::-webkit-details-marker {
            display: none;
          }

          p {
            color: $color-button-primary-default;
            margin-top: 4px;

            @include typo-heading3
          }

          svg {
            color: $color-button-primary-default;
            min-width: 40px;
            width: 40px;
            height: 40px;
            padding: 8px;
            border-radius: 44px;
            background: $bg-light;
            cursor: pointer;
            margin-left: 32px;
            transform: rotate(180deg);
          }
        }

        .accordion-item-body {
          margin-top: 8px;

          p {
            color: $body-default;

            @include typo-body;
          }
        }

        &[open] {
          summary {
            svg {
              transform: rotate(0deg);
            }
          }
        }

        &.accordion-item:first-child {
          border-top: none;
          padding-top: 0;
        }

        &.accordion-item:last-child {
          border-bottom: none;
        }
      }
    }
  }
}