@use '../../styles/base' as *;

.secsecond {
  @include responsive-container();
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1452px;
  // padding: 0 40px;

  .default-content-wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
      margin-bottom: 24px;
    }
  }

  .swiper-wrapper {
    align-items: stretch;
    align-self: stretch;
    display: flex;
    gap: 0;
    padding: 30px 0 0;

    @include tablet {
      padding: 0;
    }

    .swiper-slide {
      background: #FFF;
      border: 1px solid rgb(0 0 0 / 20%);
      // border-radius: 24px;
      border-radius: $radius-card;
      display: flex;
      gap: 19px;
      justify-content: flex-start;
      padding: 20px;
      width: 388px !important;
      height: auto;
      margin-right: 24px;
    }

    // .swiper-button-next:disabled,
    // .swiper-button-prev:disabled {
    //   opacity: 0.8;
    //   pointer-events: none;
    // }
  }

  .bannervedio-wrapper {
    padding: 40px;
  }
}

.news-info-variant {
  .swiper-wrapper {
    .swiper-slide {
      width: 304px !important;
      padding: 24px;
          gap: 16px;
    }
  }

  .inner-section2 {
    .video-banner {
      .swiper-wrapper {
        .swiper-slide>div:nth-child(2) {
          gap: 20px;
          width: 100%;
          p{
            color: var(--heading, #00525B);
    font-family: var(--font-family-body, Inter);
    font-size: var(--font-size-body, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-height-body, 24px);
    letter-spacing: var(--font-letter-spacing-body, 0);
    width: 100%;
          }
        }
      }
    }
  }
}