@use '../../styles/base' as *;
@use 'banner';
@use 'news';

@import '../../libs/swiper/swiper-bundle.min.css';

.bannervideo-container {
  position: relative;

  .bannervideo-wrapper {
    height: 100%;
    max-width: none;
    padding: 0;

    .mob-swiper {
      display: flex;

      @include tablet {
        align-items: start;
        background: #fff;
        border: 1px solid rgb(0 0 0 / 15%);
        border-radius: 12px;
        gap: 16px;
        padding: 20px;
        width: 100%;

        &>div:first-child img {
          height: 115px;
          min-width: 125px;
          object-fit: contain;
          width: fit-content;
        }

        p {
          color: $heading-default;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          margin: 0 0 20px;
          padding: 0;
          font-family: $primary-font;


          &>a {
            background-color: transparent;
            color: $heading-default;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            margin: 0;
            padding: 0;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-decoration-color: $link-accent;
            text-underline-offset: 4px;
          }
        }

        & p.button-container {
          margin-bottom: 0;
        }

        &>div {
          &>picture {
            &>img {
              border-radius: 5px;
              height: 115px;
              max-width: none;
              width: 120px;
            }
          }
        }
      }
    }

    .bannervideo {
      @include tablet {
        border-radius: 0;
      }
    }
  }
}

.desktop-banner {
  display: block;
  height: 100%;

  picture {
    height: 100%;
  }

  img {
    border-radius: 0 0 40px 40px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  @include tablet {
    display: none;
    height: 115px;
    width: 125px;
  }
}

.inner-section1 {
  position: relative;

  &>h1 {
    color: $heading-default;
    font-family: $secondary-font;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &>p {
    display: none;
  }
}

.inner-section2 {
  .video-banner {
    .swiper-wrapper {
      .swiper-slide {
        &>div {
          &>.button-container {
            &>a {
              background-color: unset;
              color: $heading-default;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              margin: 0;
              padding: 0;
              text-decoration: underline;
              text-decoration-thickness: 2px;
              text-underline-offset: 4px;
              text-decoration-color: $link-accent;
            }
          }

          &>picture {
            &>img {
              height: auto;
              width: 100%;
            }
          }

          &>div {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            gap: 16px;
            justify-content: flex-start;
          }
        }

        &>div:nth-child(1) {
          width: 25%;
        }

        &>div:nth-child(2) {
          align-items: flex-start;
          align-self: stretch;
          display: flex;
          flex: 1 0 0;
          flex-direction: column;
          justify-content: flex-start;
          gap: 16px;
          width: 68%;

          @include mobile {
            gap: 20px;
          }

          &>p {
            // color: #000;
            color: $heading-default;
            font-family: $primary-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.mob-desk-wrapper {
  height: 100%;
}

.mob-pbanner {
  display: none;

  @include tablet {
    display: block;

    img {
      width: 100%;
    }
  }

  img {
    @include mobile {
      width: 100%;
      height: 585px;
      object-fit: cover;
      border-radius: 0 0 20px 20px;
      object-position: center;
    }
  }
}

.nav-buttons {
  display: flex;
  gap: 16px;
  justify-content: space-between;

  .swiper-navigation-icon {
    display: none;
  }

  button {
    align-items: center;
    background: #F5F8DE;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 56px;
    justify-content: center;
    margin: 0;
    position: static;
    width: 56px;

    &:hover {
      background: #F5F8DE;
    }
  }

  .swiper-button-prev::after {
    background-image: url("../../icons/mdi_arrow-left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    height: 38px;
    width: 38px;
  }

  .swiper-button-next::after {
    background-image: url("../../icons/mdi_arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    height: 38px;
    width: 38px;
  }
}

.swiperinnerdiv {
  &>div:nth-child(1) {
    align-items: flex-start;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 64px;
    width: 100%;

    @include responsive-container;

    @include tablet {
      gap: 16px;
      align-items: flex-start;
      bottom: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    &>h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $heading-default;
      font-family: $secondary-font;
      font-size: 60px;
      font-style: normal;
      letter-spacing: 2px;
      line-height: 52px;
      max-width: 560px;
      text-transform: uppercase;

      @include tablet {
        font-size: 40px;
        line-height: 32px;
      }
    }

    &>p {
      color: $body-default;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      max-width: 560px;
    }

    &:nth-child(1) {
      &>p.button-container {

        &>a {
          @include button('primary');
        }
      }
    }
  }
}

// Media Query Only Selectors

.mob-noswiper-child1 {
  @include tablet {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: space-between;

    &>h1 {
      color: $heading-default;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -2px;
      line-height: 38px;
    }

    &>.button-container {
      &>a {
        background-color: unset;
        color: $heading-default;
        display: block;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin: 0;
        padding: 0;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
}

.mob-noswiper-child2 {
  @include tablet {
    &>div {
      align-items: flex-start;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
  }
}