@import './swiper-bundle.min.css';

/* ==============================
   Section Styles
============================== */
.section.secfirst .bannervideo-wrapper {
  max-width: none;
  margin: 0;
}

.mob-pbanner {
  display: none;
}

.bannervideo-container {
  position: relative;
}

.desktop-banner {
  display: block;
}

.secsecond .default-content-wrapper {
  display: flex;
}

.bannervedio-container .bannervedio-wrapper {
  max-width: none;
  padding: 0;
  height: 100%;
}

.swiperinnerdiv3 .mob-pbanner {
  display: block;
}

/* ==============================
   Swiper Pagination
============================== */
.swiper-pagination-bullet {
  width: 49px;
  height: 12px;
  border-radius: 40px;
}

.swiper-pagination-bullet-active {
  background: var(--Dark-teal, #00525B);
}

/* ==============================
   Swiper Slides
============================== */
.secfirst .bannervedio-wrapper .bannervedio {
  border-radius: 0 0 50px 50px;
}

.secfirst .bannervedio-wrapper .bannervedio .swiper-slide {
  width: 1457px;
  position: relative;
  margin-right: 2px;
}

.secfirst .swiper-wrapper {
  max-height: 516px;
}


/* ==============================
   Navigation Buttons
============================== */
.nav-buttons {
  position: absolute;
  top: 15%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 106%;
  max-width: 92px;
  height: 12px;
}

.nav-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background: var(--Cream, #F5F8DE);
}

.nav-buttons button:hover {
  background: #005bb5;
}

.nav-buttons .swiper-button-prev {
  position: absolute;
  left: -45%;
}

/* ==============================
   Section Two Styles
============================== */
.secsecond .swiper-wrapper {
  display: flex;
  padding: 30px 0;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.secsecond .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: flex-start;
  gap: 19px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 12px;
  background: #FFF;
}

.secsecond .bannervedio-wrapper {
  padding: 40px;
}

/* ==============================
   Typography
============================== */
.swiperinnerdiv1>div>h1 {
  color: var(--Dark-Teal, #00525B);
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 20px;
  font-style: normal;
}

.swiperinnerdiv1>div>p {
  color: var(--Dark-Teal, #00525B);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.swiperinnerdiv1>div:nth-child(1)>p.button-container>a {
  color: #F5F8DE;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background-color: #00525B;
}

.inner-section1>h1 {
  color: #00525B;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  font-style: normal;
}

/* /////mobile view/// */

.bannervideo-container .bannervideo-wrapper .mob-swiper {
  display: flex;
}

.swiperinnerdiv1>div:nth-child(1) {
  position: absolute;
  display: flex;
  width: 484px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background: rgba(245, 248, 222, 0.50);
  left: 20px
}

.inner-section-div2 .swiper-button-next::after {
  content: '';
  background-image: url('../../icons/mdi_arrow-right.svg');
  height: 100px;
  width: 200px;
}

.inner-section-div2 .swiper-button-prev::after {
  content: '';
  background-image: url('../../icons/mdi_arrow-left.svg');
  height: 100px;
  width: 200px;
}
.inner-section2 .video-banner .swiper-wrapper .swiper-slide >div > .button-container >a{
color: #00525B;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
margin: 0;
padding: 0;
background-color:unset;
}
.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div >div {
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    flex: 1 0 0;
}
@media (max-width: 767px) {
  .bannervideo-container .bannervideo-wrapper .mob-swiper {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background: #fff;
    padding: 12px;
    margin: 17px;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p {
    color: var(--Black, #000);

    /* Mobile/Small bold body */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 128.571% */
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p:nth-child(2) {
    display: none;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper>div>picture>img {
    max-width: none;
  }

  .inner-section1>h1 {
    color: #00525B;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: -0.24px;
  }

  .mob-pbanner {
    display: block;
  }

  .desktop-banner {
    display: none;
  }

  .swiperinnerdiv1>div:nth-child(1) {
    display: none;
  }

  .bannervideo .swiper-pagination .swiper-pagination-bullet {
    width: 24px;
    height: 7px;
    border-radius: 40px;
  }

  .bannervideo .swiper-pagination {
    bottom: 0;
    right: 20px;
    width: 100%;
    color: #c2c7d1;
    left: 160px;
  }
}