@use '../../styles/base' as *;
@import '../../libs/swiper/swiper-bundle.min.css';

.bannervideo-container {
  position: relative;

  .bannervideo-wrapper {
    height: 100%;
    max-width: none;
    padding: 0;

    .mob-swiper {
      display: flex;

      @include tablet {
        align-items: center;
        background: #fff;
        border: 1px solid rgb(0 0 0 / 15%);
        border-radius: 12px;
        gap: 8px;
        padding: 12px;
        width: 100%;

        & > div:first-child img {
          height: 115px;
          min-width: 125px;
          object-fit: contain;
          width: fit-content;
        }

        p {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 18px;
          margin: 0 0 20px;
          padding: 0;

          & > a {
            background-color: transparent;
            color: #00525B;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
            padding: 0;
          }
        }

        & > div {
          & > picture {
            & > img {
              border-radius: 5px;
              height: 115px;
              max-width: none;
              width: 120px;
            }
          }
        }
      }
    }

    .bannervideo {
      @include tablet {
        border-radius: 0;
      }
    }
  }
}

.desktop-banner {
  display: block;
  height: 100%;

  picture {
    height: 100%;
  }

  img {
    border-radius: 0 0 40px 40px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  @include tablet {
    display: none;
    height: 115px;
    width: 125px;
  }
}

.inner-section1 {
  position: relative;

  & > h1 {
    color: #00525B;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
  }

  & > p {
    display: none;
  }
}

.inner-section2 {
  .video-banner {
    .swiper-wrapper {
      .swiper-slide {
        & > div {
          & > .button-container {
            & > a {
              background-color: unset;
              color: #00525B;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              margin: 0;
              padding: 0;
            }
          }

          & > picture {
            & > img {
              height: auto;
              width: 100%;
            }
          }

          & > div {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            gap: 16px;
            justify-content: flex-start;
          }
        }

        & > div:nth-child(1) {
          width: 25%;
        }

        & > div:nth-child(2) {
          align-items: flex-start;
          align-self: stretch;
          display: flex;
          flex: 1 0 0;
          flex-direction: column;
          justify-content: space-between;
          width: 68%;

          & > p {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.mob-desk-wrapper {
  height: 100%;
}

.mob-pbanner {
  display: none;

  @include tablet {
    display: block;
  }

  img {
    @include mobile {
      width: 100%;
      height: 585px;
      object-fit: cover;
      border-radius: 0 0 20px 20px;
      object-position: center;
    }
  }
}

.nav-buttons {
  display: flex;
  gap: 16px;
  justify-content: space-between;

  .swiper-navigation-icon {
    display: none;
  }

  button {
    align-items: center;
    background: #F5F8DE;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 56px;
    justify-content: center;
    margin: 0;
    position: static;
    width: 56px;

    &:hover {
      background: #F5F8DE;
    }
  }

  .swiper-button-prev::after {
    background-image: url("../../icons/mdi_arrow-left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    height: 38px;
    width: 38px;
  }

  .swiper-button-next::after {
    background-image: url("../../icons/mdi_arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    height: 38px;
    width: 38px;
  }
}

.secfirst {
  .bannervideo-wrapper {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;

    .bannervideo {
      .swiper-slide {
        margin-right: 2px;
        position: relative;
      }

      .outer-pegination-div {
        display: flex;
        justify-content: flex-end;
        left: 0;
        margin: 0 auto;
        max-width: 1452px;
        padding: 0 40px;
        position: absolute;
        right: 0;
        top: unset;
        width: 100%;
        z-index: 20;
        bottom: 91px;

        .swiper-pagination {
          align-items: center;
          -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
          background: $surface-primary;
          border-radius: 30px;
          bottom: 145px;
          display: flex;
          gap: 10px;
          height: 35px;
          justify-content: center;
          left: 75%;
          padding: 0 12px;
          position: static;
          width: 100px;

          @include mobile {
            bottom: -16px;
            right: 17px;
            left: unset;
            position: absolute;
          }

          .swiper-pagination-bullet {
            aspect-ratio: 1 / 1;
            background: var(--colour-teal-teal-60, rgb(0 82 91 / 60%));
            border-radius: 40px;
            box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
            height: 4px;
            opacity: 1;
            width: 4px;

            @include tablet {
              aspect-ratio: 1 / 1;
              background: var(--colour-teal-teal-60, rgb(0 82 91 / 60%));
              border-radius: 40px;
              box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
              height: 4px;
              width: 4px;
            }
          }

          .swiper-pagination-bullet-active {
            aspect-ratio: 1 / 1;
            background: $surface-brand;
            border-radius: 40px;
            box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
            height: 8px;
            width: 8px;

            @include tablet {
              aspect-ratio: 1 / 1;
              background: #00525B;
              border-radius: 40px;
              height: 8px;
              width: 8px;
            }
          }

          @include tablet {
            align-items: center;
            -webkit-backdrop-filter: blur(18px);
            backdrop-filter: blur(18px);
            background: $surface-primary;
            border-radius: 30px;
            bottom: 33px;
            color: #fff;
            display: flex;
            gap: 10px;
            height: 35px;
            justify-content: center;
            left: 295px;
            opacity: 1;
            padding: 0 12px;
            right: 0;
            text-align: right;
            width: 74px;
          }
        }

        .play-btn {
          align-items: center;
          -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
          background: $surface-primary;
          border-radius: 100%;
          display: flex;
          height: 35px;
          justify-content: center;
          left: unset;
          right: 1px;
          bottom: 0;
          opacity: 4;
          position: absolute;
          visibility: visible;
          width: 35px;
          z-index: 1;

          img {
            align-items: center;
            display: flex;
            height: 18px;
            justify-content: center;
            width: 18px;
          }

          @include tablet {
            display: none;
          }
        }

        @include tablet {
          left: unset;
          position: absolute;
          right: 0;
          top: unset;
          bottom: 34px;
          width: 100%;
          z-index: 20;
        }
      }
    }
  }

  .swiper-wrapper {
    height: 600px;

    @include tablet {
      height: auto;
    }
  }
}

.secsecond {
  margin-left: auto;
  margin-right: auto;
  max-width: 1452px;
  padding: 0 40px;

  .default-content-wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
      margin-bottom: 12px;
    }
  }

  .swiper-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 0;
    padding: 30px 0 0;

    .swiper-slide {
      background: #FFF;
      border: 1px solid rgb(0 0 0 / 20%);
      border-radius: 12px;
      display: flex;
      gap: 19px;
      justify-content: flex-start;
      padding: 20px;
      width: 436px !important;
    }

    // .swiper-button-next:disabled,
    // .swiper-button-prev:disabled {
    //   opacity: 0.8;
    //   pointer-events: none;
    // }
  }

  .bannervedio-wrapper {
    padding: 40px;
  }

  @include mobile {
    padding: 0 20px;
  }
}

.swiperinnerdiv {
  & > div:nth-child(1) {
    align-items: flex-start;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 0;
    margin: 0 auto;
    max-width: 1452px;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 200px;
    width: 100%;

    & > h1 {
      color: #00525B;
      font-family: $secondary-font;
      font-size: 60px;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 2px;
      line-height: 52px;
      max-width: 632px;
      text-transform: uppercase;

      @include tablet {
        font-family: $secondary-font;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 1.13px;
        line-height: 32px;
        margin-bottom: 13.5px;
        width: 85%;
      }
    }

    & > p {
      color: $text-brand;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      width: 402px;
    }

    &:nth-child(1) {
      & > p.button-container {
        & > a {
          background-color: #00525B;
          border-radius: 70px;
          color: #F5F8DE;
          display: flex;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          gap: 8px;
          line-height: 24px;
          padding: 8.7px 20px;
          width: -moz-fit-content;
          width: fit-content;
        }
      }

      @include tablet {
        p.button-container {
          align-items: center;
          border-radius: 20px;
          display: flex;
          gap: 8px;
          height: 35px;
          width: 100%;

          a {
            color: $text-primary-cta;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
          }
        }
      }
    }

    @include tablet {
      gap: 16px;
      align-items: flex-start;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: auto;
      width: 100%;
    }
  }
}

// Media Query Only Selectors (Moved/Eliminated)

.mob-noswiper-child1 {
  @include tablet {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: space-between;

    & > h1 {
      color: #00525B;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.24px;
      line-height: 32px;
    }

    & > .button-container {
      & > a {
        background-color: unset;
        color: #00525B;
        display: block;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        padding: 0;
        text-decoration: underline;
      }
    }
  }
}

.mob-noswiper-child2 {
  @include tablet {
    & > div {
      align-items: flex-start;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
  }
}