@import '../../libs/swiper/swiper-bundle.min.css';

.bannervideo-container{
  position:relative;
}

.bannervideo-container .bannervideo-wrapper{
  height:100%;
  max-width:none;
  padding:0;
}

.bannervideo-container .bannervideo-wrapper .mob-swiper{
  display:flex;
}

.desktop-banner{
  display:block;
  height:100%;
}

.desktop-banner picture{
  height:100%;
}

.desktop-banner img{
  border-radius:0 0 40px 40px;
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
}

.inner-section1{
  position:relative;
}

.inner-section1 > h1{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:42px;
  font-style:normal;
  font-weight:400;
  letter-spacing:-2px;
  line-height:44px;
  text-transform:uppercase;
}

.inner-section1 > p{
  display:none;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div > .button-container > a{
  background-color:unset;
  color:var(--heading-default);
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:21px;
  margin:0;
  padding:0;
  text-decoration:underline;
  text-decoration-color:var(--link-accent);
  text-decoration-thickness:2px;
  text-underline-offset:4px;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div > picture > img{
  height:auto;
  width:100%;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div > div{
  display:flex;
  flex:1 0 0;
  flex-direction:column;
  gap:16px;
  justify-content:flex-start;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div:nth-child(1){
  width:25%;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div:nth-child(2){
  align-items:flex-start;
  align-self:stretch;
  display:flex;
  flex:1 0 0;
  flex-direction:column;
  gap:16px;
  justify-content:space-between;
  width:68%;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div:nth-child(2) > p{
  color:var(--heading-default);
  font-family:var(--primary-font);
  font-size:20px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
  margin:0;
  padding:0;
}

.mob-desk-wrapper{
  height:100%;
}

.mob-pbanner{
  display:none;
}

.nav-buttons{
  display:flex;
  gap:16px;
  justify-content:space-between;
}

.nav-buttons .swiper-navigation-icon{
  display:none;
}

.nav-buttons button{
  align-items:center;
  background:#F5F8DE;
  border-radius:12px;
  display:flex;
  flex-direction:column;
  height:56px;
  justify-content:center;
  margin:0;
  position:static;
  width:56px;
}

.nav-buttons button:hover{
  background:#F5F8DE;
}

.nav-buttons .swiper-button-prev::after{
  background-image:url("../../icons/mdi_arrow-left.svg");
  background-repeat:no-repeat;
  background-size:100%;
  content:"";
  height:38px;
  width:38px;
}

.nav-buttons .swiper-button-next::after{
  background-image:url("../../icons/mdi_arrow-right.svg");
  background-repeat:no-repeat;
  background-size:100%;
  content:"";
  height:38px;
  width:38px;
}

.secfirst .bannervideo-wrapper{
  margin:0 auto;
  max-width:100%;
  padding:0;
}

.secfirst .bannervideo-wrapper .bannervideo .swiper-slide{
  margin-right:2px;
  position:relative;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
  bottom:64px;
  display:flex;
  gap:4px;
  justify-content:flex-end;
  left:25%;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 25%);
  padding-inline:64px;
  position:absolute;
  right:0;
  top:unset;
  width:100%;
  z-index:1;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .swiper-pagination{
  align-items:center;
  backdrop-filter:blur(18px);
  background:var(--bg-default);
  border-radius:30px;
  display:flex;
  gap:10px;
  height:35px;
  justify-content:center;
  padding:0 12px;
  position:static;
  width:-moz-fit-content;
  width:fit-content;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .swiper-pagination .swiper-pagination-bullet{
  aspect-ratio:1/1;
  background:var(--bg-reverse);
  border-radius:40px;
  box-shadow:0 1px 4px 0 rgb(0 0 0 / 15%);
  height:4px;
  margin:0;
  opacity:0.6;
  width:4px;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .swiper-pagination .swiper-pagination-bullet-active{
  aspect-ratio:1/1;
  border-radius:40px;
  box-shadow:0 1px 4px 0 rgb(0 0 0 / 15%);
  height:8px;
  opacity:1;
  width:8px;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .play-btn{
  backdrop-filter:blur(18px);
  border-radius:100%;
  display:block;
  height:35px;
  width:35px;
}

.secfirst .swiper-wrapper{
  height:600px;
  z-index:unset;
}

.secsecond{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.secsecond .default-content-wrapper{
  display:flex;
  justify-content:space-between;
}

.secsecond .swiper-wrapper{
  align-items:flex-start;
  align-self:stretch;
  display:flex;
  gap:0;
  padding:30px 0 0;
}

.secsecond .swiper-wrapper .swiper-slide{
  background:#FFF;
  border:1px solid rgb(0 0 0 / 20%);
  border-radius:var(--radius-card);
  display:flex;
  gap:19px;
  height:181px;
  justify-content:flex-start;
  margin-right:24px;
  padding:20px;
  width:388px !important;
}

.secsecond .bannervedio-wrapper{
  padding:40px;
}

.swiperinnerdiv > div:nth-child(1){
  align-items:flex-start;
  background:transparent;
  bottom:64px;
  display:flex;
  flex-direction:column;
  gap:24px;
  left:0;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  position:absolute;
  right:0;
  width:100%;
}

.swiperinnerdiv > div:nth-child(1) > h1{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:60px;
  font-style:normal;
  font-weight:900;
  letter-spacing:2px;
  line-height:52px;
  max-width:560px;
  text-transform:uppercase;
}

.swiperinnerdiv > div:nth-child(1) > p{
  color:var(--body-default);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  max-width:560px;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container > a{
  background-color:var(--bg-reverse);
  border-radius:20px;
  color:var(--link-reverse);
  display:flex;
  font-size:16px;
  font-style:normal;
  font-weight:500;
  gap:8px;
  line-height:24px;
  padding:8px 24px;
  width:-moz-fit-content;
  width:fit-content;
}

@media screen and (max-width: 1439px){
  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
    left:unset;
    margin-left:auto;
    margin-right:0;
    width:-moz-fit-content;
    width:fit-content;
  }
}

@media screen and (max-width: 1279px){
  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
    padding-inline:24px;
  }

  .secsecond{
    padding-inline:24px;
  }

  .swiperinnerdiv > div:nth-child(1){
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .bannervideo-container .bannervideo-wrapper .mob-swiper{
    align-items:start;
    background:#fff;
    border:1px solid rgb(0 0 0 / 15%);
    border-radius:12px;
    gap:16px;
    padding:20px;
    width:100%;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper > div:first-child img{
    height:115px;
    min-width:125px;
    -o-object-fit:contain;
       object-fit:contain;
    width:-moz-fit-content;
    width:fit-content;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p{
    color:var(--heading-default);
    font-family:var(--primary-font);
    font-size:20px;
    font-style:normal;
    font-weight:500;
    line-height:24px;
    margin:0 0 20px;
    padding:0;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p > a{
    background-color:transparent;
    color:var(--heading-default);
    font-size:14px;
    font-style:normal;
    font-weight:400;
    line-height:21px;
    margin:0;
    padding:0;
    text-decoration:underline;
    text-decoration-color:var(--link-accent);
    text-decoration-thickness:2px;
    text-underline-offset:4px;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p.button-container{
    margin-bottom:0;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper > div > picture > img{
    border-radius:5px;
    height:115px;
    max-width:none;
    width:120px;
  }

  .bannervideo-container .bannervideo-wrapper .bannervideo{
    border-radius:0;
  }

  .desktop-banner{
    display:none;
    height:115px;
    width:125px;
  }

  .mob-pbanner{
    display:block;
  }

  .mob-pbanner img{
    width:100%;
  }

  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
    bottom:16px;
    position:absolute;
    right:0;
  }

  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .play-btn{
    display:none;
  }

  .secfirst .swiper-wrapper{
    height:auto;
  }

  .secsecond .default-content-wrapper{
    flex-wrap:wrap;
    margin-bottom:24px;
  }

  .secsecond .swiper-wrapper{
    padding:0;
  }

  .swiperinnerdiv > div:nth-child(1){
    align-items:flex-start;
    bottom:16px;
    display:flex;
    flex-direction:column;
    gap:16px;
    justify-content:center;
    width:100%;
  }

  .swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container > a{
    font-size:14px;
    padding:6px 16px;
    text-align:center;
  }

  .mob-noswiper-child1{
    align-items:center;
    align-self:stretch;
    display:flex;
    justify-content:space-between;
  }

  .mob-noswiper-child1 > h1{
    color:var(--heading-default);
    font-size:36px;
    font-style:normal;
    font-weight:400;
    letter-spacing:-2px;
    line-height:38px;
  }

  .mob-noswiper-child1 > .button-container > a{
    background-color:unset;
    color:var(--heading-default);
    display:block;
    font-size:14px;
    font-style:normal;
    font-weight:400;
    line-height:21px;
    margin:0;
    padding:0;
    text-decoration:underline;
    text-underline-offset:4px;
  }

  .mob-noswiper-child2 > div{
    align-items:flex-start;
    align-self:stretch;
    display:flex;
    flex-direction:column;
    gap:18px;
  }
}

@media screen and (max-width: 767px){
  .inner-section2 .video-banner .swiper-wrapper .swiper-slide > div:nth-child(2){
    gap:20px;
  }

  .mob-pbanner img{
    border-radius:0 0 20px 20px;
    height:585px;
    -o-object-fit:cover;
       object-fit:cover;
    -o-object-position:center;
       object-position:center;
    width:100%;
  }

  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
    padding-inline:16px;
  }

  .secsecond{
    padding:0 20px;
    padding-inline:16px;
  }

  .swiperinnerdiv > div:nth-child(1){
    padding-inline:16px;
  }
}
