@use '../../styles/variables' as *;
@import './swiper-bundle.min.css';

/* ==============================
   Section: Swiper Layouts
============================== */
.secfirst,
.secsecond {
  .swiper-wrapper {
    display: flex;
    align-items: flex-start;
  }
}

/* ==============================
   Section Two Styles
============================== */
.secsecond {
  .default-content-wrapper {
    display: flex;

    // background-color: $text-brand;
  }

  .swiper-wrapper {
    padding: 30px 0;
    gap: 0;

    .swiper-slide {
      width: 379px !important;
      display: flex;
      justify-content: flex-start;
      gap: 19px;
      padding: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      background: #fff;
      height: 120px;
    }
  }

  .bannervideo-wrapper {
    padding: 40px;
  }
}

/* ==============================
   Section One Styles
============================== */
.secfirst {
  .bannervideo-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;

    .bannervideo {
      border-radius: 0 0 40px 40px;

      .swiper-slide {
        position: relative;
        margin-right: 2px;
      }

      .swiper-pagination-bullet {
        width: 49px;
        height: 12px;
        border-radius: 40px;
        opacity: 1;
        background-color: #fff;

        &-active {
          background: #00525B;
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .swiper-wrapper {
    height: 600px;
  }
}

/* ==============================
   Banner Containers
============================== */
.bannervideo-container {
  position: relative;

  .bannervideo-wrapper .mob-swiper {
    display: flex;
  }
}

.desktop-banner,
.desktop-banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.mob-pbanner {
  display: none;
}

/* ==============================
   Navigation Buttons
============================== */
.nav-buttons {
  position: absolute;
  top: 54%;
  right: 2%;
  display: flex;
  gap: 8px;
  width: 106%;
  max-width: 92px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    background: #F5F8DE;

    &:hover {
      background: #F5F8DE;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 56px;
    height: 56px;

    &::after {
      content: '';
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
  }

  .swiper-button-prev {
    left: -45%;

    &::after {
      background-image: url('../../icons/mdi_arrow-left.svg');
    }
  }

  .swiper-button-next {
    right: 0;

    &::after {
      background-image: url('../../icons/mdi_arrow-right.svg');
    }
  }
}

/* ==============================
   Inner Content Styles
============================== */
.inner-section1 {
  position: relative;

  >h1 {
    color: $text-brand;
    font-family: var(--secondary-font);
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
  }

  >p {
    display: none;
  }
}

.inner-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  >div:first-child {
    max-width: 1328px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 32px;
    background: transparent;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--text-brand);
      font-family: var(--secondary-font);
      font-size: 60px;
      font-weight: 900;
      line-height: 52px;
      letter-spacing: 2px;
    }

    p {
      font-family: Inter, sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #00525B;
    }

    .button-container a {
      color: #F5F8DE;
      font-weight: 600;
      background-color: #00525B;
    }
  }
}

/* ==============================
   Mobile View
============================== */
@media (max-width: 767px) {
  .secfirst .swiper-wrapper {
    height: auto;
  }

  .desktop-banner {
    display: none;
  }

  .mob-pbanner {
    display: block;
  }

  .bannervideo-wrapper .bannervideo {
    border-radius: 0;
  }

  .mob-swiper {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background: #fff;
    padding: 12px;

    p {
      margin: 0;
      color: #000;
      font-size: 14px;
      font-weight: 700;

      a {
        color: #00525B;
        font-size: 16px;
        font-weight: 700;
        text-decoration: underline;
        background: transparent;
      }
    }
  }

  .inner-container>div:first-child {
    width: 100%;
    padding: 20px;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }

    p {
      font-size: 14px;
      font-weight: 700;
      color: #00525B;
    }

    .button-container a {
      display: flex;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .swiper-pagination-bullet-active {
    background: #00525B;
  }

  .swiper-pagination-bullets {
    bottom: 80px;
    text-align: right;
  }
}