@import './swiper-bundle.min.css';

/* ==============================
   Section Styles
============================== */
.section.secfirst .bannervideo-wrapper {
  max-width: none;
  margin: 0;
}

.mob-pbanner {
  display: none;
}

.bannervideo-container {
  position: relative;
}

.desktop-banner {
  display: block;
}

.secsecond .default-content-wrapper {
  display: flex;
}

.bannervedio-container .bannervedio-wrapper {
  max-width: none;
  padding: 0;
  height: 100%;
}

.swiperinnerdiv3 .mob-pbanner {
    display: block;
}

/* ==============================
   Swiper Pagination
============================== */
.swiper-pagination-bullet {
  width: 49px;
  height: 12px;
  border-radius: 40px;
}

.swiper-pagination-bullet-active {
  background: var(--Dark-teal, #00525B);
}

/* ==============================
   Swiper Slides
============================== */
.secfirst .bannervedio-wrapper .bannervedio {
  border-radius: 0 0 50px 50px;
}

.secfirst .bannervedio-wrapper .bannervedio .swiper-slide {
  width: 1457px;
  position: relative;
  margin-right: 2px;
}

.secfirst .swiper-wrapper {
  max-height: 516px;
}

/* .secfirst .swiper-slide:nth-child(1)>div:nth-child(2) {
  position: absolute;
  bottom: 38px;
  left: 40px;
  width: 400px;
  height: 350px;
  padding: 80px 0 41.412px;
  background: #ffffff47;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  align-self: stretch;
} */

/* .secfirst .swiper-slide:nth-child(1)>div:nth-child(2)>p {
  color: var(--Dark-Teal, #00525B);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
} */

/* ==============================
   Navigation Buttons
============================== */
.nav-buttons {
  position: absolute;
  top: 15%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 106%;
  max-width: 92px;
  height: 12px;
}

.nav-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background: var(--Cream, #F5F8DE);
}

.nav-buttons button:hover {
  background: #005bb5;
}

.nav-buttons .swiper-button-prev {
  position: absolute;
  left: -45%;
}

/* ==============================
   Section Two Styles
============================== */
.secsecond .swiper-wrapper {
  display: flex;
}

.secsecond .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: flex-start;
  gap: 19px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 12px;
  background: #FFF;
}

.secsecond .bannervedio-wrapper {
  padding: 40px;
}

/* ==============================
   Typography
============================== */
#banking-for-dept-owned-by-teachers {
  color: var(--Dark-Teal, #00525B);
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 20px;
  font-style: normal;
}

#news-and-helpful-info {
  color: #00525B;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  font-style: normal;
}

/* /////mobile view/// */

.bannervideo-container .bannervideo-wrapper .mob-swiper {
  display: flex;
}

.swiperinnerdiv1>div:nth-child(1) {
  position: absolute;
  left: 20px;
  width: 372px;
  height: 200px;
}

@media (max-width: 767px) {
  .bannervideo-container .bannervideo-wrapper .mob-swiper {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background: #fff;
    padding: 12px;
    margin: 17px;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p {
    color: var(--Black, #000);

    /* Mobile/Small bold body */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 128.571% */
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p:nth-child(2) {
    display: none;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper>div>picture>img {
    max-width: none;
  }

  #news-and-helpful-info {
    color: #00525B;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: -0.24px;
  }

  .mob-pbanner {
    display: block;
  }

  .desktop-banner {
    display: none;
  }

  .swiperinnerdiv1>div:nth-child(1) {
    display: none;
  }

  .bannervideo .swiper-pagination .swiper-pagination-bullet {
    width: 24px;
    height: 7px;
    border-radius: 40px;
  }

  .bannervideo .swiper-pagination {
    bottom: 0;
    right: 20px;
    width: 100%;
    color: #c2c7d1;
    left: 160px;
  }
}