@import '../../libs/swiper/swiper-bundle.min.css';

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button, .swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.primary, .swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.secondary, .swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined, .swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined-reverse, .swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.white{
  align-items:center;
  border:none;
  border-radius:var(--radius-button);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-weight:var(--font-weight-h5);
  gap:16px;
  justify-content:center;
  padding-inline:24px;
  text-align:center;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

.secfirst .bannervideo-wrapper{
  margin:0 auto;
  max-width:100%;
  padding:0;
}

.secfirst .bannervideo-wrapper .bannervideo .swiper-slide{
  margin-right:2px;
  position:relative;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
  bottom:64px;
  display:flex;
  gap:4px;
  justify-content:flex-end;
  left:25%;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 25%);
  padding-inline:64px;
  position:absolute;
  right:0;
  top:unset;
  width:100%;
  z-index:1;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .swiper-pagination{
  align-items:center;
  backdrop-filter:blur(18px);
  background:var(--bg-default);
  border-radius:var(--radius-button);
  display:flex;
  gap:10px;
  height:35px;
  justify-content:center;
  padding:0 12px;
  position:static;
  width:-moz-fit-content;
  width:fit-content;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .swiper-pagination .swiper-pagination-bullet{
  aspect-ratio:1/1;
  background:var(--bg-reverse);
  border-radius:40px;
  box-shadow:0 1px 4px 0 rgb(0 0 0 / 15%);
  height:4px;
  margin:0;
  opacity:0.6;
  width:4px;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .swiper-pagination .swiper-pagination-bullet-active{
  aspect-ratio:1/1;
  border-radius:40px;
  box-shadow:0 1px 4px 0 rgb(0 0 0 / 15%);
  height:8px;
  opacity:1;
  width:8px;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .play-btn{
  background-color:var(--bg-default);
  border-radius:var(--radius-button);
  display:grid;
  height:35px;
  place-items:center;
  width:35px;
}

.secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .play-btn svg{
  color:var(--color-pagination-selected);
  display:block;
  filter:drop-shadow(0 1px 3px rgb(0 0 0 / 40%));
  height:24px;
  width:24px;
}

.secfirst .swiper-wrapper{
  height:600px;
  z-index:unset;
}

.secsecond{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.secsecond .default-content-wrapper{
  display:flex;
  justify-content:space-between;
}

.secsecond .swiper-wrapper{
  align-items:stretch;
  align-self:stretch;
  display:flex;
  gap:0;
  padding:30px 0 0;
}

.secsecond .swiper-wrapper .swiper-slide{
  background:#FFF;
  border:1px solid rgb(0 0 0 / 20%);
  border-radius:var(--radius-card);
  display:flex;
  gap:19px;
  height:auto;
  justify-content:flex-start;
  margin-right:24px;
  padding:20px;
  width:388px !important;
}

.secsecond .bannervedio-wrapper{
  padding:40px;
}

.bannervideo-container{
  position:relative;
}

.bannervideo-container .bannervideo-wrapper{
  height:100%;
  max-width:none;
  padding:0;
}

.bannervideo-container .bannervideo-wrapper .mob-swiper{
  display:flex;
}

.desktop-banner{
  display:block;
  height:100%;
}

.desktop-banner picture{
  height:100%;
}

.desktop-banner img{
  border-radius:0 0 40px 40px;
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
}

.inner-section1{
  position:relative;
}

.inner-section1 > h1{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  text-transform:initial;
}

.inner-section1 > p{
  display:none;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div > .button-container > a{
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  margin:0;
  padding:0;
  text-decoration:underline;
  text-decoration-color:var(--link-accent);
  text-decoration-thickness:2px;
  text-transform:initial;
  text-underline-offset:4px;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div > picture > img{
  height:auto;
  width:100%;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div > div{
  display:flex;
  flex:1 0 0;
  flex-direction:column;
  gap:16px;
  justify-content:flex-start;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div:nth-child(1){
  width:25%;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div:nth-child(2){
  align-items:flex-start;
  align-self:stretch;
  display:flex;
  flex:1 0 0;
  flex-direction:column;
  gap:16px;
  justify-content:flex-start;
  width:68%;
}

.inner-section2 .video-banner .swiper-wrapper .swiper-slide > div:nth-child(2) > p{
  color:var(--heading-default);
  font-family:var(--primary-font);
  font-size:20px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
  margin:0;
  padding:0;
}

.mob-desk-wrapper{
  height:100%;
}

.mob-pbanner{
  display:none;
}

.nav-buttons{
  display:flex;
  gap:16px;
  justify-content:space-between;
}

.nav-buttons .swiper-navigation-icon{
  display:none;
}

.nav-buttons button{
  align-items:center;
  background:#F5F8DE;
  border-radius:12px;
  display:flex;
  flex-direction:column;
  height:56px;
  justify-content:center;
  margin:0;
  position:static;
  width:56px;
}

.nav-buttons button:hover{
  background:#F5F8DE;
}

.nav-buttons .swiper-button-prev::after{
  background-image:url("../../icons/mdi_arrow-left.svg");
  background-repeat:no-repeat;
  background-size:100%;
  content:"";
  height:38px;
  width:38px;
}

.nav-buttons .swiper-button-next::after{
  background-image:url("../../icons/mdi_arrow-right.svg");
  background-repeat:no-repeat;
  background-size:100%;
  content:"";
  height:38px;
  width:38px;
}

.swiperinnerdiv > div:nth-child(1){
  align-items:flex-start;
  background:transparent;
  bottom:64px;
  display:flex;
  flex-direction:column;
  gap:24px;
  left:0;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  position:absolute;
  right:0;
  width:100%;
}

.swiperinnerdiv > div:nth-child(1) > h1,
.swiperinnerdiv > div:nth-child(1) h2,
.swiperinnerdiv > div:nth-child(1) h3,
.swiperinnerdiv > div:nth-child(1) h4,
.swiperinnerdiv > div:nth-child(1) h5,
.swiperinnerdiv > div:nth-child(1) h6{
  color:var(--heading-default);
  font-family:var(--font-family-lg);
  font-size:var(--font-size-lg);
  font-weight:var(--font-weight-lg);
  letter-spacing:var(--font-letter-spacing-lg);
  line-height:var(--font-height-lg);
  max-width:560px;
  text-transform:initial;
}

.swiperinnerdiv > div:nth-child(1) > p{
  color:var(--body-default);
  font-family:var(--font-family-h4);
  font-size:var(--font-size-h4);
  font-weight:var(--font-weight-h4);
  letter-spacing:var(--font-letter-spacing-h4);
  line-height:var(--font-height-h4);
  max-width:560px;
  text-transform:initial;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container{
  display:flex;
  gap:16px;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container strong, .swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container em{
  font-style:normal;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button{
  background-color:var(--color-button-primary-default);
  border:none;
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button:hover{
  background-color:var(--color-button-primary-hover);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button:active{
  background-color:var(--color-button-primary-press);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.primary{
  background-color:var(--color-button-primary-default);
  border:none;
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.primary:hover{
  background-color:var(--color-button-primary-hover);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.primary:active{
  background-color:var(--color-button-primary-press);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.primary:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.secondary{
  background-color:var(--color-button-secondary-default);
  border:none;
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.secondary:hover{
  background-color:var(--color-button-secondary-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.secondary:active{
  background-color:var(--color-button-secondary-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.secondary:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined{
  background-color:var(--color-button-outlined-default);
  border:var(--stroke-button) solid var(--color-button-text-stroke-default);
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:6px;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined:hover{
  background-color:var(--color-button-outlined-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-hover);
  color:var(--color-button-text-stroke-hover);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined:active{
  background-color:var(--color-button-outlined-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-press);
  color:var(--color-button-text-stroke-press);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined-reverse{
  background-color:var(--color-button-outlined-reverse-default);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:6px;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined-reverse:hover{
  background-color:var(--color-button-outlined-reverse-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined-reverse:active{
  background-color:var(--color-button-outlined-reverse-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.outlined-reverse:focus-visible{
  box-shadow:0 0 0 2px var(--color-focus-default), 0 0 0 3px var(--color-focus-reversed);
  outline:none;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.white{
  background-color:var(--color-button-white-default);
  border:none;
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.white:hover{
  background-color:var(--color-button-white-hover);
  border:none;
  color:var(--color-button-text-stroke-hover);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.white:active{
  background-color:var(--color-button-white-press);
  border:none;
  color:var(--color-button-text-stroke-press);
}

.swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container .button.white:focus-visible{
  box-shadow:0 0 0 2px var(--color-focus-default), 0 0 0 3px var(--color-focus-reversed);
  outline:none;
}

@media screen and (max-width: 1439px){
  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
    left:unset;
    margin-left:auto;
    margin-right:0;
    width:-moz-fit-content;
    width:fit-content;
  }
}

@media screen and (max-width: 1279px){
  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
    padding-inline:24px;
  }

  .secsecond{
    padding-inline:24px;
  }

  .swiperinnerdiv > div:nth-child(1){
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
    bottom:16px;
    position:absolute;
    right:0;
  }

  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div .play-btn{
    display:none;
  }

  .secfirst .swiper-wrapper{
    height:auto;
  }

  .secsecond .default-content-wrapper{
    flex-wrap:wrap;
    margin-bottom:24px;
  }

  .secsecond .swiper-wrapper{
    padding:0;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper{
    align-items:start;
    background:#fff;
    border:1px solid rgb(0 0 0 / 15%);
    border-radius:12px;
    gap:16px;
    padding:20px;
    width:100%;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper > div:first-child img{
    height:115px;
    min-width:125px;
    -o-object-fit:contain;
       object-fit:contain;
    width:-moz-fit-content;
    width:fit-content;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p{
    color:var(--heading-default);
    font-family:var(--font-family-h4);
    font-size:var(--font-size-h4);
    font-weight:var(--font-weight-h4);
    letter-spacing:var(--font-letter-spacing-h4);
    line-height:var(--font-height-h4);
    margin:0 0 20px;
    padding:0;
    text-transform:initial;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p > a{
    background-color:transparent;
    color:var(--heading-default);
    font-family:var(--font-family-sm-body);
    font-size:var(--font-size-sm-body);
    font-weight:var(--font-weight-sm-body);
    letter-spacing:var(--font-letter-spacing-sm-body);
    line-height:var(--font-height-sm-body);
    margin:0;
    padding:0;
    text-decoration:underline;
    text-decoration-color:var(--link-accent);
    text-decoration-thickness:2px;
    text-transform:initial;
    text-underline-offset:4px;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper p.button-container{
    margin-bottom:0;
  }

  .bannervideo-container .bannervideo-wrapper .mob-swiper > div > picture > img{
    border-radius:5px;
    height:115px;
    max-width:none;
    width:120px;
  }

  .bannervideo-container .bannervideo-wrapper .bannervideo{
    border-radius:0;
  }

  .desktop-banner{
    display:none;
    height:115px;
    width:125px;
  }

  .mob-pbanner{
    display:block;
  }

  .mob-pbanner img{
    width:100%;
  }

  .swiperinnerdiv > div:nth-child(1){
    align-items:flex-start;
    bottom:16px;
    display:flex;
    flex-direction:column;
    gap:16px;
    justify-content:center;
    width:100%;
  }

  .mob-noswiper-child1{
    align-items:center;
    align-self:stretch;
    display:flex;
    justify-content:space-between;
  }

  .mob-noswiper-child1 > h1{
    color:var(--heading-default);
    font-size:36px;
    font-style:normal;
    font-weight:400;
    letter-spacing:-2px;
    line-height:38px;
  }

  .mob-noswiper-child1 > .button-container > a{
    background-color:unset;
    color:var(--heading-default);
    display:block;
    font-size:14px;
    font-style:normal;
    font-weight:400;
    line-height:21px;
    margin:0;
    padding:0;
    text-decoration:underline;
    text-underline-offset:4px;
  }

  .mob-noswiper-child2 > div{
    align-items:flex-start;
    align-self:stretch;
    display:flex;
    flex-direction:column;
    gap:18px;
  }
}

@media screen and (max-width: 767px){
  .secfirst .bannervideo-wrapper .bannervideo .outer-pagination-div{
    padding-inline:16px;
  }

  .secsecond{
    padding-inline:16px;
  }

  .inner-section2 .video-banner .swiper-wrapper .swiper-slide > div:nth-child(2){
    gap:20px;
  }

  .mob-pbanner img{
    border-radius:0 0 20px 20px;
    height:585px;
    -o-object-fit:cover;
       object-fit:cover;
    -o-object-position:center;
       object-position:center;
    width:100%;
  }

  .swiperinnerdiv > div:nth-child(1){
    padding-inline:16px;
  }

  .swiperinnerdiv > div:nth-child(1):nth-child(1) > p.button-container{
    flex-direction:column;
    gap:8px;
  }
}
