.tabs {
  .tabs-list {
    display: flex;
    gap: 0.5ch;
    max-width: 100%;
    font-size: var(--body-font-size-xs);
    overflow-x: auto;

    @media (width >=600px) {
      font-size: var(--body-font-size-s);
    }

    @media (width >=900px) {
      font-size: var(--body-font-size-m);
    }

    button {
      flex: 0 0 max-content;
      margin: 0;
      border: 1px solid var(--dark-color);
      border-radius: 0;
      padding: 0.5em;
      background-color: #949494;
      color: initial;
      font-weight: bold;
      line-height: unset;
      text-align: initial;
      text-overflow: unset;
      overflow: unset;
      white-space: unset;
      transition: background-color 0.2s;

      p {
        margin: 0;
      }

      &[aria-selected='true'] {
        border-bottom: 1px solid var(--background-color);
        background-color: var(--background-color);
        cursor: initial;
      }
    }
  }

  .tabs-panel {
    margin-top: -1px;
    padding: 24px;
    border: 1px solid var(--dark-color);
    overflow: auto;

    &[aria-hidden='true'] {
      display: none;
    }
  }
}