@use '../../styles/base' as *;

.tabs {
  .tabs-list {
    border-radius: 24px;
    border: 1px solid #00525B;
    display: flex;
    align-items: center;
    width: 471px;

    @media (width >=600px) {
      font-size: var(--body-font-size-s);
    }

    @media (width >=900px) {
      font-size: var(--body-font-size-m);
    }

    button {
      display: flex;
      padding: var(--space-3xs, 8px) 0;
      justify-content: center;
      align-items: center;

      p {
        display: flex;
        width: 157px;
        padding: var(--space-3xs, 8px) var(--space-sm, 24px);
        justify-content: center;
        align-items: center;
        margin: 0;
      }

      &[aria-selected='false'] {
        background-color: $heading-default;
        border-radius: 24px;
        color:#FFF;
      }
    }
  }

  .tabs-panel {
    margin-top: -1px;
    padding: 24px;
    // border: 1px solid var(--dark-color);
    overflow: auto;
    padding-top: 32px;

    &[aria-hidden='true'] {
      display: none;
    }

    .panel1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 64px;
      row-gap: 16px;

      h3,h2 {
        color: #00525B;
        font-size: 24px;
        font-family:$primary-font;
        grid-row: 1;
        font-style: normal;
        font-weight: 500;
      }

      p {
        grid-row: 2;
        color: black;
        font-size: 16px;
      }
    }

  }
}