@use '../../styles/base' as *;

.home-loan-explained {
  @include responsive-container;

  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px - 0px);
  padding-inline: 64px;
  width: 100%;

  @include tablet-lg {
    padding-inline: $padding-tablet;
  }

  @include mobile {
    padding-inline: $padding-mobile;
  }

  .default-content-wrapper {
    h1,
    h2,
    h3 {
      color: $heading-light;

      @include typo-heading1;

    }
  }

  .tabs {
    .tabs-list {
      border: 1px solid $link-default;
      display: flex;
      align-items: center;
      width: 471px;
      border-radius: $radius-card;
      overflow: hidden;

      .tabs-tab {
        flex: 1;
        padding: 8px 0;
        background: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $link-default;

        &:last-child {
          border-right: 0;
        }

        p {
          width: 157px;
          margin: 0;
          color: $heading-default;
        }

        &[aria-selected='true'] {
          background-color: $heading-default;

          p {
            color: $icon-default;
          }
        }
      }
    }

    .tabs-panel {
      margin-top: -1px;
      padding: 24px;
      overflow: auto;
      padding-top: 32px;

      &[aria-hidden='true'] {
        display: none;
      }

      div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 64px;
        row-gap: 16px;

        h3,
        h2 {
          color: $heading-light;
        
          @include typo-heading3;

          grid-row: 1;
        }

        p {
          grid-row: 2;
          color: black;
          font-size: 16px;
        }
      }

    }
  }
}