@use '../../styles/base' as *;

.home-loan-explained {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  @include mobile {
    gap: 32px;
  }

  & > .default-content-wrapper {
    @include responsive-container;

    h1,
    h2,
    h3 {
      color: $heading-light;

      @include typo-heading1;
    }
  }

  .tabs {
    .tab-list-wrapper {
      @include responsive-container;
      
      overflow-x: auto;
    }
    
    .tabs-list {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      width: fit-content;
      max-width: 100%;

      .tabs-tab {
        flex: 1;
        padding: 8px 24px;
        background: #fff;
        min-width: max-content;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $link-default;
        border-bottom: 1px solid $link-default;
        border-right: 1px solid $link-default;
        border-left: 1px solid $link-default;

        &:first-child {
          border-top-left-radius: $radius-card;
          border-bottom-left-radius: $radius-card;
        }
        
        &:last-child {
          border-top-right-radius: $radius-card;
          border-bottom-right-radius: $radius-card;
        }

        p {
          margin: 0;
          color: $heading-default;
        }

        &[aria-selected='true'] {
          background-color: $heading-default;

          p {
            color: $icon-default;
          }
        }
      }
    }

    .tabs-panel {
      &[aria-hidden='true'] {
        display: none;
      }
    }
  }
}

.tabbed-navigation {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  @include mobile {
    gap: 24px;
  }

  & > .default-content-wrapper {
    @include responsive-container;

    h1,
    h2,
    h3 {
      color: $heading-light;

      @include typo-heading1;
    }
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    gap: 80px;

    @include tablet(min) {
      @include responsive-container;
    }

    @include tablet {
      flex-direction: column;
      gap: 64px;
    }

    @include mobile {
      gap: 40px;
    }

    .tab-list-wrapper {      
      overflow-x: auto;
      min-width: 449px;
      width: fit-content;

      @include tablet {
        min-width: unset;
        width: unset;
      }
    }
    
    .tabs-list {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include tablet {
        @include responsive-container;

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        max-width: 100%;
      }

      .tabs-tab {
        position: relative;
        border-radius: $radius-card;
        padding: 24px 32px;
        outline: none;

        @include tablet {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          padding: 24px 8px;
          min-width: 86px;
        }

        &::after {
          content: '';
          position: absolute;
          display: block;
          width: calc(100% - 64px);
          margin: 0 auto;
          height: 1px;
          background-color: $icon-light-3;
          right: 0;
          left: 0;
          bottom: 0;
          
          @include tablet {
            margin: auto 0;
            top: 0;
            left: unset;
            bottom: 0;
            height: calc(100% - 48px);
            width: 1px;
          }
        }

        &:last-child::after {
          content: unset;
        }

        &:focus-visible {
          box-shadow: 0 0 0 2px $color-focus-reversed, 0 0 0 6px $color-focus-default;
          margin: 8px;

          &::after {
            content: unset;
          }
        }

        &:has(+ [aria-selected='true']) {
          &::after {
            content: unset;
          }
        }

        &:has(+ .tabs-tab:focus-visible) {
          &::after {
            content: unset;
          }
        }

        &[aria-selected='true'] {
          background-color: $heading-default;
          border: 2px solid $link-reverse;

          p {
            color: $heading-reverse;
          }

          svg.icon-svg.icon-accent {
            background-color: $icon-bg-reverse !important;
            color: $icon-reverse !important;
          }
        }

        &:not([aria-selected='true']):hover {
          svg.icon-svg.icon-accent {
            background-color: $icon-bg-default !important;
            color: $icon-default !important;
          }
        }

        p {
          @include typo-heading3;
          
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 24px;
          color: $heading-default;
          text-align: left;

          @include tablet {
            @include typo-disclaimer;

            justify-content: center;
            flex-direction: column;
            gap: 8px;
            text-align: center;
          }

          svg {
            transition: all 0.3s ease-in-out;
            min-width: 64px;
            min-height: 64px;
            width: 64px;
            height: 64px;

            @include mobile {
              width: 48px;
              height: 48px;
              min-width: 48px;
              min-height: 48px;
              padding: 4px;
            }
          }
        }
      }
    }

    .tabs-panels {
      @include tablet {
        @include responsive-container;
      }

      .tab-content-container:not(:last-child) {
        padding-bottom: 32px;
        border-bottom: 1px solid $line-light-3;
        margin-bottom: 32px;
      }

      .tab-content-wrapper:not(:last-child) {
        padding-bottom: 32px;
        border-bottom: 1px solid $line-light-3;
        margin-bottom: 32px;
      }
    }

    .tabs-panel {
      &[aria-hidden='true'] {
        display: none;
      }
    }
  }
}