.home-loan-explained{
  display:flex;
  flex-direction:column;
  gap:40px;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  max-width:1440px;
  padding-inline:64px;
  width:100%;
}

.home-loan-explained .default-content-wrapper h1,
.home-loan-explained .default-content-wrapper h2,
.home-loan-explained .default-content-wrapper h3{
  color:var(--heading-light);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  text-transform:initial;
}

.home-loan-explained .tabs .tabs-list{
  align-items:center;
  border:1px solid var(--link-default);
  border-radius:var(--radius-card);
  display:flex;
  overflow:hidden;
  width:471px;
}

.home-loan-explained .tabs .tabs-list .tabs-tab{
  align-items:center;
  background:#fff;
  border-right:1px solid var(--link-default);
  cursor:pointer;
  display:flex;
  flex:1;
  justify-content:center;
  padding:8px 0;
}

.home-loan-explained .tabs .tabs-list .tabs-tab:last-child{
  border-right:0;
}

.home-loan-explained .tabs .tabs-list .tabs-tab p{
  color:var(--heading-default);
  margin:0;
  width:157px;
}

.home-loan-explained .tabs .tabs-list .tabs-tab[aria-selected="true"]{
  background-color:var(--heading-default);
}

.home-loan-explained .tabs .tabs-list .tabs-tab[aria-selected="true"] p{
  color:var(--icon-default);
}

.home-loan-explained .tabs .tabs-panel{
  margin-top:-1px;
  overflow:auto;
  padding:24px;
  padding-top:32px;
}

.home-loan-explained .tabs .tabs-panel[aria-hidden="true"]{
  display:none;
}

.home-loan-explained .tabs .tabs-panel div{
  display:grid;
  gap:64px;
  grid-template-columns:repeat(3, 1fr);
  row-gap:16px;
}

.home-loan-explained .tabs .tabs-panel div h3,
.home-loan-explained .tabs .tabs-panel div h2{
  color:var(--heading-light);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  grid-row:1;
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  text-transform:initial;
}

.home-loan-explained .tabs .tabs-panel div p{
  color:black;
  font-size:16px;
  grid-row:2;
}

@media screen and (max-width: 1279px){
  .home-loan-explained{
    padding-inline:24px;
  }
}

@media screen and (max-width: 767px){
  .home-loan-explained{
    padding-inline:16px;
  }
}
