.system-table{
  background-color:green;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

@media screen and (max-width: 1279px){
  .system-table{
    padding-inline:24px;
  }
}

@media screen and (max-width: 767px){
  .system-table{
    padding-inline:16px;
  }
}
