@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

html {
  scroll-behavior: smooth;
}

.faq-heading-section {
    max-width: 1328px;
    margin: 0 auto;

    h1 {
        color: $surface-highlight;
        font-family: $primary-font;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0;
        padding: 32px;
        max-width: 1440px;

        @include mobile {
          padding: 24px 16px 0 16px;
        }
    }
}

.section-wrapper {
    max-width: 1328px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 392px; // Left | Right
    column-gap: 74px;
    row-gap: 32px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    align-items: start;
    padding: 32px;

    @include mobile {
      padding: 24px 16px;
    }

    .sub-section-wrapper h3[id] {
        scroll-margin-top: 140px;
        /* Adjust depending on header height */
    }

    // Left side: stacked sub-section wrappers
    .sub-section-wrapper:not(.right-section-wrapper) {
        grid-column: 1;
        grid-row: auto; // flow naturally

        .default-content-wrapper>h3 {
            color: $surface-prim-active-cta;
            font-family: $primary-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0;
            padding: 0 0 30px
        }

        p {
            color: $surface-prim-active-cta;
            font-family: $primary-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            // padding-bottom: 30px;
        }
    }

    .right-section-wrapper {
        grid-column: 2;
        grid-row: 1 / span 1;
        align-self: start;
        margin-top: 0;
        position: sticky;
        top: 140px;
        height: max-content;

        .default-content-wrapper>h2 {
            color: $text-secondary-cta;
            font-family: $primary-font;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: -1px;
            padding: 12px 0;
            border-bottom: 1px solid rgba(0, 82, 91, 0.20);
        }

        p {
            color: $text-secondary;
            font-family: $primary-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0;
            padding: 24px 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 4px;
            flex: 1 0 0;

            .faq-number {
              display: block;
              min-width: 28px;
              width: fit-content;
            }

            a {
                padding: 5px;
                color: $surface-prim-active-cta;
                text-decoration: none;
                transition: color .3s;
                width: 100%;
            }

            a:hover {
                background: $surface-disabled-cta;
            }

            a.active {
                /* font-weight: 600; */
                background-color: #00525B33;
                transition: 0.3s;
            }

            li {
                display: flex;
                align-items: center;
                color: #0B231F;
                font-family: $primary-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0;
            }
        }

    }
}

@include mobile {
    .section-wrapper {
        display: flex;
        flex-direction: column;
        gap:32px;

        .right-section-wrapper {
            display: none;
        }
    }
}