@charset "UTF-8";
@import '../../libs/swiper/swiper-bundle.min.css';

.faq-question{
  margin:auto;
  max-width:1328px;
  padding:0 32px;
}

.faq-question .default-content-wrapper{
  align-items:center;
  border-bottom:1px dotted var(--text-ghost-default);
  display:flex;
  justify-content:space-between;
}

.faq-question .default-content-wrapper p{
  color:var(--text-primary);
  padding:18px 0;
}

.faq-question .default-content-wrapper .slide-indicator{
  color:#333;
  font-size:14px;
  margin-top:0;
  text-align:right;
}

.faq-category-container{
  display:flex;
  flex-direction:column;
  margin:auto;
  max-width:1328px;
  overflow:hidden;
  padding:0 32px 32px;
  position:relative;
}

.faq-category-container .faq-category-wrapper{
  display:block;
}

.faq-category-container .faq-category-wrapper p{
  color:var(--text-primary);
  padding:18px 0;
  width:100%;
}

.faq-category-container .faq-category-wrapper ul{
  padding:8px 0;
}

.faq-category-container .faq-category-wrapper ul li a{
  align-items:center;
  color:var(--text-primary);
  display:flex;
  gap:24px;
  justify-content:space-between;
  padding:13px 8px;
}

.faq-category-container .swiper-pagination{
  align-items:center;
  display:flex;
  font-family:Inter, sans-serif;
  justify-content:flex-end;
  padding:32px 56px;
  position:relative;
}

.faq-category-container .swiper-pagination-bullet{
  align-items:center;
  background:none;
  color:#5f6368;
  cursor:pointer;
  display:inline-flex;
  font-size:14px;
  height:35px;
  justify-content:center;
  opacity:1;
  transition:all 0.2s ease;
  width:35px;
}

.faq-category-container .swiper-pagination-bullet:hover{
  color:#202124;
}

.faq-category-container .swiper-pagination-bullet-active{
  background:#f1f3f4;
  border-radius:50%;
  color:#202124;
  padding:6px 10px;
}

.faq-frequently-question-title{
  margin:auto;
  max-width:1328px;
  padding:32px 32px 0;
}

.faq-frequently-question-title h1,
.faq-frequently-question-title h2,
.faq-frequently-question-title h3{
  color:var(--text-brand);
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  font-weight:900;
  letter-spacing:0;
  line-height:44px;
  margin-bottom:12px;
  padding:10px 0;
}

.faq-frequently-question.faq-category-container{
  display:flex;
  flex-direction:row;
  padding:0 32px 32px;
}

.faq-frequently-question.faq-category-container .faq-category-wrapper{
  margin-right:32px;
  width:50%;
}

.faq-frequently-question.faq-category-container .faq-category-wrapper ul{
  padding:8px 0;
}

.faq-frequently-question-list{
  -moz-column-count:2;
       column-count:2;
  -moz-column-gap:16px;
       column-gap:16px;
  display:block;
  padding:20px 32px 32px;
}

.faq-frequently-question-list .faq-category-wrapper{
  background-color:var(--surface-light);
  border-radius:10px;
  margin-bottom:16px;
  padding:24px;
}

.faq-frequently-question-list .faq-category-wrapper .faq-category h4,
.faq-frequently-question-list .faq-category-wrapper .faq-category h5,
.faq-frequently-question-list .faq-category-wrapper .faq-category h6{
  color:var(--text-brand);
  font-size:32px;
  font-weight:600;
  line-height:36px;
  margin-bottom:40px;
  padding:8px 0 8px 4px;
}

.faq-frequently-question-list .faq-category-wrapper .faq-category ul{
  padding:0;
}

.faq-frequently-question-list .faq-category-wrapper .faq-category ul li a{
  margin-bottom:4px;
  padding:8px 4px;
}

.faq-frequently-question-list .faq-category-wrapper .faq-category ul li a:last-child{
  margin-bottom:0;
}

.faq-frequently-question-list .faq-category-wrapper .faq-category .button-container{
  margin-top:40px;
  padding:0;
}

.faq-frequently-question-list .faq-category-wrapper .faq-category .button-container a{
  align-items:center;
  color:var(--text-brand);
  display:flex;
  font-size:16px;
  font-weight:400;
  gap:4px;
  line-height:24px;
  padding:8px;
  position:relative;
  width:-moz-fit-content;
  width:fit-content;
}

.faq-frequently-question-list .faq-category-wrapper .faq-category .button-container a .icon img{
  height:20px;
  width:20px;
}

.sr-only{
  border:0 !important;
  clip-path:inset(50%) !important;
  height:1px !important;
  margin:-1px !important;
  overflow:hidden !important;
  padding:0 !important;
  position:absolute !important;
  white-space:nowrap !important;
  width:1px !important;
}

.faq-category-container .faq-swiper-button-prev,
.faq-category-container .faq-swiper-button-next{
  align-items:center;
  bottom:72px;
  color:#333;
  cursor:pointer;
  display:inline-flex;
  height:35px;
  justify-content:center;
  position:absolute;
  transition:all 0.25s ease;
  width:35px;
  z-index:15;
}

.faq-category-container .faq-swiper-button-prev:active,
.faq-category-container .faq-swiper-button-next:active{
  background:#f1f3f4;
  border-radius:50%;
  color:#202124;
}

.faq-category-container .faq-swiper-button-prev:active svg,
.faq-category-container .faq-swiper-button-next:active svg{
  stroke:#000;
}

.faq-category-container svg{
  stroke:#555;
  transition:stroke 0.25s ease;
}

.faq-category-container::after{
  display:none;
}

.faq-swiper-button-prev{
  right:13.125rem;
}

.faq-swiper-button-next{
  right:64px;
}

@media screen and (max-width: 1023px){
  .faq-question .default-content-wrapper p{
    padding:18px 8px;
  }

  .faq-category-container{
    padding:0 16px;
  }

  .faq-frequently-question-title{
    margin-top:24px;
    padding:24px 16px;
  }

  .faq-frequently-question.faq-category-container{
    flex-direction:column;
    padding:0 16px 24px;
  }

  .faq-frequently-question.faq-category-container .faq-category-wrapper{
    width:100%;
  }

  .faq-frequently-question-list{
    -moz-column-count:1;
         column-count:1;
    -moz-column-gap:8px;
         column-gap:8px;
    padding:0 16px;
  }

  .faq-frequently-question-list .faq-category-wrapper{
    margin-bottom:8px;
    padding:8px;
  }

  .faq-frequently-question-list .faq-category-wrapper .faq-category .button-container a{
    margin-top:40px;
    padding:0;
  }

  .faq-swiper-button-prev,
  .faq-swiper-button-next{
    height:24px;
    width:24px;
  }

  .faq-swiper-button-prev:active,
  .faq-swiper-button-next:active{
    background:#f1f3f4;
    border-radius:50%;
    color:#202124;
  }

  .faq-swiper-button-prev{
    right:19rem;
  }

  .faq-swiper-button-next{
    margin-left:8px;
    right:16px;
  }
}

@media screen and (max-width: 767px){
  .faq-question{
    padding:0 16px;
  }

  .faq-question .default-content-wrapper .slide-indicator .active-slide-indicator{
    font-weight:600;
  }

  .faq-category-container .faq-category-wrapper ul{
    padding:0;
  }

  .faq-category-container .faq-category-wrapper ul li a{
    padding-right:4px;
  }

  .faq-category-container .swiper-pagination{
    padding:32px 34px;
  }

  .faq-frequently-question-title h1,
  .faq-frequently-question-title h2,
  .faq-frequently-question-title h3{
    line-height:32px;
    margin:0;
    padding:0;
  }

  .faq-frequently-question.faq-category-container .faq-category-wrapper{
    margin-right:0;
  }

  .faq-frequently-question.faq-category-container .faq-category-wrapper ul{
    margin-right:0;
    padding:0;
  }

  .faq-frequently-question-list .faq-category-wrapper .faq-category h4,
  .faq-frequently-question-list .faq-category-wrapper .faq-category h5,
  .faq-frequently-question-list .faq-category-wrapper .faq-category h6{
    font-size:26px;
    line-height:32px;
    margin-bottom:24px;
  }

  .faq-frequently-question-list .faq-category-wrapper .faq-category ul li a{
    margin-bottom:8px;
  }

  .faq-frequently-question-list .faq-category-wrapper .faq-category .button-container{
    margin-top:24px;
  }

  .faq-category-container .faq-swiper-button-prev,
  .faq-category-container .faq-swiper-button-next{
    bottom:38px;
  }
}
