@use '../../styles/variables' as *;
@use '../../styles/variables' as *;
@use '../../styles/reset' as *;

.faq-container {
        max-width: 1440px;
    margin: auto;

    .default-content-wrapper {

        display: grid;
        grid-template-areas:
            "faq-title faq-title"
            "left-content right-content";
        grid-template-columns: 1fr 1fr;

        p {
            color: $text-primary;
            width: 100%;
            grid-area: faq-title;
            border-bottom: 1px dotted;
            padding: 18px 0;
        }

        ul {
            margin-right: 32px;

            li {
                display: flex;
                justify-content: space-between;
                color: $text-primary;
                padding-left: 8px;
                padding-top: 18px;
                align-items: center;
                &:last-child{
                    padding-bottom: 18px;
                }
            }
            &:first-child{
                 grid-area: left-content;
            }
            &:last-child{
                grid-area: right-content;
            }
        }

    }
}