.legal-tc-guide .columns-wrapper .block div div p.button-container a{
  align-items:center;
  background-color:var(--color-button-outlined-default);
  border:none;
  border:var(--stroke-button) solid var(--color-button-text-stroke-default);
  border-radius:var(--radius-button);
  color:var(--color-button-text-stroke-default);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-size:var(--font-size-h5);
  font-weight:var(--font-weight-h5);
  gap:12px;
  justify-content:center;
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:6px;
  padding-inline:24px;
  text-align:center;
  text-decoration:unset;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

:root{
  --layout-container-max-hero:1728px;
  --layout-container-max:1440px;
  --space-2xl:80px;
  --space-2xs:12px;
  --space-3xl:96px;
  --space-3xs:8px;
  --space-4xs:4px;
  --space-lg:40px;
  --space-md:32px;
  --space-sm:24px;
  --space-xl:64px;
  --space-xs:16px;
}

.legal-tc-guide{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.legal-tc-guide .columns-wrapper .block div{
  align-items:start;
  gap:32px;
}

.legal-tc-guide .columns-wrapper .block div div h1,
.legal-tc-guide .columns-wrapper .block div div h2{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  text-transform:var(--heading1-case);
}

.legal-tc-guide .columns-wrapper .block div div p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-bottom:16px;
  text-transform:var(--body-case);
}

.legal-tc-guide .columns-wrapper .block div div p.button-container{
  display:flex;
  gap:30px;
  margin-top:32px;
}

.legal-tc-guide .columns-wrapper .block div div p.button-container a:hover{
  background-color:var(--color-button-outlined-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-hover);
  color:var(--color-button-text-stroke-hover);
}

.legal-tc-guide .columns-wrapper .block div div p.button-container a:active{
  background-color:var(--color-button-outlined-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-press);
  color:var(--color-button-text-stroke-press);
}

.legal-tc-guide .columns-wrapper .block div div p.button-container a:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.legal-tc-guide .columns-wrapper .block div div p.button-container a svg{
  height:12px;
  width:12px;
}

.legal-tc-guide .columns-wrapper .block div div p a{
  color:var(--link-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-decoration:underline;
  text-transform:var(--body-case);
}

.legal-tc-guide .columns-wrapper .block div div:has(ul) ul{
  list-style-type:disc;
  margin-bottom:32px;
  padding-left:25px;
}

.legal-tc-guide .columns-wrapper .block div div:has(ul) ul li{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  padding:2px 0;
  text-transform:var(--body-case);
}

.legal-tc-guide .columns-wrapper .block div div:has(ul) ul li::marker{
  color:#121212;
}

.legal-tc-guide .columns-wrapper .block div div:has(ul) ul li:has(a)::marker{
  color:var(--link-default);
}

.legal-tc-guide .columns-wrapper .block div div:has(ul) ul li:has(a) a{
  color:var(--link-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-decoration:underline;
  text-transform:var(--body-case);
}

.legal-tc-guide .columns-wrapper .block div div h3{
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  margin-bottom:12px;
  margin-top:40px;
  text-transform:var(--heading3-case);
}

.legal-tc-guide .columns-wrapper .block div div h3:first-child{
  margin-top:0;
}

.legal-tc-guide .columns-wrapper .block div div h4{
  color:var(--body-default);
  font-family:var(--font-family-intro);
  font-size:var(--font-size-intro);
  font-weight:var(--font-weight-intro);
  letter-spacing:var(--font-letter-spacing-intro);
  line-height:var(--font-height-intro);
  margin-top:40px;
  text-transform:var(--intro-case);
}

.legal-tc-guide .columns-wrapper .block div div h4:first-child{
  margin-top:0;
}

.legal-tc-guide .columns-wrapper .block div div h5{
  color:var(--body-default);
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  text-transform:var(--sm-body-case);
}

.legal-tc-guide .columns-wrapper .block div div h6{
  color:var(--body-default);
  font-family:var(--font-family-disc);
  font-size:var(--font-size-disclaimer);
  font-weight:var(--font-weight-disc);
  letter-spacing:var(--font-letter-spacing-disc);
  line-height:var(--font-height-disclaimer);
  text-transform:var(--disclaimer-case);
}

.legal-tc-guide .columns-wrapper .block div div:first-child{
  max-width:416px;
}

@media screen and (max-width: 1279px){
  .legal-tc-guide{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .legal-tc-guide .columns-wrapper .block div{
    gap:40px;
  }

  .legal-tc-guide .columns-wrapper .block div div h3{
    margin-top:32px;
  }

  .legal-tc-guide .columns-wrapper .block div div:first-child{
    max-width:unset;
  }
}

@media screen and (max-width: 767px){
  .legal-tc-guide{
    padding-inline:16px;
  }

  .legal-tc-guide .columns-wrapper .block div{
    gap:24px;
  }

  .legal-tc-guide .columns-wrapper .block div div p.button-container{
    flex-direction:column;
  }

  .legal-tc-guide .columns-wrapper .block div div h3{
    margin-top:24px;
  }

  .legal-tc-guide .columns-wrapper .block div div h4{
    margin-top:24px;
  }
}
