@use '../../styles/base' as *;

.legal-tc-guide {
  @include responsive-container;

  .columns-wrapper {
    .block {
      div {
        align-items: start;
        gap: 32px;

        @include tablet {
          gap: 40px;
        }

        @include mobile {
          gap: 24px;
        }

        div {
          h1,
          h2 {
            @include typo-heading1;

            color: $heading-default;
          }

          p {
            @include typo-body;

            color: $body-default;
            margin-bottom: 16px;

            &.button-container {
              display: flex;
              gap: 30px;
              margin-top: 32px;

              @include mobile {
                flex-direction: column;
              }

              a {
                @include button('outlined');
              }
            }

            a {
              @include typo-body;

              color: $link-default;
              text-decoration: underline;
            }
          }

          &:has(ul) {
            ul {
              list-style-type: disc;
              padding-left: 25px;
              margin-bottom: 32px;

              li {
                @include typo-body;

                color: $body-default;
                padding: 2px 0;

                &::marker {
                  color: #121212;
                }

                // trial for anchor tag
                &:has(a) {
                  &::marker {
                    color: $link-default;
                  }

                  a {
                    @include typo-body;

                    color: $link-default;
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          h3 {
            @include typo-heading3;

            color: $heading-default;
            margin-top: 40px;
            margin-bottom: 12px;

            @include tablet {
              margin-top: 32px
            }

            @include mobile {
              margin-top: 24px
            }

            &:first-child {
              margin-top: 0;
            }
          }

          h4 {
            @include typo-intro;

            color: $body-default;
            margin-top: 40px;

            @include mobile {
              margin-top: 24px;
            }

            &:first-child {
              margin-top: 0;
            }
          }

          h5 {
            @include typo-sm-body;

            color: $body-default;
          }

          h6 {
            @include typo-disclaimer;

            color: $body-default;
          }

          &:first-child {
            max-width: 416px;

            @include tablet {
              max-width: unset;
            }
          }
        }
      }
    }
  }
}