@use '../../styles/base' as *;

.legal-tc-guide{
    @include responsive-container;

    .columns-wrapper{
        .block{
            div{
                align-items: start;
                gap: 32px;

                @include tablet{
                    gap: 40px;
                }

                @include mobile{
                    gap: 24px;
                }

                div{
                    h1,h2{
                        color: $heading-default;
                        font-family: $secondary-font;
                        font-size: $font-size-h1;
                        font-weight: 900;
                        line-height:  $font-height-h1;
                        letter-spacing: $font-letter-spacing-h1;
                        text-transform: uppercase;
                    }
                    
                    p{
                        color: #000;
                        font-size: $font-size-body;
                        font-weight: 400;
                        line-height: $font-height-body; 

                        @include mobile{
                            font-size: $font-size-sm-body;
                        }

                        &.button-container {
                            display: flex;
                            gap: 30px;
                            margin-top: 32px;

                            @include mobile{
                                flex-direction: column;
                            }

                            a {
                                display: inline-flex;
                                align-items: center;
                                gap: 12px;
                                color: $color-button-text-stroke-default;
                                text-align: center;
                                font-size: $font-size-h5;
                                font-weight: 500;
                                line-height: $font-height-h5;
                                letter-spacing: $font-letter-spacing-h5;
                                padding: 8px 24px;
                                text-decoration: none;
                                border: $stroke-button solid $color-button-text-stroke-default;
                                border-radius: $radius-button;
                                background: $color-button-outlined-default;

                                span{
                                    svg{
                                        width: 18px;
                                        height: 18px;
                                    }
                                }
                            }
                        }
                    }

                    &:has(ul){
                        ul{
                            list-style-type: disc;
                            padding-left: 25px;
                            padding-bottom: 16px;

                            li{
                                color:  $body-default;
                                font-size: $font-size-body;
                                font-weight: 400;
                                line-height: $font-height-body;
                                letter-spacing: $font-letter-spacing-body;
                                padding: 2px 0;

                                &::marker{
                                    // color: var(--link-default);
                                    color: #121212;
                                }

// trial for anchor tag
                                &:has(a){
                                    &::marker{
                                        color: var(--link-default);
                                    }

                                    a{
                                        color: $link-default;
                                        font-size: $font-size-body;
                                        font-weight: 400;
                                        line-height: $font-height-body;
                                        letter-spacing: $font-letter-spacing-body;
                                        text-decoration-line: underline;
                                        text-decoration-style: solid;
                                        text-decoration-skip-ink: auto;
                                        text-decoration-thickness: auto;
                                        text-underline-offset: auto;
                                        text-underline-position: from-font;
                                    }
                                }

                                // end trial
                            }
                        }
                    }

                    h3,h4,h5,h6{
                        color: $heading-default;
                        font-size: $font-size-h3;
                        font-weight: 500;
                        line-height: $font-height-h3; /* 120.833% */
                        letter-spacing: $font-letter-spacing-h3;
                        margin-top: 40px;
                        margin-bottom: 12px;
                    }

                    &:first-child{
                        max-width: 416px;

                        @include tablet{
                            max-width: unset;
                        }
                    }
                }
            }
        }
    }
}