@use '../../styles/base' as *;

.search-results-page {
  @include responsive-container;

  .default-content-wrapper {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      padding: 64px 0;
    }

    @include mobile {
      gap: 16px;
      padding: 40px 0;
    }

    h1, h2, h3, h4, h5, h6 {
      @include typo-large-heading;

      min-width: 256px;
      text-align: left;
      color: $heading-default;
    }

    .results-search-form {
      display: flex;
      align-items: center;
      border-radius: $radius-card;
      border: 1px solid $line-default;
      width: 100%;

      .results-search-inp {
        @include typo-body;

        color: $body-default;
        padding: 8px 0 8px 16px;
        width: 100%;
        border-radius: $radius-card;
        outline: none;
      }

      &:has(.results-search-inp:focus) {
        box-shadow: 0 0 0 2px #FFF, 0 0 0 6px $color-focus-default;
      }

      .results-cross-btn {
        display: block;
        width: fit-content;
        height: fit-content;
        padding: 11.5px;

        svg {
          color: $heading-default;
          min-width: 10px;
          width: 10px;
          height: 10px;
        }
      }

      .results-search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $icon-bg-default;
        margin: 3.5px 4px 3.5px 0;
        border-radius: $radius-button;
        cursor: default;

        svg {
          margin: 4.5px;
          color: $icon-default;
          min-width: 24px;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .search-page-results-container {
    .no-results {
      @include typo-heading2-std;

      color: $heading-default;
      text-align: center;
      margin: 0 0 40px;
    }

    .search-result-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;
      border-bottom: 1px solid $line-default;

      .search-results-num, .search-page-details {
        @include typo-sm-body;

        color: $body-default;

        b {
          @include typo-sm-body-bold;
        }
      }
    }

    .search-results-list {
      display: flex;
      flex-direction: column;

      .search-result-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 32px;
        padding: 16px 0;
        border-bottom: 1px solid $line-default;

        .item-detail-section {
          .item-title {
            @include  typo-heading4;

            display: block;
            color: $heading-default;
            margin-bottom: 4px;
          }
          
          .item-desc {
            @include typo-body;
            
            display: block;
            color: $body-default;
          }
        }

        .item-category-section {
          .item-category {
            @include typo-body;

            color: $link-default;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  .search-pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

    .page-prev-btn {
      svg {
        transform: rotate(180deg);
      }
    }

    .page-prev-btn, .page-next-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      height: 40px;
      width: 40px;
      color: $link-default;

      &:disabled {
        opacity: 0.15;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .search-page-num-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      .page-btn {
        @include typo-body;

        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        width: 40px;
        height: 40px;
        border-radius: $radius-button;
        color: $body-default;
        cursor: pointer;
        
        &.active {
          background-color: $bg-light;
        }
      }
    }
  }
}

/*! autoprefixer: ignore next */
.search-results-page .default-content-wrapper .results-search-form:has(.results-search-inp:placeholder-shown) .results-cross-btn {
  display: none;
}