@use '../../styles/base' as *;

.table-with-icons {
  @include responsive-container;

  h1,
  h2 {
    @include typo-heading1;

    color: $heading-default;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &:has(h1+p, h2+p) {
    h1, h2 {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 40px;

      @include mobile {
        margin-bottom: 24px;
      }
    }
  }

  h3, h4 {
    @include typo-heading3;

    margin-bottom: 16px;
    color: $heading-default;
    padding: 24px 0 16px;
    border-bottom: 4px solid $heading-default;
  }

  h5 {
    font-style: normal;
    color: $body-default;
    padding-top: 16px;

    @include typo-sm-body;

    a {
      color: $link-default;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  h6 {
    font-style: normal;
    color: $body-default;
    padding-top: 16px;

    @include typo-disclaimer;

    a {
      color: $link-default;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  p {
    @include typo-body;

    color: $body-default;

    a {
      color: $link-default;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  .pipe-grid {
    display: grid;
    gap: 1px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    & + .pipe-grid .pipe-grid-header {
      padding-top: 24px;
    }
  }

  .pipe-grid-row {
    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    border-bottom: 1px solid #00000033;
    padding: 16px 0;

    &:first-child:not(.pipe-grid-header) {
      border-top: 1px solid #00000033;
    }
  }

  .pipe-grid-header {
    padding-top: 0;
    border-top: 0;
    border-bottom: 4px solid $heading-default;

    .pipe-grid-cell {
      h1, h2, h3, h4, h5, h6 {
        @include typo-heading3;
        
        margin-bottom: 0;
        color: $heading-default;
        padding: 0;
        border-bottom: unset;
      }
    }
  }

  .pipe-grid-cell {
    @include typo-body;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $body-default;

    &:first-child {
      justify-content: flex-start;
    }
  }

  .icon {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  svg {
    text-align: center;
    display: block;
    width: 36px;
    height: 36px;
    color: $icon-2-default;
  }
}