.interest-table-section{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.interest-table-section .default-content-wrapper h1, .interest-table-section .default-content-wrapper h2{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  margin-bottom:40px;
  text-transform:initial;
}

.interest-table-section .default-content-wrapper .ul-0{
  border-bottom:4px solid var(--heading-default);
  display:flex;
  justify-content:flex-start;
}

.interest-table-section .default-content-wrapper .ul-0 li{
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  margin:0 0 16px;
  text-decoration:none;
  text-transform:initial;
  width:50%;
}

.interest-table-section .default-content-wrapper .ul-1{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

.interest-table-section .default-content-wrapper .ul-1 li ul{
  display:flex;
  justify-content:flex-start;
}

.interest-table-section .default-content-wrapper .ul-1 li ul li{
  border-bottom:1px solid rgb(0 0 0 / 20%);
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  list-style:none;
  padding:16px 8px 16px 0;
  text-transform:initial;
  width:50%;
}

.interest-table-section .default-content-wrapper .ul-1 li ul li:nth-child(odd){
  padding:16px 8px 16px 0;
}

.interest-table-section .default-content-wrapper .ul-1 li ul li:nth-child(even){
  padding:16px 16px 16px 8px;
}

.interest-table-section .default-content-wrapper h3, .interest-table-section .default-content-wrapper h4{
  border-bottom:4px solid var(--heading-default);
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  padding:40px 0 16px;
  text-transform:initial;
}

.interest-table-section .default-content-wrapper p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  padding-top:16px;
  text-transform:initial;
}

.interest-table-section .default-content-wrapper h5{
  color:var(--body-default);
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-style:normal;
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  padding-top:16px;
  text-transform:initial;
}

.interest-table-section .default-content-wrapper h6{
  color:var(--body-default);
  font-family:var(--font-family-disc);
  font-size:var(--font-size-disclaimer);
  font-style:normal;
  font-weight:var(--font-weight-disc);
  letter-spacing:var(--font-letter-spacing-disc);
  line-height:var(--font-height-disclaimer);
  padding-top:16px;
  text-transform:initial;
}

@media screen and (max-width: 1279px){
  .interest-table-section{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .interest-table-section .default-content-wrapper .ul-1 li ul li:nth-child(even){
    text-align:right;
  }
}

@media screen and (max-width: 767px){
  .interest-table-section{
    padding-inline:16px;
  }

  .interest-table-section .default-content-wrapper h1, .interest-table-section .default-content-wrapper h2{
    margin-bottom:24px;
  }

  .interest-table-section .default-content-wrapper .ul-1 li ul li:nth-child(even){
    text-align:left;
  }
}
