@use '../../styles/base' as *;

.interest-table-section{
    @include responsive-container;

    .default-content-wrapper{
        h1,h2{
            color: $heading-default;
            font-family: $font-family-h1;
            font-size: $font-size-h1;
            font-weight: $font-weight-h1;
            line-height: $font-height-h1;
            letter-spacing: $font-letter-spacing-h1;
            margin-bottom: 40px;

            @include mobile {
                margin-bottom: 24px;
            }
        }

        .ul-0{
            display: flex;
            justify-content: flex-start;
            border-bottom: 4px solid $heading-default;

            li{
                width: 50%;
                text-decoration: none;
                color: $heading-default;
                font-family: $font-family-h3;
                font-size: $font-size-h3;
                font-weight: $font-weight-h3;
                line-height: $font-height-h3;
                letter-spacing: $font-letter-spacing-h3;
                margin: 0 0 16px;
            }
        }

        .ul-1{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            li{
                ul{
                    display: flex;
                    justify-content: flex-start;

                    li{
                        list-style: none;
                        width: 50%;
                        padding: 16px 8px 16px 0;
                        color: $body-default;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        border-bottom: 1px solid rgb(0 0 0 / 20%); // FIGMA TOKEN MISSING
                    }
                    
                    li:nth-child(odd) {
                        padding: 16px 8px 16px 0;
                    }

                    li:nth-child(even) {
                        padding: 16px 16px 16px 8px;
                        
                        @include tablet {
                          text-align: right;
                        }

                        @include mobile {
                          text-align: left;
                        }
                    }
                }
                
            }
        }

        h3,h4{
            color: $heading-default;
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            padding: 40px 0 16px;
            border-bottom: 4px solid $heading-default;
        }

        p{
            color: $body-default;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding-top: 16px;
        }
    }
}