@use '../../styles/base' as *;

.interest-table-section{
    @include responsive-container;

    .default-content-wrapper{
        h1,h2{
            color: $heading-default;
            margin-bottom: 40px;

            @include typo-heading1;

            @include mobile {
                margin-bottom: 24px;
            }
        }

        .ul-0 {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            align-self: stretch;
            gap: $space-md;
            border-bottom: 4px solid $heading-default;

            @include  mobile {
              min-width: 1600px;
              padding-right: $space-xs;
            }

            li{
                width: 50%;
                text-decoration: none;
                color: $heading-default;
                margin: 0 0 $space-xs;

                @include typo-heading5;
            }
        } 

        .ul-1 {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            @include  mobile {
              min-width: 1600px;
              padding-right: $space-xs;
            }

            a {
              text-decoration: underline;
              color: $link-default;
            }

            li{
                ul{
                    display: flex;
                    justify-content: flex-start;
                    border-bottom: 1px solid rgb(0 0 0 / 20%); // FIGMA TOKEN MISSING
                    align-items: flex-start;
                    gap: $space-md;
                    padding-top: $space-xs;
                    padding-bottom: $space-xs;

                    li:first-child {
                      @include typo-heading5;
                    }

                    li{
                        list-style: none;
                        width: 50%;
                       // padding: 16px 8px 16px 0;
                        color: $body-default;
                       // border-bottom: 1px solid rgb(0 0 0 / 20%); // FIGMA TOKEN MISSING
                        @include typo-body; 
                        gap: $space-md;
                    }
                    
                    li:nth-child(odd) {
                       // padding: 16px 8px 16px 0;
                    }

                    li:nth-child(even) {
                      //  padding: 16px 16px 16px 8px;
                        
                        @include tablet {
                          text-align: left;
                        }

                        @include mobile {
                          text-align: left;
                        }
                    }
                }
                
            }
            &:last-child {
              & > li:last-child {
                li {
                  border-bottom: 0;
                }
              }
            }
        }

        h3, h4{
            color: $heading-default;
            padding: 40px 0 16px;
            border-bottom: 4px solid $heading-default;

            @include typo-heading3;
             @include  mobile {
              min-width: 1600px;
            }
        }

        p {
            color: $body-default;
            padding-top: 16px;

            @include typo-body;

            a {
              color: $link-default;
              text-decoration: underline;
              text-underline-offset: 3px;
            }
        }

        h5 {
          font-style: normal;
          color: $body-default;
          padding-top: 16px;

          @include typo-sm-body;

          a {
            color: $link-default;
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }

        h6 {
          font-style: normal;
          color: $body-default;
          padding-top: 16px;

          @include typo-disclaimer;

          a {
            color: $link-default;
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
    }

    @include  mobile {
      overflow-x: auto;
      min-width: 100vw;
    }
}
