@use '../../styles/base' as *;

.interest-rates-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @include mobile {
    gap: 24px;
  }

  .rate-title {
    @include typo-heading3;

    color: $heading-default;
    margin-bottom: 10px;
  }

  .interest-rate {
    display: grid;
    column-gap: 2px;
    grid-template-columns: auto auto;
    width: fit-content;
    margin-bottom: 16px;

    @include tablet {
      margin-top: 0;
    }

    .rate-num {
      display: block;
      color: $heading-default;
      font-family: $font-family-lg;
      grid-row: 1 / 3;
      font-size: 150px; // Figma missing token
      line-height: 120px;
      font-weight: $font-weight-rate;
      width: fit-content;

      @include tablet {
        font-size: 120px;
      }
    }

    .rate-percent {
      display: block;
      color: $heading-default;
      font-family: $font-family-lg;
      font-size: 86px; // FIGMA MISSING TOKEN
      line-height: 72px;
      font-weight: $font-weight-rate;
      width: fit-content;

      @include tablet {
        font-size: 62px;
      }
    }

    .rate-pa {
      display: block;
      letter-spacing: -1.8px;
      color: $heading-default;
      font-family: $font-family-h1-std;
      font-size: 45px; // FIGMA MISSING TOKEN
      line-height: 54px;
      font-weight: $font-weight-rate-p-a;
      width: fit-content;

      @include mobile {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }

  &:has(h1:nth-child(2), h2:nth-child(2), h3:nth-child(2), h4:nth-child(2), h5:nth-child(2), h6:nth-child(2), p:nth-child(2), div:nth-child(2)) {
    .interest-rate {
      .rate-num {
        font-size: 120px;
        line-height: 120px;
      }

      .rate-percent {
        font-size: 66px;
        line-height: 72px;
      }

      .rate-pa {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }

  .rate-disclaimer {
    @include typo-body;

    color: $heading-default;
  }
}