.interest-rates-wrapper{
  display:flex;
  flex-wrap:wrap;
  gap:64px;
  margin-bottom:8px;
  margin-top:24px;
  padding-top:16px;
}

.interest-rates-wrapper h3{
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  text-transform:initial;
}

.interest-rates-wrapper:has(h1:nth-child(2), h2:nth-child(2), h3:nth-child(2), h4:nth-child(2), h5:nth-child(2), h6:nth-child(2), p:nth-child(2), div:nth-child(2)) .interest-rate .rate-num{
  font-size:120px;
  line-height:120px;
}

.interest-rates-wrapper:has(h1:nth-child(2), h2:nth-child(2), h3:nth-child(2), h4:nth-child(2), h5:nth-child(2), h6:nth-child(2), p:nth-child(2), div:nth-child(2)) .interest-rate .rate-percent{
  font-size:66px;
  line-height:72px;
}

.interest-rates-wrapper:has(h1:nth-child(2), h2:nth-child(2), h3:nth-child(2), h4:nth-child(2), h5:nth-child(2), h6:nth-child(2), p:nth-child(2), div:nth-child(2)) .interest-rate .rate-pa{
  font-size:32px;
  line-height:32px;
}

.interest-rates-wrapper + p{
  color:var(--heading-default);
}

@media screen and (max-width: 767px){
  .interest-rates-wrapper{
    gap:24px;
  }
}
