@use '../../styles/base' as *;

.interest-rates-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  padding-top: 16px;
  margin-top: 24px;
  margin-bottom: 8px;

  @include mobile {
    gap: 24px;
  }

  h3 {
    @include typo-heading3;
  }

  &:has(h1:nth-child(2), h2:nth-child(2), h3:nth-child(2), h4:nth-child(2), h5:nth-child(2), h6:nth-child(2), p:nth-child(2), div:nth-child(2)) {
    .interest-rate {
      .rate-num {
        font-size: 120px;
        line-height: 120px;
      }

      .rate-percent {
        font-size: 66px;
        line-height: 72px;
      }

      .rate-pa {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }

  &+p {
    color: $heading-default;
  }
}