@use '../../styles/base' as *;

.alerts-wrapper {
  margin-bottom: 2px;
  
  &:has(.alerts.blue-alert) {
    background-color: #F2F7FF;
    
    &:has(.alerts.alert-container) {
      background-color: transparent;
      
      .alerts {
        background-color: #F2F7FF;
      }
    }
  }

  &:has(.alerts.orange-alert) {
    background-color: #FEF5F2;

    &:has(.alerts.alert-container) {
      background-color: transparent;
      
      .alerts {
        background-color: #FEF5F2;
      }
    }
  }

  &:has(.alerts.red-alert) {
    background-color: #FCF2F5;

    &:has(.alerts.alert-container) {
      background-color: transparent;
      
      .alerts {
        background-color: #FCF2F5;
      }
    }
  }

  &:has(.alerts.alert-container) {
    @include responsive-container;

    border-radius: 16px;
    margin-bottom: 12px;
    
    .alerts {
      border-radius: 16px;
      padding-inline: 24px;
    }
  }
  
  &:has(.alerts:not(.alert-container)){
    .alerts {
      @include responsive-container;
    }
  }
}


.alerts {
  display: flex;
  padding: 16px 0;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;

  .alert-text {
    p {
      @include typo-sm-body;
      
      color: $body-default;
    }

    h1, h2, h3, h4, h5, h6 {
      @include typo-heading5;

      color: $body-default;
      margin-bottom: 4px;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      min-width: 21px;
      width: 21px;
      height: 21px;
    }
  }

  .icon-close {
    display: flex;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    svg {
      min-width: 12px;
      min-height: 12px;
      width: 12px;
      height: 12px;
      cursor: pointer;
    }
  }
}