@use '../../styles/base' as *;

.alerts {
     @include responsive-container;
     
    display: flex;
    padding: 16px 64px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    .alert-text {
        p {
            color: #0B231F;
            font-family: $font-family-sm-body ;
            font-size: $font-size-sm-body ;
            font-style: normal;
            font-weight: 400;
        }

        h3,
        h4 {
            color: #0B231F;
            font-family: $font-family-h5 ;
            font-size: $font-size-h5 ;
            font-style: normal;
            font-weight: 500;
        }
    }

    .icon {
        display: flex;
        padding: 4px 0;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        // width: 21px;
        height: 21px;
        aspect-ratio: 1/1;
    }

    .icon-close {
        display: flex;
        padding: 8px 0;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
    }

    /* Blue */
    &.blue-alert {
        background-color: #F2F7FF;
    }

    /* Orange */
    &.orange-alert {
        background-color: #FEF5F2;
    }

    /* Red */
    &.red-alert {
        background-color: #FCF2F5;
    }
}