.alerts{
  align-items:flex-start;
  align-self:stretch;
  display:flex;
  gap:12px;
  max-width:1440px;
  padding:16px 64px;
}

.alerts .alert-text p{
  color:#0B231F;
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-style:normal;
  font-weight:400;
}

.alerts .alert-text h3,
.alerts .alert-text h4{
  color:#0B231F;
  font-family:var(--font-family-h5);
  font-size:var(--font-size-h5);
  font-style:normal;
  font-weight:500;
}

.alerts .alert-icon{
  height:21px;
  width:21px;
}

.alerts.blue-alert{
  background-color:#F2F7FF;
}

.alerts.orange-alert{
  background-color:#FEF5F2;
}

.alerts.red-alert{
  background-color:#FCF2F5;
}
