@use '../../styles/base' as *;

.alerts {
    display: flex;
    max-width: 1440px;
    padding: 16px 64px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    .alert-text {
        p {
            color: #0B231F;
            font-family: $font-family-sm-body ;
            font-size: $font-size-sm-body ;
            font-style: normal;
            font-weight: 400;
        }

        h3,
        h4 {
            color: #0B231F;
            font-family: $font-family-h5 ;
            font-size: $font-size-h5 ;
            font-style: normal;
            font-weight: 500;
        }
    }

    .alert-icon {
        width: 21px;
        height: 21px;
    }

    /* Blue */
    &.blue-alert {
        background-color: #F2F7FF;
    }

    /* Orange */
    &.orange-alert {
        background-color: #FEF5F2;
    }

    /* Red */
    &.red-alert {
        background-color: #FCF2F5;
    }
}