:root {
  /* ---------- FONTS VARIABLES ---------- */
  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'Avenir LT Std', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- CUSTOM VARIABLES ---------- */
  --gradient-1: var(--bg-light-2);
  --gradient-2: var(--bg-reverse);
  --gradient-after: linear-gradient(269.93deg, #FF6C36 0.13%, #FFA400 100%);
}
