:root {
  /* ---------- FONTS VARIABLES ---------- */
  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'Avenir LT Std', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- CUSTOM VARIABLES ---------- */
  --gradient-1: #ecf8fd;
}
