@use '../reset';
@import '../../libs/aos/aos.min.css';

:root {
  /* ---------- BORDER VARIABLES ---------- */

  --border-primary: #222; /* from "border-primary" */
  --border-brand: #ff6c36;   /* from "border-brand" */
  --border-error: #fff;   /* from "border-error" */

  /* ---------- BORDER VARIABLES ---------- */


  /* ---------- TEXT VARIABLES ---------- */

  --text-primary: #222; /* from "text-primary" */
  --text-secondary: #fafafa; /* from "text-secondary" */
  --text-inverse: #fafafa; /* from "text-inverse" */
  --text-light: #fafafa; /* from "text-light" */
  --text-brand: #222; /* from "text-brand" */
  --text-brand-secondary: #fff; /* from "text-brand secondary" */

  /* -------------------- */
  --text-primary-cta: #fafafa; /* from "text-primarycta" */
  --text-secondary-cta: #fafafa; /* from "text-secondarycta" */
  --text-accent-cta: #fafafa; /* from "text-accentcta" */
  --text-disabled: #d9dadb; /* from "text-disabled" */
  --text-error: #fff; /* from "text-error" */

  /* -------------------- */
  --text-ghost-default: #fff; /* from "text -ghost default" */
  --text-ghost-hover: #fff; /* from "text -ghost hover" */
  --text-ghost-focused: #fff; /* from "text -ghost focused" */
  --text-ghost-disabled: #fff; /* from "text -ghost disabled" */
  --text-ghost-active: #fff; /* from "text -ghost active" */

  /* ---------- TEXT VARIABLES ---------- */


  /* ---------- SURFACE VARIABLES ---------- */
  
  --surface-primary: #f4f4f5; /* from "surface-primary" */
  --surface-secondary: #f4f4f5; /* from "surface-secondary" */
  --surface-overlay: #565659; /* from "surface-overlay" */
  --surface-brand: #003764; /* from "surface-brand" */
  --surface-light: #ffffff; /* from "surface-light" */
  --surface-login-cta: #ffa400; /* from "surface-login cta" */

  /* -------------------- */
  --surface-primary-cta: #003764; /* from "surface-primary cta" */
  --surface-prim-hover-cta: #ffa400; /* from "surface-primhover cta" */
  --surface-prim-active-cta: #fff; /* from "surface-primactive cta" */

  /* -------------------- */
  --surface-secondary-cta: #003764; /* from "surface-secondary cta" */
  --surface-sec-hover-cta: #ffa400; /* from "surface-sechover cta" */

  /* -------------------- */
  --surface-accent-cta: #003764; /* from "surface-accent cta" */
  --surface-accent-hover-cta: #ffa400; /* from "surface-accenthover cta" */
  --surface-accent-active-cta: #ffa400; /* from "surface-accentactive cta" */

  /* -------------------- */
  --surface-disabled-cta: #efefef; /* from "surface-disabledcta" */
  --surface-highlight: #efefef; /* from "surface-highlight" */

  /* ---------- SURFACE VARIABLES ---------- */


  /* ---------- FONTS VARIABLES ---------- */

  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'American Grotesk', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- FONT FAMILY VARIABLES ---------- */
  
  
  /* ---------- OTHER VARIABLES ---------- */
  --bg-accent: #c8e1e4;
  --bg-default: #ffffff;
  --bg-light-2: #ecf8fd;
  --bg-light-3: #a2daf3;
  --bg-light: #f7f7f7;
  --bg-reverse-2: #003764;
  --bg-reverse: #003764;
  --body-accent: #565659;
  --body-default: #565659;
  --body-light-2: #565659;
  --body-light-3: #565659;
  --body-light: #565659;
  --body-reverse-2: #a2daf3;
  --body-reverse: #ffffff;
  --burst-accent: #003764;
  --burst-default: #ffa400;
  --burst-light-2: #ffa400;
  --burst-light-3: #ffa400;
  --burst-light: #ffa400;
  --burst-reverse-2: #ffa400;
  --burst-reverse: #ffa400;
  --heading-accent: #003764;
  --heading-default: #003764;
  --heading-light-2: #003764;
  --heading-light-3: #003764;
  --heading-light: #003764;
  --heading-reverse-2: #a2daf3;
  --heading-reverse: #ffffff;
  --icon-2-accent: #003764;
  --icon-2-default: #003764;
  --icon-2-light-2: #003764;
  --icon-2-light-3: #003764;
  --icon-2-light: #003764;
  --icon-2-reverse-2: #a2daf3;
  --icon-2-reverse: #ffffff;
  --icon-accent: #c8e1e4;
  --icon-bg-accent: #003764;
  --icon-bg-default: #003764;
  --icon-bg-light-2: #ffffff;
  --icon-bg-light-3: #ffffff;
  --icon-bg-light: #ffffff;
  --icon-bg-reverse-2: #ecf8fd;
  --icon-bg-reverse: #ffffff;
  --icon-default: #ffffff;
  --icon-light-2: #003764;
  --icon-light-3: #003764;
  --icon-light: #003764;
  --icon-reverse-2: #003764;
  --icon-reverse: #003764;
  --line-accent: #00000033;
  --line-default: #00000033;
  --line-light-2: #00000033;
  --line-light-3: #00000033;
  --line-light: #00000033;
  --line-reverse-2: #ffffff1a;
  --line-reverse: #ffffff1a;
  --link-accent: #003764;
  --link-default: #003764;
  --link-light-2: #003764;
  --link-light-3: #003764;
  --link-light: #003764;
  --link-reverse-2: #a2daf3;
  --link-reverse: #ffffff;
  --stroke-accent: #c8e1e4;
  --stroke-default: #003764;
  --stroke-light-2: #003764;
  --stroke-light-3: #003764;
  --stroke-light: #003764;
  --stroke-reverse-2: #ffffff;
  --stroke-reverse: #ffffff;
}
