@use '../reset';
@use '../mixins' as *;
@import '../../libs/aos/aos.min.css';

:root {
  /* ---------- BORDER VARIABLES ---------- */

  --border-primary: #222; /* from "border-primary" */
  --border-brand: #ff6c36;   /* from "border-brand" */
  --border-error: #fff;   /* from "border-error" */

  /* ---------- BORDER VARIABLES ---------- */


  /* ---------- TEXT VARIABLES ---------- */

  --text-primary: #222; /* from "text-primary" */
  --text-secondary: #fafafa; /* from "text-secondary" */
  --text-inverse: #fafafa; /* from "text-inverse" */
  --text-light: #fafafa; /* from "text-light" */
  --text-brand: #222; /* from "text-brand" */
  --text-brand-secondary: #fff; /* from "text-brand secondary" */

  /* -------------------- */
  --text-primary-cta: #fafafa; /* from "text-primarycta" */
  --text-secondary-cta: #fafafa; /* from "text-secondarycta" */
  --text-accent-cta: #fafafa; /* from "text-accentcta" */
  --text-disabled: #d9dadb; /* from "text-disabled" */
  --text-error: #fff; /* from "text-error" */

  /* -------------------- */
  --text-ghost-default: #fff; /* from "text -ghost default" */
  --text-ghost-hover: #fff; /* from "text -ghost hover" */
  --text-ghost-focused: #fff; /* from "text -ghost focused" */
  --text-ghost-disabled: #fff; /* from "text -ghost disabled" */
  --text-ghost-active: #fff; /* from "text -ghost active" */

  /* ---------- TEXT VARIABLES ---------- */


  /* ---------- SURFACE VARIABLES ---------- */
  
  --surface-primary: #f4f4f5; /* from "surface-primary" */
  --surface-secondary: #f4f4f5; /* from "surface-secondary" */
  --surface-overlay: #565659; /* from "surface-overlay" */
  --surface-brand: #003764; /* from "surface-brand" */
  --surface-light: #ffffff; /* from "surface-light" */
  --surface-login-cta: #ffa400; /* from "surface-login cta" */

  /* -------------------- */
  --surface-primary-cta: #003764; /* from "surface-primary cta" */
  --surface-prim-hover-cta: #ffa400; /* from "surface-primhover cta" */
  --surface-prim-active-cta: #fff; /* from "surface-primactive cta" */

  /* -------------------- */
  --surface-secondary-cta: #003764; /* from "surface-secondary cta" */
  --surface-sec-hover-cta: #ffa400; /* from "surface-sechover cta" */

  /* -------------------- */
  --surface-accent-cta: #003764; /* from "surface-accent cta" */
  --surface-accent-hover-cta: #ffa400; /* from "surface-accenthover cta" */
  --surface-accent-active-cta: #ffa400; /* from "surface-accentactive cta" */

  /* -------------------- */
  --surface-disabled-cta: #efefef; /* from "surface-disabledcta" */
  --surface-highlight: #efefef; /* from "surface-highlight" */

  /* ---------- SURFACE VARIABLES ---------- */


  /* ---------- FONTS VARIABLES ---------- */

  --primary-font: 'Inter', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --secondary-font: 'American Grotesk', system-ui, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif;
  
  /* ---------- FONT FAMILY VARIABLES ---------- */
  
  
  /* ---------- OTHER VARIABLES ---------- */
  --color-background-background-2: #003764;
  --color-background-background-3: #f7f7f7;
  --color-background-background-4: #003764;
  --color-background-background-5: #003764;
  --color-background-background: #ffffff;
  --color-banner-CTA-surface: #a2daf333;
  --color-banner-hero-carousal-selected: #003764;
  --color-banner-hero-carousal-surface: #ffffff;
  --color-banner-hero-carousal-unselected: #00376499;
  --color-button-outlined-default: #ffffff03;
  --color-button-outlined-hover: #ffffff03;
  --color-button-outlined-press: #ffffff03;
  --color-button-outlined-reverse-default: #ffffff03;
  --color-button-outlined-reverse-hover: #0000000d;
  --color-button-outlined-reverse-press: #0000001a;
  --color-button-outlined-white-default: #ffffff;
  --color-button-outlined-white-hover: #ffffff;
  --color-button-outlined-white-press: #ffffff;
  --color-button-primary-default: #003764;
  --color-button-primary-hover: #003764;
  --color-button-primary-press: #003764;
  --color-button-secondary-default: #ffa400;
  --color-button-secondary-hover: #f58227;
  --color-button-secondary-press: #ff6c36;
  --color-button-text-stroke-default: #003764;
  --color-button-text-stroke-hover: #003764;
  --color-button-text-stroke-press: #003764;
  --color-button-text-stroke-reverse: #ffffff;
  --color-button-white-default: #ffffff;
  --color-button-white-hover: #ffa400;
  --color-button-white-press: #ffa400;
  --color-card-card-carousal-surface: #ffffffe5;
  --color-card-surface-2: #c8e1e4;
  --color-card-surface-white: #ffffff;
  --color-card-surface: #003764d9;
  --color-focus-default: #003764;
  --color-focus-reversed: #ffffff;
  --color-icon-Body: #565659;
  --color-icon-Nav: #ffffff;
  --color-icon-Reversed: #ffffff;
  --color-icon-Surface: #565659;
  --color-stroke-card: #00000033;
  --color-stroke-link-default: #ffa400;
  --color-stroke-link-hover: #003764;
  --color-stroke-primary: #003764;
  --color-stroke-reversed: #ffffff;
  --color-stroke-secondary: #565659;
  --color-surface-Icon: #003764;
  --color-surface-light: #a2daf3;
  --color-surface-nav: #003764;
  --color-surface-search: #194b73;
  --color-surface-secondary-nav: #ffffff;
  --color-text-default-body: #565659;
  --color-text-default-heading-card-1: #ffffff;
  --color-text-default-heading: #003764;
  --color-text-default-placeholder: #003764;
  --color-text-link-nav: #ffffff;
  --color-text-link-secondary-nav: #565659;
  --color-text-reversed-body: #ffffff;
  --color-text-reversed-heading: #ffffff;
  --color-text-reversed-placeholder-light-2: #ffffff1a;
  --color-text-reversed-placeholder-light: #ffffff1a;
  --font-D-height-body: 24px;
  --font-D-height-disc: 18px;
  --font-D-height-h1-std: 40px;
  --font-D-height-h1: 44px;
  --font-D-height-h2-std: 39px;
  --font-D-height-h2: 36px;
  --font-D-height-h3: 29px;
  --font-D-height-h4: 24px;
  --font-D-height-h5: 24px;
  --font-D-height-intro: 36px;
  --font-D-height-lg: 60px;
  --font-D-height-sm-body: 21px;
  --font-D-size-body: 16px;
  --font-D-size-disc: 12px;
  --font-D-size-h1-std: 40px;
  --font-D-size-h1: 40px;
  --font-D-size-h2-std: 32px;
  --font-D-size-h2: 32px;
  --font-D-size-h3: 24px;
  --font-D-size-h4: 20px;
  --font-D-size-h5: 16px;
  --font-D-size-intro: 24px;
  --font-D-size-lg: 60px;
  --font-D-size-sm-body: 14px;
  --font-M-height-body: 24px;
  --font-M-height-disc: 18px;
  --font-M-height-h1-std: 38px;
  --font-M-height-h1: 38px;
  --font-M-height-h2-std: 38px;
  --font-M-height-h2: 32px;
  --font-M-height-h3: 29px;
  --font-M-height-h4: 24px;
  --font-M-height-h5: 24px;
  --font-M-height-intro: 36px;
  --font-M-height-lg: 44px;
  --font-M-height-sm-body: 21px;
  --font-M-size-body: 16px;
  --font-M-size-disc: 12px;
  --font-M-size-h1-std: 38px;
  --font-M-size-h1: 38px;
  --font-M-size-h2-std: 32px;
  --font-M-size-h2: 32px;
  --font-M-size-h3: 24px;
  --font-M-size-h4: 20px;
  --font-M-size-h5: 16px;
  --font-M-size-intro: 24px;
  --font-M-size-lg: 44px;
  --font-M-size-sm-body: 14px;
  --font-T-height-body: 24px;
  --font-T-height-disc: 18px;
  --font-T-height-h1-std: 40px;
  --font-T-height-h1: 40px;
  --font-T-height-h2-std: 39px;
  --font-T-height-h2: 39px;
  --font-T-height-h3: 29px;
  --font-T-height-h4: 24px;
  --font-T-height-h5: 24px;
  --font-T-height-intro: 36px;
  --font-T-height-lg: 60px;
  --font-T-height-sm-body: 21px;
  --font-T-size-body: 16px;
  --font-T-size-disc: 12px;
  --font-T-size-h1-std: 40px;
  --font-T-size-h1: 40px;
  --font-T-size-h2-std: 32px;
  --font-T-size-h2: 32px;
  --font-T-size-h3: 24px;
  --font-T-size-h4: 20px;
  --font-T-size-h5: 16px;
  --font-T-size-intro: 24px;
  --font-T-size-lg: 52px;
  --font-T-size-sm-body: 14px;
  --font-family-body-bold: Inter;
  --font-family-body: Inter;
  --font-family-disc: Inter;
  --font-family-h1-std: 'Avenir LT Std';
  --font-family-h1: 'Avenir LT Std';
  --font-family-h2-std: 'Avenir LT Std';
  --font-family-h2: 'Avenir LT Std';
  --font-family-h3: Inter;
  --font-family-h4: Inter;
  --font-family-h5: Inter;
  --font-family-intro: Inter;
  --font-family-lg: 'Avenir LT Std';
  --font-family-sm-body: Inter;
  --font-letter-spacing-body: 0px;
  --font-letter-spacing-disc: 0px;
  --font-letter-spacing-h1-std: -1px;
  --font-letter-spacing-h1: -1px;
  --font-letter-spacing-h2-std: 0px;
  --font-letter-spacing-h2: -1px;
  --font-letter-spacing-h3: 0px;
  --font-letter-spacing-h4: 0px;
  --font-letter-spacing-h5: 0px;
  --font-letter-spacing-intro: 0px;
  --font-letter-spacing-lg: -1px;
  --font-letter-spacing-sm-body: 0px;
  --font-weight-body-bold: 'Semi Bold';
  --font-weight-body: Regular;
  --font-weight-disc: Regular;
  --font-weight-h1-std: '95 Black';
  --font-weight-h1: '95 Black';
  --font-weight-h2-std: '95 Black';
  --font-weight-h2: '95 Black';
  --font-weight-h3: Medium;
  --font-weight-h4: Medium;
  --font-weight-h5: Medium;
  --font-weight-intro: Regular;
  --font-weight-lg: '95 Black';
  --font-weight-sm-body: Regular;
  --radius-button: 2px;
  --radius-card: 0px;
  --radius-menu-link: 0px;
  --stroke-button: 2px;
  --width-logo-lg: 150px;
  --width-logo-sm: 100px;
}
