@import '../../libs/aos/aos.min.css';
*, *::before, *::after{
  box-sizing:border-box;
}

*{
  margin:0;
  padding:0;
}

html{
  font-size:100%;
  scroll-behavior:smooth;
  -webkit-text-size-adjust:100%;
}

body{
  background-color:#fff;
  color:#000;
  font-family:var(--primary-font);
  -webkit-font-smoothing:antialiased;
  line-height:1.5;
  min-height:100vh;
  text-rendering:optimizelegibility;
}

ul, ol{
  list-style:none;
}

a{
  color:inherit;
  text-decoration:none;
}

img, picture, video, canvas, svg{
  display:block;
  height:auto;
  max-width:100%;
}

input, button, textarea, select{
  background:none;
  border:none;
  color:inherit;
  font:inherit;
  outline:none;
}

textarea{
  resize:vertical;
}

button{
  background:transparent;
  border:none;
  cursor:pointer;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

h1, h2, h3, h4, h5, h6{
  font-size:inherit;
  font-weight:inherit;
}

:focus-visible{
  outline:2px solid #000;
  outline-offset:2px;
}

:focus:not(:focus-visible){
  outline:none;
}
:root{
  --border-primary:#222;
  --border-brand:#ff6c36;
  --border-error:#fff;
  --text-primary:#222;
  --text-secondary:#fafafa;
  --text-inverse:#fafafa;
  --text-light:#fafafa;
  --text-brand:#222;
  --text-brand-secondary:#fff;
  --text-primary-cta:#fafafa;
  --text-secondary-cta:#fafafa;
  --text-accent-cta:#fafafa;
  --text-disabled:#d9dadb;
  --text-error:#fff;
  --text-ghost-default:#fff;
  --text-ghost-hover:#fff;
  --text-ghost-focused:#fff;
  --text-ghost-disabled:#fff;
  --text-ghost-active:#fff;
  --surface-primary:#f4f4f5;
  --surface-secondary:#f4f4f5;
  --surface-overlay:#565659;
  --surface-brand:#003764;
  --surface-light:#ffffff;
  --surface-login-cta:#ffa400;
  --surface-primary-cta:#003764;
  --surface-prim-hover-cta:#ffa400;
  --surface-prim-active-cta:#fff;
  --surface-secondary-cta:#003764;
  --surface-sec-hover-cta:#ffa400;
  --surface-accent-cta:#003764;
  --surface-accent-hover-cta:#ffa400;
  --surface-accent-active-cta:#ffa400;
  --surface-disabled-cta:#efefef;
  --surface-highlight:#efefef;
  --primary-font:"Inter", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --secondary-font:"Avenir LT Std", system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  --gradient-1:#ecf8fd;
  --radius-button:2px;
  --radius-card:0px;
  --radius-menu-link:0px;
  --radius-footer-card:0px;
  --radius-article-thumb:0px;
  --color-button-outlined-default:#ffffff03;
  --color-button-outlined-hover:#0037641a;
  --color-button-outlined-press:#00376433;
  --color-button-outlined-reverse-default:#ffffff03;
  --color-button-outlined-reverse-hover:#0000000d;
  --color-button-outlined-reverse-press:#0000001a;
  --color-button-primary-default:#003764;
  --color-button-primary-hover:#00294b;
  --color-button-primary-press:#00203a;
  --color-button-secondary-default:#ffa400;
  --color-button-secondary-hover:#ff881b;
  --color-button-secondary-press:#ff6c36;
  --color-button-text-stroke-default:#003764;
  --color-button-text-stroke-hover:#00294b;
  --color-button-text-stroke-press:#00203a;
  --color-button-text-stroke-reverse:#ffffff;
  --color-button-white-default:#ffffff;
  --color-button-white-hover:#dde2e7;
  --color-button-white-press:#c4cfd8;
  --color-focus-default:#2f7eb0;
  --color-focus-reversed:#ffffff;
  --color-footer-info:#00376412;
  --color-header-frame:#00294b;
  --color-header-icon-2:#003764;
  --color-header-icon:#ffffff;
  --color-header-light:#a2daf3;
  --color-header-nav-primary:#565659;
  --color-header-nav-secondary:#ffffff;
  --color-header-nav:#003764;
  --color-header-search:#00294b;
  --color-pagination-secondary-nav:#ffffff;
  --color-pagination-selected:#003764;
  --color-pagination-surface:#ffffff;
  --color-pagination-unselected:#00376499;
  --color-placeholder-default:#00376499;
  --color-placeholder-reverse-2:#ffffff4d;
  --color-placeholder-reverse:#ffffff99;
  --color-variants-bg-accent:#c8e1e4;
  --color-variants-bg-default:#ffffff;
  --color-variants-bg-light-1:#f7f7f7;
  --color-variants-bg-light-2:#ecf8fd;
  --color-variants-bg-light-3:#a2daf3;
  --color-variants-bg-promo:#003764;
  --color-variants-bg-reverse:#003764;
  --color-variants-body-default:#565659;
  --color-variants-body-reverse-2:#a2daf3;
  --color-variants-body-reverse:#ffffff;
  --color-variants-burst-default:#ffa400;
  --color-variants-burst-reverse:#003764;
  --color-variants-heading-default:#003764;
  --color-variants-heading-reverse-2:#a2daf3;
  --color-variants-heading-reverse:#ffffff;
  --color-variants-icon-accent:#c8e1e4;
  --color-variants-icon-default:#003764;
  --color-variants-icon-reverse-2:#a2daf3;
  --color-variants-icon-reverse:#ffffff;
  --color-variants-line-default:#00000033;
  --color-variants-line-reverse:#ffffff1a;
  --color-variants-link-default:#003764;
  --color-variants-link-reverse-2:#a2daf3;
  --color-variants-link-reverse:#ffffff;
  --color-variants-stroke-accent:#c8e1e4;
  --color-variants-stroke-primary:#003764;
  --color-variants-stroke-reversed-2:#ffffff;
  --color-variants-stroke-reversed:#ffffff;
  --color-variants-stroke-secondary:#565659;
  --font-d-height-body:24px;
  --font-d-height-disc:18px;
  --font-d-height-h1-std:40px;
  --font-d-height-h1:44px;
  --font-d-height-h2-std:39px;
  --font-d-height-h2:36px;
  --font-d-height-h3:29px;
  --font-d-height-h4:24px;
  --font-d-height-h5:24px;
  --font-d-height-intro:36px;
  --font-d-height-lg:60px;
  --font-d-height-sm-body:21px;
  --font-d-size-body:16px;
  --font-d-size-disc:12px;
  --font-d-size-h1-std:40px;
  --font-d-size-h1:40px;
  --font-d-size-h2-std:32px;
  --font-d-size-h2:32px;
  --font-d-size-h3:24px;
  --font-d-size-h4:20px;
  --font-d-size-h5:16px;
  --font-d-size-intro:24px;
  --font-d-size-lg:60px;
  --font-d-size-sm-body:14px;
  --font-family-body-bold:Inter;
  --font-family-body:Inter;
  --font-family-disc:Inter;
  --font-family-h1-std:"Avenir LT Std";
  --font-family-h1:"Avenir LT Std";
  --font-family-h2-std:"Avenir LT Std";
  --font-family-h2:"Avenir LT Std";
  --font-family-h3:Inter;
  --font-family-h4:Inter;
  --font-family-h5:Inter;
  --font-family-intro:Inter;
  --font-family-lg:"Avenir LT Std";
  --font-family-sm-body:Inter;
  --font-letter-spacing-body:0px;
  --font-letter-spacing-disc:0px;
  --font-letter-spacing-h1-std:-1px;
  --font-letter-spacing-h1:-1px;
  --font-letter-spacing-h2-std:0px;
  --font-letter-spacing-h2:-1px;
  --font-letter-spacing-h3:0px;
  --font-letter-spacing-h4:0px;
  --font-letter-spacing-h5:0px;
  --font-letter-spacing-intro:0px;
  --font-letter-spacing-lg:-1px;
  --font-letter-spacing-sm-body:0px;
  --font-m-height-body:24px;
  --font-m-height-disc:18px;
  --font-m-height-h1-std:38px;
  --font-m-height-h1:38px;
  --font-m-height-h2-std:38px;
  --font-m-height-h2:32px;
  --font-m-height-h3:29px;
  --font-m-height-h4:24px;
  --font-m-height-h5:24px;
  --font-m-height-intro:36px;
  --font-m-height-lg:44px;
  --font-m-height-sm-body:21px;
  --font-m-size-body:16px;
  --font-m-size-disc:12px;
  --font-m-size-h1-std:38px;
  --font-m-size-h1:38px;
  --font-m-size-h2-std:32px;
  --font-m-size-h2:32px;
  --font-m-size-h3:24px;
  --font-m-size-h4:20px;
  --font-m-size-h5:16px;
  --font-m-size-intro:24px;
  --font-m-size-lg:44px;
  --font-m-size-sm-body:14px;
  --font-t-height-body:24px;
  --font-t-height-disc:18px;
  --font-t-height-h1-std:40px;
  --font-t-height-h1:40px;
  --font-t-height-h2-std:39px;
  --font-t-height-h2:39px;
  --font-t-height-h3:29px;
  --font-t-height-h4:24px;
  --font-t-height-h5:24px;
  --font-t-height-intro:36px;
  --font-t-height-lg:60px;
  --font-t-height-sm-body:21px;
  --font-t-size-body:16px;
  --font-t-size-disc:12px;
  --font-t-size-h1-std:40px;
  --font-t-size-h1:40px;
  --font-t-size-h2-std:32px;
  --font-t-size-h2:32px;
  --font-t-size-h3:24px;
  --font-t-size-h4:20px;
  --font-t-size-h5:16px;
  --font-t-size-intro:24px;
  --font-t-size-lg:52px;
  --font-t-size-sm-body:14px;
  --font-weight-body-bold:"Semi Bold";
  --font-weight-body:Regular;
  --font-weight-disc:Regular;
  --font-weight-h1-std:"95 Black";
  --font-weight-h1:"95 Black";
  --font-weight-h2-std:"95 Black";
  --font-weight-h2:"95 Black";
  --font-weight-h3:Medium;
  --font-weight-h4:Medium;
  --font-weight-h5:Medium;
  --font-weight-intro:Regular;
  --font-weight-lg:"95 Black";
  --font-weight-sm-body:Regular;
  --lg-rate:150px;
  --radius-article-thumb:0px;
  --radius-button:2px;
  --radius-card:0px;
  --radius-footer-card:0px;
  --radius-hero:0px;
  --radius-menu-link:0px;
  --stroke-button:2px;
  --width-logo-lg:150px;
  --width-logo-sm:100px;
  --bg-accent:var(--color-variants-bg-accent);
  --bg-default:var(--color-variants-bg-default);
  --bg-light-2:var(--color-variants-bg-light-2);
  --bg-light-3:var(--color-variants-bg-light-3);
  --bg-light:var(--color-variants-bg-light-1);
  --bg-reverse-2:var(--color-variants-bg-reverse);
  --bg-reverse:var(--color-variants-bg-reverse);
  --bg-transparent:var(--color-variants-bg-accent);
  --body-accent:var(--color-variants-body-default);
  --body-default:var(--color-variants-body-default);
  --body-light-2:var(--color-variants-body-default);
  --body-light-3:var(--color-variants-body-default);
  --body-light:var(--color-variants-body-default);
  --body-reverse-2:var(--color-variants-body-reverse-2);
  --body-reverse:var(--color-variants-body-reverse);
  --body-transparent:var(--color-variants-body-default);
  --burst-accent:var(--color-variants-burst-reverse);
  --burst-default:var(--color-variants-burst-default);
  --burst-light-2:var(--color-variants-burst-default);
  --burst-light-3:var(--color-variants-burst-default);
  --burst-light:var(--color-variants-burst-default);
  --burst-reverse-2:var(--color-variants-burst-default);
  --burst-reverse:var(--color-variants-burst-default);
  --burst-transparent:var(--color-variants-burst-reverse);
  --heading-accent:var(--color-variants-heading-default);
  --heading-default:var(--color-variants-heading-default);
  --heading-light-2:var(--color-variants-heading-default);
  --heading-light-3:var(--color-variants-heading-default);
  --heading-light:var(--color-variants-heading-default);
  --heading-reverse-2:var(--color-variants-heading-reverse-2);
  --heading-reverse:var(--color-variants-heading-reverse);
  --heading-transparent:var(--color-variants-heading-default);
  --icon-2-accent:var(--color-variants-heading-default);
  --icon-2-default:var(--color-variants-icon-default);
  --icon-2-light-2:var(--color-variants-icon-default);
  --icon-2-light-3:var(--color-variants-icon-default);
  --icon-2-light:var(--color-variants-icon-default);
  --icon-2-reverse-2:var(--color-variants-icon-reverse-2);
  --icon-2-reverse:var(--color-variants-icon-reverse);
  --icon-2-transparent:var(--color-variants-heading-default);
  --icon-accent:var(--color-variants-icon-accent);
  --icon-bg-accent:var(--color-variants-bg-reverse);
  --icon-bg-default:var(--color-variants-bg-reverse);
  --icon-bg-light-2:var(--color-variants-bg-default);
  --icon-bg-light-3:var(--color-variants-bg-default);
  --icon-bg-light:var(--color-variants-bg-default);
  --icon-bg-reverse-2:var(--color-variants-bg-light-2);
  --icon-bg-reverse:var(--color-variants-bg-default);
  --icon-bg-transparent:var(--color-variants-bg-reverse);
  --icon-default:var(--color-variants-icon-reverse);
  --icon-light-2:var(--color-variants-icon-default);
  --icon-light-3:var(--color-variants-icon-default);
  --icon-light:var(--color-variants-icon-default);
  --icon-reverse-2:var(--color-variants-icon-default);
  --icon-reverse:var(--color-variants-icon-default);
  --icon-transparent:var(--color-variants-icon-accent);
  --line-accent:var(--color-variants-line-default);
  --line-default:var(--color-variants-line-default);
  --line-light-2:var(--color-variants-line-default);
  --line-light-3:var(--color-variants-line-default);
  --line-light:var(--color-variants-line-default);
  --line-reverse-2:var(--color-variants-line-reverse);
  --line-reverse:var(--color-variants-line-reverse);
  --line-transparent:var(--color-variants-line-default);
  --link-accent:var(--color-variants-link-default);
  --link-default:var(--color-variants-link-default);
  --link-light-2:var(--color-variants-link-default);
  --link-light-3:var(--color-variants-link-default);
  --link-light:var(--color-variants-link-default);
  --link-reverse-2:var(--color-variants-link-reverse-2);
  --link-reverse:var(--color-variants-link-reverse);
  --link-transparent:var(--color-variants-link-default);
  --stroke-accent:var(--color-variants-stroke-accent);
  --stroke-default:var(--color-variants-stroke-primary);
  --stroke-light-2:var(--color-variants-stroke-primary);
  --stroke-light-3:var(--color-variants-stroke-primary);
  --stroke-light:var(--color-variants-stroke-primary);
  --stroke-reverse-2:var(--color-variants-stroke-reversed-2);
  --stroke-reverse:var(--color-variants-stroke-reversed);
  --stroke-transparent:var(--color-variants-stroke-accent);
}

header{
  min-height:141px;
}

.d-none{
  display:none !important;
}

.spacer-bottom{
  margin-bottom:80px;
}

.spacer-top{
  margin-top:80px;
}

.top-margin{
  margin-top:80px;
}

.bottom-margin{
  margin-bottom:80px;
}

.top-padding{
  padding-top:80px;
}

.bottom-padding{
  padding-bottom:80px;
}

.section.faq-looking-for{
  margin:0 auto;
  max-width:1328px;
  padding:32px;
}
.section.faq-looking-for div{
  display:flex;
  flex-direction:column;
  gap:48px;
  padding:5px;
}
.section.faq-looking-for div h2{
  color:#00525B;
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  letter-spacing:0;
  line-height:44px;
  text-align:center;
}
.section.faq-looking-for div ul{
  display:flex;
  gap:32px;
  justify-content:space-between;
  padding:32px 0;
}
.section.faq-looking-for div ul li ul{
  display:flex;
  flex-direction:column;
  gap:24px;
  padding:0;
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span{
  align-items:center;
  background-color:#00525B;
  border-radius:50%;
  display:flex;
  height:64px;
  justify-content:center;
  margin:0 auto;
  width:64px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) p span img{
  height:44px;
  width:44px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul{
  gap:8px;
  margin-top:32px;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(1){
  color:#00525B;
  font-family:var(--primary-font);
  font-size:20px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2){
  color:#0B231F;
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  margin-bottom:14px;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(2) p{
  margin:0;
  text-align:center;
}
.section.faq-looking-for div ul li ul li:nth-child(2) p a{
  border:1px solid #00525B;
  border-radius:20px;
  color:#00525B;
  cursor:pointer;
  display:block;
  font-family:var(--primary-font);
  font-size:16px;
  font-style:normal;
  font-weight:500;
  letter-spacing:0;
  line-height:24px;
  margin:0 auto;
  padding:8px 16px;
  text-decoration:none;
  width:-moz-fit-content;
  width:fit-content;
}

.momentum-saver-section{
  align-items:center;
  background-color:#fff;
  display:flex;
  flex-flow:column wrap;
  gap:80px;
  justify-content:space-between;
}
.momentum-saver-section .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}
.momentum-saver-section .momentum-columns{
  border-radius:var(--radius-card);
  display:flex;
  padding:64px;
}
.momentum-saver-section .momentum-columns > div{
  align-items:flex-start;
  gap:40px;
}
.momentum-saver-section .momentum-columns .momentum-content{
  display:grid;
  grid-template-columns:1fr 3fr;
  max-width:350px;
  width:100%;
}
.momentum-saver-section .momentum-columns .momentum-content h2{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:140px;
  font-style:normal;
  line-height:120px;
  text-transform:capitalize;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-unit{
  align-items:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  line-height:1;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-percent{
  color:var(--heading-default);
  font-size:32px;
  font-size:80px;
  font-style:normal;
  font-weight:700;
  line-height:72px;
}
.momentum-saver-section .momentum-columns .momentum-content .rate-pa{
  color:var(--heading-default);
  font-size:40px;
  font-style:normal;
  font-weight:300;
  line-height:28px;
  text-align:center;
}
.momentum-saver-section .momentum-columns .momentum-content p{
  color:var(--body-default);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  width:100%;
}
.momentum-saver-section .momentum-columns .momentum-second-content h2{
  color:var(--heading-default);
  font-family:var(--secondary-font);
  font-size:40px;
  font-style:normal;
  line-height:40px;
  margin-bottom:16px;
  text-transform:uppercase;
}
.momentum-saver-section .momentum-columns .momentum-second-content h3{
  color:var(--heading-default);
  font-size:24px;
  font-style:normal;
  font-weight:400;
  line-height:36px;
  margin-bottom:4px;
}
.momentum-saver-section .momentum-columns .momentum-second-content p{
  color:var(--body-default);
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  margin-bottom:24px;
}
.momentum-saver-section .momentum-columns .momentum-second-content .button-container{
  background-color:var(--heading-default);
  border-radius:var(--radius-card);
  display:inline-flex;
  margin-bottom:unset;
  padding:8px 28.5px;
  width:-moz-fit-content;
  width:fit-content;
}
.momentum-saver-section .momentum-columns .momentum-second-content a{
  color:var(--stroke-reverse);
  font-size:16px;
  font-style:normal;
  font-weight:500;
  line-height:24px;
}

.momentum-saver-section.background-color-teal{
  background-color:var(--bg-reverse);
}
.momentum-saver-section.background-color-teal .momentum-columns.background-color-white{
  background-color:var(--bg-default);
}

.momentum-saver-section.momentum-image-saver .columns-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns{
  padding:0;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div{
  align-items:center;
  gap:24px;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .columns-img-col{
  max-width:519.5px;
  width:100%;
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .columns-img-col img{
  border-radius:var(--radius-card);
}
.momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h2{
  font-family:var(--primary-font);
  font-weight:500;
  text-transform:capitalize;
}

.momentum-image-saver.bg-image-saver{
  background-color:var(--heading-default);
}
.momentum-image-saver.bg-image-saver .momentum-second-content h2,
.momentum-image-saver.bg-image-saver .momentum-second-content h3,
.momentum-image-saver.bg-image-saver .momentum-second-content p{
  color:var(--body-reverse);
}
.momentum-image-saver.bg-image-saver .momentum-second-content .button-container{
  background-color:#F5F8DE;
}
.momentum-image-saver.bg-image-saver .momentum-second-content .button-container a{
  color:var(--stroke-default);
}
@media screen and (max-width: 1279px){
  .top-margin{
    margin-top:64px;
  }
  .bottom-margin{
    margin-bottom:64px;
  }
  .top-padding{
    padding-top:64px;
  }
  .bottom-padding{
    padding-bottom:64px;
  }
  .momentum-saver-section .columns-wrapper{
    padding-inline:24px;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper{
    padding-inline:24px;
  }
}
@media screen and (max-width: 1023px){
  .spacer-bottom{
    margin-bottom:60px;
  }
  .spacer-top{
    margin-top:60px;
  }
  .section.faq-looking-for div h2{
    padding-bottom:0;
  }
  .momentum-saver-section .momentum-columns .momentum-content .rate-unit{
    align-items:unset;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content{
    display:block;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h2{
    font-size:38px;
  }
}
@media screen and (max-width: 767px){
  header{
    min-height:60px;
  }
  .spacer-bottom{
    margin-bottom:40px;
  }
  .spacer-top{
    margin-top:40px;
  }
  .top-margin{
    margin-top:40px;
  }
  .bottom-margin{
    margin-bottom:40px;
  }
  .top-padding{
    padding-top:40px;
  }
  .bottom-padding{
    padding-bottom:40px;
  }
  .section.faq-looking-for{
    padding:8px;
  }
  .section.faq-looking-for div{
    gap:24px;
    padding:8px;
  }
  .section.faq-looking-for div h2{
    font-size:40px;
    font-weight:700;
    line-height:32px;
  }
  .section.faq-looking-for div ul{
    flex-direction:column;
    padding:8px 0;
  }
  .section.faq-looking-for div ul li ul{
    gap:20px;
  }
  .section.faq-looking-for div ul li ul li:nth-child(1) ul{
    margin-top:20px;
  }
  .section.faq-looking-for div ul li ul li:nth-child(1) ul li:nth-child(2){
    margin-bottom:0;
  }
  .section.faq-looking-for div ul li ul li:nth-child(2) p{
    margin-bottom:8px;
  }
  .momentum-saver-section .columns-wrapper{
    padding-inline:16px;
  }
  .momentum-saver-section .momentum-columns{
    align-items:flex-start;
    flex-direction:column;
    padding:40px 16px;
  }
  .momentum-saver-section .momentum-columns .momentum-content h2{
    font-size:120px;
    font-style:normal;
    line-height:120px;
    text-transform:capitalize;
  }
  .momentum-saver-section .momentum-columns .momentum-content .rate-percent{
    font-size:78px;
    font-style:normal;
    line-height:72px;
  }
  .momentum-saver-section .momentum-columns .momentum-content p{
    font-size:16px;
    font-style:normal;
    font-weight:400;
    line-height:24px;
    width:121%;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper{
    padding-inline:16px;
  }
  .momentum-saver-section.momentum-image-saver .columns-wrapper .momentum-columns div .momentum-second-content h2{
    font-size:38px;
  }
}
@media (prefers-reduced-motion: reduce){
  *{
    animation-duration:0.01ms !important;
    animation-iteration-count:1 !important;
    scroll-behavior:auto !important;
    transition-duration:0.01ms !important;
  }
}
