@use '../../styles/base' as *;


.faq-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1440px - 0px);
    width: 100%;
}

.faq-left h2 {
    color: var(--heading-default);
    font-family: var(--font-family-h1);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    letter-spacing: var(--font-letter-spacing-h1);
    line-height: var(--font-height-h1);
    text-transform: initial;
}

.accordion-wrapper {
    @include responsive-container;

    .accordion {
        @include mobile {
            padding: 0;
        }

        details {
            border-bottom: 1px solid var(--line-default);
            border-top: 1px solid var(--line-default);
            padding: 16px 0;

            p {
                margin: 0;

                @include typo-heading5;
            }

            .accordion-item-label {
                @include typo-heading5;

                position: relative;
                cursor: pointer;
                list-style: none;
                vertical-align: bottom;
                color: $heading-default;
                transition: background-color 0.2s;
                display: flex;
                justify-content: space-between;
                gap: 16px;
                overflow: hidden;

                p {
                    margin: 0;
                    font-family: var(--font-family-h5);
                    font-size: var(--font-size-h5);
                    font-weight: var(--font-weight-h5);
                    line-height: var(--font-height-h5);
                    letter-spacing: var(--font-letter-spacing-h5);
                    text-transform: initial;
                }

                svg {
                    background: var(--bg-light);
                    border-radius: 44px;
                    color: var(--color-button-primary-default);
                    cursor: pointer;
                    height: 40px;
                    margin-left: 32px;
                    min-width: 40px;
                    padding: 8px;
                    transform: rotate(180deg);
                    width: 40px;
                }
            }

            .accordion-item-body {
                margin-top: 16px;
                padding-right: 48px;

                @include mobile {
                    margin-top: 18px;
                    padding-right: 24px;
                }

                p {
                    @include typo-body;

                    margin: 0;
                    color: $body-default;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .faq-layout {
        grid-template-columns: 1fr;
    }
}