@use '../../styles/base' as *;

.faq-legal.accordion-container{
    @include responsive-container;

    display: flex;
    gap: 32px;
    background: unset;
    padding-top: 80px;
    padding-bottom: 80px;

    .default-content-wrapper{
        max-width: 416px;
        width: 100%;

        h1,h2,h3,h4,h5,h6{
            color: $heading-default;
            font-family: $secondary-font;
            font-size: $font-size-h1;
            font-weight: 900;
            line-height: $font-height-h1;
            letter-spacing: $font-letter-spacing-h1;
            text-transform: uppercase;
        }
    }

    .accordion-wrapper {
        padding-inline: 0;

        .accordion{
            details{
                border-bottom: 1px solid $line-default;
                padding-bottom: 16px;

                .accordion-item-label{
                    p{
                        color: $color-button-primary-default;
                        font-size: $font-size-h3;
                        font-weight: 500;
                        line-height: $font-height-h3;
                        letter-spacing: $font-letter-spacing-h3;
                    }
                }

                .accordion-item-body{
                    p{
                        color: $body-default;
                        font-size: $font-size-body;
                        font-weight: 400;
                        line-height: $font-height-body;
                        letter-spacing: $font-letter-spacing-body;
                    }

                    ul{
                        list-style-type: disc;
                        padding-left: 25px;
                        padding-bottom: 16px;

                        li{
                            color: $link-default;
                            font-size: $font-size-body;
                            font-weight: 400;
                            line-height: $font-height-body;
                            letter-spacing: $font-letter-spacing-body;
                            text-decoration-line: underline;
                            text-decoration-style: solid;
                            text-decoration-skip-ink: auto;
                            text-decoration-thickness: auto;
                            text-underline-offset: auto;
                            text-underline-position: from-font;
                            padding-top: 5px;

                            &::marker{
                                color: $link-default;
                            }
                        }
                    }
                }
            }
        }
    }
}