.lenders-mortgage-insurance{
  margin:0 auto 40px;
  max-width:735px;
  padding-inline:32px;
  width:100%;
}

.lenders-mortgage-insurance h3, .lenders-mortgage-insurance h4{
  color:var(--heading-default);
  font-family:var(--font-family-h4);
  font-size:var(--font-size-h4);
  font-style:normal;
  font-weight:500;
  letter-spacing:var(--font-letter-spacing-h4);
  line-height:var(--font-height-h4);
  margin-bottom:16px;
}

.lenders-mortgage-insurance h5{
  color:var(--body-default);
  font-size:var(--font-size-h5);
  font-style:normal;
  font-weight:500;
  letter-spacing:var(--font-letter-spacing-h5);
  line-height:var(--font-height-h5);
}

.lenders-mortgage-insurance p:has(:not(span)) p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-style:normal;
  font-weight:400;
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-bottom:10px;
  margin-top:0;
}

.lenders-mortgage-insurance p:has(span) p{
  display:flex;
}

.lenders-mortgage-insurance ul{
  list-style-type:disc;
  margin:10px 0;
  padding-left:25px;
}

.lenders-mortgage-insurance ul li{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-style:normal;
  font-weight:400;
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
}

.lenders-mortgage-insurance ul li strong{
  font-weight:700;
}
