.navigation-cards-container .default-content-wrapper .button-container a:not(.secondary), .navigation-cards-container .default-content-wrapper .button-container a.secondary{
  align-items:center;
  border:none;
  border-radius:var(--radius-button);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-weight:var(--font-weight-h5);
  gap:12px;
  justify-content:center;
  padding-inline:24px;
  text-align:center;
  text-decoration:unset;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

.navigation-cards-container{
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.navigation-cards-container .default-content-wrapper{
  margin-bottom:40px;
  text-align:left;
}

.navigation-cards-container .default-content-wrapper h1,
.navigation-cards-container .default-content-wrapper h2,
.navigation-cards-container .default-content-wrapper h3,
.navigation-cards-container .default-content-wrapper h4,
.navigation-cards-container .default-content-wrapper h5,
.navigation-cards-container .default-content-wrapper h6{
  color:var(--heading-default);
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  text-transform:initial;
}

.navigation-cards-container .default-content-wrapper p{
  margin-top:16px;
  max-width:800px;
}

.navigation-cards-container .default-content-wrapper .button-container{
  display:inline-block;
  margin-bottom:0;
  margin-right:8px;
  margin-top:40px;
}

.navigation-cards-container .default-content-wrapper .button-container a:not(.secondary){
  background-color:var(--color-button-primary-default);
  border:none;
  color:var(--color-button-text-stroke-reverse);
  font-size:var(--font-size-h5);
  font-style:normal;
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:8px;
  text-decoration:unset;
}

.navigation-cards-container .default-content-wrapper .button-container a:not(.secondary):hover{
  background-color:var(--color-button-primary-hover);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.navigation-cards-container .default-content-wrapper .button-container a:not(.secondary):active{
  background-color:var(--color-button-primary-press);
  border:none;
  color:var(--color-button-text-stroke-reverse);
}

.navigation-cards-container .default-content-wrapper .button-container a:not(.secondary):focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.navigation-cards-container .default-content-wrapper .button-container a:not(.secondary) svg{
  height:12px;
  width:12px;
}

.navigation-cards-container .default-content-wrapper .button-container a.secondary{
  background-color:var(--color-button-outlined-default);
  border:var(--stroke-button) solid var(--color-button-text-stroke-default);
  color:var(--color-button-text-stroke-default);
  font-size:var(--font-size-h5);
  font-style:normal;
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:6px;
  text-decoration:unset;
}

.navigation-cards-container .default-content-wrapper .button-container a.secondary:hover{
  background-color:var(--color-button-outlined-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-hover);
  color:var(--color-button-text-stroke-hover);
}

.navigation-cards-container .default-content-wrapper .button-container a.secondary:active{
  background-color:var(--color-button-outlined-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-press);
  color:var(--color-button-text-stroke-press);
}

.navigation-cards-container .default-content-wrapper .button-container a.secondary:focus-visible{
  box-shadow:0 0 0 1px var(--color-focus-reversed), 0 0 0 3px var(--color-focus-default);
  outline:none;
}

.navigation-cards-container .default-content-wrapper .button-container a.secondary svg{
  height:12px;
  width:12px;
}

.navigation-cards-container .navigation-cards.block{
  align-items:stretch;
  display:grid;
  gap:32px;
  grid-template-columns:repeat(auto-fit, minmax(304px, 1fr));
}

.navigation-cards-container .nav-card{
  background:var(--bg-default);
  border:1px solid var(--line-default);
  border-radius:var(--radius-card);
  display:grid;
  padding:40px 24px;
  position:relative;
  text-align:center;
  transition:all 0.25s ease;
}

.navigation-cards-container .nav-card:hover{
  border-color:var(--link-default);
  box-shadow:0 2px 16px 0 rgb(0 0 0 / 10%);
}

.navigation-cards-container .nav-card:hover > div.card-external-icon svg{
  color:var(--link-default);
}

.navigation-cards-container .nav-card:focus-visible{
  box-shadow:0 0 0 2px var(--color-focus-reversed), 0 0 0 6px var(--color-focus-default);
}

.navigation-cards-container .nav-card:has(.card-description) .card-provider-wrapper{
  border-top:1px solid var(--line-default);
  margin-top:12px;
  padding-top:28px;
}

.navigation-cards-container .nav-card > div.card-external-icon{
  position:absolute;
  right:16px;
  top:16px;
}

.navigation-cards-container .nav-card > div.card-external-icon svg{
  color:rgb(0 0 0 / 50.2%);
  height:16px;
  transition:all 0.3s ease-in-out;
  width:16px;
}

.navigation-cards-container .nav-card-body{
  align-items:center;
  display:flex;
  flex-direction:column;
}

.navigation-cards-container .card-header .icon{
  display:block;
  margin-bottom:16px;
}

.navigation-cards-container .card-header .icon svg{
  color:var(--icon-reverse);
  height:96px;
  width:96px;
}

.navigation-cards-container .card-header p{
  color:var(--heading-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  margin-bottom:4px;
  text-transform:initial;
}

.navigation-cards-container .card-header h3{
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  margin-bottom:16px;
  text-transform:initial;
}

.navigation-cards-container .card-provider-wrapper{
  align-items:center;
  display:flex;
  gap:8px;
  justify-content:center;
  width:100%;
}

.navigation-cards-container .card-provider p{
  color:rgb(0 0 0 / 50.2%);
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  text-transform:initial;
}

.navigation-cards-container .card-logo img{
  height:20px;
  margin:0;
  width:auto;
}

.navigation-cards-container .card-description{
  color:var(--body-default);
  font-family:var(--font-family-disc);
  font-size:var(--font-size-disclaimer);
  font-weight:var(--font-weight-disc);
  letter-spacing:var(--font-letter-spacing-disc);
  line-height:var(--font-height-disclaimer);
  margin-top:16px;
  text-transform:initial;
}

.navigation-cards-container .card-description a{
  color:var(--link-default);
  text-decoration:underline;
}

@media screen and (max-width: 1279px){
  .navigation-cards-container{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .navigation-cards-container .navigation-cards.block{
    gap:24px;
  }
}

@media screen and (max-width: 767px){
  .navigation-cards-container{
    padding-inline:16px;
  }

  .navigation-cards-container .default-content-wrapper{
    margin-bottom:24px;
  }

  .navigation-cards-container .default-content-wrapper .button-container{
    margin-top:24px;
  }

  .navigation-cards-container .navigation-cards.block{
    gap:16px;
  }
}
