.section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active a{
  align-items:center;
  background-color:var(--color-button-outlined-reverse-default);
  border:none;
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  border-radius:var(--radius-button);
  color:var(--color-button-text-stroke-reverse);
  cursor:pointer;
  display:flex;
  font-family:var(--font-family-h5);
  font-size:var(--font-size-h5);
  font-weight:var(--font-weight-h5);
  gap:12px;
  justify-content:center;
  line-height:var(--font-height-h5);
  min-width:150px;
  padding-block:6px;
  padding-inline:24px;
  text-align:center;
  transition:all 0.3s ease-in-out;
  width:-moz-fit-content;
  width:fit-content;
}

.section.compare-accounts{
  display:flex;
  flex-direction:column;
  gap:40px;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-inline:64px;
  width:100%;
}

.section.compare-accounts .default-content-wrapper h1, .section.compare-accounts .default-content-wrapper h2, .section.compare-accounts .default-content-wrapper h3, .section.compare-accounts .default-content-wrapper h4, .section.compare-accounts .default-content-wrapper h5, .section.compare-accounts .default-content-wrapper h6{
  color:var(--heading-default);
  display:block;
  font-family:var(--font-family-h1);
  font-size:var(--font-size-h1);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--font-letter-spacing-h1);
  line-height:var(--font-height-h1);
  margin-bottom:16px;
  text-transform:initial;
}

.section.compare-accounts .default-content-wrapper p{
  color:var(--heading-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
}

.section.compare-accounts .default-content-wrapper p a{
  color:var(--heading-default);
  text-decoration:underline;
}

.section.compare-accounts .default-content-wrapper:last-child p{
  color:var(--body-default);
}

.section.compare-accounts .compare-accounts.block{
  overflow-x:auto;
}

.section.compare-accounts .compare-accounts.block .compare-accounts-cards{
  align-items:stretch;
  display:flex;
  gap:0;
}

.section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card{
  border-radius:var(--radius-card);
  display:flex;
  flex:1;
  flex-direction:column;
  min-height:100%;
  min-width:304px;
}

.section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active{
  background-color:var(--bg-reverse);
}

.section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active h3, .section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active h5, .section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active p:has(.interest-rate), .section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active .interest-rate{
  color:var(--heading-reverse);
}

.section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active h4, .section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active p{
  color:var(--body-reverse);
}

.section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active a:hover{
  background-color:var(--color-button-outlined-reverse-hover);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
}

.section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active a:active{
  background-color:var(--color-button-outlined-reverse-press);
  border:var(--stroke-button) solid var(--color-button-text-stroke-reverse);
  color:var(--color-button-text-stroke-reverse);
}

.section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active a:focus-visible{
  box-shadow:0 0 0 2px var(--color-focus-default), 0 0 0 3px var(--color-focus-reversed);
  outline:none;
}

.section.compare-accounts .compare-accounts.block .compare-accounts-cards .compare-accounts-card.active a svg{
  height:12px;
  width:12px;
}

.section.compare-accounts .compare-accounts.block .product-title{
  border-bottom:5px solid var(--heading-default);
  color:var(--heading-default);
  font-family:var(--font-family-h3);
  font-size:var(--font-size-h3);
  font-weight:var(--font-weight-h3);
  letter-spacing:var(--font-letter-spacing-h3);
  line-height:var(--font-height-h3);
  padding:32px 24px 8px;
  text-transform:initial;
}

.section.compare-accounts .compare-accounts.block .product-description{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  padding:16px 24px 0;
  text-transform:initial;
}

.section.compare-accounts .compare-accounts.block .product-interest-pretitle{
  color:var(--heading-default);
  font-family:var(--font-family-disc);
  font-size:var(--font-size-disclaimer);
  font-weight:var(--font-weight-disc);
  letter-spacing:var(--font-letter-spacing-disc);
  line-height:var(--font-height-disclaimer);
  padding:16px 24px 0;
  text-transform:initial;
}

.section.compare-accounts .compare-accounts.block .interest-rate{
  color:var(--heading-default);
  display:block;
  font-family:var(--font-family-h1-std);
  font-size:var(--font-size-h1-std);
  font-weight:var(--font-weight-h1-std);
  letter-spacing:var(--font-letter-spacing-h1-std);
  line-height:var(--font-height-h1-std);
  text-transform:initial;
}

.section.compare-accounts .compare-accounts.block .interest-rate .rate-pa{
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
}

.section.compare-accounts .compare-accounts.block .product-interest-rate{
  padding:0 !important;
}

.section.compare-accounts .compare-accounts.block p{
  color:var(--body-default);
  font-family:var(--font-family-disc);
  font-size:var(--font-size-disclaimer);
  font-weight:var(--font-weight-disc);
  letter-spacing:var(--font-letter-spacing-disc);
  line-height:var(--font-height-disclaimer);
  padding:16px 24px 0;
  text-transform:initial;
}

.section.compare-accounts .compare-accounts.block p:has(.interest-rate){
  padding:4px 24px 0;
}

.section.compare-accounts .compare-accounts.block p:has(a){
  margin-top:auto;
  padding-bottom:32px;
}

.section.compare-accounts .compare-accounts.block a{
  border-bottom:1px solid var(--heading-default);
  color:var(--heading-default);
  display:block;
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  padding-bottom:2px;
  text-transform:initial;
  width:-moz-fit-content;
  width:fit-content;
}

@media screen and (max-width: 1279px){
  .section.compare-accounts{
    padding-inline:24px;
  }
}

@media screen and (max-width: 1023px){
  .section.compare-accounts .compare-accounts.block .compare-accounts-cards{
    flex-direction:row;
  }
}

@media screen and (max-width: 767px){
  .section.compare-accounts{
    gap:24px;
    padding-inline:16px;
  }
}
