@use '../../styles/base' as *;

// Fix 1: Eliminate duplicate selector 'footer .footer > div'
footer {
  font-size: var(--body-font-size-xs);

  .footer>div {
    margin: auto;
  }
}

.section.tmb-footer {
  background-color: $bg-reverse;
  border: 1px solid $bg-reverse;

  .tmb-footer-wrapper {
    // max-width: 1328px;
    // margin: 0 auto;
    @include responsive-container;

    .para-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 64px 0px 0px;
      margin-bottom: 24px;
      img{
        width: 164px;
        max-width: 100%;
      }
      @media (max-width: 767px) {
        padding: 20px 10px;

        .icon.icon-tmb-btn {
          display: block;
          width: 40px;
          height: 40px;

          img {
            width: 100%;
          }
        }

        .icon.icon-jump-to-top {
          display: none;
        }
      }
    }

    // Grouped list styling (general)
    .ul-1,
    .ul-2,
    .ul-3,
    .ul-4,
    .ul-5,
    .ul-6,
    .ul-7,
    .ul-8,
    .ul-10,
    .ul-11,
    .ul-12,
    .ul-13,
    .ul-14,
    .ul-15,
    .ul-16,
    .ul-17 {
      list-style-type: none;

      @media (max-width: 767px) {

        // Specific mobile overrides for general ULs
        &.ul-2,
        &.ul-3 {
          margin: 0 auto;
        }

        &.ul-4,
        &.ul-9,
        &.ul-14 {
          flex-direction: column;
        }
      }
    }

    .ul-1 {
      background: #fff;
      // padding: 5px;
      border-radius: $radius-article-thumb;
      display: block; // Desktop default

      &.active {
        display: none;
      }

      li:nth-child(2){
        padding-bottom: 5px;
        @include tablet{
          padding: 0px 4px 4px;
        }
      }
    }

    .ul-2 {
      padding: 0;
    }

    .ul-3 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 24px;
    }

    .ul-4 {
      display: flex;
      gap: 64px;
      justify-content: space-between;
      // padding: 24px 24px 0 24px;

      li {
        max-width: 271px;
        width: 100%;
      }

      @media (max-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;

        &>li {
          flex: 1 1 calc(50% - 16px);
          min-width: 280px;
        }
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &>li {
          flex: 1 1 100%;
        }
      }
    }

    .ul-5,
    .ul-6,
    .ul-7,
    .ul-8 {
      padding: 0;

      li a {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -1%;
        vertical-align: bottom;
        color: #484848;
      }
    }

    .ul-9 {
      display: flex;
      justify-content: space-between;
      // padding: 0px 27px 40px;
      margin-top: 0;
      gap: 64px;

      li {
        max-width: 271px;
        width: 100%;
      }

      @media (max-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
        margin-top: 24px;
        border-top: 1px solid rgb(255 255 255 / 20%);
        padding-top: 20px;

        &>li {
          flex: 1 1 calc(50% - 12px);
          font-size: 15px;
          font-weight: 600;
        }

        ul li {
          display: flex;
          align-items: center;
          gap: 6px;
          margin-top: 4px;
          font-size: 14px;
          font-weight: 400;
        }
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        border-top: 1px solid rgb(255 255 255 / 20%);
        padding-top: 20px;

        &>li {
          font-size: 15px;
          font-weight: 600;
        }

        ul li {
          font-size: 14px;
          margin-top: 4px;
        }

        li {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
        }
      }
    }

    .ul-10,
    .ul-11,
    .ul-12,
    .ul-13 {
      padding: 0;
      /* position: relative; */
      margin: 4px auto;

      li {

        // Shared styles for direct li children of ul-11, ul-12, ul-13
        &,
        .icon-chat-comment,
        .icon-device-phone-call {
          /* position: absolute; */
          top: 7px;
          margin-left: 0;
          height: auto;

          svg {
            max-width: unset;
            width: 24px;
            height: 24px;
          }
        }
      }

      li a {
        text-decoration: none;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -1%;
        vertical-align: bottom;
        color: $bg-reverse;
      }
    }

    .ul-11,
    .ul-12,
    .ul-13 {
      li {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        gap: 4px;
      }
    }

    .ul-12 li {
      @media (max-width: 767px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
      }
    }

    .ul-14 {
      padding: 0;
      display: flex;
      justify-content: space-between;
      margin: 5px;
      background: $bg-reverse;
      border-radius: $radius-article-thumb;
      padding: 24px;

      @media (max-width: 1024px) {
        display: flex;
        text-align: center;
        gap: 16px;
        margin-top: 30px;

        .icon-office img {
          width: 40px;
        }
      }

      @media (max-width: 1024px) and (min-width: 768px) {
        margin: 5px 0 0;
        gap: 32px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &>li:first-child {
          flex: 1 1 100%;
        }

        &>li:not(:first-child) {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
        }

        &>li:not(:first-child) ul li {
          display: flex;
          gap: 8px;
        }
      }

      @media (max-width: 767px) {
        align-items: flex-start;
        text-align: left;
        gap: 20px;
        margin: 0;
        padding: 16px 8px;
      }

      li {
        height: fit-content;
        padding-bottom: 0 !important;
      }
    }

    .ul-15 {
      padding: 0;
      display: flex;

      li {
        color: #FFFFFF;
        display: flex;
        gap: 8px;
        align-items: center;

        .icon {
          width: 40px;
          height: 40px;
          display: grid;
          place-items: center;
          background: $bg-default;
          color: $heading-default;
          border-radius: 50%;

          svg {
            width: 24px;
            height: 24px;
          }
        }

        @media (max-width: 1024px) and (min-width: 768px) {
          display: flex;
          align-items: center;
          gap: 12px;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 24px;
        }

        @media (max-width: 767px) {
          font-size: 14px;
          display: flex;
          align-items: flex-start;
        }
      }
    }

    .ul-16 {
      padding: 0;
      display: flex;
      gap: 24px;

      .icon {
        display: grid;
        place-items: center;
        width: 40px;
        height: 40px;
        color: $icon-default;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      @media (max-width: 1024px) {
        display: flex;
        gap: 12px;
      }

      @media (max-width: 1024px) and (min-width: 768px) {
        margin: 0;

        li .icon {

          &.icon-linkedin,
          &.icon-fb,
          &.icon-insta,
          &.icon-youtube {
            width: 40px;
            height: 40px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      @media (max-width: 767px) {
        justify-content: flex-start;
        gap: 12px;
      }
    }

    .ul-17 {
      padding: 0;
      display: flex;
      border-radius: $radius-button;
      background-color: white;
      width: fit-content;

      a {
        color: $bg-reverse;
      }

      li {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        font-size: 16px;
        gap: 8px;

        a:first-child {
          padding: 8px 16px 8px 0px;
        }

        a:last-child {
          padding: 8px 0px 8px 16px;
        }

        img {
          margin-bottom: -3px;
          margin-left: 8px;
        }

        svg {
          width: 24px;
          height: 24px;
          display: block;
        }
      }

      @media (max-width: 1024px) {
        margin-top: 8px;

        a {
          background-color: #fff;
          color: #004d52;
          border-radius: 25px;
          font-weight: 600;
          align-items: center;
          gap: 6px;
        }
      }

      @media (max-width: 1024px) and (min-width: 768px) {
        margin: 0;

        a {
          padding: 0;
          line-height: 24px;
          border-radius: 20px;
        }
      }

      @media (max-width: 767px) {
        a {
          justify-content: center;
        }
      }
    }
  }

  // General paragraph styles
  .para-2,
  .para-3,
  .para-4,
  .para-5,
  .para-7,
  .para-8,
  .para-9 {
    @media (max-width: 767px) {
      margin: unset;
    }
  }

  .columns.block > div {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 0 24px;
    flex-direction: row;

    @include mobile {
      padding-top: 32px
    }

    @include responsive-container;

    & > div {
      flex: unset;
      width: fit-content;
    }

    .columns-img-col {
      img {
        height: 43px;
        width: auto;
      }
    }

    .button-container {
      width: fit-content;

      a {
        display: flex;
        gap: 8px;
        background-color: $bg-default;
        color: $link-default;
        padding: 8px 16px;
        font-size: 16px;
        line-height: 24px;
        width: fit-content;
        border-radius: $radius-button;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.section.tmb-sub-footer {
  background: $bg-reverse;

  @media screen and (max-width: 767px) {
    margin: unset;
  }

  @media (max-width: 1024px) {
    .ul-1 li {
      gap: 35px;
    }
  }

  .tmb-sub-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include responsive-container;

    @media screen and (max-width: 767px) {
      padding: 40px 12px;
    }

    @media (max-width: 1024px) and (min-width: 768px) {
      .ul-1 li {
        flex-direction: column-reverse;
        gap: 20px;
      }

      .ul-3 {
        justify-content: center;
      }

      .ul-4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li:nth-child(2) {
          text-align: center;
        }
      }

      .ul-5 {
        text-align: center;
      }
    }

    .ul-1 {
      list-style-type: none;
      padding: 24px;

      @media screen and (max-width: 767px) {
        padding-left: 32px;
      }

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        @media screen and (max-width: 767px) {
          padding: unset;
          gap: 20px;
          flex-direction: column-reverse;
        }

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          vertical-align: bottom;
          color: #FFFFFF;
          margin: 0;
        }

        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style-type: none;
          margin: 0;
          padding: 0;
          gap: 40px;

          @media screen and (max-width: 767px) {
            flex-direction: column;
            gap: 20px;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
          }

          li a {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            vertical-align: bottom;
            text-decoration: underline;
            text-decoration-style: solid;
            color: #FFFFFF;
          }
        }
      }
    }

    .ul-3 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
      padding: 41.5px 30px;
      list-style-type: none;
      margin: 0;
      border-radius: 5px;
      background-color: #FFFFFF;

      @media screen and (max-width: 767px) {
        padding: 46.7px 6px;
        gap: 28px;
        justify-content: center;

        .icon.icon-image-4,
        .icon.icon-image-8 {
          width: 70px;
          height: 70px;
        }

        .icon-certified-bcorp {
          width: 47px;
          height: 68px;
        }

        .icon.icon-image-6 {
          width: 82px;
          height: 70px;
        }
      }

      @media screen and (max-width: 400px) {
        gap: 25px;

        .icon.icon-image-4 {
          width: 70px;
          height: 70px;
        }

        .icon.icon-image-6 {
          width: 50px;
          height: 42px;
        }
      }
    }

    .ul-4 {
      display: flex;
      justify-content: flex-start;
      padding-left: 0;
      gap: 20px;
      list-style-type: none;
      margin: 0;

      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
      }

      li:nth-child(2) {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0%;
        vertical-align: bottom;
        color: #FFFFFF;

        @media screen and (max-width: 767px) {
          text-align: center;
        }
      }
    }

    .ul-5 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 0;
      list-style-type: none;
      gap: 9px;
      margin: 0;
      padding-bottom: 64px;

      li:nth-child(1) {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        vertical-align: bottom;
        color: #FFFFFF;

        @media screen and (max-width: 767px) {
          font-weight: 600;
          font-style: Semi Bold;
          font-size: 11px;
          text-align: center;
          vertical-align: bottom;
        }
      }

      li:nth-child(1) a,
      li:nth-child(2) a {
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        vertical-align: bottom;
        color: #FFFFFF;
        text-decoration: underline;
        text-decoration-color: #FFFFFF;
      }

      li:nth-child(2) {
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        vertical-align: bottom;
        color: #FFFFFF;

        @media screen and (max-width: 767px) {
          font-weight: 400;
          font-style: "regular";
          font-size: 12px;
          text-align: center;
          vertical-align: bottom;
          text-decoration-style: solid;
          text-decoration-thickness: 0%;
          text-decoration-skip-ink: auto;
        }
      }
    }
  }

  .columns-wrapper {
    @include responsive-container;
  }

  .columns.block {
    padding: 24px;
    border-radius: 12px;
    background: $bg-default;
    margin-bottom: 24px;

    @include mobile {
      padding: 24px 8px;
      margin-bottom: 0;
    }

    & > div {
      display: flex;
      gap: 64px;

      @include tablet {
        flex-direction: column;
        gap: 32px;
      }

      div:first-child {
        display: flex;
        align-items: center;
        flex: unset;
        gap: 8px;

        @include mobile {
          gap: 20px;
        }

        img {
          min-width: 48px;
          width: fit-content;
          height: auto;

          @include mobile {
            min-width: 36px;
          }
        }

        p {
          color: $body-default;
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
        }
      }

      div:last-child {
        display: flex;
        gap: 32px;
        justify-content: flex-end;
        flex: unset;
        min-width: fit-content;

        @include tablet {
          justify-content: center;
        }

        @include mobile {
          gap: 16px;
        }

        img {
          height: 80px;
          width: auto;
          min-width: fit-content;

          @include tablet {
            height: 60px;
          }
        }
      }
    }
  }
}

// Global Paragraph Styles
.para-2,
.para-3,
.para-4,
.para-5,
.para-7,
.para-8,
.para-9 {
  margin: 0 0 24px;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #212121;
}

.para-6 {
  margin: 0 0 24px;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #ffffff;
}