@use '../../styles/base' as *;

.footer.block {
  background-color: $color-footer-bg;

  &.tmbl {
    .footer-panel {
      background-color: transparent;
      padding-top: 16px;

      @include mobile {
        padding-top: 0;
      }

      .footer-links {
        padding: 0;
      }
    }

    .footer-bottom {
      .footer-bottom-cols {
        background-color: transparent;
        padding: 0;

         .footer-acknowledgement {
            @include mobile {
              flex-direction: column
            }
         }
      }
    }
  }
}

.tmb-footer {
  @include responsive-container;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  .footer-logo {
    picture, img {
      width: auto;
      height: 48px;
    }
  }

  .footer-top-actions {
    .button-container a {
      @include button('white');
    }
  }
}

.footer-panel {
  background-color: $color-footer-rectangle;
  border-radius: $radius-footer-card;
  padding-top: 24px;

  .footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    gap: 40px 64px;
    margin-bottom: 40px;
    padding: 0 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mobile {
      gap: 24px;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      li:has(h1, h2, h3, h4, h5, h6) {
        @include typo-heading5;
          
        color: $color-footer-text;
        margin-bottom: 24px;

        @include tablet {
          margin-bottom: 16px;
        }

        h1, h2, h3, h4, h5, h6 {
          @include typo-heading5;
          
          color: $color-footer-text;
        }
      }

      li {
        @include typo-body;

        margin-bottom: 4px;
        color: $color-footer-text;

        &:last-child {
          margin-bottom: 0;
        }

        svg {
          color: $color-footer-text;
          width: 32px;
          height: 32px;
        }
        
        a {
          @include typo-body;

          display: block;
          color: $color-footer-text;
          text-decoration: unset;

          &:has(svg) {
            display: inline-block;
            margin-right: 8px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .footer-meta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    gap: 40px 64px;
    margin-bottom: 24px;
    padding: 0 24px;

    @include mobile {
      gap: 24px;
    }

    ul {
      li:has(h1, h2, h3, h4, h5, h6) {
        @include typo-heading5;
          
        color: $color-footer-text;
        margin-bottom: 4px;

        h1, h2, h3, h4, h5, h6 {
          @include typo-heading5;
          
          color: $color-footer-text;
        }
      }

      li {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 4px;
        color: $color-footer-link;

        &:last-child {
          margin-bottom: 0
        }

        svg {
          width: 24px;
          height: 24px
        }
        
        a {
          @include typo-heading5;
          
          display: flex;
          gap: 4px;
          align-items: center;
          color: $color-footer-link;
          padding: 8px 0;
          text-decoration: unset;
        }
      }
    }
  }

  .footer-contact {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 4px;
    background-color: $color-footer-bg;
    border-radius: $radius-footer-card;
    padding: 24px;

    @include tablet {
      flex-wrap: wrap;
    }

    .footer-contact-text {
      display: flex;
      gap: 8px;
      align-items: center;

      @include tablet {
        align-items: flex-start
      }

      p {
        @include typo-body;

        color: $color-footer-reverse-text;
        display: flex;
        gap: 8px;
        align-items: center;
      }

      svg {
        min-width: 40px;
        width: 40px;
        height: 40px;
        padding: 8px !important;
      }
    }

    .footer-social {
      ul {
        display: flex;
        gap: 24px;

        li {
          padding: 8px;

          svg {
            min-width: 24px;
            width: 24px;
            height: 24px;
            color: $color-footer-reverse-text;
          }
        }
      }
    }

    .footer-cta {
      a {
        @include button('white');

        min-width: max-content;
        
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .footer-legal {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    
    @include tablet {
      align-items: flex-start;
      flex-direction: column;
      gap: 16px;
    }
    
    p {
      @include typo-sm-body;

      color: $color-footer-reverse-text;    
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      @include tablet {
        gap: 16px;
      }

      @include mobile {
        flex-direction: column;
      }

      li {
        @include typo-sm-body;
        
        color: $color-footer-reverse-text;
        
        a {
          @include typo-sm-body;

          text-decoration: underline;
        }
      }
    }
  }

  .footer-bottom-cols {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    border-radius: $radius-footer-card;
    background-color: $color-footer-rectangle;
    padding: 24px;

    @include tablet {
      align-items: center;
      gap: 24px;
      flex-direction: column;
    }

    .footer-acknowledgement {
      display: flex;
      align-items: center;
      gap: 8px;

      @include mobile {
        align-items: flex-start;
      }

      img {
        height: auto;
        min-width: 48px;
        width: 48px;
      }

      p {
        @include typo-disclaimer;

        color: $color-footer-text;
      }
    }

    .footer-badges {
      display: flex;
      align-items: center;
      gap: 32px;
      flex: 0 0 auto;
      flex-wrap: wrap;

      img {
        width: auto;
        height: 80px;
      }
    }
  }

  .footer-disclaimer {
    p {
      @include typo-disclaimer;

      margin-bottom: 8px;
      color: $color-footer-reverse-text;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $link-reverse;
      }
    }
  }
}
