/* ---------- MEDIA MIXINS ----------
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
*/
/* ---------- MEDIA MIXINS UPDATED ---------- */
/* ---------- LAYOUT MIXINS ---------- */
/* ---------- BORDER VARIABLES ---------- */
/* ---------- BORDER VARIABLES ---------- */
/* ---------- TEXT VARIABLES ---------- */
/* -------------------- */
/* -------------------- */
/* ---------- TEXT VARIABLES ---------- */
/* ---------- SURFACE VARIABLES ---------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* ---------- SURFACE VARIABLES ---------- */
/* ---------- FONTS VARIABLES ---------- */
/* ---------- FONTS VARIABLES ---------- */
footer {
  font-size: var(--body-font-size-xs);
}
footer .footer > div {
  margin: auto;
}

.section.tmb-footer {
  background-color: #00525B;
  border: 1px solid #00525B;
  /* max-width: 1328px; */
  margin: 0 auto;
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .section.tmb-footer {
    padding: 20px;
  }
}
.section.tmb-footer .tmb-footer-wrapper {
  max-width: 1328px;
  margin: 0 auto;
}
.section.tmb-footer .tmb-footer-wrapper .para-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .section.tmb-footer .tmb-footer-wrapper .para-1 {
    padding: 20px 10px;
  }
  .section.tmb-footer .tmb-footer-wrapper .para-1 .icon.icon-tmb-btn {
    display: block;
    width: 40px;
    height: 40px;
  }
  .section.tmb-footer .tmb-footer-wrapper .para-1 .icon.icon-tmb-btn img {
    width: 100%;
  }
  .section.tmb-footer .tmb-footer-wrapper .para-1 .icon.icon-jump-to-top {
    display: none;
  }
}
.section.tmb-footer .tmb-footer-wrapper .ul-1,
.section.tmb-footer .tmb-footer-wrapper .ul-2,
.section.tmb-footer .tmb-footer-wrapper .ul-3,
.section.tmb-footer .tmb-footer-wrapper .ul-4,
.section.tmb-footer .tmb-footer-wrapper .ul-5,
.section.tmb-footer .tmb-footer-wrapper .ul-6,
.section.tmb-footer .tmb-footer-wrapper .ul-7,
.section.tmb-footer .tmb-footer-wrapper .ul-8,
.section.tmb-footer .tmb-footer-wrapper .ul-10,
.section.tmb-footer .tmb-footer-wrapper .ul-11,
.section.tmb-footer .tmb-footer-wrapper .ul-12,
.section.tmb-footer .tmb-footer-wrapper .ul-13,
.section.tmb-footer .tmb-footer-wrapper .ul-14,
.section.tmb-footer .tmb-footer-wrapper .ul-15,
.section.tmb-footer .tmb-footer-wrapper .ul-16,
.section.tmb-footer .tmb-footer-wrapper .ul-17 {
  list-style-type: none;
}
@media (max-width: 767px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-1.ul-2, .section.tmb-footer .tmb-footer-wrapper .ul-1.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-2.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-2.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-3.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-3.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-4.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-4.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-5.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-5.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-6.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-6.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-7.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-7.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-8.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-8.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-10.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-10.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-11.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-11.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-12.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-12.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-13.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-13.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-14.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-14.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-15.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-15.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-16.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-16.ul-3,
  .section.tmb-footer .tmb-footer-wrapper .ul-17.ul-2,
  .section.tmb-footer .tmb-footer-wrapper .ul-17.ul-3 {
    margin: 0 auto;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-1.ul-4, .section.tmb-footer .tmb-footer-wrapper .ul-1.ul-9, .section.tmb-footer .tmb-footer-wrapper .ul-1.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-2.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-2.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-2.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-3.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-3.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-3.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-4.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-4.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-4.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-5.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-5.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-5.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-6.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-6.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-6.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-7.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-7.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-7.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-8.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-8.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-8.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-10.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-10.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-10.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-11.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-11.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-11.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-12.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-12.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-12.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-13.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-13.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-13.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-14.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-14.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-14.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-15.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-15.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-15.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-16.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-16.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-16.ul-14,
  .section.tmb-footer .tmb-footer-wrapper .ul-17.ul-4,
  .section.tmb-footer .tmb-footer-wrapper .ul-17.ul-9,
  .section.tmb-footer .tmb-footer-wrapper .ul-17.ul-14 {
    flex-direction: column;
  }
}
.section.tmb-footer .tmb-footer-wrapper .ul-1 {
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  display: block;
}
.section.tmb-footer .tmb-footer-wrapper .ul-1.active {
  display: none;
}
.section.tmb-footer .tmb-footer-wrapper .ul-2 {
  padding: 0;
}
.section.tmb-footer .tmb-footer-wrapper .ul-3 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0;
}
.section.tmb-footer .tmb-footer-wrapper .ul-4 {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  padding: 30px 27px 0;
}
.section.tmb-footer .tmb-footer-wrapper .ul-4 li {
  width: 271px;
}
@media (max-width: 1024px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-4 > li {
    flex: 1 1 calc(50% - 16px);
    min-width: 280px;
  }
}
@media (max-width: 767px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-4 > li {
    flex: 1 1 100%;
  }
}
.section.tmb-footer .tmb-footer-wrapper .ul-5,
.section.tmb-footer .tmb-footer-wrapper .ul-6,
.section.tmb-footer .tmb-footer-wrapper .ul-7,
.section.tmb-footer .tmb-footer-wrapper .ul-8 {
  padding: 0;
}
.section.tmb-footer .tmb-footer-wrapper .ul-5 li a,
.section.tmb-footer .tmb-footer-wrapper .ul-6 li a,
.section.tmb-footer .tmb-footer-wrapper .ul-7 li a,
.section.tmb-footer .tmb-footer-wrapper .ul-8 li a {
  text-decoration: none;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1%;
  vertical-align: bottom;
  color: #484848;
}
.section.tmb-footer .tmb-footer-wrapper .ul-9 {
  display: flex;
  justify-content: space-between;
  padding: 0px 27px 40px;
  margin-top: 0;
}
.section.tmb-footer .tmb-footer-wrapper .ul-9 li {
  width: 271px;
}
@media (max-width: 1024px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-9 > li {
    flex: 1 1 calc(50% - 12px);
    font-size: 15px;
    font-weight: 600;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-9 ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-9 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-9 > li {
    font-size: 15px;
    font-weight: 600;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-9 ul li {
    font-size: 14px;
    margin-top: 4px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-9 li {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
.section.tmb-footer .tmb-footer-wrapper .ul-10,
.section.tmb-footer .tmb-footer-wrapper .ul-11,
.section.tmb-footer .tmb-footer-wrapper .ul-12,
.section.tmb-footer .tmb-footer-wrapper .ul-13 {
  padding: 0;
  /* position: relative; */
  margin: 4px auto;
}
.section.tmb-footer .tmb-footer-wrapper .ul-10 li,
.section.tmb-footer .tmb-footer-wrapper .ul-10 li .icon-chat-comment,
.section.tmb-footer .tmb-footer-wrapper .ul-10 li .icon-device-phone-call,
.section.tmb-footer .tmb-footer-wrapper .ul-11 li,
.section.tmb-footer .tmb-footer-wrapper .ul-11 li .icon-chat-comment,
.section.tmb-footer .tmb-footer-wrapper .ul-11 li .icon-device-phone-call,
.section.tmb-footer .tmb-footer-wrapper .ul-12 li,
.section.tmb-footer .tmb-footer-wrapper .ul-12 li .icon-chat-comment,
.section.tmb-footer .tmb-footer-wrapper .ul-12 li .icon-device-phone-call,
.section.tmb-footer .tmb-footer-wrapper .ul-13 li,
.section.tmb-footer .tmb-footer-wrapper .ul-13 li .icon-chat-comment,
.section.tmb-footer .tmb-footer-wrapper .ul-13 li .icon-device-phone-call {
  /* position: absolute; */
  top: 7px;
  margin-left: 0;
  height: auto;
}
.section.tmb-footer .tmb-footer-wrapper .ul-10 li img,
.section.tmb-footer .tmb-footer-wrapper .ul-10 li .icon-chat-comment img,
.section.tmb-footer .tmb-footer-wrapper .ul-10 li .icon-device-phone-call img,
.section.tmb-footer .tmb-footer-wrapper .ul-11 li img,
.section.tmb-footer .tmb-footer-wrapper .ul-11 li .icon-chat-comment img,
.section.tmb-footer .tmb-footer-wrapper .ul-11 li .icon-device-phone-call img,
.section.tmb-footer .tmb-footer-wrapper .ul-12 li img,
.section.tmb-footer .tmb-footer-wrapper .ul-12 li .icon-chat-comment img,
.section.tmb-footer .tmb-footer-wrapper .ul-12 li .icon-device-phone-call img,
.section.tmb-footer .tmb-footer-wrapper .ul-13 li img,
.section.tmb-footer .tmb-footer-wrapper .ul-13 li .icon-chat-comment img,
.section.tmb-footer .tmb-footer-wrapper .ul-13 li .icon-device-phone-call img {
  max-width: unset;
  width: 24px;
  height: 24px;
}
.section.tmb-footer .tmb-footer-wrapper .ul-10 li a,
.section.tmb-footer .tmb-footer-wrapper .ul-11 li a,
.section.tmb-footer .tmb-footer-wrapper .ul-12 li a,
.section.tmb-footer .tmb-footer-wrapper .ul-13 li a {
  text-decoration: none;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1%;
  vertical-align: bottom;
  color: #00525B;
}
.section.tmb-footer .tmb-footer-wrapper .ul-11 li,
.section.tmb-footer .tmb-footer-wrapper .ul-12 li,
.section.tmb-footer .tmb-footer-wrapper .ul-13 li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 4px;
}
@media (max-width: 767px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-12 li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }
}
.section.tmb-footer .tmb-footer-wrapper .ul-14 {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  background: #00525B;
  border-radius: 10px;
  padding: 32px 27px;
}
@media (max-width: 1024px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-14 {
    display: flex;
    text-align: center;
    gap: 16px;
    margin-top: 30px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-14 .icon-office img {
    width: 40px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-14 {
    margin: 5px 0px;
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-14 > li:first-child {
    flex: 1 1 100%;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-14 > li:not(:first-child) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-14 > li:not(:first-child) ul li {
    display: flex;
    gap: 8px;
  }
}
@media (max-width: 767px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-14 {
    align-items: flex-start;
    text-align: left;
    gap: 20px;
    margin: 0;
    padding: 16px 8px;
  }
}
.section.tmb-footer .tmb-footer-wrapper .ul-15 {
  padding: 0;
  display: flex;
}
.section.tmb-footer .tmb-footer-wrapper .ul-15 li {
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.section.tmb-footer .tmb-footer-wrapper .ul-15 li .icon-phone {
  padding-right: 12px;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.section.tmb-footer .tmb-footer-wrapper .ul-15 li .icon-phone img {
  min-width: 40px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-15 li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-15 li .icon.icon-phone {
    padding-right: unset;
  }
}
@media (max-width: 767px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-15 li {
    font-size: 14px;
    display: flex;
    align-items: flex-start;
  }
}
.section.tmb-footer .tmb-footer-wrapper .ul-16 {
  padding: 0;
  display: flex;
  gap: 24px;
}
.section.tmb-footer .tmb-footer-wrapper .ul-16 .icon {
  width: 40px;
  height: 40px;
  display: block;
}
.section.tmb-footer .tmb-footer-wrapper .ul-16 .icon img {
  width: 100%;
}
@media (max-width: 1024px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-16 {
    display: flex;
    gap: 12px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-16 {
    margin: 0;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-16 li .icon.icon-linkedin, .section.tmb-footer .tmb-footer-wrapper .ul-16 li .icon.icon-fb, .section.tmb-footer .tmb-footer-wrapper .ul-16 li .icon.icon-insta, .section.tmb-footer .tmb-footer-wrapper .ul-16 li .icon.icon-youtube {
    width: 40px;
    height: 40px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-16 li .icon.icon-linkedin img, .section.tmb-footer .tmb-footer-wrapper .ul-16 li .icon.icon-fb img, .section.tmb-footer .tmb-footer-wrapper .ul-16 li .icon.icon-insta img, .section.tmb-footer .tmb-footer-wrapper .ul-16 li .icon.icon-youtube img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-16 {
    justify-content: flex-start;
    gap: 12px;
  }
}
.section.tmb-footer .tmb-footer-wrapper .ul-17 {
  padding: 0;
  display: flex;
  border-radius: 20px;
  background-color: white;
  width: fit-content;
}
.section.tmb-footer .tmb-footer-wrapper .ul-17 a {
  color: #00525B;
}
.section.tmb-footer .tmb-footer-wrapper .ul-17 li {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
}
.section.tmb-footer .tmb-footer-wrapper .ul-17 li a:first-child {
  padding: 8px 0px 8px 16px;
}
.section.tmb-footer .tmb-footer-wrapper .ul-17 li a:last-child {
  padding: 8px 16px 8px 0px;
}
.section.tmb-footer .tmb-footer-wrapper .ul-17 li img {
  margin-bottom: -3px;
  margin-left: 8px;
}
.section.tmb-footer .tmb-footer-wrapper .ul-17 li .icon-office {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: 8px;
}
.section.tmb-footer .tmb-footer-wrapper .ul-17 li .icon-office img {
  width: 100%;
  height: auto;
  margin: 0;
}
@media (max-width: 1024px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-17 {
    margin-top: 8px;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-17 a {
    background-color: #fff;
    color: #004d52;
    border-radius: 25px;
    font-weight: 600;
    align-items: center;
    gap: 6px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-17 {
    margin: 0;
  }
  .section.tmb-footer .tmb-footer-wrapper .ul-17 a {
    padding: 0;
    line-height: 24px;
    border-radius: 20px;
  }
}
@media (max-width: 767px) {
  .section.tmb-footer .tmb-footer-wrapper .ul-17 a {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .section.tmb-footer .para-2,
  .section.tmb-footer .para-3,
  .section.tmb-footer .para-4,
  .section.tmb-footer .para-5,
  .section.tmb-footer .para-7,
  .section.tmb-footer .para-8,
  .section.tmb-footer .para-9 {
    margin: unset;
  }
}

.section.tmb-sub-footer {
  background: #F4F4F5;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer {
    margin: unset;
  }
}
@media (max-width: 1024px) {
  .section.tmb-sub-footer .ul-1 li {
    gap: 35px;
  }
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 26px;
  margin: 0px auto;
  max-width: 1308px;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper {
    padding: 40px 12px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-1 li {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 {
    justify-content: center;
  }
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-4 li:nth-child(2) {
    text-align: center;
  }
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-5 {
    text-align: center;
  }
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-1 {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-1 {
    padding-left: 32px;
  }
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-1 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-1 li {
    padding: unset;
    gap: 20px;
    flex-direction: column-reverse;
  }
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-1 li p {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  vertical-align: bottom;
  color: #737373;
  margin: 0;
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-1 li ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-1 li ul {
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-1 li ul li a {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  vertical-align: bottom;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #565659;
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 41.5px 30px;
  list-style-type: none;
  margin: 0;
  border-radius: 5px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 {
    padding: 46.7px 6px;
    gap: 28px;
    justify-content: center;
  }
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 .icon.icon-image-4,
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 .icon.icon-image-8 {
    width: 70px;
    height: 70px;
  }
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 .icon-certified-bcorp {
    width: 47px;
    height: 68px;
  }
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 .icon.icon-image-6 {
    width: 82px;
    height: 70px;
  }
}
@media screen and (max-width: 400px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 {
    gap: 25px;
  }
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 .icon.icon-image-4 {
    width: 70px;
    height: 70px;
  }
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-3 .icon.icon-image-6 {
    width: 50px;
    height: 42px;
  }
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-4 {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  gap: 20px;
  list-style-type: none;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-4 {
    flex-direction: column;
    align-items: center;
  }
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-4 li:nth-child(2) {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #737373;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-4 li:nth-child(2) {
    text-align: center;
  }
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0;
  list-style-type: none;
  gap: 9px;
  margin: 0;
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-5 li:nth-child(1) {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  vertical-align: bottom;
  color: #737373;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-5 li:nth-child(1) {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 11px;
    text-align: center;
    vertical-align: bottom;
  }
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-5 li:nth-child(1) a,
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-5 li:nth-child(2) a {
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  vertical-align: bottom;
  color: #737373;
  text-decoration: underline;
  text-decoration-color: #737373;
}
.section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-5 li:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  vertical-align: bottom;
  color: #737373;
}
@media screen and (max-width: 767px) {
  .section.tmb-sub-footer .tmb-sub-footer-wrapper .ul-5 li:nth-child(2) {
    font-weight: 400;
    font-style: "regular";
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }
}

.icon.icon-tmb-logo {
  width: 195px;
  height: 80px;
}
.icon.icon-tmb-logo img {
  width: 100%;
}
.icon.icon-tmb-btn {
  display: none;
}
.icon.icon-jump-to-top {
  width: 156px;
  height: 40px;
  cursor: pointer;
}
.icon.icon-jump-to-top img {
  width: 100%;
  transition: transform 0.3s ease;
  transform-origin: center;
}
.icon.icon-image-8, .icon.icon-image-4 {
  width: 80px;
  height: 80px;
  display: block;
}
.icon.icon-image-8 img, .icon.icon-image-4 img {
  width: 100%;
}
.icon.icon-updated-certificated {
  width: 54px;
  height: 80px;
  display: block;
}
.icon.icon-updated-certificated img {
  width: 100%;
}
.icon.icon-image-6 {
  width: 93px;
  height: 80px;
  display: block;
}
.icon.icon-image-6 img {
  width: 100%;
}
.icon.icon-image-7 {
  width: 36px;
  height: 36px;
  display: block;
}
.icon.icon-image-7 img {
  width: 100%;
}

.para-2,
.para-3,
.para-4,
.para-5,
.para-7,
.para-8,
.para-9 {
  margin: 0 0 24px;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #212121;
}

.para-6 {
  margin: 0 0 24px;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #ffffff;
}
