footer {
  background-color: #00525B;
  font-size: var(--body-font-size-xs);
}

footer .footer p{
  margin:0;
}

footer .footer p {
  margin: 0;
  color: #fff;
}

@media (width >= 900px){
  footer .footer > div{
    padding:40px 32px 24px;
  }
}
