// .section.teachers-form-block-container{
//     max-width: 1328px;
//     margin: 0 auto;
//     padding-top: 40px;
// }

.section.transformd-form-container{
  margin:0 auto;
  max-width:1328px;
  padding-top:40px;
}