@forward './variables';
@forward './variables-custom';
@forward './mixins';

:root {
  --layout-container-max-hero: 1728px;
  --layout-container-max: 1440px;
  --space-2xl: 80px;
  --space-2xs: 12px;
  --space-3xl: 96px;
  --space-3xs: 8px;
  --space-4xs: 4px;
  --space-lg: 40px;
  --space-md: 32px;
  --space-sm: 24px;
  --space-xl: 64px;
  --space-xs: 16px;
}