@use './variables-custom' as *;
@use './variables' as *;
@use "sass:string";
@use "sass:math" as *;
@use "sass:color" as *;
@use "sass:meta";
@use 'sass:map' as map;

$container-width: 1440px;
$padding-desktop: 64px;
$padding-tablet: 24px;
$padding-mobile: 16px;

/* ---------- MEDIA MIXINS ----------
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
*/

@function to-rgba($var, $opacity: 1) {
  @if $opacity > 1 {
    $opacity: $opacity / 100;
  }

  @return string.unquote("rgb(var(#{$var}) / #{$opacity * 100}%)");
}

@function to-rgb($hex) {
  @if meta.type-of($hex) != "color" {
    @warn "⚠️ to-rgb(): expected a color, got `#{$hex}`. Returning as-is.";
    @return $hex;
  }

  $r: channel($hex, "red", $space: rgb);
  $g: channel($hex, "green", $space: rgb);
  $b: channel($hex, "blue", $space: rgb);

  @return rgb($r, $g, $b);
}

/* ---------- MEDIA MIXINS UPDATED ---------- */
@mixin respond($breakpoint, $mode: max) {
  @media screen and (#{$mode}-width: #{$breakpoint}px) {
    @content;
  }
}

@mixin mobile-s($mode: max) {
  @include respond(480, $mode) {
    @content;
  }
}

@mixin mobile($mode: max) {
  @include respond(767, $mode) {
    @content;
  }
}

@mixin tablet($mode: max) {
  @include respond(1023, $mode) {
    @content;
  }
}

@mixin tablet-lg($mode: max) {
  @include respond(1279, $mode) {
    @content;
  }
}

@mixin desktop($mode: max) {
  @include respond(1439, $mode) {
    @content;
  }
}

@mixin desktop-lg($mode: min) {
  @include respond(1440, $mode) {
    @content;
  }
}

/* ---------- LAYOUT MIXINS ---------- */
@mixin responsive-container($calculated: 0px) {
  width: 100%;
  max-width: calc($container-width - #{$calculated});
  padding-inline: $padding-desktop;
  margin-left: auto;
  margin-right: auto;

  @include tablet-lg {
    padding-inline: $padding-tablet;
  }

  @include mobile {
    padding-inline: $padding-mobile;
  }
}

/* ---------- BUTTON MIXINS ---------- */
%button-shared-layout {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding-inline: 24px;
  text-align: center;
  font-family: $font-family-h5;
  font-weight: $font-weight-h5;
  gap: 16px;
  cursor: pointer;
  border: none;
  border-radius: $radius-button;
  transition: all 0.3s ease-in-out;
}

$btn-variants: (
  'primary': (
    'pb': 8px,
    'border': none,
    'border-hover': none,
    'border-active': none,
    'bg': $color-button-primary-default,
    'color': $color-button-text-stroke-reverse,
    'bg-hover': $color-button-primary-hover,
    'color-hover': $color-button-text-stroke-reverse,
    'bg-active': $color-button-primary-press,
    'color-active': $color-button-text-stroke-reverse,
    'focus-visible': (0 0 0 1px $color-focus-reversed, 0 0 0 3px $color-focus-default)
  ),
  'secondary': (
    'pb': 8px,
    'border': none,
    'border-hover': none,
    'border-active': none,
    'bg': $color-button-secondary-default,
    'color': $color-button-text-stroke-default,
    'bg-hover': $color-button-secondary-hover,
    'color-hover': $color-button-text-stroke-hover,
    'bg-active': $color-button-secondary-press,
    'color-active': $color-button-text-stroke-press,
    'focus-visible': (0 0 0 1px $color-focus-reversed, 0 0 0 3px $color-focus-default)
  ),
  'outlined': (
    'pb': 6px,
    'border': $stroke-button solid $color-button-text-stroke-default,
    'border-hover': $stroke-button solid $color-button-text-stroke-hover,
    'border-active': $stroke-button solid $color-button-text-stroke-press,
    'bg': $color-button-outlined-default,
    'color': $color-button-text-stroke-default,
    'bg-hover': $color-button-outlined-hover,
    'color-hover': $color-button-text-stroke-hover,
    'bg-active': $color-button-outlined-press,
    'color-active': $color-button-text-stroke-press,
    'focus-visible': (0 0 0 1px $color-focus-reversed, 0 0 0 3px $color-focus-default)
  ),
  'outlined-reverse': (
    'pb': 6px,
    'border': $stroke-button solid $color-button-text-stroke-reverse,
    'border-hover': $stroke-button solid $color-button-text-stroke-reverse,
    'border-active': $stroke-button solid $color-button-text-stroke-reverse,
    'bg': $color-button-outlined-reverse-default,
    'color': $color-button-text-stroke-reverse,
    'bg-hover': $color-button-outlined-reverse-hover,
    'color-hover': $color-button-text-stroke-reverse,
    'bg-active': $color-button-outlined-reverse-press,
    'color-active': $color-button-text-stroke-reverse,
    'focus-visible': (0 0 0 2px $color-focus-default, 0 0 0 3px $color-focus-reversed)
  ),
  'white': (
    'pb': 8px,
    'border': none,
    'border-hover': none,
    'border-active': none,
    'bg': $color-button-white-default,
    'color': $color-button-text-stroke-default,
    'bg-hover': $color-button-white-hover,
    'color-hover': $color-button-text-stroke-hover,
    'bg-active': $color-button-white-press,
    'color-active': $color-button-text-stroke-press,
    'focus-visible': (0 0 0 2px $color-focus-default, 0 0 0 3px $color-focus-reversed)
  ),
);

@mixin button($variant: 'primary', $font-size: $font-size-h5, $line-height: $font-height-h5, $min-width: 150px, $icon-w: 12px, $icon-h: 12px) {
  @extend %button-shared-layout;

  font-size: $font-size;
  line-height: $line-height;
  min-width: $min-width;

  @if not map.has-key($btn-variants, $variant) {
    @debug "Variant '#{$variant}' not found. Falling back to 'primary'.";

    $variant: 'primary';
  }

  $theme: map.get($btn-variants, $variant);

  border: map.get($theme, 'border');
  background-color: map.get($theme, 'bg');
  color: map.get($theme, 'color');
  padding-block: map.get($theme, 'pb');

  &:hover {
    border: map.get($theme, 'border-hover');
    background-color: map.get($theme, 'bg-hover');
    color: map.get($theme, 'color-hover');
  }

  &:active {
    border: map.get($theme, 'border-active');
    background-color: map.get($theme, 'bg-active');
    color: map.get($theme, 'color-active');
  }

  &:focus-visible {
    outline: none;
    box-shadow: map.get($theme, 'focus-visible');
  }

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $icon-w;
    height: $icon-h;
  }
}

$text-styles: (
  'large-heading': (
    'family': $font-family-lg,
    'size': $font-size-lg,
    'weight': $font-weight-lg,
    'height': $font-height-lg,
    'spacing': $font-letter-spacing-lg,
    'case': initial
  ),
  'heading1': (
    'family': $font-family-h1,
    'size': $font-size-h1,
    'weight': $font-weight-h1,
    'height': $font-height-h1,
    'spacing': $font-letter-spacing-h1,
    'case': initial
  ),
  'heading1-std': (
    'family': $font-family-h1-std,
    'size': $font-size-h1-std,
    'weight': $font-weight-h1-std,
    'height': $font-height-h1-std,
    'spacing': $font-letter-spacing-h1-std,
    'case': initial
  ),
  'heading2': (
    'family': $font-family-h2,
    'size': $font-size-h2,
    'weight': $font-weight-h2,
    'height': $font-height-h2,
    'spacing': $font-letter-spacing-h2,
    'case': initial
  ),
  'heading2-std': (
    'family': $font-family-h2-std,
    'size': $font-size-h2-std,
    'weight': $font-weight-h2-std,
    'height': $font-height-h2-std,
    'spacing': $font-letter-spacing-h2-std,
    'case': initial
  ),
  'heading3': (
    'family': $font-family-h3,
    'size': $font-size-h3,
    'weight': $font-weight-h3,
    'height': $font-height-h3,
    'spacing': $font-letter-spacing-h3,
    'case': initial
  ),
  'intro': (
    'family': $font-family-intro,
    'size': $font-size-intro,
    'weight': $font-weight-intro,
    'height': $font-height-intro,
    'spacing': $font-letter-spacing-intro,
    'case': initial
  ),
  'heading4': (
    'family': $font-family-h4,
    'size': $font-size-h4,
    'weight': $font-weight-h4,
    'height': $font-height-h4,
    'spacing': $font-letter-spacing-h4,
    'case': initial
  ),
  'heading5': (
    'family': $font-family-h5,
    'size': $font-size-h5,
    'weight': $font-weight-h5,
    'height': $font-height-h5,
    'spacing': $font-letter-spacing-h5,
    'case': initial
  ),
  'body': (
    'family': $font-family-body,
    'size': $font-size-body,
    'weight': $font-weight-body,
    'height': $font-height-body,
    'spacing': $font-letter-spacing-body,
    'case': initial
  ),
  'body-bold': (
    'family': $font-family-body,
    'size': $font-size-body,
    'weight': $font-weight-body-bold,
    'height': $font-height-body,
    'spacing': $font-letter-spacing-body,
    'case': initial
  ),
  'sm-body': (
    'family': $font-family-sm-body,
    'size': $font-size-sm-body,
    'weight': $font-weight-sm-body,
    'height': $font-height-sm-body,
    'spacing': $font-letter-spacing-sm-body,
    'case': initial
  ),
  'sm-body-bold': (
    'family': $font-family-sm-body,
    'size': $font-size-sm-body,
    'weight': $font-weight-body-bold,
    'height': $font-height-sm-body,
    'spacing': $font-letter-spacing-sm-body,
    'case': initial
  ),
  'disclaimer': (
    'family': $font-family-disc,
    'size': $font-size-disclaimer,
    'weight': $font-weight-disc,
    'height': $font-height-disclaimer,
    'spacing': $font-letter-spacing-disc,
    'case': initial
  ),
);

@mixin typography(
    $variant: 'body-regular', 
    $family: null,
    $size: null,
    $weight: null,
    $height: null,
    $spacing: null,
    $case: null,
) {
  @if not map.has-key($text-styles, $variant) {
    @debug "Typography variant '#{$variant}' not found. Falling back to 'body-regular'.";

    $variant: 'body-regular';
  }

  $style: map.get($text-styles, $variant);

  font-family: if($family, $family, map.get($style, 'family'));
  font-size: if($size, $size, map.get($style, 'size'));
  font-weight: if($weight, $weight, map.get($style, 'weight'));
  line-height: if($height, $height, map.get($style, 'height'));
  letter-spacing: if($spacing, $spacing, map.get($style, 'spacing'));
  text-transform: if($case, $case, map.get($style, 'case'));
}

// Large Heading Styles
@mixin typo-large-heading {
    @include typography('large-heading');
}

// Heading 1 Styles
@mixin typo-heading1 {
    @include typography('heading1');
}

@mixin typo-heading1-std {
    @include typography('heading1-std');
}

// Heading 2 Styles
@mixin typo-heading2 {
    @include typography('heading2');
}

@mixin typo-heading2-std {
    @include typography('heading2-std');
}

// Heading 3 Style
@mixin typo-heading3 {
    @include typography('heading3');
}

// Intro Style
@mixin typo-intro {
    @include typography('intro');
}

// Heading 4 Style
@mixin typo-heading4 {
    @include typography('heading4');
}

// Heading 5 Style
@mixin typo-heading5 {
    @include typography('heading5');
}

// Body Styles
@mixin typo-body {
    @include typography('body');
}

@mixin typo-body-bold {
    @include typography('body-bold');
}

// Small Body Styles
@mixin typo-sm-body {
    @include typography('sm-body');
}

@mixin typo-sm-body-bold {
    @include typography('sm-body-bold');
}

// Disclaimer Style
@mixin typo-disclaimer {
    @include typography('disclaimer');
}