@use 'mixins' as *;

:root {
  --carousel-card-fix: 304px;
  --carousel-fix-x: 64px;
  --col-1-2-2: 640px;
  --col-1-4-4: 640px;
  --desktop-visible: true;
  --device-width: 1344px;
  --font-height-body: 24px;
  --font-height-disclaimer: 18px;
  --font-height-h1-std: 44px;
  --font-height-h1: 40px;
  --font-height-h2-std: 39px;
  --font-height-h2: 32px;
  --font-height-h3: 29px;
  --font-height-h4: 24px;
  --font-height-h5: 24px;
  --font-height-intro: 36px;
  --font-height-lg: 52px;
  --font-height-sm-body: 21px;
  --font-size-body: 16px;
  --font-size-disclaimer: 12px;
  --font-size-h1-std: 40px;
  --font-size-h1: 40px;
  --font-size-h2-std: 32px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-h5: 16px;
  --font-size-intro: 24px;
  --font-size-lg: 60px;
  --font-size-sm-body: 14px;
  --gap-container-y: 40px;
  --gap-gap-0-24-80: 80px;
  --guide-count: 12px;
  --guide-gutter: 32px;
  --guide-width: 72px;
  --jump-menu-fix: 40px;
  --padding-jump-container-x: 24px;
  --padding-main-container-x: 64px;
  --padding-section-y: 80px;
  --radius-hero: 0px;
  --spacer: 24px;
  --tablet-desktop-visible: true;
  --width-logo: 150px;
  --width-thumbnail: 250px;
}

@include desktop-lg {
  :root {
    --carousel-fix-x: 244px;
    --device-width: 1800px;
    --guide-width: 80px;
    --radius-hero: 40px;
  }
}

@include tablet-lg {
  :root {
    --carousel-card-fix: 280px;
    --carousel-fix-x: 0px;
    --col-1-2-2: 520px;
    --col-1-4-4: 236px;
    --device-width: 1112px;
    --font-height-lg: 45px;
    --font-size-lg: 52px;
    --gap-gap-0-24-80: 24px;
    --guide-count: 8px;
    --guide-gutter: 24px;
    --guide-width: 112px;
    --jump-menu-fix: 64px;
    --mobile-tablet-visible: true;
    --padding-main-container-x: 24px;
    --padding-section-y: 64px;
    --spacer: 0px;
    --tablet-visible: true;
    --width-thumbnail: 175px;
  }
}

@include tablet {
  :root {
    --carousel-card-fix: 264px;
    --carousel-fix-x: 24px;
    --col-1-2-2: 360px;
    --col-1-4-4: 360px;
    --device-width: 792px;
    --font-height-lg: 45px;
    --font-size-lg: 52px;
    --gap-gap-0-24-80: 24px;
    --guide-count: 8px;
    --guide-gutter: 24px;
    --jump-menu-fix: 64px;
    --mobile-tablet-visible: true;
    --padding-main-container-x: 24px;
    --padding-section-y: 64px;
    --spacer: 0px;
    --tablet-visible: true;
    --width-thumbnail: 175px;
  }
}

@include mobile {
  :root {
    --carousel-card-fix: 300px;
    --carousel-fix-x: 16px;
    --col-1-2-2: 528px;
    --col-1-4-4: 528px;
    --device-width: 560px;
    --font-height-h1-std: 42px;
    --font-height-h1: 38px;
    --font-height-h2-std: 38px;
    --font-height-lg: 39px;
    --font-size-h1-std: 38px;
    --font-size-h1: 38px;
    --font-size-lg: 44px;
    --gap-container-y: 24px;
    --gap-gap-0-24-80: 0px;
    --guide-count: 4px;
    --guide-gutter: 16px;
    --guide-width: 120px;
    --jump-menu-fix: 64px;
    --mobile-tablet-visible: true;
    --mobile-visible: true;
    --padding-jump-container-x: 16px;
    --padding-main-container-x: 16px;
    --padding-section-y: 40px;
    --spacer: 0px;
    --width-logo: 100px;
    --width-thumbnail: 175px;
  }
}

@include mobile-s {
  :root {
    --carousel-card-fix: 300px;
    --carousel-fix-x: 16px;
    --col-1-2-2: 368px;
    --col-1-4-4: 368px;
    --device-width: 400px;
    --font-height-h1-std: 42px;
    --font-height-h1: 38px;
    --font-height-h2-std: 38px;
    --font-height-lg: 39px;
    --font-size-h1-std: 38px;
    --font-size-h1: 38px;
    --font-size-lg: 44px;
    --gap-container-y: 24px;
    --gap-gap-0-24-80: 0px;
    --guide-count: 4px;
    --guide-gutter: 16px;
    --guide-width: 80px;
    --jump-menu-fix: 64px;
    --mobile-tablet-visible: true;
    --mobile-visible: true;
    --padding-jump-container-x: 16px;
    --padding-main-container-x: 16px;
    --padding-section-y: 40px;
    --spacer: 0px;
    --width-logo: 100px;
    --width-thumbnail: 175px;
  }
}
