@use 'mixins' as *;

:root {
  --carousel-card-fix: 304px;
  --carousel-fix-x: 244px;
  --col-1-2-2: 640px;
  --col-1-4-4: 640px;
  --device-width: 1800px;
  --font-height-body: var(--font-d-height-body);
  --font-height-disclaimer: var(--font-d-height-disc);
  --font-height-h1-std: var(--font-d-height-h1-std);
  --font-height-h1: var(--font-d-height-h1);
  --font-height-h2-std: var(--font-d-height-h2-std);
  --font-height-h2: var(--font-d-height-h2);
  --font-height-h3: var(--font-d-height-h3);
  --font-height-h4: var(--font-d-height-h4);
  --font-height-h5: var(--font-d-height-h5);
  --font-height-intro: var(--font-d-height-intro);
  --font-height-lg: var(--font-d-height-lg);
  --font-height-sm-body: var(--font-d-height-sm-body);
  --font-size-body: var(--font-d-size-body);
  --font-size-disclaimer: var(--font-d-size-disc);
  --font-size-h1-std: var(--font-d-size-h1-std);
  --font-size-h1: var(--font-d-size-h1);
  --font-size-h2-std: var(--font-d-size-h2-std);
  --font-size-h2: var(--font-d-size-h2);
  --font-size-h3: var(--font-d-size-h3);
  --font-size-h4: var(--font-d-size-h4);
  --font-size-h5: var(--font-d-size-h5);
  --font-size-intro: var(--font-d-size-intro);
  --font-size-lg: var(--font-d-size-lg);
  --font-size-sm-body: var(--font-d-size-sm-body);
  --gap-container-y: var(--space-lg);
  --gap-gap-0-24-80: var(--space-2xl);
  --guide-count: 12px;
  --guide-gutter: 32px;
  --guide-width: 80px;
  --jump-menu-fix: 40px;
  --padding-jump-container-x: var(--space-sm);
  --padding-main-container-x: var(--space-xl);
  --padding-section-y: var(--space-2xl);
  --radius-hero: var(--radius-hero);
  --spacer: var(--space-sm);
  --width-logo: var(--width-logo-lg);
  --width-thumbnail: 250px;
}

@include desktop {
  :root {
    --carousel-fix-x: 64px;
    --device-width: 1344px;
    --guide-width: 72px;
    --radius-hero: 0px;
  }
}

@include tablet-lg {
  :root {
    --carousel-card-fix: 280px;
    --carousel-fix-x: 0px;
    --col-1-2-2: 520px;
    --col-1-4-4: 236px;
    --device-width: 1112px;
    --font-height-body: var(--font-t-height-body);
    --font-height-disclaimer: var(--font-t-height-disc);
    --font-height-h1-std: var(--font-t-height-h1-std);
    --font-height-h1: var(--font-t-height-h1);
    --font-height-h2-std: var(--font-t-height-h2-std);
    --font-height-h2: var(--font-t-height-h2);
    --font-height-h3: var(--font-t-height-h3);
    --font-height-h5: var(--font-t-height-h5);
    --font-height-intro: var(--font-t-height-intro);
    --font-height-lg: var(--font-t-height-lg);
    --font-height-sm-body: var(--font-t-height-sm-body);
    --font-size-body: var(--font-t-size-body);
    --font-size-disclaimer: var(--font-t-size-disc);
    --font-size-h1-std: var(--font-t-size-h1-std);
    --font-size-h1: var(--font-t-size-h1);
    --font-size-h2-std: var(--font-t-size-h2-std);
    --font-size-h2: var(--font-t-size-h2);
    --font-size-h3: var(--font-t-size-h3);
    --font-size-h4: var(--font-t-size-h4);
    --font-size-h5: var(--font-t-size-h5);
    --font-size-intro: var(--font-t-size-intro);
    --font-size-lg: var(--font-t-size-lg);
    --font-size-sm-body: var(--font-t-size-sm-body);
    --gap-gap-0-24-80: var(--space-sm);
    --guide-count: 8px;
    --guide-gutter: 24px;
    --guide-width: 112px;
    --jump-menu-fix: 64px;
    --padding-main-container-x: var(--space-sm);
    --padding-section-y: var(--space-xl);
    --radius-hero: 0px;
    --spacer: 0px;
    --width-thumbnail: 175px;
  }
}

@include tablet {
  :root {
    --carousel-card-fix: 264px;
    --carousel-fix-x: var(--space-sm);
    --col-1-2-2: 360px;
    --col-1-4-4: 360px;
    --device-width: 792px;
    --font-height-body: var(--font-t-height-body);
    --font-height-disclaimer: var(--font-t-height-disc);
    --font-height-h1-std: var(--font-t-height-h1-std);
    --font-height-h1: var(--font-t-height-h1);
    --font-height-h2-std: var(--font-t-height-h2-std);
    --font-height-h2: var(--font-t-height-h2);
    --font-height-h3: var(--font-t-height-h3);
    --font-height-h5: var(--font-t-height-h5);
    --font-height-intro: var(--font-t-height-intro);
    --font-height-lg: var(--font-t-height-lg);
    --font-height-sm-body: var(--font-t-height-sm-body);
    --font-size-body: var(--font-t-size-body);
    --font-size-disclaimer: var(--font-t-size-disc);
    --font-size-h1-std: var(--font-t-size-h1-std);
    --font-size-h1: var(--font-t-size-h1);
    --font-size-h2-std: var(--font-t-size-h2-std);
    --font-size-h2: var(--font-t-size-h2);
    --font-size-h3: var(--font-t-size-h3);
    --font-size-h4: var(--font-t-size-h4);
    --font-size-h5: var(--font-t-size-h5);
    --font-size-intro: var(--font-t-size-intro);
    --font-size-lg: var(--font-t-size-lg);
    --font-size-sm-body: var(--font-t-size-sm-body);
    --gap-gap-0-24-80: var(--space-sm);
    --guide-count: 8px;
    --guide-gutter: 24px;
    --guide-width: 72px;
    --jump-menu-fix: 64px;
    --padding-main-container-x: var(--space-sm);
    --padding-section-y: var(--space-xl);
    --radius-hero: 0px;
    --spacer: 0px;
    --width-thumbnail: 175px;
  }
}

@include mobile {
  :root {
    --carousel-card-fix: 300px;
    --carousel-fix-x: var(--space-xs);
    --col-1-2-2: 528px;
    --col-1-4-4: 528px;
    --device-width: 560px;
    --font-height-body: var(--font-m-height-body);
    --font-height-disclaimer: var(--font-m-height-disc);
    --font-height-h1-std: var(--font-m-height-h1-std);
    --font-height-h1: var(--font-m-height-h1);
    --font-height-h2-std: var(--font-m-height-h2-std);
    --font-height-h2: var(--font-m-height-h2);
    --font-height-h3: var(--font-m-height-h3);
    --font-height-h4: var(--font-m-height-h4);
    --font-height-h5: var(--font-m-height-h5);
    --font-height-intro: var(--font-m-height-intro);
    --font-height-lg: var(--font-m-height-lg);
    --font-height-sm-body: var(--font-m-height-sm-body);
    --font-size-body: var(--font-m-size-body);
    --font-size-disclaimer: var(--font-m-size-disc);
    --font-size-h1-std: var(--font-m-size-h1-std);
    --font-size-h1: var(--font-m-size-h1);
    --font-size-h2-std: var(--font-m-size-h2-std);
    --font-size-h2: var(--font-m-size-h2);
    --font-size-h3: var(--font-m-size-h3);
    --font-size-h4: var(--font-m-size-h4);
    --font-size-h5: var(--font-m-size-h5);
    --font-size-intro: var(--font-m-size-intro);
    --font-size-lg: var(--font-m-size-lg);
    --font-size-sm-body: var(--font-m-size-sm-body);
    --gap-container-y: var(--space-sm);
    --gap-gap-0-24-80: 0px;
    --guide-count: 4px;
    --guide-gutter: 16px;
    --guide-width: 120px;
    --jump-menu-fix: 64px;
    --padding-jump-container-x: var(--space-xs);
    --padding-main-container-x: var(--space-xs);
    --padding-section-y: var(--space-lg);
    --radius-hero: 0px;
    --spacer: 0px;
    --width-logo: var(--width-logo-sm);
    --width-thumbnail: 175px;
  }
}

@include mobile-s {
  :root {
    --carousel-card-fix: 300px;
    --carousel-fix-x: var(--space-xs);
    --col-1-2-2: 368px;
    --col-1-4-4: 368px;
    --device-width: 400px;
    --font-height-body: var(--font-m-height-body);
    --font-height-disclaimer: var(--font-m-height-disc);
    --font-height-h1-std: var(--font-m-height-h1-std);
    --font-height-h1: var(--font-m-height-h1);
    --font-height-h2-std: var(--font-m-height-h2-std);
    --font-height-h2: var(--font-m-height-h2);
    --font-height-h3: var(--font-m-height-h3);
    --font-height-h4: var(--font-m-height-h4);
    --font-height-h5: var(--font-m-height-h5);
    --font-height-intro: var(--font-m-height-intro);
    --font-height-lg: var(--font-m-height-lg);
    --font-height-sm-body: var(--font-m-height-sm-body);
    --font-size-body: var(--font-m-size-body);
    --font-size-disclaimer: var(--font-m-size-disc);
    --font-size-h1-std: var(--font-m-size-h1-std);
    --font-size-h1: var(--font-m-size-h1);
    --font-size-h2-std: var(--font-m-size-h2-std);
    --font-size-h2: var(--font-m-size-h2);
    --font-size-h3: var(--font-m-size-h3);
    --font-size-h4: var(--font-m-size-h4);
    --font-size-h5: var(--font-m-size-h5);
    --font-size-intro: var(--font-m-size-intro);
    --font-size-lg: var(--font-m-size-lg);
    --font-size-sm-body: var(--font-m-size-sm-body);
    --gap-container-y: var(--space-sm);
    --gap-gap-0-24-80: 0px;
    --guide-count: 4px;
    --guide-gutter: 16px;
    --jump-menu-fix: 64px;
    --padding-jump-container-x: var(--space-xs);
    --padding-main-container-x: var(--space-xs);
    --padding-section-y: var(--space-lg);
    --radius-hero: 0px;
    --spacer: 0px;
    --width-logo: var(--width-logo-sm);
    --width-thumbnail: 175px;
  }
}
