@use './mixins' as *;

.d-none {
  display: none !important;
}

.spacer-bottom {
  margin-bottom: 80px;
  
  @include tablet {
    margin-bottom: 60px;
  }

  @include mobile {
    margin-bottom: 40px;
  }
}

.spacer-top {
  margin-top: 80px;
  
  @include tablet {
    margin-top: 60px;
  }

  @include mobile {
    margin-top: 40px;
  }
}

.top-margin {
  margin-top: 80px;

  @include tablet-lg {
    margin-top: 64px;
  }

  @include mobile {
    margin-top: 40px;
  }
}

.bottom-margin {
  margin-bottom: 80px;

  @include tablet-lg {
    margin-bottom: 64px;
  }

  @include mobile {
    margin-bottom: 40px;
  }
}

.top-padding {
  padding-top: 80px;

  @include tablet-lg {
    padding-top: 64px;
  }

  @include mobile {
    padding-top: 40px;
  }
}

.bottom-padding {
  padding-bottom: 80px;

  @include tablet-lg {
    padding-bottom: 64px;
  }

  @include mobile {
    padding-bottom: 40px;
  }
}
