/* ---------- CUSTOM VARIABLES ---------- */
$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);
$gradient-1: var(--gradient-1);
$gradient-2: var(--gradient-2);
$gradient-after: var(--gradient-after);
$body-default-alt: var(--body-default-alt);
$link-default-alt: var(--link-default-alt);
$large-heading-case: var(--large-heading-case);
$heading1-case: var(--heading1-case);
$heading1-std-case: var(--heading1-std-case);
$heading2-case: var(--heading2-case);
$heading2-std-case: var(--heading2-std-case);
$heading3-case: var(--heading3-case);
$intro-case: var(--intro-case);
$heading4-case: var(--heading4-case);
$heading5-case: var(--heading5-case);
$body-case: var(--body-case);
$body-bold-case: var(--body-bold-case);
$sm-body-case: var(--sm-body-case);
$sm-body-bold-case: var(--sm-body-bold-case);
$disclaimer-case: var(--disclaimer-case);