/* ---------- CUSTOM VARIABLES ---------- */
$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);
$gradient-1: var(--gradient-1);
$gradient-2: var(--gradient-2);
$gradient-after: var(--gradient-after);
$body-default-alt: var(--body-default-alt);
$link-default-alt: var(--link-default-alt);
$large-heading-case: --large-heading-case;
$heading1-case: --heading1-case;
$heading1-std-case: --heading1-std-case;
$heading2-case: --heading2-case;
$heading2-std-case: --heading2-std-case;
$heading3-case: --heading3-case;
$intro-case: --intro-case;
$heading4-case: --heading4-case;
$heading5-case: --heading5-case;
$body-case: --body-case;
$body-bold-case: --body-bold-case;
$sm-body-case: --sm-body-case;
$sm-body-bold-case: --sm-body-bold-case;
$disclaimer-case: --disclaimer-case;