$bg-accent: var(--bg-accent);
$bg-default: var(--bg-default);
$bg-light-2: var(--bg-light-2);
$bg-light-3: var(--bg-light-3);
$bg-light: var(--bg-light);
$bg-reverse-2: var(--bg-reverse-2);
$bg-reverse: var(--bg-reverse);
$body-accent: var(--body-accent);
$body-default: var(--body-default);
$body-light-2: var(--body-light-2);
$body-light-3: var(--body-light-3);
$body-light: var(--body-light);
$body-reverse-2: var(--body-reverse-2);
$body-reverse: var(--body-reverse);
$burst-accent: var(--burst-accent);
$burst-default: var(--burst-default);
$burst-light-2: var(--burst-light-2);
$burst-light-3: var(--burst-light-3);
$burst-light: var(--burst-light);
$burst-reverse-2: var(--burst-reverse-2);
$burst-reverse: var(--burst-reverse);
$heading-accent: var(--heading-accent);
$heading-default: var(--heading-default);
$heading-light-2: var(--heading-light-2);
$heading-light-3: var(--heading-light-3);
$heading-light: var(--heading-light);
$heading-reverse-2: var(--heading-reverse-2);
$heading-reverse: var(--heading-reverse);
$icon-2-accent: var(--icon-2-accent);
$icon-2-default: var(--icon-2-default);
$icon-2-light-2: var(--icon-2-light-2);
$icon-2-light-3: var(--icon-2-light-3);
$icon-2-light: var(--icon-2-light);
$icon-2-reverse-2: var(--icon-2-reverse-2);
$icon-2-reverse: var(--icon-2-reverse);
$icon-accent: var(--icon-accent);
$icon-bg-accent: var(--icon-bg-accent);
$icon-bg-default: var(--icon-bg-default);
$icon-bg-light-2: var(--icon-bg-light-2);
$icon-bg-light-3: var(--icon-bg-light-3);
$icon-bg-light: var(--icon-bg-light);
$icon-bg-reverse-2: var(--icon-bg-reverse-2);
$icon-bg-reverse: var(--icon-bg-reverse);
$icon-default: var(--icon-default);
$icon-light-2: var(--icon-light-2);
$icon-light-3: var(--icon-light-3);
$icon-light: var(--icon-light);
$icon-reverse-2: var(--icon-reverse-2);
$icon-reverse: var(--icon-reverse);
$line-accent: var(--line-accent);
$line-default: var(--line-default);
$line-light-2: var(--line-light-2);
$line-light-3: var(--line-light-3);
$line-light: var(--line-light);
$line-reverse-2: var(--line-reverse-2);
$line-reverse: var(--line-reverse);
$link-accent: var(--link-accent);
$link-default: var(--link-default);
$link-light-2: var(--link-light-2);
$link-light-3: var(--link-light-3);
$link-light: var(--link-light);
$link-reverse-2: var(--link-reverse-2);
$link-reverse: var(--link-reverse);
$stroke-accent: var(--stroke-accent);
$stroke-default: var(--stroke-default);
$stroke-light-2: var(--stroke-light-2);
$stroke-light-3: var(--stroke-light-3);
$stroke-light: var(--stroke-light);
$stroke-reverse-2: var(--stroke-reverse-2);
$stroke-reverse: var(--stroke-reverse);

$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);