/* ---------- CUSTOM VARIABLES ---------- */
$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);
$gradient-1: var(--gradient-1);
$gradient-2: var(--gradient-2);
$gradient-after: var(--gradient-after);