@forward './variables-old';

$color-background-background: var(--color-background-background);
$color-background-background-2: var(--color-background-background-2);
$color-background-background-3: var(--color-background-background-3);
$color-background-background-4: var(--color-background-background-4);
$color-background-background-5: var(--color-background-background-5);
$color-banner-CTA-surface: var(--color-banner-CTA-surface);
$color-banner-hero-carousal-selected: var(--color-banner-hero-carousal-selected);
$color-banner-hero-carousal-surface: var(--color-banner-hero-carousal-surface);
$color-banner-hero-carousal-unselected: var(--color-banner-hero-carousal-unselected);
$color-button-outlined-default: var(--color-button-outlined-default);
$color-button-outlined-hover: var(--color-button-outlined-hover);
$color-button-outlined-press: var(--color-button-outlined-press);
$color-button-outlined-reverse-default: var(--color-button-outlined-reverse-default);
$color-button-outlined-reverse-hover: var(--color-button-outlined-reverse-hover);
$color-button-outlined-reverse-press: var(--color-button-outlined-reverse-press);
$color-button-outlined-white-default: var(--color-button-outlined-white-default);
$color-button-outlined-white-hover: var(--color-button-outlined-white-hover);
$color-button-outlined-white-press: var(--color-button-outlined-white-press);
$color-button-primary-default: var(--color-button-primary-default);
$color-button-primary-hover: var(--color-button-primary-hover);
$color-button-primary-press: var(--color-button-primary-press);
$color-button-secondary-default: var(--color-button-secondary-default);
$color-button-secondary-hover: var(--color-button-secondary-hover);
$color-button-secondary-press: var(--color-button-secondary-press);
$color-button-text-stroke-default: var(--color-button-text-stroke-default);
$color-button-text-stroke-hover: var(--color-button-text-stroke-hover);
$color-button-text-stroke-press: var(--color-button-text-stroke-press);
$color-button-text-stroke-reverse: var(--color-button-text-stroke-reverse);
$color-button-white-default: var(--color-button-white-default);
$color-button-white-hover: var(--color-button-white-hover);
$color-button-white-press: var(--color-button-white-press);
$color-card-card-carousal-surface: var(--color-card-card-carousal-surface);
$color-card-surface: var(--color-card-surface);
$color-card-surface-2: var(--color-card-surface-2);
$color-card-surface-white: var(--color-card-surface-white);
$color-focus-default: var(--color-focus-default);
$color-focus-reversed: var(--color-focus-reversed);
$color-icon-Body: var(--color-icon-Body);
$color-icon-Nav: var(--color-icon-Nav);
$color-icon-Reversed: var(--color-icon-Reversed);
$color-icon-Surface: var(--color-icon-Surface);
$color-stroke-card: var(--color-stroke-card);
$color-stroke-link-default: var(--color-stroke-link-default);
$color-stroke-link-hover: var(--color-stroke-link-hover);
$color-stroke-primary: var(--color-stroke-primary);
$color-stroke-reversed: var(--color-stroke-reversed);
$color-stroke-secondary: var(--color-stroke-secondary);
$color-surface-Icon: var(--color-surface-Icon);
$color-surface-light: var(--color-surface-light);
$color-surface-nav: var(--color-surface-nav);
$color-surface-search: var(--color-surface-search);
$color-surface-secondary-nav: var(--color-surface-secondary-nav);
$color-text-default-body: var(--color-text-default-body);
$color-text-default-heading: var(--color-text-default-heading);
$color-text-default-heading-card-1: var(--color-text-default-heading-card-1);
$color-text-default-placeholder: var(--color-text-default-placeholder);
$color-text-link-nav: var(--color-text-link-nav);
$color-text-link-secondary-nav: var(--color-text-link-secondary-nav);
$color-text-reversed-body: var(--color-text-reversed-body);
$color-text-reversed-heading: var(--color-text-reversed-heading);
$color-text-reversed-placeholder-light: var(--color-text-reversed-placeholder-light);
$color-text-reversed-placeholder-light-2: var(--color-text-reversed-placeholder-light-2);
$font-D-height-body: var(--font-D-height-body);
$font-D-height-disc: var(--font-D-height-disc);
$font-D-height-h1: var(--font-D-height-h1);
$font-D-height-h1-std: var(--font-D-height-h1-std);
$font-D-height-h2: var(--font-D-height-h2);
$font-D-height-h2-std: var(--font-D-height-h2-std);
$font-D-height-h3: var(--font-D-height-h3);
$font-D-height-h4: var(--font-D-height-h4);
$font-D-height-h5: var(--font-D-height-h5);
$font-D-height-intro: var(--font-D-height-intro);
$font-D-height-lg: var(--font-D-height-lg);
$font-D-height-sm-body: var(--font-D-height-sm-body);
$font-D-size-body: var(--font-D-size-body);
$font-D-size-disc: var(--font-D-size-disc);
$font-D-size-h1: var(--font-D-size-h1);
$font-D-size-h1-std: var(--font-D-size-h1-std);
$font-D-size-h2: var(--font-D-size-h2);
$font-D-size-h2-std: var(--font-D-size-h2-std);
$font-D-size-h3: var(--font-D-size-h3);
$font-D-size-h4: var(--font-D-size-h4);
$font-D-size-h5: var(--font-D-size-h5);
$font-D-size-intro: var(--font-D-size-intro);
$font-D-size-lg: var(--font-D-size-lg);
$font-D-size-sm-body: var(--font-D-size-sm-body);
$font-M-height-body: var(--font-M-height-body);
$font-M-height-disc: var(--font-M-height-disc);
$font-M-height-h1: var(--font-M-height-h1);
$font-M-height-h1-std: var(--font-M-height-h1-std);
$font-M-height-h2: var(--font-M-height-h2);
$font-M-height-h2-std: var(--font-M-height-h2-std);
$font-M-height-h3: var(--font-M-height-h3);
$font-M-height-h4: var(--font-M-height-h4);
$font-M-height-h5: var(--font-M-height-h5);
$font-M-height-intro: var(--font-M-height-intro);
$font-M-height-lg: var(--font-M-height-lg);
$font-M-height-sm-body: var(--font-M-height-sm-body);
$font-M-size-body: var(--font-M-size-body);
$font-M-size-disc: var(--font-M-size-disc);
$font-M-size-h1: var(--font-M-size-h1);
$font-M-size-h1-std: var(--font-M-size-h1-std);
$font-M-size-h2: var(--font-M-size-h2);
$font-M-size-h2-std: var(--font-M-size-h2-std);
$font-M-size-h3: var(--font-M-size-h3);
$font-M-size-h4: var(--font-M-size-h4);
$font-M-size-h5: var(--font-M-size-h5);
$font-M-size-intro: var(--font-M-size-intro);
$font-M-size-lg: var(--font-M-size-lg);
$font-M-size-sm-body: var(--font-M-size-sm-body);
$font-T-height-body: var(--font-T-height-body);
$font-T-height-disc: var(--font-T-height-disc);
$font-T-height-h1: var(--font-T-height-h1);
$font-T-height-h1-std: var(--font-T-height-h1-std);
$font-T-height-h2: var(--font-T-height-h2);
$font-T-height-h2-std: var(--font-T-height-h2-std);
$font-T-height-h3: var(--font-T-height-h3);
$font-T-height-h4: var(--font-T-height-h4);
$font-T-height-h5: var(--font-T-height-h5);
$font-T-height-intro: var(--font-T-height-intro);
$font-T-height-lg: var(--font-T-height-lg);
$font-T-height-sm-body: var(--font-T-height-sm-body);
$font-T-size-body: var(--font-T-size-body);
$font-T-size-disc: var(--font-T-size-disc);
$font-T-size-h1: var(--font-T-size-h1);
$font-T-size-h1-std: var(--font-T-size-h1-std);
$font-T-size-h2: var(--font-T-size-h2);
$font-T-size-h2-std: var(--font-T-size-h2-std);
$font-T-size-h3: var(--font-T-size-h3);
$font-T-size-h4: var(--font-T-size-h4);
$font-T-size-h5: var(--font-T-size-h5);
$font-T-size-intro: var(--font-T-size-intro);
$font-T-size-lg: var(--font-T-size-lg);
$font-T-size-sm-body: var(--font-T-size-sm-body);
$font-family-body: var(--font-family-body);
$font-family-body-bold: var(--font-family-body-bold);
$font-family-disc: var(--font-family-disc);
$font-family-h1: var(--font-family-h1);
$font-family-h1-std: var(--font-family-h1-std);
$font-family-h2: var(--font-family-h2);
$font-family-h2-std: var(--font-family-h2-std);
$font-family-h3: var(--font-family-h3);
$font-family-h4: var(--font-family-h4);
$font-family-h5: var(--font-family-h5);
$font-family-intro: var(--font-family-intro);
$font-family-lg: var(--font-family-lg);
$font-family-sm-body: var(--font-family-sm-body);
$font-letter-spacing-body: var(--font-letter-spacing-body);
$font-letter-spacing-disc: var(--font-letter-spacing-disc);
$font-letter-spacing-h1: var(--font-letter-spacing-h1);
$font-letter-spacing-h1-std: var(--font-letter-spacing-h1-std);
$font-letter-spacing-h2: var(--font-letter-spacing-h2);
$font-letter-spacing-h2-std: var(--font-letter-spacing-h2-std);
$font-letter-spacing-h3: var(--font-letter-spacing-h3);
$font-letter-spacing-h4: var(--font-letter-spacing-h4);
$font-letter-spacing-h5: var(--font-letter-spacing-h5);
$font-letter-spacing-intro: var(--font-letter-spacing-intro);
$font-letter-spacing-lg: var(--font-letter-spacing-lg);
$font-letter-spacing-sm-body: var(--font-letter-spacing-sm-body);
$font-weight-body: var(--font-weight-body);
$font-weight-body-bold: var(--font-weight-body-bold);
$font-weight-disc: var(--font-weight-disc);
$font-weight-h1: var(--font-weight-h1);
$font-weight-h1-std: var(--font-weight-h1-std);
$font-weight-h2: var(--font-weight-h2);
$font-weight-h2-std: var(--font-weight-h2-std);
$font-weight-h3: var(--font-weight-h3);
$font-weight-h4: var(--font-weight-h4);
$font-weight-h5: var(--font-weight-h5);
$font-weight-intro: var(--font-weight-intro);
$font-weight-lg: var(--font-weight-lg);
$font-weight-sm-body: var(--font-weight-sm-body);
$radius-button: var(--radius-button);
$radius-card: var(--radius-card);
$radius-menu-link: var(--radius-menu-link);
$stroke-button: var(--stroke-button);
$width-logo-lg: var(--width-logo-lg);
$width-logo-sm: var(--width-logo-sm);

$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);
