.breadcrumb{
  align-items:center;
  color:var(--text-primary);
  display:flex;
  flex-wrap:wrap;
  font-size:14px;
  font-weight:400;
  justify-content:flex-start;
  line-height:24px;
  margin:0 auto;
  max-width:1328px;
  padding:64px 32px 32px;
  width:100%;
}

.breadcrumb a{
  align-items:center;
  display:flex;
  gap:8px;
}

.breadcrumb a:has(img){
  font-weight:600;
}

.breadcrumb span{
  display:block;
  margin:0 8px 0 4px;
}

@media screen and (max-width: 767px){
  .breadcrumb{
    padding:36px 16px 48px;
  }
}
