@use '../../styles/base' as *;

.breadcrumb {
  @include responsive-container;

  padding-top: 64px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
  color: $body-default;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-transform: capitalize;

  @include mobile {
    padding-top: 24px;
    padding-bottom: 24px;

    &:has(img) {
      padding-top: 44px;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 8px;

    &:has(img) {
      font-weight: 600;
    }
  }

  span {
    display: block;
    margin: 0 8px 0 4px;
  }
}