/* ---------- BORDER VARIABLES ---------- */
/* ---------- BORDER VARIABLES ---------- */
/* ---------- TEXT VARIABLES ---------- */
/* -------------------- */
/* -------------------- */
/* ---------- TEXT VARIABLES ---------- */
/* ---------- SURFACE VARIABLES ---------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* ---------- SURFACE VARIABLES ---------- */
/* ---------- FONTS VARIABLES ---------- */
/* ---------- FONTS VARIABLES ---------- */
/* ---------- MEDIA MIXINS ----------
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
*/
/* ---------- MEDIA MIXINS UPDATED ---------- */
/* ---------- LAYOUT MIXINS ---------- */
.breadcrumb {
  max-width: 1328px;
  padding: 64px 32px 32px 32px;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-primary);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .breadcrumb {
    padding: 36px 16px 48px 16px;
  }
}
.breadcrumb span {
  display: block;
  margin: 0 8px 0 4px;
}
