.breadcrumb{
  align-items:center;
  color:var(--link-default);
  display:flex;
  flex-wrap:wrap;
  font-size:14px;
  font-weight:400;
  justify-content:flex-start;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  max-width:calc(1440px - 0px);
  padding-block:16px;
  padding-inline:64px;
  text-transform:capitalize;
  width:100%;
}

.breadcrumb a{
  align-items:center;
  display:flex;
  gap:8px;
}

.breadcrumb a:has(img){
  font-weight:600;
}

.breadcrumb span{
  display:block;
  margin:0 8px 0 4px;
}

@media screen and (max-width: 1279px){
  .breadcrumb{
    padding-inline:24px;
  }
}

@media screen and (max-width: 767px){
  .breadcrumb{
    padding-inline:16px;
  }
}
