@use '../../styles/base' as *;

.breadcrumb {
  @include responsive-container;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-transform: capitalize;
  color: $link-default;
  padding-block: 16px;

  a {
    display: flex;
    align-items: center;
    gap: 8px;

    &:has(img) {
      font-weight: 600;
    }
  }

  span {
    display: block;
    margin: 0 8px 0 4px;
  }
}