@use '../../styles/base' as *;
@use '../../styles/variables';

.banking-for-good {
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  color: #fff;
  display: flex;
  height: 500px;
  overflow: hidden;
  position: relative;

  @include mobile {
    height: 300px;
  }

  &::after {
    background: linear-gradient(180deg, rgb(232 207 207 / 0%) 35.38%, rgb(0 0 0 / 90%) 99.96%);
    border-radius: 24px;
    inset: 0;
    pointer-events: none;
    position: absolute;
  }

  // General UL/LI styles
  ul {
    background: linear-gradient(180deg, rgb(232 207 207 / 0%) 35.38%, rgb(0 0 0 / 90%) 99.96%);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      a {
        color: $text-light;
        filter: drop-shadow(0 0 0.5px rgb(52 51 51));
        font-size: 20px;
        letter-spacing: 0.4px;
        line-height: 24px;
        text-decoration: none;

        @include mobile {
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 0.2px;
        }
      }

      ul {
        background: unset;
        border-radius: 12px;
        bottom: 110px;
        opacity: 0;
        position: absolute;
        transform: translateY(100%);
        transition: transform 0.6s ease, opacity 0.6s ease;
        width: 100%;
        left: 0;
        padding: 0 32px;

        li {
          &:last-child {
            bottom: -50px;
            position: absolute;

            @include mobile {
              margin-top: 12px;
              position: unset;
            }
          }
        }

        @include mobile {
          background: #00525B;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          bottom: 0;
          box-sizing: border-box;
          color: #F5F8DE;
          height: fit-content;
          left: 0;
          padding: 20px 24px;
          transition: transform 0.5s ease;
          z-index: 9999;
        }
      }
    }
  }

  // Hover/Focus states for UL/LI selectors
  &:hover,
  &:has(:focus) {
    ul {
      li {
        ul {
          opacity: 1;
          transform: translateY(10%);
        }
      }
    }
  }

  // Hover/Focus states with media query isolation (for specificity)
  @include mobile {
    &.active ul li ul,
    &:hover ul li ul,
    &:has(:focus) ul li ul {
      transform: translateY(0);
    }

    &:hover .banking-good-item:last-child > div > ul > li:first-child,
    &:has(:focus) .banking-good-item:last-child > div > ul > li:first-child {
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, #00525B 0%, #00525B 24%, #fff 25%, #fff 75%, #00525B 76%, #00525B 100%);
      border-top: 5px solid transparent;
      line-height: 25px;
      padding-top: 15px;
    }
  }

  // General .banking-good-item styles
  .banking-good-item {
    color: $text-light;
    display: flex;
    filter: drop-shadow(0 0 0.5px rgb(52 51 51));
    flex-direction: column;
    font-size: 20px;
    justify-content: flex-end;
    letter-spacing: 0.4px;
    line-height: 24px;
    padding: 15px 32px;

    @include mobile {
      padding: 0 18px;
    }

    &:nth-child(1) {
      & > div > p {
        color: #F5F8DE;
        font-size: 30px;
        font-style: normal;
        letter-spacing: 0.16px;
        line-height: 40px;
        text-transform: uppercase;
        transform: translateY(0);
        transition: opacity 0.6s ease, transform 0.6s ease;

        @include mobile {
          font-family: $secondary-font;
          font-size: 20px;
          letter-spacing: 0.4px;
          line-height: 24px;
        }
      }

      @include mobile {
        display: none;
      }
    }

    &:nth-child(2) {
      @include mobile {
        display: block;
        height: fit-content;
      }
    }
  }

  // Hover/Focus states for .banking-good-item selectors
  &:hover,
  &:has(:focus) {
    .banking-good-item {
      &:nth-child(1) > div > p {
        opacity: 0;
        transform: translateY(-30px);
      }
    }
  }
}

.section.banking-good-container {
  align-items: center;
  gap: 34px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 1452px;
  padding: 0 40px;

  & > div.banking-good-wrapper {
    border-radius: 24px;
    margin: 0;
    padding: 0;
    width: 100%;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      max-width: unset;
      width: 100% !important;
    }
  }

  .banking-good-wrapper {
    &:not(.card-1) {
      .banking-good-item:nth-child(2) > div > p {
        display: none;

        @include mobile {
          display: block;
          font-size: 18px;
          padding-bottom: 25px;
          text-transform: uppercase;
        }
      }

      .banking-good-item:last-child {
        @include mobile {
          bottom: 0;
          display: block;
          height: auto;
          left: 0;
          padding: 0;
          position: fixed;
          width: 100%;
          z-index: 2;
        }
      }
    }

    &.card-1 {
      .banking-for-good {
        align-items: flex-start;
        padding: 0 24px 10px;

        &::after {
          background: none;
          border-radius: 24px;
          content: "";
          inset: 0;
          pointer-events: none;
          position: absolute;
        }

        ul {
          &:first-child {
            background: none;
            justify-content: flex-start;
          }

          .banking-good-item {
            @include mobile {
              padding: 15px 0;
            }
            
            &:nth-child(2),
            &:nth-child(3) {
              padding: 0 32px;
            }

            &:nth-child(2) {
              div {
                p {
                  color: #00525B;
                  font-size: 30px;
                  margin-top: 95px;
                  text-transform: uppercase;
                }
              }

              @include mobile {
                padding: 0;

                div {
                  p {
                    color: $text-brand;
                    font-size: 20px;
                    letter-spacing: 0.4px;
                    line-height: 24px;
                    margin-top: 35px;
                    text-transform: uppercase;
                  }
                }
              }
            }

            &:nth-child(3) {
              @include mobile {
                div {
                  p {
                    color: $text-primary;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                  }
                }
              }
            }

            &:nth-child(4) {
              div {
                p {
                  color: $text-primary;
                  font-size: 19px;
                  font-weight: 100;
                  line-height: 24px;
                }
              }

              @include mobile {
                padding: 0;

                div {
                  p {
                    color: $text-primary;
                    font-size: 16px;
                    font-weight: 100;
                    line-height: 18px;
                    margin-top: 10px;
                  }
                }
              }
            }
          }
        }

        @include mobile {
          max-width: unset;
          padding: 0;
          width: 100%;
        }
      }

      @include mobile {
        order: 3;
      }
    }

    &.card-2 {
      @include mobile {
        order: 1;
      }
    }

    &.card-3 {
      @include mobile {
        order: 2;
      }
    }

    &.card-4 {
      @include mobile {
        order: 4;
      }
    }

    &.card-5 {
      @include mobile {
        order: 6;
      }
    }

    &.card-6 {
      @include mobile {
        order: 5;
      }
    }
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    gap: 23px;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
}

// General utility selectors
.desktop-heading {
  display: block;
}

// Grouped, comma-separated selectors with nested media queries
.bottom-li-1,
.bottom-li-4,
.bottom-li-7,
.bottom-li-10,
.bottom-li-13 {
  display: none;

  @include mobile {
    color: #F5F8DE;
    display: block;
    line-height: 14px;
    padding-bottom: 15px;
    text-transform: uppercase;
    word-spacing: 1px;
  }
}

.bottom-li-2,
.bottom-li-5,
.bottom-li-8,
.bottom-li-11,
.bottom-li-14 {
  @include mobile {
    color: #F5F8DE;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
    padding-bottom: 7px;
  }
}

.bottom-li-3,
.bottom-li-6,
.bottom-li-9,
.bottom-li-12,
.bottom-li-15 {
  @include mobile {
    color: #F5F8DE;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 7px;
  }
}

// Mobile-only fixes for the duplicate selector
.banking-good {
  @include mobile {
    width: 100%;
  }
}