.banking-for-good{
  align-items:flex-end;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:24px;
  color:#fff;
  display:flex;
  height:500px;
  overflow:hidden;
  position:relative;
}

.banking-for-good::after{
  background:linear-gradient(180deg, rgb(232 207 207 / 0%) 35.38%, rgb(0 0 0 / 90%) 99.96%);
  border-radius:24px;
  inset:0;
  pointer-events:none;
  position:absolute;
}

.banking-for-good ul{
  background:linear-gradient(180deg, rgb(232 207 207 / 0%) 35.38%, rgb(0 0 0 / 90%) 99.96%);
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:flex-end;
  list-style-type:none;
  margin:0;
  padding:0;
  width:100%;
}

.banking-for-good ul li a{
  color:var(--text-light);
  filter:drop-shadow(0 0 0.5px rgb(52 51 51));
  font-size:20px;
  letter-spacing:0.4px;
  line-height:24px;
  text-decoration:none;
}

.banking-for-good ul li ul{
  background:unset;
  border-radius:12px;
  bottom:110px;
  left:0;
  opacity:0;
  padding:0 32px;
  position:absolute;
  transform:translateY(100%);
  transition:transform 0.6s ease, opacity 0.6s ease;
  width:100%;
}

.banking-for-good ul li ul li:last-child{
  bottom:-50px;
  position:absolute;
}

.banking-for-good:hover ul li ul, .banking-for-good:has(:focus) ul li ul{
  opacity:1;
  transform:translateY(10%);
}

.banking-for-good .banking-good-item{
  color:var(--text-light);
  display:flex;
  filter:drop-shadow(0 0 0.5px rgb(52 51 51));
  flex-direction:column;
  font-size:20px;
  justify-content:flex-end;
  letter-spacing:0.4px;
  line-height:24px;
  padding:15px 32px;
}

.banking-for-good .banking-good-item:nth-child(1) > div > p{
  color:#F5F8DE;
  font-size:30px;
  font-style:normal;
  letter-spacing:0.16px;
  line-height:40px;
  text-transform:uppercase;
  transform:translateY(0);
  transition:opacity 0.6s ease, transform 0.6s ease;
}

.banking-for-good:hover .banking-good-item:nth-child(1) > div > p, .banking-for-good:has(:focus) .banking-good-item:nth-child(1) > div > p{
  opacity:0;
  transform:translateY(-30px);
}

.section.banking-good-container{
  align-items:center;
  display:grid;
  gap:34px 32px;
  grid-template-columns:1fr 1fr 1fr;
  margin-left:auto;
  margin-right:auto;
  max-width:1452px;
  padding:0 40px;
}

.section.banking-good-container > div.banking-good-wrapper{
  border-radius:24px;
  margin:0;
  padding:0;
  width:100%;
}

.section.banking-good-container .banking-good-wrapper:not(.card-1) .banking-good-item:nth-child(2) > div > p{
  display:none;
}

.section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good{
  align-items:flex-start;
  padding:0 24px 10px;
}

.section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good::after{
  background:none;
  border-radius:24px;
  content:"";
  inset:0;
  pointer-events:none;
  position:absolute;
}

.section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul:first-child{
  background:none;
  justify-content:flex-start;
}

.section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(2), .section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(3){
  padding:0 32px;
}

.section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(2) div p{
  color:#00525B;
  font-size:30px;
  margin-top:95px;
  text-transform:uppercase;
}

.section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(4) div p{
  color:var(--text-primary);
  font-size:19px;
  font-weight:100;
  line-height:24px;
}

.desktop-heading{
  display:block;
}

.bottom-li-1,
.bottom-li-4,
.bottom-li-7,
.bottom-li-10,
.bottom-li-13{
  display:none;
}

@media screen and (max-width: 1023px){
  .section.banking-good-container > div.banking-good-wrapper{
    width:100%;
  }

  .section.banking-good-container{
    grid-template-columns:1fr 1fr;
  }
}

@media screen and (max-width: 767px){
  .banking-for-good{
    height:300px;
  }

  .banking-for-good ul li a{
    font-size:16px;
    font-weight:700;
    letter-spacing:0.2px;
  }

  .banking-for-good ul li ul li:last-child{
    margin-top:12px;
    position:unset;
  }

  .banking-for-good ul li ul{
    background:#00525B;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    bottom:0;
    box-sizing:border-box;
    color:#F5F8DE;
    height:-moz-fit-content;
    height:fit-content;
    left:0;
    padding:20px 24px;
    transition:transform 0.5s ease;
    z-index:9999;
  }

  .banking-for-good.active ul li ul, .banking-for-good:hover ul li ul, .banking-for-good:has(:focus) ul li ul{
    transform:translateY(0);
  }

  .banking-for-good:hover .banking-good-item:last-child > div > ul > li:first-child, .banking-for-good:has(:focus) .banking-good-item:last-child > div > ul > li:first-child{
    border-image-slice:1;
    border-image-source:linear-gradient(to right, #00525B 0%, #00525B 24%, #fff 25%, #fff 75%, #00525B 76%, #00525B 100%);
    border-top:5px solid transparent;
    line-height:25px;
    padding-top:15px;
  }

  .banking-for-good .banking-good-item{
    padding:0 18px;
  }

  .banking-for-good .banking-good-item:nth-child(1) > div > p{
    font-family:var(--secondary-font);
    font-size:20px;
    letter-spacing:0.4px;
    line-height:24px;
  }

  .banking-for-good .banking-good-item:nth-child(1){
    display:none;
  }

  .banking-for-good .banking-good-item:nth-child(2){
    display:block;
    height:-moz-fit-content;
    height:fit-content;
  }

  .section.banking-good-container > div.banking-good-wrapper{
    max-width:unset;
    width:100% !important;
  }

  .section.banking-good-container .banking-good-wrapper:not(.card-1) .banking-good-item:nth-child(2) > div > p{
    display:block;
    font-size:18px;
    padding-bottom:25px;
    text-transform:uppercase;
  }

  .section.banking-good-container .banking-good-wrapper:not(.card-1) .banking-good-item:last-child{
    bottom:0;
    display:block;
    height:auto;
    left:0;
    padding:0;
    position:fixed;
    width:100%;
    z-index:2;
  }

  .section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item{
    padding:15px 0;
  }

  .section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(2){
    padding:0;
  }

  .section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(2) div p{
    color:var(--text-brand);
    font-size:20px;
    letter-spacing:0.4px;
    line-height:24px;
    margin-top:35px;
    text-transform:uppercase;
  }

  .section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(3) div p{
    color:var(--text-primary);
    font-size:16px;
    font-weight:400;
    line-height:18px;
  }

  .section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(4){
    padding:0;
  }

  .section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(4) div p{
    color:var(--text-primary);
    font-size:16px;
    font-weight:100;
    line-height:18px;
    margin-top:10px;
  }

  .section.banking-good-container .banking-good-wrapper.card-1 .banking-for-good{
    max-width:unset;
    padding:0;
    width:100%;
  }

  .section.banking-good-container .banking-good-wrapper.card-1{
    order:3;
  }

  .section.banking-good-container .banking-good-wrapper.card-2{
    order:1;
  }

  .section.banking-good-container .banking-good-wrapper.card-3{
    order:2;
  }

  .section.banking-good-container .banking-good-wrapper.card-4{
    order:4;
  }

  .section.banking-good-container .banking-good-wrapper.card-5{
    order:6;
  }

  .section.banking-good-container .banking-good-wrapper.card-6{
    order:5;
  }

  .section.banking-good-container{
    gap:23px;
    grid-template-columns:1fr 1fr;
    margin-left:auto;
    margin-right:auto;
    padding:0 20px;
  }

  .bottom-li-1,
  .bottom-li-4,
  .bottom-li-7,
  .bottom-li-10,
  .bottom-li-13{
    color:#F5F8DE;
    display:block;
    line-height:14px;
    padding-bottom:15px;
    text-transform:uppercase;
    word-spacing:1px;
  }

  .bottom-li-2,
  .bottom-li-5,
  .bottom-li-8,
  .bottom-li-11,
  .bottom-li-14{
    color:#F5F8DE;
    font-size:18px;
    font-weight:300;
    letter-spacing:0;
    line-height:25px;
    padding-bottom:7px;
  }

  .bottom-li-3,
  .bottom-li-6,
  .bottom-li-9,
  .bottom-li-12,
  .bottom-li-15{
    color:#F5F8DE;
    font-size:16px;
    font-weight:700;
    line-height:25px;
    padding-bottom:7px;
  }

  .banking-good{
    width:100%;
  }
}
