.section.banking-good-container{
  align-items:center;
  -moz-column-gap:32px;
       gap:34px 32px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  margin-left:auto;
  margin-right:auto;
  max-width:1452px;
  padding:0 40px;
}

.section > div.banking-good-wrapper{
  border-radius:24px;
  margin:0;
  padding:0;
  width:100%;
}

.banking-good-wrapper.card-1 .banking-for-good {
  padding: 0px 24px 10px;
  align-items: flex-start;
}

.banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(2),
.banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(3) {
  padding: 0px 32px;
}

.banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(2) div p {
  font-size: 30px;
  color: #00525B;
  margin-top: 95px;
  text-transform: uppercase;
}

.banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(4) div p {
  color: var(--Black, #000);
  font-size: 19px;
  font-weight: 100;
  line-height: 24px;
}

.banking-good-wrapper.card-1 .banking-for-good::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  background: none;
  pointer-events: none;
}

.banking-for-good {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 24px;
  position: relative;
  display: flex;
  align-items: flex-end;
  color: #fff;
  overflow: hidden;
}

.banking-for-good::after {
  /* content: ""; */
  position: absolute;
  inset: 0;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(232, 207, 207, 0) 35.38%, rgba(0, 0, 0, 0.9) 99.96%);
  pointer-events: none;
}

.banking-good-wrapper.card-1 .banking-for-good ul:first-child {
  background: none;
  justify-content: flex-start;
}

.banking-for-good ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(232, 207, 207, 0) 35.38%, rgba(0, 0, 0, 0.9) 99.96%);
  justify-content: flex-end;
}

<<<<<<< HEAD
.banking-good-item {
  color: var(--Cream, #F5F8DE);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.4px;
  filter: drop-shadow(0px 0px 0.5px rgb(52, 51, 51));
  padding: 15px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* height: 100%; */
}

.banking-good-item:nth-child(1) > div > p {
  color: #F5F8DE;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
=======
.banking-good-item{
  color:var(--Cream, #F5F8DE);
  display:flex;
  filter:drop-shadow(0 0 0.5px rgb(52 51 51));
  flex-direction:column;
  font-size:20px;
  font-weight:900;
  justify-content:flex-end;
  letter-spacing:0.4px;
  line-height:24px;
  padding:15px 32px;
}

.banking-good-item:nth-child(1) > div > p{
  color:#F5F8DE;
  font-size:30px;
  font-style:normal;
  font-weight:900;
  letter-spacing:0.16px;
  line-height:40px;
  text-transform:uppercase;
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
}

.banking-good-wrapper:not(.card-1) .banking-good-item:nth-child(2) > div > p {
  display: none;
}

<<<<<<< HEAD
.banking-for-good ul li a {
  text-decoration: none;
  color: var(--Cream, #F5F8DE);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.4px;
  filter: drop-shadow(0px 0px 0.5px rgb(52, 51, 51));
=======
.banking-for-good ul li a{
  color:var(--Cream, #F5F8DE);
  filter:drop-shadow(0 0 0.5px rgb(52 51 51));
  font-size:20px;
  font-weight:900;
  letter-spacing:0.4px;
  line-height:24px;
  text-decoration:none;
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
}

.banking-for-good ul li ul {
  position: absolute;
  bottom: 110px;
  width: 95%;
  border-radius: 12px;
  transform: translateY(100%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  background: unset;
  opacity: 0;
}

<<<<<<< HEAD
.banking-for-good:hover ul li ul {
  transform: translateY(10%);
  opacity: 1;
=======
.banking-for-good:hover ul li ul, .banking-for-good:has(:focus) ul li ul{
  opacity:1;
  transform:translateY(10%);
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
}

.banking-for-good ul li ul li:last-child {
  position: absolute;
  bottom: -50px;
}

.banking-for-good .banking-good-item:nth-child(1) > div > p {
  transition: opacity 0.6s ease, transform 0.6s ease;
  transform: translateY(0);
}

<<<<<<< HEAD
.banking-for-good:hover .banking-good-item:nth-child(1) > div > p {
  opacity: 0;
  transform: translateY(-30px);
=======
.banking-for-good:hover .banking-good-item:nth-child(1) > div > p,
.banking-for-good:has(:focus) .banking-good-item:nth-child(1) > div > p{
  opacity:0;
  transform:translateY(-30px);
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
}

.desktop-heading {
  display: block;
}

.bottom-li-1,
.bottom-li-4,
.bottom-li-7,
.bottom-li-10,
.bottom-li-13 {
  display: none;
}

<<<<<<< HEAD
@media (max-width: 400px) {
  .section > div.banking-good-wrapper {
    width: 150px !important;
  }
  .section.banking-good-container {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  .banking-good {
    width: 150px !important;
  }
  .banking-good-wrapper:not(.card-1) .banking-good-item:nth-child(2) > div > p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .section.banking-good-container {
    padding: 0px 20px;
    -moz-column-gap: normal;
         column-gap: normal;
    row-gap: 23px;
    margin: 40px auto;
  }
  .section > div.banking-good-wrapper {
    max-width: 170px;
    width: 100%;
  }
  .banking-good-wrapper.card-1 .banking-for-good {
    padding: 0;
    max-width: 180px;
    width: 100%;
  }
=======
@media screen and (max-width: 1023px){
  .section.banking-good-container{
    grid-template-columns:1fr 1fr;
  }

  .section.banking-good-container > div.banking-good-wrapper{
    width:100%;
  }
}

@media screen and (max-width: 767px){
  .section.banking-good-container{
    gap:23px;
    grid-template-columns:1fr 1fr;
    margin-left:auto;
    margin-right:auto;
    padding:0 20px;
  }

  .section.banking-good-container > div.banking-good-wrapper{
    max-width:unset;
    width:100% !important;
  }

  .banking-good-wrapper.card-1 .banking-for-good{
    max-width:unset;
    padding:0;
    width:100%;
  }

>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
  .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(2),
  .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(4) {
    padding: 0;
  }
  .banking-good-item {
    padding: 0px 18px;
  }
  .banking-good-item:nth-child(1) {
    display: none;
  }
  .banking-good-item:nth-child(2) {
    display: block;
    height: -moz-fit-content;
    height: fit-content;
  }
<<<<<<< HEAD
  .banking-good-wrapper:not(.card-1) .banking-good-item:nth-child(2) > div > p {
    display: block;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
=======

  .banking-good-wrapper:not(.card-1) .banking-good-item:nth-child(2) > div > p{
    display:block;
    font-size:18px;
    font-weight:900;
    padding-bottom:25px;
    text-transform:uppercase;
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
  }
  .card-1 .banking-good-item {
    padding: 15px 0px;
  }
<<<<<<< HEAD
  .banking-for-good {
    height: 280px;
=======

  .banking-for-good{
    height:300px;
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
  }
  .card-1 {
    order: 3;
  }
  .card-2 {
    order: 1;
  }
  .card-3 {
    order: 2;
  }
  .card-4 {
    order: 4;
  }
  .card-5 {
    order: 6;
  }
  .card-6 {
    order: 5;
  }
<<<<<<< HEAD
  .banking-good {
    width: 170px;
  }
  .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(4) div p {
    color: var(--Black, #000);
    font-size: 16px;
    font-weight: 100;
    line-height: 18px;
    font-family: "Inter";
    margin-top: 10px;
=======

  .banking-good{
    width:100%;
  }

  .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(4) div p{
    color:var(--Black, #000);
    font-size:16px;
    font-weight:100;
    line-height:18px;
    margin-top:10px;
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
  }
  .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(2) div p {
    font-size: 20px;
    color: var(--Dark-Teal, #00525B);
    margin-top: 35px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
<<<<<<< HEAD
  .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(3) div p {
    color: var(--Black, #000);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
  .banking-good-item:nth-child(1) > div > p {
    font-family: "American Grotesk Condensed";
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.4px;
=======

  .banking-good-wrapper.card-1 .banking-for-good ul .banking-good-item:nth-child(3) div p{
    color:var(--Black, #000);
    font-size:16px;
    font-weight:400;
    line-height:18px;
  }

  .banking-good-item:nth-child(1) > div > p{
    font-family:var(--secondary-font);
    font-size:20px;
    font-weight:900;
    letter-spacing:0.4px;
    line-height:24px;
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
  }
  .banking-for-good ul li ul {
    height: -moz-fit-content;
    height: fit-content;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #00525B;
    color: #F5F8DE;
    padding: 20px 24px;
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 9999;
    transition: transform 0.5s ease;
  }
  .banking-for-good:hover ul li ul,
<<<<<<< HEAD
  .banking-for-good.active ul li ul {
    transform: translateY(0);
=======
  .banking-for-good:has(:focus) ul li ul,
  .banking-for-good.active ul li ul{
    transform:translateY(0);
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
  }
  .banking-for-good ul li ul li:last-child {
    margin-top: 12px;
    position: unset;
  }
  .banking-good-wrapper:not(.card-1) .banking-good-item:last-child {
    display: block;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 0;
    z-index: 2;
    height: auto;
  }
<<<<<<< HEAD
  .banking-for-good:hover .banking-good-item:last-child > div > ul > li:first-child {
    padding-top: 15px;
    border-top: 5px solid transparent;
    border-image-source: linear-gradient(to right, #00525B 0%, #00525B 24%, #ffffff 25%, #ffffff 75%, #00525B 76%, #00525B 98%, #00525B 100%);
    border-image-slice: 1;
    line-height: 25px;
=======

  .banking-for-good:hover .banking-good-item:last-child > div > ul > li:first-child,
  .banking-for-good:has(:focus) .banking-good-item:last-child > div > ul > li:first-child{
    border-image-slice:1;
    border-image-source:linear-gradient(to right, #00525B 0%, #00525B 24%, #fff 25%, #fff 75%, #00525B 76%, #00525B 98%, #00525B 100%);
    border-top:5px solid transparent;
    line-height:25px;
    padding-top:15px;
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
  }
  .bottom-li-1,
  .bottom-li-4,
  .bottom-li-7,
  .bottom-li-10,
  .bottom-li-13 {
    padding-bottom: 15px;
    color: #F5F8DE;
    text-transform: uppercase;
    line-height: 14px;
    word-spacing: 1px;
    display: block;
  }
  .bottom-li-2,
  .bottom-li-5,
  .bottom-li-8,
  .bottom-li-11,
  .bottom-li-14 {
    padding-bottom: 7px;
    color: #F5F8DE;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0;
  }
  .bottom-li-3,
  .bottom-li-6,
  .bottom-li-9,
  .bottom-li-12,
  .bottom-li-15 {
    padding-bottom: 7px;
    color: #F5F8DE;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
  }
  .banking-for-good ul li a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
  }
<<<<<<< HEAD
}
@media (min-width: 550px) and (max-width: 670px) {
  .section > div.banking-good-wrapper {
    max-width: 250px;
    width: 100%;
  }
  .banking-good-wrapper.card-1 .banking-for-good {
    max-width: 250px;
    width: 100%;
  }
  .banking-good {
    width: 250px;
=======

  .banking-good{
    width:100% !important;
>>>>>>> ba2c887769e02e2efa015e832ce5d10b0cd41770
  }
}
@media (min-width: 670px) and (max-width: 767px) {
  .section > div.banking-good-wrapper {
    max-width: 300px;
    width: 100%;
  }
  .banking-good-wrapper.card-1 .banking-for-good {
    max-width: 300px;
    width: 100%;
  }
  .banking-good {
    width: 300px;
  }
}
@media (min-width: 767px) and (max-width: 830px) {
  .section > div.banking-good-wrapper {
    width: 320px;
  }
}
@media (min-width: 830px) and (max-width: 980px) {
  .section > div.banking-good-wrapper {
    width: 360px;
  }
}
@media (min-width: 1020px) and (max-width: 1350px) {
  .section > div.banking-good-wrapper {
    max-width: 400px;
    width: 100%;
  }
}/*# sourceMappingURL=banking-good.css.map */