.section.embed-iframe{
  margin:0 auto 40px;
  max-width:735px;
  padding-inline:32px;
  width:100%;
}

.section.embed-iframe .block{
  padding-inline:unset;
}

.section.embed-iframe .block iframe{
  aspect-ratio:16/9;
  border-radius:var(--radius-card);
  height:auto;
  width:100%;
}
