@use "../../styles/base" as *;

.section.embed-iframe {  
  width: 100%;
  max-width: 735px; 
  padding-inline: 32px;
  margin: 0 auto 40px;

  .block{
    padding-inline: unset;

    iframe{
      width: 100%;
      height: 378px;
      border-radius: $radius-card;

      @include tablet {
        height: 418px;
      }

      @include mobile {
        height: 210px;
      }
    }
  }
}