@use "../../styles/base" as *;

.section.mortage-insurance {
  // @include responsive-container;
  width: 100%;
  max-width: 735px; 
  padding-inline: 32px;
  margin-left: auto;
  margin-right: auto;

  @include tablet-lg {
    padding-inline: 0
  }

  .mortage-insurance.block {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .insurance-row-0 {
      .insurance-content-0 {
        h1,h2,h3{
          color: $heading-default;
          font-family: $secondary-font;
          font-size: $font-size-lg;
          font-weight: 900;
          letter-spacing: $font-letter-spacing-lg;
          line-height: $font-height-lg;
          text-transform: uppercase;
        }
      }
    }

    .insurance-row-1 {
      .insurance-content-1 {
        p {
          @include typo-sm-body;

          color: $body-default;
        }

        .word-separator {
          color: $line-default;  
        }
      }
    }

    .insurance-row-2 {
      .insurance-content-2 {
        p{
          @include typo-sm-body;

          color: $body-default;
        }
      }
    }

    .insurance-row-3 {
      .insurance-content-3 {
        p{
          @include typo-sm-body;

          color: $body-default;
        }
      }
    }
  }
}
