.info-well-container .info-well-wrapper .info-well{
  background:rgb(27 231 255 / 7%);
  padding:16px;
}

.info-well-container .info-well-wrapper .info-well h5{
  color:var(--body-default);
  font-family:var(--font-family-h5);
  font-size:var(--font-size-h5);
  font-weight:var(--font-weight-h5);
  letter-spacing:var(--font-letter-spacing-h5);
  line-height:var(--font-height-h5);
  margin-bottom:10px;
  text-transform:initial;
}

.info-well-container .info-well-wrapper .info-well p{
  color:var(--body-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
}

.info-well-container .info-well-wrapper .info-well p a{
  color:var(--link-default);
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-decoration-line:underline;
  -webkit-text-decoration-skip:ink;
          text-decoration-skip-ink:auto;
  text-decoration-style:solid;
  text-decoration-thickness:auto;
  text-transform:initial;
  text-underline-offset:auto;
  text-underline-position:from-font;
}

.info-well-container .info-well-wrapper .info-well ul{
  display:flex;
  flex-direction:column;
  gap:10px;
  list-style-type:none;
  padding:unset;
}

.info-well-container .info-well-wrapper .info-well ul li ul{
  align-items:flex-start;
  display:flex;
  flex-direction:row;
  gap:16px;
  list-style:none;
  margin:0;
  padding:0;
}

.info-well-container .info-well-wrapper .info-well ul li ul li{
  font-family:var(--font-family-body);
  font-size:var(--font-size-body);
  font-weight:var(--font-weight-body);
  letter-spacing:var(--font-letter-spacing-body);
  line-height:var(--font-height-body);
  text-transform:initial;
}

.info-well-container .info-well-wrapper .info-well ul li ul li:first-child{
  font-family:var(--font-family-sm-body);
  font-size:var(--font-size-sm-body);
  font-weight:var(--font-weight-sm-body);
  font-weight:600;
  letter-spacing:var(--font-letter-spacing-sm-body);
  line-height:var(--font-height-sm-body);
  max-width:130px;
  text-transform:initial;
  width:100%;
}
