@use '../../styles/base' as *;

.info-well-container{
  .info-well-wrapper{
    .info-well{
      background: rgba(27, 231, 255, 0.07);
      padding: 16px;

      h5{
        @include typo-heading5;

        color: $body-default;
        margin-bottom: 10px;
      }

      p{
        @include typo-body;

        color: $body-default;

        a{
          @include typo-body;

          color: $link-default;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: auto;
          text-decoration-thickness: auto;
          text-underline-offset: auto;
          text-underline-position: from-font;
        }
      }

      ul{
        list-style-type: none;
        padding: unset;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li{
          ul{
            align-items: flex-start;
            display: flex;
            gap: 16px;
            list-style: none;
            margin: 0;
            padding: 0; 
            flex-direction: row;

            li{
              @include typo-body;

              &:first-child{
                 @include typo-sm-body;

                 font-weight: 600;
                 max-width: 130px;
                 width: 100%;
               }
            }
          }
        }
      }
    }
  }
}