@use '../../styles/base' as *;

.form-banner {
  .default-content-wrapper {
    max-width: 980px;
  }

  h1, h2, h3, h4, h5, h6 {
    @include typo-large-heading;
    
    color: $heading-default;
  }

  p {
    @include typo-body;

    color: $body-default;
    margin-top: 16px;
  }
}
