.calculator-container{
    align-items:center;
    background:var(--green-blue, linear-gradient(256deg, #1BE7FF 0%, #59FFA0 100%));
    display:flex;
    flex-direction:column;
}

.calculator-container .block > div:first-of-type p::before{
    content:"First Field : ";
    font-size:24px;
    font-weight:500;
}

.calculator-container .block > div:nth-of-type(2) p::before{
    content:"Second Field : ";
    font-size:24px;
    font-weight:500;
}

.calculator-container .block span{
    color:teal;
    font-size:24px;
    font-weight:700;
}

.calculator-container .block > p{
    color:#333;
    font-size:24px;
    font-weight:900;
    padding:15px 0;
}